<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if(empty($this->empdata))
{?>
   <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>
						No data found.
				<?php }else{?>
						Employee inactivated.
				<?php }?>
	</div>

<?php	}	else	{
?>
<div id="error_message" style="display:none;"></div>

<?php	if(!empty($this->employeedata))
 {
       echo $this->employeedetails($this->employeedata,'view',$this->id); 
 } 
	 ?>

<div class="right-block-data"> 
<?php if(empty($this->data)){?>
			<div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>Work eligibility details are not configured yet.
			</div>
	<?php }else{?>
		<?php echo $this->form->id; 
		      echo $this->form->issuingauthflag;
		?>
	<?php 
$docIssueDate = $this->form->doc_issue_date->getValue();
$docExpiryDate = $this->form->doc_expiry_date->getValue();
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Document Type',(!empty($this->data['documenttype_id']))?$this->data['documenttype_id']:"...",'Document Issue Date',(!empty($docIssueDate))?$this->form->doc_issue_date->getValue():"...");
sapp_Helper::viewBody('nor','Document Expiry Date',(!empty($docExpiryDate))?$this->form->doc_expiry_date->getValue():"...",'Issuing Authority Name',(!empty($this->data['issuingauth_name']))?$this->data['issuingauth_name']:"...");
sapp_Helper::viewBody('alt','Issuing Authority Country',(!empty($this->data['issuingauth_country']))?$this->data['issuingauth_country']:"...",'','');
?>
<div id="issuingauth_statediv">
<?php 
sapp_Helper::viewBody('nor','Issuing Authority State',(!empty($this->data['issuingauth_state']))?$this->data['issuingauth_state']:"...",'','');
?>
</div>
<div  id="issuingauth_citydiv">
<?php 
sapp_Helper::viewBody('alt','Issuing Authority City',(!empty($this->data['issuingauth_city']))?$this->data['issuingauth_city']:"...",'','');
?>
</div>
<?php 
sapp_Helper::viewBody('nor','Issuing Authority Postal Code',(!empty($this->data['issuingauth_postalcode']))?$this->data['issuingauth_postalcode']:"...",'','');
sapp_Helper::viewFooter();
?>
        
      

<?php	}	?>
</div>

</div>

<script type='text/javascript'>
$(document).ready(function(){
	//To get the Calender image...
	var now = new Date();
	now.setDate(now.getDate()+1);

	$("#doc_issue_date,#doc_expiry_date").datepicker({
					showOn:'both',
					dateFormat: '<?php echo DATEFORMAT_JS;?>',
					buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
					buttonImageOnly: true,
					buttonText: "",
					changeMonth: true,
                                        showButtonPanel: true ,
					changeYear: true 
	});

	$("#workeligibilitydetails").addClass('active');
	$("#workeligibilitydetails").removeAttr("onclick");
	
	<?php if ($this->issuingauthority !='') {
	      if ($this->issuingauthority == 1){
    ?>		  
			$("#issuingauth_statediv").hide();
			$("#issuingauth_citydiv").hide();

    <?php }else if ($this->issuingauthority == 2){
    ?>
		  $("#issuingauth_statediv").show();
		  $("#issuingauth_citydiv").hide();
		  
    <?php } else if ($this->issuingauthority == 3) {?>
	      $("#issuingauth_statediv").show();
		  $("#issuingauth_citydiv").show();
	<?php }?>
        
    <?php }?>
	
	});
</script>

<?php	}	?>