<?php 

/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/

$init_data = $this->init_data;
$init_id = $this->init_id;
$call = $this->call;
?>
	
<div id="iddiv_accordion">
<?php 
if($call == 'add_edit')
{
	if($init_data['initialize_status']!=1)
	{
?>    
    <div class="addnewqs" id="id_add_new" style="float: left; margin-left: 29px; margin-top: 10px; margin-bottom: 10px;">+Add Line Managers</div>
    <div id="idline_content" class="step_2_acc_box_bg"></div>
<?php 
	}
}
?>    
    <div id="id_acc_container"></div>        
</div>



<script type="text/javascript">
$(document).ready(function(){    
<?php 
if($call == 'add_edit')
{
?>     
    $('#id_add_new').click(function(){            
        addlinemanager('<?php echo $init_id;?>','add','','');
    });
    
<?php 
}
if(!empty($init_data['manager_level_type']))
{
?>        
    construct_accordion('<?php echo $init_id;?>','<?php echo $call;?>');
<?php         
}
?> 
$("#info_message").html('Configure Line Managers');
});//end of ready function
</script>
