<?php 

/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/

$init_id = $this->init_id;
$init_data = $this->init_data;
?>
<div id="id_acc_container">  
    
</div>
<script type="text/javascript">
construct_rep_accordion('<?php echo $init_id;?>');    
$(document).ready(function(){
	$("#info_message").html('Configure Line Managers by Organization Hierarchy');
});//end of ready function
</script>