<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
 if($this->popup == 'close') { ?>	
	<div class="ml-alert-1-success">
	<div class="style-1-icon success"></div>
	Country <?php echo $this->eventact; ?> successfully.
	</div>

	<?php } 
else
{
sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		    <div class="new-form-ui clearb">
			  <label class="required">Country</label>
			<div class="division"><?php echo $this->form->country; ?></div>
			<?php if(isset($this->msgarray['country'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->country->getId(); ?>"><?php echo $this->msgarray['country'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui clearb" id="othercountrydiv" style="display:none;">
			  <label class="required">Other Country</label>
				<div class="division">
				  <input type="text" maxlength="20" value="" id="othercountry" name="othercountry">
				</div>
				<?php if(isset($this->msgarray['othercountry'])){?>
			   <span class="errors"><?php echo $this->msgarray['othercountry'];?></span>
			   <?php }?>
			</div>
			
			
			<div class="new-form-ui clearb">
			  <label class="required">Country Code <img class="tooltip" title="Ex: United States (US/USA)" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->countrycode; ?></div>
			<?php if(isset($this->msgarray['countrycode'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->countrycode->getId(); ?>"><?php echo $this->msgarray['countrycode'];?></span>
			<?php }?>
			</div>
					
			<div class="new-form-ui clearb" style="display: none;">
			  <label class="required">Citizenship</label>
			<div class="division"><?php echo $this->form->citizenship; ?></div>
			<?php if(isset($this->msgarray['citizenship'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->citizenship->getId(); ?>"><?php echo $this->msgarray['citizenship'];?></span>
			<?php }?>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="closeiframepopup('<?php echo $this->controllername;?>','cancel');" type="button" >Cancel</button>
		</div>
</div>
</form>
<?php } ?>
<script language='javascript' type='text/javascript'>
	<?php if($this->popup != '') {
            ?>
				closeiframeAddPopup("<?php echo $this->countryData ;?>",'<?php echo $this->controllername; ?>','country','Country'); 
				closeiframeAddPopup("<?php echo $this->countryData ;?>",'<?php echo $this->controllername; ?>','country_1','Country'); 
				closeiframeAddPopup("<?php echo $this->countryData ;?>",'<?php echo $this->controllername; ?>','perm_country','Country'); 
				closeiframeAddPopup("<?php echo $this->countryData ;?>",'<?php echo $this->controllername; ?>','current_country','Country');
	<?php } ?>	
	$(document).ready(function() { 
		<?php if (count($this->messages)) {?>
			  setTimeout(function(){
					$('#popupmessage').fadeOut('slow');
				},3000);
		<?php } ?>
	});
</script>