<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
 
		if($this->ermsg !='')
		{
?>
     <div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>No data found.</div>

<?php 
}
else
{
sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		    <div class="new-form-ui clearb">
			  <label class="required">Country</label>
			<div class="division"><?php echo $this->form->country; ?></div>
			<?php if(isset($this->msgarray['country'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->country->getId(); ?>"><?php echo $this->msgarray['country'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui clearb" id="othercountrydiv" style="display:none;">
			  <label class="required">Other Country</label>
				<div class="division">
				  <input type="text" maxlength="20" value="" id="othercountry" name="othercountry" onblur="validateCountry(this)">
				</div>
				<?php if(isset($this->msgarray['othercountry'])){?>
			   <span class="errors" id="errors-othercountry"><?php echo $this->msgarray['othercountry'];?></span>
			   <?php }?>
			</div>
			
			
			<div class="new-form-ui clearb">
			  <label class="required">Country Code</label>
			<div class="division"><?php echo $this->form->countrycode; ?></div>
			<?php if(isset($this->msgarray['countrycode'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->countrycode->getId(); ?>"><?php echo $this->msgarray['countrycode'];?></span>
			<?php }?>
			</div>
					
			<div class="new-form-ui clearb" style="display: none;">
			  <label class="required">Citizenship</label>
			<div class="division"><?php echo $this->form->citizenship; ?></div>
			<?php if(isset($this->msgarray['citizenship'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->citizenship->getId(); ?>"><?php echo $this->msgarray['citizenship'];?></span>
			<?php }?>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>countries';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>
</form>
<script type='text/javascript'>
$(document).ready(function(){
        <?php if (isset($this->msgarray['othercountry'])) {?>		
      			$('#othercountrydiv').show();
				<?php if (isset($this->msgarray['othercountryname'])) {?>
				    $('#othercountry').val('<?php echo $this->msgarray['othercountryname'];?>');
				<?php }else{?>
				    $('#othercountry').val(''); 
                <?php }?>				
				$("#countrycode").attr("readonly", false);
		<?php } ?>
		
		$("#othercountry").bind("onblur keyup",function(){
				validateCountry(this);
			});
});
</script>
<?php } ?>