<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
						No data found.
	</div>
<?php 
}else
{
$baseUrl = $this->serverUrl().$this->baseUrl();
$msgtitle = $this->controllername.'_delete';
sapp_Helper::editdeleteForView(VETERANSTATUS,$this->controllername,$this->id,$msgtitle); ?>


 <?php 
sapp_Helper::viewHeader();
sapp_Helper::viewBody('nor','Veteran Status',$this->data['veteranstatus'],'Description',(!empty($this->data['description']))?$this->data['description']:"...");
sapp_Helper::viewFooter();
?>
      <!-- <div class="total-form-controller view-form-detail">
			<div class="new-form-ui clearb">
			  <label>Veteran Status</label>
			<div class="division"><?php echo $this->form->veteranstatus; ?></div>
			</div>
			
			<div class="new-form-ui clearb textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>  --> 
	<!--	<div class="new-form-ui-submit">
			<input type="submit" onclick="changeeditscreen('<?php //echo $this->controllername;?>',<?php //echo $this->id;?>);" value="Edit" />
			<button onclick="window.location.href='<?php //echo BASE_URL; ?>veteranstatus';" type="button" >Cancel</button>
		</div> -->
       
<?php }?>