<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php echo $this->form->id; 
		echo $this->form->user_id;
		?>
<?php 
$start_date = $this->form->start_date->getValue();
$end_date = $this->form->end_date->getValue();
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt',$this->form->department->getLabel(),(!empty($this->data['department']))?$this->data['department']:"...",$this->form->jobtitleid->getLabel(),(!empty($this->data['jobtitleid']))?$this->data['jobtitleid']:"...");
sapp_Helper::viewBody('nor',$this->form->positionheld->getLabel(),(!empty($this->data['positionheld']))?$this->data['positionheld']:"...",$this->form->start_date->getLabel(),(!empty($start_date))?$this->form->start_date->getValue():"...");
sapp_Helper::viewBody('alt',$this->form->end_date->getLabel(),(!empty($end_date))?$this->form->end_date->getValue():"...", $this->form->client->getLabel(),(!empty($this->data['client_id']))?$this->data['client_id']:"...");
sapp_Helper::viewBody('nor',$this->form->vendor->getLabel(),(!empty($this->data['vendor']))?$this->data['vendor']:"...",$this->form->received_amount->getLabel(),(!empty($this->data['received_amount']))?$this->data['received_amount']:"...");
sapp_Helper::viewBody('alt',$this->form->paid_amount->getLabel(),(!empty($this->data['paid_amount']))?$this->data['paid_amount']:"...",'','');
sapp_Helper::viewFooter();
?>
	
        <div class="new-form-ui-submit" id="formSubmit">
         <input onclick="closeiframepopup('empjobhistory','cancel');" type="button" value="Close"  />
        </div>
       
        