<?php
$now = new DateTime ();
$today = $now->format ( 'Y-m-d' );
$selYrMon = $this->selYrMon;
$currentMonth = $selYrMon;
$empDoj = $this->empDoj;
$dateEmpDoj = date ( 'Y-m', strtotime ( $empDoj ) );
$cronStartDay = $this->cronStartDay;
$cronEndDay = $this->cronEndDay;
$success = $this->success;
$delete = $this->delete ;
$storage = new Zend_Auth_Storage_Session ();
$data = $storage->read ();
$empId = $data->id;
?>
<script type="text/javascript">
	  var success= false;
	  var currMonth = "<?php echo $currentMonth; ?>";
	  var empId = "<?php echo $empId; ?>";
	  $(document).ready(function () {

		$('.breadcrumbs ul:first-child').append("<li><a>Timesheet</a></li>");
    	$('.hol_leave').powerTip({
              placement: 'e',
              mouseOnToPopup: true,
              smartPlacement: true
       });
    	$('.rejected_note').powerTip({
            placement: 'e',
            mouseOnToPopup: true,
            smartPlacement: true
    	});
        $("#calSelYrMonth").val(currMonth);

    	var empDoj = $('#empDoj').val();
        var dt = new Date(empDoj);
    	var empDojYr = dt.getFullYear();
    	var empDojMon = dt.getMonth();

   	 	function contextMenuItems(dayStatus,inactiveClass,weekendClass,leaveDataId) {
   	   	 	if(dayStatus == 'No Entry') {
   	   	   	 	delete menUItems["submit"];
   	   	   	    delete menUItems["edit"];

   	   	        if(leaveDataId != 0 && leaveDataId != ''){
	   	      	   delete menUItems["leave"];
	   	    	   if(leaveDataId == 'L'){
		   	   	       delete menUItems["cancelleave"];
			   	   	}
	   	   	   	}else{
	   	   	        delete menUItems["cancelleave"];
	   	   	   	}
   	   	 	}

   	   	   	if(dayStatus == 'Rejected' || dayStatus == 'Enabled' ) {
     	   	   	 	delete menUItems["submit"];
         	   	   	delete menUItems["new"];
         	   	    delete menUItems["leave"];
         	        delete menUItems["cancelleave"];
     	   	}
   	   	   	if(dayStatus == 'Yet to submit') {
	   	   	    delete menUItems["new"];

	   	   	    if(leaveDataId != 0 && leaveDataId != ''){
	   	      	   delete menUItems["leave"];
	   	    	   if(leaveDataId == 'L'){
		   	   	       delete menUItems["cancelleave"];
			   	   	}
	   	   	   	}else{
	   	   	        delete menUItems["cancelleave"];
	   	   	   	}
	   	 	}
	   	 	if(inactiveClass){
	   	 	    delete menUItems["submit"];
	   	   	    delete menUItems["edit"];
		   	   	delete menUItems["new"];

		   	    if(leaveDataId != 0 && leaveDataId != ''){
	   	      	   delete menUItems["leave"];
	   	    	   if(leaveDataId == 'L'){
		   	   	       delete menUItems["cancelleave"];
			   	   	}
	   	   	   	}else{
	   	   	        delete menUItems["cancelleave"];
	   	   	   	}
		   	}
	   	    if(weekendClass){
	   	 	    delete menUItems["leave"];
		   	}


 		  	   return menUItems;
	     }

      	$('.month_view td').each(function(index){
      		var td_id=$(this).attr('id');
			var inativeClass = $(this).hasClass('inactive_td');
			var freezedClass = $(this).hasClass('freezed');
			var weekendClass = $(this).hasClass('weekend_td');
			var dayStatus = $(this).find('.sheet_status').text();

			var leaveDataId = 0;
			if($(this).find('.sheet_status').attr('leaveData') != undefined){
				var leaveData = $(this).find('.sheet_status').attr('leaveData');
				var leaveDataId = $.trim(leaveData.replace("leave_", ""));
			}

			if(td_id != undefined){

			   var day = $(this).children('.date').text();
			   if(dayStatus != "Approved" && dayStatus != "For Approval" && dayStatus != "Not Submitted" )	{

				   if(inativeClass && leaveDataId == 'L'){
					   freezedClass = true;
				   }
			   }
			}
      	});
	  });
   </script>
<div class="container">
	<div class="full_container">
		<input type="hidden" name="empDoj" id="empDoj"
			value="<?php  echo $this->empDoj;?>" /> <input type="hidden"
			name="empid" id="empid" value="<?php  echo $this->empid;?>" /> <input
			type="hidden" name="calSelYrMonth" id="calSelYrMonth" />
		<div id="dispWorklogSuccess" style="display: none">  
			<div id="dispWorklogSuccessContent" class="ml-alert-1-success">
				<div class="style-1-icon success"></div>
					Worklogs added successfully.
			</div>		
		</div>	
		<div id="months_div" class="control_option cal_single_view flt_lft"
			style="margin-top: 8px; margin-bottom: 0px;"></div>
      <?php
						$selectedYrMon = explode ( '-', $currentMonth );
						$selMonName = date ( 'F', mktime ( 0, 0, 0, $selectedYrMon [1], 1, $selectedYrMon [0] ) );
						$firstday = date ( "w", mktime ( 0, 0, 0, $selectedYrMon [1], 1, $selectedYrMon [0] ) );
						$lastday = date ( "t", mktime ( 0, 0, 0, $selectedYrMon [1], 1, $selectedYrMon [0] ) );
						$noOfweeks = 1 + ceil ( ($lastday - 7 + $firstday) / 7 );
						
						$empWorkLogData = $this->empWorkLogData;
						$total = "";
						$totalHrs = "0.00";
						foreach ( $empWorkLogData as $data ) {
							$total += $data ['duration'];
							$dayData [$data ['work_date'] . '_duration'] = $data ['duration'];
						}
						if ($total != "") {
                            $totalHrs = $total;
						}
						?>

	  <?php
			if (Zend_Registry::get ( 'tm_role' ) != 'Admin') {
				?>
      <table class="month_view mar_top_20" width="100%" border="0"
			cellspacing="0" cellpadding="0">
      <?php } else {?>
      <table class="month_view admin_month_view mar_top_20" width="100%"
				border="0" cellspacing="0" cellpadding="0">
      <?php } ?>
        <tbody>
					<tr>
						<th class="month_name_dsp" colspan="7"><span
							class="month_name_disp"> <span
								class="control_option cal_single_view flt_lft">
									<div class="new-form-ui month_picker">
										<div class="division">
											<input id="start_date" class="brdr_none hasDatepicker"
												type="text" onfocus="this.blur()" readonly="readonly"
												value="" name="start_date"> <img
												class="ui-datepicker-trigger"
												src="<?php echo $this->baseUrl().'/public/media/timemanagement/';?>images/cal_new.png"
												alt="" title="">
										</div>
									</div>
							</span>
		<?php //echo $selMonName." ".$selectedYrMon[0]?></span>
            <?php
												if (Zend_Registry::get ( 'tm_role' ) != 'Admin') {
													?>
           <div class="total_hrs_display total_hrs-50">Total Hours - <?php  echo $totalHrs;?></div>
           <?php } ?>
           </th>
					</tr>
					<tr class="week_names">
						<th>Sun</th>
						<th>Mon</th>
						<th>Tue</th>
						<th>Wed</th>
						<th>Thu</th>
						<th>Fri</th>
						<th>Sat</th>
					</tr>
          <?php
										
										$empHolidaysWeekends = $this->empHolidaysWeekends;
										$weekend_start = $empHolidaysWeekends ['weekend_startday'];
										$weekend_end = $empHolidaysWeekends ['weekend_endday'];
										$weekendsArray = array ();
										if ($weekend_start != '') {
											$weekendsArray [] = $weekend_start;
										}
										if ($weekend_end != '') {
											$weekendsArray [] = $weekend_end;
										}
										$holidays = $empHolidaysWeekends ['holiday_dates'];
										$holNames = $empHolidaysWeekends ['holiday_names'];
										$holidayDates = explode ( ',', $holidays );
										$holidayNames = explode ( ',', $holNames );
										$leavedData = $this->leavesData;
										
										$leavesArray = array ();
										foreach ( $leavedData as $leavesRow ) {
											$from = $leavesRow ['from_date'];
											$to = $leavesRow ['to_date'];
											$leaveType = $leavesRow ['leaveday'];
											$dTo = date ( "Y-m-d", strtotime ( $to ) );
											$dFrom = date ( "Y-m-d", strtotime ( $from ) );
											$leaveStatus = $leavesRow ['leavestatus'];
											$leaveDay = $leavesRow ['leaveday'];
											$leaveReqId = $leavesRow ['leave_req_id'];
											$monEnd = date ( "Y-m-d", strtotime ( $currentMonth . "-" . $lastday ) );
											$monStart = date ( "Y-m-d", strtotime ( $currentMonth . "-01" ) );
											if (($dTo > $monEnd))
												$to = $monEnd;
											if (($dFrom < $monStart))
												$from = $monStart;
											for($t = $from; $t <= $to;) {
												
												$dayNum = date ( "w", strtotime ( $t ) );
												if ($dayNum != $weekend_start && $dayNum != $weekend_end) {
													if (! in_array ( $t, $holidayDates )) {
														if ($leaveStatus == 'Approved') {
															$leaveT = ($leaveType == '1') ? 'L' : 'HD';
															$leaveReqId = 'L';
														} else if ($leaveStatus == 'Pending') {
															$leaveT = 'P';
															if ($leaveDay == 2) {
																$leaveT = 'PHD';
															}
														}
														$leavesArray [] = ( int ) date ( "d", strtotime ( $t ) ) . '-' . $leaveT . '-' . $leaveReqId;
													}
												}
												$t = date ( "Y-m-d", strtotime ( 'next day', strtotime ( $t ) ) );
											}
										}
										foreach ( $holidayDates as $k => $holDay ) {
											$holidayDates [$k] = ($holDay != '') ? date ( "d", strtotime ( $holDay ) ) : '';
										}
										$weekdays = array (
												'Sun',
												'Mon',
												'Tue',
												'Wed',
												'Thu',
												'Fri',
												'Sat' 
										);
										$statusClasses = array (
												'no_entry' => 'no_entry',
												'saved' => 'yet_to_submit',
												'approved' => 'approved',
												'submitted' => 'for_approval',
												'enabled' => 'enabled',
												'rejected' => 'rejected',
												'blocked' => 'blocked' 
										);
										$statusText = array (
												'no_entry' => 'No Entry',
												'saved' => 'Yet to submit',
												'approved' => 'Approved',
												'submitted' => 'For Approval',
												'enabled' => 'Enabled',
												'rejected' => 'Rejected',
												'blocked' => 'Blocked' 
										);
										
										$dayCounter = 1;
										
										for($i = 1; $i <= $noOfweeks; $i ++) {
											
											?>
          	<?php
											foreach ( $weekdays as $day ) {
												
												if ($dayCounter > $lastday)
													break;
												$dayName = date ( 'D', mktime ( 0, 0, 0, $selectedYrMon [1], $dayCounter, $selectedYrMon [0] ) );
												$cDate = $selYrMon . '-' . $dayCounter;
												$currentDayClass = "";
												$inactiveDayClass = "";
												$blockedDayClass = "";
												$rejectNoteClass = "";
												$holName = "";
												$holLeaveClass = "";
												$curDate = date ( 'Y-m-d', strtotime ( $cDate ) );
												$calWeek = strftime ( '%U', strtotime ( $cDate ) );
												
												$tdClass = "";
												if ($curDate == $today) {
													$currentDayClass = " current_date";
												} else if ($curDate > $today) {
													$inactiveDayClass = " inactive_td";
												} else if ($curDate < $empDoj) {
													$inactiveDayClass = " inactive_td";
												}
												
												if ($dayName == $day) {
													
													$duration = isset ( $dayData [strtolower ( $curDate ) . '_duration'] ) ? $dayData [strtolower ( $curDate ) . '_duration'] : "00:00";
													$status = isset ( $dayData [strtolower ( $curDate ) . '_status'] ) ? $dayData [strtolower ( $dayName ) . '_status'] : 'no_entry';
													$calDate = $selectedYrMon [0] . '-' . $selectedYrMon [1] . '-' . $dayCounter;
													$holiday = (in_array ( $dayCounter, $holidayDates )) ? "H" : "";
													if ((in_array ( $dayCounter, $holidayDates ))) {
														$holKey = array_search ( $dayCounter, $holidayDates );
														$holName = $holidayNames [$holKey];
													}
													
													$keys = array_keys ( $weekdays, $day );
													if (! empty ( $weekendsArray ))
														$weekendClass = (in_array ( $keys [0], $weekendsArray )) ? " weekend_td" : "";
													else
														$weekendClass = "";
													
													if ($status == 'blocked')
														$blockedDayClass = "blocked_date";
													if ($holName != '')
														$holLeaveClass = "one_hol";
													
													$tdClass .= $inactiveDayClass . " " . $weekendClass . " " . $currentDayClass . " " . $blockedDayClass;
													$tdClass = ($dayCounter == 1) ? $tdClass .= " td_first" : $tdClass;
													
													if ($dayCounter == $lastday)
														$tdClass .= " td_last";
													
													$freezedClass = "";
													if ($cronStartDay != "" && $statusClasses [$status] == 'no_entry') {
														if ($dayCounter >= $cronStartDay && $dayCounter <= $cronEndDay) {
															$freezedClass = "freezed";
														}
													}
													if ($selYrMon == $dateEmpDoj) {
														if ($dayCounter < $empDojDay) {
															$freezedClass = "freezed";
														}
													}
													$tdClass .= " " . $freezedClass;
													if (trim ( $tdClass ) != "")
														$tdClass = "class='" . trim ( $tdClass ) . "'";
													else
														$tdClass = "";
													
													?>
          		<?php
													if (strpos ( $tdClass, 'inactive_td' )) {
														?>
          			<td id="id_day_<?php echo  $dayCounter; ?>"
						<?php echo $tdClass; ?>>
          		<?php
													
} else {
														if (Zend_Registry::get ( 'tm_role' ) != 'Admin') {
															?>
          		 	
					
					<td style="cursor: pointer; cursor: hand;"
						onclick="getWorklogData(<?php echo $dayCounter;?>);"
						id="id_day_<?php echo  $dayCounter; ?>" <?php echo $tdClass; ?>>
          		 	<?php }else {?>
          			
					
					<td <?php echo $tdClass; ?>>
          		 	<?php
														
}
													}
													?>

          		 	<span class="date"><?php echo  $dayCounter; ?></span>
					<div class="hrs_displ">
							<span class="hrs_txt">Hours</span><span class="time_disp"><?php echo (!strpos($tdClass, 'inactive_td'))?$duration:'';?></span>
						</div>
          		 	<?php
													$leave = "";
													$leaveType = $leaveId = "";
													foreach ( $leavesArray as $k => $v ) {
														
														if (preg_match ( "/\b$dayCounter\b/i", $v )) {
															$keyLeaveData = explode ( '-', $v );
															if ($keyLeaveData [0] == $dayCounter) {
																$leaveType = $keyLeaveData [1];
																$leaveId = $keyLeaveData [2];
															}
														}
													}
													
													if ($leaveType == "L") {
														$leave = "L";
														$holLeaveClass = 'one_hol';
													} else if ($leaveType == "HD") {
														$leave = "HD";
														$holLeaveClass = 'two_hol';
													} else if ($leaveType == "P") {
														$leave = "P";
														$holLeaveClass = 'one_hol';
														$tooltip = 'Approval Pending for leave';
													} else if ($leaveType == "PHD") {
														$leave = "P";
														$holLeaveClass = 'one_hol';
														$tooltip = 'Approval Pending for half day leave';
													}
													if ($holiday == 'H')
														$tooltip = $holName;
													else if ($leave == 'L')
														$tooltip = 'Full day Leave';
													else if ($leave == 'HD')
														$tooltip = 'Half day Leave';
													
													if ($holiday != "" || $leave != "") {
														?>
          		 		<div class="hol_leave  <?php echo $holLeaveClass; ?>"
							title="<?php echo $tooltip;?>"><?php echo $holiday.$leave; ?> </div>
          		 	<?php  } ?>
          				<div
							class="sheet_status <?php echo $statusClasses[$status];?>"
							leaveData="leave_<?php echo $leaveId;?>"></div>
					</td>
          		<?php
													
													$dayCounter ++;
												} else {
													?>
          	 		<td class="no_date"><span class="date">&nbsp;</span></a></td>
          	<?php
												}
											}
											?>
          			</tr>
          	<?php
										}
										?>

        </tbody>
			</table>


			<script type="text/javascript" language="javascript">
$(document).ready(function(){

	<?php	if (count($this->messages)) {?>
	           setTimeout(function(){
				     $('#dispmsgprojects').fadeOut('slow');
			   },3000);
	<?php } 
	if($delete == 'true'){
	?>
	$('#dispWorklogSuccess').children().html('<div class="style-1-icon success"></div>Worklogs deleted successfully.');
	
	<?php 	
	}
	$delete == false;
	if($success == 'true')
	{?>
	$('#dispWorklogSuccess').css("display","block");
	$('#dispWorklogSuccess').fadeIn('fast').fadeOut(2000);
	<?php } $success = false;?>


	var empDoj = $('#empDoj').val();
	var dt = null;
	if(empDoj != '')
    	dt = new Date(empDoj.split("-").join("/"));
	else
		dt = new Date();

    var empDojYr = dt.getFullYear();
    var empDojMon = dt.getMonth();
    var selYrMon = "<?php echo $currentMonth; ?>";
    var selYrMonArray =  selYrMon.split("-");
	options = {
	    pattern: 'yyyy-mm',
	    selectedYear: parseInt(selYrMonArray[0]),
	    startYear: empDojYr,
	    finalYear: <?php echo date('Y');?>,
	};

	$('#start_date').monthpicker(options);
	$('#start_date').monthpicker().bind('monthpicker-click-month', function (e, month) {
	    var year_month=$('#start_date').val();
	    var selmn_split=year_month.split('-');
	    var month_names=new Array('','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
	    $('#start_date').val(month_names[parseFloat(selmn_split[1])]+' '+selmn_split[0])
	    $('#idhidselmn').val(year_month);
	    var act=$( "#idempaccordion" ).accordion( "option", "active");
        if(act!==false && act>=0)
            act=act;
        else
            act=false;
        var selmn=year_month;
        var dobj=new Date();
        var dyear=dobj.getFullYear();
        var dmonth=dobj.getMonth();
        dmonth=parseFloat(dmonth)+1;
        if(parseFloat(dmonth)<10)
        {
            dmonth='0'+dmonth;
        }
        var dselmn=dyear+'-'+dmonth;
        $("#calSelYrMonth").val(year_month);
        monthlyViewWorklog('<?php echo $selYrMon;?>', success);
   }).bind('monthpicker-change-year', function (e, year) {

	    var dobj=new Date();
	    var dyear=dobj.getFullYear();
	    var dmonth=parseFloat(dobj.getMonth());
	    if(year==dyear)
	    {
	        var dis_months=new Array();
	        for(i=(dmonth+2);i<=12;i++)
	        {
	            dis_months[i]=i;
	        }
	        $('#start_date').monthpicker('disableMonths', dis_months);
	    }
	    else
	    {
		    if(year == empDojYr) {
		    	 var dis_months=new Array();
		    	 for(i=1;i<(empDojMon+1);i++)
				 {
					    dis_months[i]=i;
				 }
		    	 $('#start_date').monthpicker('disableMonths', dis_months);
		    } else {
		    	$('#start_date').monthpicker('disableMonths', []);
		    }

	    }

	});
	var dobj=new Date();
	var empDojMon = dt.getMonth();
	var curMonth = dobj.getMonth();
	var dmonth=parseFloat(empDojMon);
	var dis_months=new Array();
	if(empId != '1') {
		if(empDojYr == selYrMonArray[0]) {
				for(i=1;i<(dmonth+1);i++)
				{
				    dis_months[i]=i;
				}
				if(empDojYr == dobj.getFullYear()) {
					for(j=(curMonth+2);j<=12;j++)
					{
					    dis_months[j]=j;
					}
				}
		} else if(selYrMonArray[0] == dobj.getFullYear()) {
			for(j=(curMonth+2);j<=12;j++)
			{
			    dis_months[j]=j;
			}
		}
	} else {
		for(j=(curMonth+2);j<=12;j++)
		{
		    dis_months[j]=j;
		}

	}
	$('#start_date').monthpicker('disableMonths', dis_months);
	var dt = new Date(selYrMonArray[0]+'/'+selYrMonArray[1]+'/'+"01");
	var month = new Array();
	month[0] = "January";
	month[1] = "February";
	month[2] = "March";
	month[3] = "April";
	month[4] = "May";
	month[5] = "June";
	month[6] = "July";
	month[7] = "August";
	month[8] = "September";
	month[9] = "October";
	month[10] = "November";
	month[11] = "December";
	$('#start_date').val(month[(dt.getMonth())]+" "+parseInt(dt.getFullYear()));
});

</script>