<?php
$selDate = $this->selDate;
$selYrMon = $this->selYrMon;
$successBlock = false;
?>

<script type="text/javascript">
 	var success= false;
</script>

<div id="dispWorklogError" style="display: none">
	<div class="ml-alert-1-error">
		<div class="style-1-icon error"></div>
		Unable to add logs.
	</div>
</div>

<div class="container" style="overflow: auto; margin-bottom: 0px;">
	<input type="hidden" name="empDoj" id="empDoj"
		value="<?php  echo $this->empDoj;?>" /> <input type="hidden"
		name="empid" id="empid" value="<?php  echo $this->empid;?>" /> <input
		type="hidden" name="calSelYrMonth" id="calSelYrMonth" />
	<div class="full_container" style="overflow: auto; margin-bottom: 0px;">
		<div class="control_option cal_single_view flt_lft"
			style="margin-top: 2px; width: 100%;">
			<table style="width: 100%;">
				<tr>
					<td style="vertical-align: middle; width: 15%">
						<ul id="monthweek" class="month_view_link">
							<li class="link_txt" id="month"
								onclick="monthlyViewWorklog('<?php echo $selYrMon;?>', success);">Monthly
								View</li>
						</ul>
					</td>
					<td style="vertical-align: middle; width: 85%">
						<div class="new-form-ui month_picker" style="left: 35%;">
							<div class="division">
								<label
									style="color: #F38A28; font-family: Roboto Regular; font-size: 20px; height: 27px; padding: 1px 22px 0 0; width: 165px;"><?php  echo $selDate;?></label>
							</div>
						</div>
					</td>
					<!-- <td style = "vertical-align:middle;width : 33%">
					<div class="new-form-ui month_picker" style="left: 66%;">
						<div class="division">
							<ul id="weekmonth" class="month_view_link">
								<li class="link_txt" id="week" onclick="weeklyView();">Weekly View</li>
							</ul>
						</div>
					</div>
				</td> -->
				</tr>
			</table>
		</div>
		<script src="<?php echo TM_MEDIA_PATH?>js/jquery.jexcel.js"></script>
		<link rel="stylesheet"
			href="<?php echo TM_MEDIA_PATH?>css/jquery.jexcel.min.css"
			type="text/css" />

		<div id="my" style="width: 100%"></div>
		<script>
<?php
$empProjects = $this->empProjects;
$empTasks = $this->empTasks;
$activityCode = $this->activityCode;
$summary = $this->summary;
$internalId = $this->internalId;
$externalId = $this->externalId;
$workhours = $this->workhours;
$filledEmpProjects = $this->filledEmpProjects;
$filledEmpTasks = $this->filledEmpTasks;
$filledEmpActivityCodes = $this->filledEmpActivityCodes;
$isEditable = $this->isEditable;
$logExists = $this->logExists;
$empProjectTaskMap = $this->empProjectTaskMap;
$loginUserId=$this->loginUserId;
$logdate=$this->logdate;
$punchActivity=$this->punchActivity;
$dayException=$this->dayException;
?>
var rowCount;
var isEditable = '<?= $isEditable?>';

var empProjectTaskMap = [];

<?php 
    foreach ($empProjectTaskMap as $key => $value) {
?>
	    empProjectTaskMap["<?= $key?>"] = [];
<?php     
	    for($i=0; $i < count($value); $i++){
?>
			empProjectTaskMap["<?= $key?>"][<?=$i?>]="<?=$value[$i]?>";
<?php 			
	    } 
    }
?>


var projectNames = [];
<?php
for($i = 0; $i < count ( $empProjects ); $i ++) {
	?>
	projectNames[<?=$i?>]="<?=$empProjects[$i]['project_name']?>";
	<?php
}
?>

var taskNames = [];
<?php
for($i = 0; $i < count ( $empTasks ); $i ++) {
	?>
	taskNames[<?=$i?>]="<?=$empTasks[$i]['task']?>";
	<?php
}
?>

var activitiesCode = [];
<?php
for($i = 0; $i < count ( $activityCode ); $i ++) {
	?>
	activitiesCode[<?=$i?>]="<?=$activityCode[$i]['activity_code']?>";
	<?php
}
?>

	data = [
	    ['' , '', '', '', '', '', ''],
	    ['UPTIME (UP)', '', '', '', '', '', ''],
	    ['XNet (XN)', '', '', '', '', '', ''],
	    ['SQLCM (CMP)', '', '', '', '', '', ''],
	    ['XNet (XN)', '', '', '', '', '', ''],
	    ['UPTIME (UP)', '', '', '', '', '', ''],
	    ['XNet (XN)', '', '', '', '', '', ''],
	    ['UPTIME (UP)', '', '', '', '', '', ''],
	    ['XNet (XN)', '', '', '', '', '', ''],
	    ['SQLCM (CMP)', '', '', '', '', '', '']
	];


<?php
if (! empty ( $summary )) {
	?>
	data = new Array();
	<?php
	for($i = 0; $i < count ( $summary ); $i ++) {
		?>
		data[<?=$i?>]=new Array(7);
		data[<?=$i?>][4]="<?=$summary[$i]?>";
		data[<?=$i?>][2]="<?=$internalId[$i]?>";
		data[<?=$i?>][3]="<?=$externalId[$i]?>";
		data[<?=$i?>][5]="<?=$workhours[$i]?>";
		data[<?=$i?>][0]="<?=$filledEmpProjects[$i]['project_name']?>";
		data[<?=$i?>][1]="<?=$filledEmpTasks[$i]['task']?>";
		data[<?=$i?>][6]="<?=$filledEmpActivityCodes[$i]['activity_code']?>";
		<?php
	}
}
?>


autocomplete = function(instance, cell, c, r, source) {
    var value = $('#my').jexcel('getValue', c-1 + '-' + r);
    return empProjectTaskMap[value];    
}

$('#my').jexcel({
	data:data,
	colHeaders:  [ 'Project' + '*', 'Task' + '*', 'Internal ID' + '*', 'External ID', 'Summary' + '*', 'Hours' + '*', 'Activity Code' + '*' ],
	colWidths: [ 140, 140, 120, 120, 300,80,140 ],
	columnResize : false,
	//colAlignments: [ 'center', 'center', 'center', 'center', 'left', 'center', 'center'],
	columns: [
	          { type: 'autocomplete', source:projectNames},
	          { type: 'autocomplete', source:taskNames, filter:autocomplete},
	          { type: 'text'},
	          { type: 'text'},
	          { type: 'text', colAlignment:'left'},
	          { type: 'integer'},
	          { type: 'autocomplete', source: activitiesCode},
	      ]
	 });

$('#my').jexcel('updateSettings', {
    table: function (instance, cell, col, row, val, id) {
        if ((col == 2) || (col == 3)) {
            txt = val.substr(0, 15);
            $(cell).html(txt);
        }

        if (row % 2) {
            $(cell).css('background-color', '#f6f6f6');
        }else{
        	 $(cell).css('background-color', '#ffffff');
        }
		if(!isEditable){
        	$(cell).addClass('readonly');
		}
    }
});




</script>
 <?php //echo (sizeof($weekDaysStatus) != 0)?$weekDaysStatus[0]['week_status']:"No Entry"; ?> </div>

</div>
<?php 
if($isEditable & ($punchActivity || $dayException)){?>
<button type="button" id="submitWorklogButton"
	style="background-color: #008CBA; border: none; color: white; font-family: 'Roboto Regular', sans-serif; font-size: 14px; padding: 6px 25px;"
	onclick="submitWorklog();">Submit</button>
<?php }?>
</div>

<script>
//document.getElementById("IDOFELEMENT").href = "http://www.address.com";
document.getElementById("4").addEventListener("click", redirectSelfService);
document.getElementById("3").addEventListener("click", redirectHr);
document.getElementById("1").addEventListener("click", redirectorg);
document.getElementById("201").addEventListener("click", redirectdiciplinary);
document.getElementById("185").addEventListener("click", redirectExpenses);
document.getElementById("186").addEventListener("click", redirectAssets);
document.getElementById("70").addEventListener("click", redirectsiteCofig);
document.getElementById("143").addEventListener("click", servicereq);
document.getElementById("149").addEventListener("click", appraisal);
document.getElementById("19").addEventListener("click", recruitment);
document.getElementById("5").addEventListener("click", backgroundcheck);
function redirectSelfService() {
	window.location.href = base_url+'/leaverequest/';
	}

function redirectHr() {
	window.location.href = base_url+'/employee/';
	}

function redirectorg() {
	window.location.href = base_url+'/organisationinfo/';
	}

function redirectdiciplinary() {
	window.location.href = base_url+'/disciplinarymyincidents/';
	}

function redirectExpenses() {
	window.location.href = base_url+'/expenses/expenses/';
	} 
	
function redirectAssets() {
	window.location.href = base_url+'/assets/assets/';
	}	

function redirectsiteCofig() {
	window.location.href = base_url+'/sitepreference/';
	}	

function servicereq() {
	window.location.href = base_url+'/servicedeskconf/';
	}	

function appraisal() {
	window.location.href = base_url+'/appraisalinit/';
	}

function recruitment() {
	window.location.href = base_url+'/requisition/';
	}

function backgroundcheck() {
	window.location.href = base_url+'/empscreening/';
	}


function submitWorklog()
{

	var existingLogCount = <?php echo count($logExists);?>;
	var data = $('#my').jexcel('getData');
	var uploadData = [];
	var timeSheet = true;
	var flag = false;
	var runUpload = false;

	var dataArr = [];
	var totalHours = 0;
	for (i in data) {
		var fillCounter = 0;
		var row = data[i];
		var invalidEntryArray = [];
		var tempArr = {};
		for(j in row)
		{
			if (row[j] == '' && j != 3)
			{
				fillCounter++;
				invalidEntryArray.push('#' + j + '-' + i);
			}
			else
			{
				$('#' + j + '-' + i).css("box-shadow","none");
			}
		}
		if(fillCounter != 0 && fillCounter < (row.length - 1)) {
			flag = true;
			$.each( invalidEntryArray, function( key, value ) {
				$(value).css("box-shadow","0px 0px 0px 1px red inset");
			});
		}
		else if(fillCounter != (row.length - 1)) {
			runUpload = true;
			uploadData.push(data[i]);
		}
		if(data[i][0] != ''){
    		tempArr['empId']=  "<?php  echo $this->empId;?>";
    		tempArr['work_date']=  "<?php  echo $this->workDate;?>";
    		tempArr['project_name']=  data[i][0];
    		tempArr['task_name']=  data[i][1];;
    		tempArr['work_id_1']=  data[i][2];
    		tempArr['work_id_2']=  data[i][3];
    		tempArr['summary']=  data[i][4];
    		tempArr['work_hours']=  data[i][5];
    		tempArr['activity']=  data[i][6];
		dataArr.push(tempArr);
		}
		totalHours =  isNaN(parseInt(data[i][5], 10))?(totalHours+0):totalHours+parseInt(data[i][5], 10);
	}
	if(dataArr.length==0){
		var tempArr = {};
		tempArr['empId']=  "<?php  echo $this->empId;?>";
		tempArr['work_date']=  "<?php  echo $this->workDate;?>";
		tempArr['deleteLastLog'] = 'true';
		dataArr.push(tempArr);
	}
	var jsondata = JSON.stringify(dataArr);
	if (flag == true)
	{
		jAlert("Please enter fields marked in Red!");
	}
	else if(existingLogCount == 0 && runUpload == false) {
		jAlert("Please enter at-least one valid entry !");
	}
	else if(totalHours > 24) {
		jAlert("Work-log hours cannot be entered more than 24.");
	}
	else
	{
		$.ajax({
			url: base_url+"/timemanagement/worklog/submitworklog",
			type : 'POST',
			data : {logs: jsondata, timeSheet: timeSheet},
			dataType: 'json',
			success : function(response)
			{
					success = true;
					if(response['result'] === 'deleted')
						monthlyViewWorklog('<?php echo $selYrMon;?>', success,true);
					else
						monthlyViewWorklog('<?php echo $selYrMon;?>', success);
			},
			error: function(){
				$('#dispWorklogError').fadeIn('fast').fadeOut(50000);
		 	}
		});

	}

}

$(document).ready(function(){

	if(!isEditable){
		$('#submitWorklogButton').hide();
	}

	<?php	if (count($this->messages)) {?>
	           setTimeout(function(){
				     $('#dispmsgprojects').fadeOut('slow');
			   },3000);
	<?php } ?>

    $('.rejected_note').powerTip({
         placement: 'e',
         mouseOnToPopup: true,
         smartPlacement: true
    });

	var empDoj = $('#empDoj').val();
   // var dt = new Date(empDoj);
	var dt = null;
	if(empDoj != '')
    	//dt = new Date(empDoj);
		dt = new Date(empDoj.split("-").join("/"));
	else
		dt = new Date();
    var empDojYr = dt.getFullYear();
    var empDojMon = dt.getMonth();
    var selYrMon = "<?php echo $currentMonth; ?>";
    var selYrMonArray =  selYrMon.split("-");
	options = {
	    pattern: 'yyyy-mm', // Default is 'mm/yyyy' and separator char is not mandatory
	    selectedYear: parseInt(selYrMonArray[0]),
	    startYear: empDojYr,
	    finalYear: <?php echo date('Y');?>,
	};

	$('#start_date').monthpicker(options);
	$('#start_date').monthpicker().bind('monthpicker-click-month', function (e, month) {
	    var year_month=$('#start_date').val();
	    var selmn_split=year_month.split('-');
	    var month_names=new Array('','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
	  //  $('#start_date').val(month_names[parseFloat(selmn_split[1])]+'-'+selmn_split[0]);
	    $('#start_date').val(month_names[parseFloat(selmn_split[1])]+' '+selmn_split[0]);
	    $('#idhidselmn').val(year_month);
	    var act=$( "#idempaccordion" ).accordion( "option", "active");
        if(act!==false && act>=0)
            act=act;
        else
            act=false;
        var selmn=year_month;
        var dobj=new Date();
        var dyear=dobj.getFullYear();
        var dmonth=dobj.getMonth();
        dmonth=parseFloat(dmonth)+1;
        if(parseFloat(dmonth)<10)
        {
            dmonth='0'+dmonth;
        }
        var dselmn=dyear+'-'+dmonth;

        $("#calSelYrMonth").val(year_month);
        weeklyView();

	}).bind('monthpicker-change-year', function (e, year) {

	    var dobj=new Date();
	    var dyear=dobj.getFullYear();
	    var dmonth=parseFloat(dobj.getMonth());
	    if(year==dyear)
	    {
	        var dis_months=new Array();
	        for(i=(dmonth+2);i<=12;i++)
	        {
	            dis_months[i]=i;
	        }

	        $('#start_date').monthpicker('disableMonths', dis_months);
	    }
	    else
	    {
	    	 if(year == empDojYr) {
		    	 var dis_months=new Array();
		    	 for(i=1;i<(empDojMon+1);i++)
				 {
					    dis_months[i]=i;
				 }
		    	 $('#start_date').monthpicker('disableMonths', dis_months);
		    } else {
		    	$('#start_date').monthpicker('disableMonths', []);
		    }
	    }
	});

	var dobj=new Date();
	var empDojMon = dt.getMonth();
	var empDojyr = dt.getFullYear();
	var curMonth = dobj.getMonth();
	var dyear=dobj.getFullYear();
	var dmonth=parseFloat(empDojMon);
	var dis_months=new Array();
	if(empDojYr == selYrMonArray[0]) {
		for(i=1;i<(dmonth+1);i++)
		{
		    dis_months[i]=i;
		}
		if(empDojYr == dobj.getFullYear()) {
			for(j=(curMonth+2);j<=12;j++)
			{
			    dis_months[j]=j;
			}
		}
	} else if(selYrMonArray[0] == dobj.getFullYear()) {
		for(j=(curMonth+2);j<=12;j++)
		{
		    dis_months[j]=j;
		}
	}
	$('#start_date').monthpicker('disableMonths', dis_months);
	var dt = new Date(selYrMonArray[0]+'/'+selYrMonArray[1]+'/'+"01");
	var month = new Array();
	month[0] = "January";
	month[1] = "February";
	month[2] = "March";
	month[3] = "April";
	month[4] = "May";
	month[5] = "June";
	month[6] = "July";
	month[7] = "August";
	month[8] = "September";
	month[9] = "October";
	month[10] = "November";
	month[11] = "December";

	$('#start_date').val(month[dt.getMonth()]+" "+dt.getFullYear());

});


</script>