<?php
$leaveWindow = $this->leaveWindow;
$halfDay = $this->halfDay;
$fullDay = $this->fullDay;
$interval = $leaveWindow*30;
$workingHours = $this->workingHours;

$isHalfDayCompoff = true;
$this->isHalfDayCompoff = $isHalfDayCompoff;
?>
<div class="total-form-controller">
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
		<input type="text"  style="display: none;" readonly="readonly" value="<?php echo $this->date?>" name="action_date">
		<div class="new-form-ui">
		
			<?php if($workingHours > $fullDay):?>
	<label class="required">Reimbursement Option</label>
	<?php else: ?>
	<label class="required">Reimbursement Option (Half Day)</label>
	<?php endif; ?>

			<div class="division"><?php echo $this->form->option; ?></div>
		</div>
		<div class="new-form-ui" id="leave-date-div">
			<label>Leave Date</label>
			<div class="division"><?php echo $this->form->leave_date; ?></div>
		</div>
		<br>
		<br>
		<br>
		<br>
		
		<div class="new-form-ui" style="position: absolute;">
			<label class="required">Comment</label>
			<div class="division"><?php echo $this->form->comment; ?></div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>	
		</div>
	</form>
</div>
<script type='text/javascript'>
    $('#option-Leave').click(function(){
		$('#leave-date-div').show();
    })
    
    $('#option-Encashment').click(function(){
		$('#leave-date-div').hide();
    })

    function datepickerappend(){
    	var yearrange = <?php echo "'".YEAR.':'.(date('Y')+1)."'"; ?>;
    	var minDate = '<?php echo ($this->date)?>';
    	var leaveWindow = '<?php echo ($this->leaveWindow)?>';
    	var maxDate = '<?php echo date("Y-m-d", strtotime("{$this->date}+{$interval} days"))?>';
    	$('#leave_date').datepicker({
			showOn:'both',
			yearRange: yearrange,
			dateFormat:"<?php echo DATEFORMAT_JS;?>",
			buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
			buttonImageOnly: true,
			minDate: minDate,
			maxDate: maxDate,
			buttonText: "",
			showButtonPanel: true ,
			changeMonth: true,
			changeYear: true
		});
    }

    $(document).ready(function(){
    	$('#option-Leave').trigger('click');
    	datepickerappend();
    });

    function onApplicationSuccess(response){
    	window.parent.$("#compoffrequestContainer").dialog('close');
    	parent.successmessage(response['message']);
    	parent.sendCompOffRequestEmailAsync(response['compoffrequest']);
    	parent.$('#actbtn_btn').trigger('click');
    }
</script>

