<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>


<?php if($this->rowexist == 'norows'){?>
	No data found.
<?php } else {?>

<div id="leave_success_div" class="ml-alert-1-success" style="display:none;">
	<div class="style-1-icon success"></div>
</div>

<div id="error_message" style="display:none;"></div>

<div class="poc-ui-data-control">
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">

<?php if($this->approve_flag=='true' || $this->reject_flag=='true' || $this->cancel_flag=='true') { ?>
<div class="new-form-ui inputheight_lq" style ="width :100%;" id="leaveaction">

<div class="leaves_rq_new_pop">
	
   <div class="leaves_rq_new_pop_left">
    	 <!--	<label>Status</label>
            <ul id="leaves_request_ul">
          <?php //if($this->user_logged_in=='true' && $this->manager_logged_in!='true') 
          		//{ 
          			//if($this->cancel_flag=='true') {				
          ?>
          		<li>
          			<a><span class="fa fa-times-circle"></span><span>Cancel</span></a>
          		</li>
          <?php //}} 
          ?> 
          
          <?php //if($this->manager_logged_in=='true') { ?>
          		<?php //if($this->approve_flag=='true') {?>
          			<li id="manager_approve" onclick="changeLeaveStatus('<?php //echo sapp_Global::_encrypt('Approved');?>',this.id)">
          				<a><span class="fa fa-check"></span><span>Approve</span></a>
          			</li>		
          		<?php //}else{?>
          			<li id="manager_approve">
          				<a class="dis"><span class="fa fa-check"></span><span>Approve</span></a>
          			</li>
          		<?php //}?>
          		
          		<?php //if($this->reject_flag=='true') {?>
          			<li id="manager_reject" onclick="changeLeaveStatus('<?php //echo sapp_Global::_encrypt('Rejected');?>',this.id)">
          				<a class="dis"><span class="fa fa-ban"></span><span>Reject</span></a>
          			</li>		
          		<?php //}else{?>
          			<li id="manager_reject">
          				<a class="dis"><span class="fa fa-ban"></span><span>Reject</span></a>
          			</li>
          		<?php //}?>
          		
          		<?php //if($this->cancel_flag=='true') {?>
          			<li id="manager_cancel" onclick="changeLeaveStatus('<?php //echo sapp_Global::_encrypt('Cancel');?>',this.id)">
          				<a class="dis"><span class="fa fa-times-circle"></span><span>Cancel</span></a>
          			</li>		
          		<?php //}?>
          <?php //}?>
            </ul>-->
    
    
    
    	<label>Status</label>
	  	<select id="leaveactionid" name="leaveactionid" class="select2-offscreen" tabindex="-1">
	  	<?php if($this->user_logged_in=='true' && $this->manager_logged_in!='true') { ?>
		  	<?php if($this->cancel_flag=='true') {?>
		    	<option label="Cancel" value="<?php echo sapp_Global::_encrypt('Cancel');?>">Cancel</option>
		    <?php }?>
		<?php } ?>    
	    
	    <?php if($this->manager_logged_in=='true') { ?>
	    	<?php if($this->approve_flag=='true') {?>
		    <option label="Approve" value="<?php echo sapp_Global::_encrypt('Approved');?>">Approve</option>	
		    <?php } ?>
		    
		    <?php if($this->reject_flag=='true') {?>
			 <option label="Reject" value="<?php echo sapp_Global::_encrypt('Rejected');?>">Reject</option>
			<?php } ?> 
			
			<?php if($this->cancel_flag=='true') {?>
		    	<option label="Cancel" value="<?php echo sapp_Global::_encrypt('Cancel');?>">Cancel</option>
		    <?php }?>
		<?php } ?>
	    </select>
	</div>
    
 	<?php if($this->manager_logged_in=='true') { ?>
    <div class="new-form-ui textareaheight"  id="notify_div">
		<label>Notify me on</label>
		<div class="division">
			<input name="notify_me_on" id="notify_me_on" 
				class="brdr_none" readonly="readonly" onfocus="this.blur()"
				type="text">
		</div>
	</div>
    <div class="leaves_rq_new_pop_right" >
    		<label class = "required">Comments</label>
            <textarea maxlength="50" cols="50" rows="10" id="comments" name="comments"></textarea>
			<span class="errors" id="errors-comments" style="display:none">Please enter comments.</span>
    </div>
    
    <?php }?>
    
    <input type="hidden" value='<?php echo sapp_Global::_encrypt('Cancel');?>' id="leaveactionid" name="leaveactionid">
    
    

</div>
</div>

<?php } ?>
<div style="clear:both;">
<?php 
	sapp_Helper::viewHeader();
	sapp_Helper::viewBody('nor','Employee',$this->leave_details['user_name'],'Leave Type',$this->leave_details['leavetype_name']);
	sapp_Helper::viewBody('alt','From',sapp_Global::change_date($this->leave_details['from_date'],'view'),'To',sapp_Global::change_date($this->leave_details['to_date'],'view'));
	sapp_Helper::viewBody('nor','Leave For',$this->leave_details['leaveday']==1?'Full Day':'Half day','Days',$this->leave_details['appliedleavescount']);
	if($this->leave_details['leavestatus']=='Approved') {
		sapp_Helper::viewBody('alt','Approved On',sapp_Global::change_date($this->leave_details['modifieddate'],'view'),'Comments',$this->leave_details['approver_comments']);
		sapp_Helper::viewBody('nor','Reason',$this->leave_details['reason'],'','');
	}else if($this->leave_details['leavestatus']=='Pending') {
		if($this->manager_logged_in=='true') {
			sapp_Helper::viewBody('alt','Applied On',sapp_Global::change_date($this->leave_details['createddate'],'view'),'Reason',$this->leave_details['reason']);
		}else if($this->user_logged_in=='true' && $this->manager_logged_in!='true'){
			sapp_Helper::viewBody('alt','Reporting Manager',$this->leave_details['rep_manager_name'],'','');
		}	
	}
	sapp_Helper::viewFooter();
?>
</div>
<div class="new-form-ui-submit" > <input  type="button"  onclick="if(validateComment()== true){updateleavedetails('<?php echo $this->leave_details['id']?>','<?php echo $this->controllername; ?>');}else{return false;}" value="Save" id="submitLeaveButton" name="submit">
	<button name="Cancel" id="Cancel" onclick="closedialog();" type="button">Cancel</button>
	</div>
</form>

</div>
<?php } ?>

<script type="text/javascript">
/*function changeLeaveStatus(value,ele){
	$('#leaveactionid').val(value);
	$('#leaves_request_ul li a').addClass('dis');
	$("#"+ele+" a").removeClass('dis');
}*/
$(document).ready(function(){
	<?php //if($this->manager_logged_in=='true') { 
			//if($this->approve_flag=='true') { 
	?>
				//$("#leaveactionid").val('<?php //echo sapp_Global::_encrypt('Approved');?>');
	<?php //} elseif($this->cancel_flag=='true') { ?>
				//$("#manager_cancel a").removeClass('dis');
	<?php //}}?>

	$("#comments")
	  .focusout(function() {
			if (!$("#comments").val()) {
		        $("#errors-comments").show();
		    }else{
		    	$("#errors-comments").hide();
		    }
	  });

	 var yearrange = <?php echo "'".YEAR.':'.(date('Y')+1)."'"; ?>;
	   //  var yearrange = <?php echo "'".date("Y", strtotime("-30 years")).':'.date('Y')."'"; ?>;
	 	$('#notify_me_on').datepicker({
	 			showOn:'both',
	 			//maxDate: new Date,
	 			yearRange: yearrange,
	 			dateFormat: '<?php echo DATEFORMAT_JS;?>',
	 			buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
	 			buttonImageOnly: true,
	 			buttonText: "",
	 			minDate: '0d',
	 			changeMonth: true,
	 			changeYear: true,
	            showButtonPanel: true ,
	 			onClose:function(){
	                         validateorgheadjoiningdate();
	 				$('#notify_me_on').trigger('blur');
	                 }
	 	});

	 	$( "#leaveactionid" ).change(function() {
	 		 if($( "#leaveactionid option:selected" ).text() === "Reject" || $( "#leaveactionid option:selected" ).text() === "Cancel"){
	 			$("#notify_div").css("display","none");
	 			$( "#notify_me_on" ).datepicker('setDate','');
	 		 }else if($( "#leaveactionid option:selected" ).text() === "Approve"){
	 			$("#notify_div").css("display","block");
	 		 } 		  
	 		});
	
});

	<?php if($this->leave_details['leavestatus']=='Approved' || $this->leave_details['leavestatus']=='Rejected' || $this->leave_details['leavestatus']=='Cancelled') { ?>
		$('#notify_div').show(function(){
			$("#notify_div").css("display","none");
			$( "#notify_me_on" ).datepicker('setDate','');
		});
   <?php }?>

$("#submitLeaveButton").click(function(){ 
	if ($("#comments").val()){
		$.blockUI({ width:'50px',message: $("#spinnerpopup").html() });
	}
});

function validateComment()
{
	if (!$("#comments").val()) {
        $("#errors-comments").show();
        return false;
    }else{
    	$("#errors-comments").hide();
    }
    return true;
}

function closedialog()
{
	window.parent.$("#leaverequestContainer").dialog('close');
}
</script>
