<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
$baseUrl = $this->serverUrl().$this->baseUrl();
echo $this->form->id; ?>
        <div class="total-form-controller view-form-detail">
			<div class="new-form-ui ">
			  <label>Calender Start Month</label>
			<div class="division"><?php echo $this->form->cal_startmonth; ?></div>
			</div>
			
			<div class="new-form-ui ">
			  <label>Week Starts On</label>
			<div class="division loca_state_div"><?php echo $this->form->week_startday; ?></div>
			</div>
			
			<div class="new-form-ui ">
			  <label>Is Saturday Holiday?</label>
			<div class="division"><?php echo $this->form->is_satholiday; ?></div>
			</div>
			
			<div class="new-form-ui ">
			  <label>Hours in a full day</label>
			<div class="division"><?php echo $this->form->hours_day; ?></div>
			</div>
			
			<div class="new-form-ui ">
			  <label>Partial(Half) Day Requests?</label>
			<div class="division"><?php echo $this->form->is_halfday; ?></div>
			</div>
			
			<div class="new-form-ui ">
			  <label>Allow Balance Transfers?</label>
			<div class="division"><?php echo $this->form->is_leavetransfer; ?></div>
			</div>
			
			<div class="new-form-ui ">
			  <label>Skip Holidays?</label>
			<div class="division"><?php echo $this->form->is_skipholidays; ?></div>
			</div>
					
			<div class="new-form-ui textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
			
					<div class="new-form-ui-submit">
			<input type="submit" onclick="changeeditscreen('<?php echo $this->controllername;?>',<?php echo $this->id;?>);" value="Edit" />
			<button onclick="window.location.href='<?php echo BASE_URL; ?>leavemanagement';" type="button" >Cancel</button>
		</div>
		
       </div>
		
