<style>
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end{border: medium none; padding: 0 1px;}
.apply_leave_div{float: right;}
.apply_button{background: #ea7c2e; color: #fff; border:none; padding:6px 16px; cursor: pointer; font-size:14px;}
.info_div{   background: #fff; border: 1px dashed #ccc; color: #333; padding: 10px; text-align: center;  width: 40%; margin-left:300px;}
</style>

<script type = 'text/javascript'>

function validate_todate()
{
    $('#errors-to_date').remove();
    if($.trim($('#to_date').val()) == '')
    {
        $('#to_date').parent().append("<span class='errors' id='errors-to_date'>Please select date.</span>");
    }
    else
    {
        $('#errors-to_date').remove();
    } 
}

function closedialog(flag)
{
	$('#s2id_exceptionday .select2-choice span').html('Full Day');
    $('#exceptionday').val(1);
	$("#todatediv").show();
    $('#reason').val('');
    $('#errors-reason').remove();
	$('#errors-exceptionday').remove();
	$('#errors-from_date').remove();
	$('#errors-to_date').remove();
	$('#errors-rep_mang_id').remove();
	if(flag == "cancel")
	 $("#exceptionrequestform").dialog('close');
}

/* 
*This function calculates the number of days on dragging calender event
  It also checks whether applied number of days doesnot fall on weekends.
  If it comes on weekends then it destroys the Dialog box.
*/
	
	function checkerrorvalidation()
	{
	  
			   <?php if(empty($this->reportingManagerDetails)){?>
					if($('#errors-rep_mang_id').length == 0)
						$('#rep_mang_id').parent().append("<span class='errors' id='errors-rep_mang_id'>Reporting manager is not assigned yet. Please contact your HR.</span>");				   
	    	  <?php }?>
	}

	function applyleave()
	{
		var date = new Date();
		var startdate = $.datepicker.formatDate( $("#dateformatjs").val(), date );	
		var enddate = $.datepicker.formatDate( $("#dateformatjs").val(), date );	
		validatefullcalenderdate(startdate,enddate);
	}

function validatefullcalenderdate(fromdateval,todateval)
{

    if(fromdateval != '' && todateval != '')
	{
		$.ajax({
			url: base_url+"/index/calculateexceptioncalendardays/format/json",   
			type : 'POST',	
			data : 'fromDate='+fromdateval+'&toDate='+todateval,
			dataType: 'json',
			success : function(response){
			    var superadminid = <?php echo SUPERADMIN;?>;
			        if(response['days'] == 0 && response['loginUserId'] != superadminid)
					{
					    jAlert("You cannot apply exception on Weekend/Holidays/Leaves.");
					}else
                    {
					   	$("#appliedexceptioncount").val(response['days']);
						$("#from_date").val(fromdateval);
						$("#to_date").val(todateval);
					    $("#exceptionrequestform").dialog({
							open: function(event, ui) {
												
								 checkerrorvalidation();
								 datepickerappend();
								  
								 },
							draggable:false, 
							resizable: false,
							height:'auto',
							title: "Create: Exception Request",
							modal: true, 
							close: function( event, ui ) {
							      closedialog('');
							}
						});
                    }  							
			}
		});
	}	

}

/*
This function integrates the calender picker to dialogue box
This function is based on leave management options.
*/
function datepickerappend()
{
 <?php if(!empty($this->weekendDatailsArr)) { ?>

	//var yearrange = <?php echo "'".date('Y').':'.date('Y')."'"; ?>;
	var yearrange = <?php echo "'".date("Y", strtotime("-30 years")).':'.(date('Y')+20)."'"; ?>;
	var weekend_strtday = <?php echo $this->weekendDatailsArr[0]['weekendstartday']; ?>;
	var weekend_endday = <?php echo $this->weekendDatailsArr[0]['weekendday']; ?>;
	<?php if(!empty($this->dateofjoiningArr)) {?>
		  var year = <?php echo $this->dateofjoiningArr['year']; ?>;
		  var month = <?php echo $this->dateofjoiningArr['month']; ?>;
		  var day = <?php echo $this->dateofjoiningArr['day']; ?>;
		  var currentyear = <?php echo date("Y"); ?>;
		  var currentmonth = <?php echo date("m"); ?>;
	<?php }?>

	$('#from_date').datepicker({
					showOn:'both',
					yearRange: yearrange,
					dateFormat:"<?php echo DATEFORMAT_JS;?>",
					buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
					buttonImageOnly: true,
					minDate: new Date(currentyear , currentmonth-2 , <?php echo (AUDIT_START_DAY);?>),
					buttonText: "",
					showButtonPanel: true ,
					changeMonth: true,
					changeYear: true,
					beforeShowDay: function(date) {
						var day1 = date.getDay();
						return [(day1 != weekend_strtday && day1 != weekend_endday)];
					},
					onClose:function(){
									$('#from_date').trigger('blur');
									emptytodate(this,'exception');
									validateselecteddate(this,'exception');
								}
				});
			
	$('#to_date').datepicker({
					showOn:'both',
					yearRange: yearrange,
					dateFormat:"<?php echo DATEFORMAT_JS;?>",
					buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
					buttonImageOnly: true,
					minDate: new Date(year, month - 1, day),
					buttonText: "",
					changeMonth: true,
					changeYear: true,
					showButtonPanel: true ,
					beforeShowDay: function(date) {
						var day2 = date.getDay();
						return [(day2 != weekend_strtday && day2 != weekend_endday)];
					},
					onClose:function(){
									$('#to_date').trigger('blur');
									validateselecteddate(this,'exception');
					} 					
			});	
		
<?php }?>
}

/* 
   Full calender plugin code.
   1. heders: For displaying previous month, next month.
   2. select: For dragging dates on calender plugin.
        -> First we are storing one javascript variable 'dateformatjs' with our site preference settings.
		-> We are converting the date returned by full calender plugin to our site preference date.
		-> Based on leave management options the calender dragging event will work.
   3. events: For displying on which dates leave has been applied.	
*/
$(document).ready(function() {

	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	var datelimit; 
	if(d > <?php echo (AUDIT_START_DAY-1);?> ){
		datelimit = new Date(y, m, <?php echo (AUDIT_START_DAY-1);?>, null, null, null, null);
		dateendlimit = new Date(y, (m+1), <?php echo (AUDIT_END_DAY);?>, null, null, null, null);
	}else{
		datelimit = new Date(y, (m-1), <?php echo (AUDIT_START_DAY-1);?>, null, null, null, null);
		dateendlimit = new Date(y, m, <?php echo (AUDIT_END_DAY);?>, null, null, null, null);
	}
	var dojtime = '';
	
	<?php if(!empty($this->dateofjoiningArr)) {?>
      var year = <?php echo $this->dateofjoiningArr['year']; ?>;
      var month = <?php echo $this->dateofjoiningArr['month']; ?>;
	  var day = <?php echo $this->dateofjoiningArr['day']; ?>;
	  var datetimestamp = <?php echo $this->dateofjoiningArr['datetimestamp']; ?>;
	  
	  // Creting date object of date of joining of employee and fetching the timestamp in milliseconds 
      var dojobj = new Date(year,month-1,day);	
      var dojtime = dojobj.getTime();		  
<?php }?>
	
	var calendar = $('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: ''
		},
                    
		selectable: true,
		selectHelper: true,
		select: function(start, end, allDay) {
         
			var startdate = $.datepicker.formatDate( $("#dateformatjs").val(), start );
			var enddate = $.datepicker.formatDate( $("#dateformatjs").val(), end );
			
			
			// Creting time stamp in milliseconds for start date 
			var date1 = new Date(start);
			var startday = date1.getDay();
			var starttime = date1.getTime();
			
			var date2 = new Date(end);
			var endday = date2.getDay();
			var endtime = date2.getTime();
			
            var selectyear1 = date1.getFullYear();
			var selectyear2 = date2.getFullYear();
			if((date1 <= datelimit) || (date2 <= datelimit) || (date1 > dateendlimit) || (date2 > dateendlimit))
			{				
				jAlert('Exception cannot be applied outside attendance audit window.') ;
			}
			else
			{
				// If timestamp of startdate is before date of joing then the employee should not be able to apply for leave
				if(dojtime !='')
				{
					if(starttime >= dojtime)
					{
					  validatefullcalenderdate(startdate,enddate);
					}  
					else
					  jAlert('Exception cannot be applied before date of joining.') ; 				
				}else
				{
					validatefullcalenderdate(startdate,enddate);
				}	
			}
				
			
		},
		/* Event sources allows multiple events to be attached to calender with comma separated events
		  and we can add different colors to different event so that we can differentiate events  */
		eventSources: [
			 {   			// First enent source
				events: [  // First event to display pending or approved leaves
						<?php if(!empty($this->exceptionrequestdetails)){
						  foreach($this->exceptionrequestdetails as $val)
						  {
						        if($val['from_date'] !='' && $val['to_date'] !='' && $val['to_date'] != NULL)
								{
								   $from_date = explode("-",$val['from_date']);
								   $from_date_year = $from_date[0];
								   $from_date_month = $from_date[1];
								   $from_date_day = $from_date[2];
								   
								   $to_date = explode("-",$val['to_date']);
								   $to_date_year = $to_date[0];
								   $to_date_month = $to_date[1];
								   $to_date_day = $to_date[2];
								}
								else if($val['to_date'] =='' || $val['to_date'] == NULL)
								{
								   $from_date = explode("-",$val['from_date']);
								   $from_date_year = $from_date[0];
								   $from_date_month = $from_date[1];
								   $from_date_day = $from_date[2];
								   
								   $to_date = explode("-",$val['from_date']);
								   $to_date_year = $to_date[0];
								   $to_date_month = $to_date[1];
								   $to_date_day = $to_date[2];
								}
						?>
							
							{
								title: '<?php echo $this->userfullname.', Exception, ('.$val['status'].')';?>',
								start: new Date(<?php echo $from_date_year; ?>, <?php echo $from_date_month - 1; ?>,<?php echo $from_date_day; ?>),
								end: new Date(<?php echo $to_date_year; ?>, <?php echo $to_date_month - 1; ?>,<?php echo $to_date_day; ?>),
								id: <?php echo $val['id'];?>,
								
							},
					 <?php }}?>	
			  ],// END - First event 
			}, // END - First eventsource 			
				{   // Start - Second event source			
		   	events: [ // Start - Second event to display holidays list
		   			

		   				<?php if(!empty($this->holidayDateslistArr)){
		   	   				  foreach($this->holidayDateslistArr as $list)
		   	   				  {
		   	   				  	if($list['holidaydate'] !='' && $list['holidaydate'] != NULL)
		   	   					{
		   	   					   $holidayname = $list['holidayname'];	
		   	   					   $holdaydate = explode("-",$list['holidaydate']);
		   	   					   $holiday_date_year = $holdaydate[0];
		   	   					   $holiday_date_month = $holdaydate[1];
		   	   					   $holiday_date_day = $holdaydate[2];
		   	   					}		
		   	   		    ?>

		   	   			    {
		   	   					title: '<?php echo $holidayname;?>',
		   	   					start: new Date(<?php echo $holiday_date_year; ?>, <?php echo $holiday_date_month - 1; ?>,<?php echo $holiday_date_day; ?>),
		   	   					end: new Date(<?php echo $holiday_date_year; ?>, <?php echo $holiday_date_month - 1; ?>,<?php echo $holiday_date_day; ?>),
		   	   					
		   	   				},
		   	   			
		   	   		    <?php }}?>	
		   		],// END- First Event
		   			color: 'pink',     // an option!
        	        textColor: 'white'			
		   	}// END- Second Event Source
		   	
		 ],// END- Main event source
		 
		 // Start Event click to display leave details in popup
		 eventClick: function(calEvent, jsEvent, view) {
			 if(calEvent.id!=null && typeof calEvent.id != "undefined") {
				 var url = base_url+'/exceptionrequest/editpopup/id/'+calEvent.id;
				 displaydeptform(url,"");
			 }
		 },
		// End Event Click
		editable: false
		
	});					
});

		function closedpopup()
		{
			$("#exceptionrequestform").dialog('close');
		}
</script>

<div class="apply_leave_div">
	<input class="apply_button" type="button" value="Apply Exception" onclick="applyleave()" >
</div>

<div class="info_div">
Click on a date to apply for 1 day of exception. Click and drag on the desired dates to apply for multiple days of exception.
</div>
<div id='calendar' style="clear:both;"></div> 

<div id="exceptionrequestform" style="display:none;">
	<div class="newframe-div">
		<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
			<?php echo $this->form->id; ?>
			<?php 
				$weekend_startday = '';
				$weekend_endday = '';
				$ishalf_day = '';
				
				if(!empty($this->weekendDatailsArr))
				{
					$weekend_startday = $this->weekendDatailsArr[0]['weekendstartday'];
					$weekend_endday = $this->weekendDatailsArr[0]['weekendday'];	
					$ishalf_day = $this->weekendDatailsArr[0]['is_halfday'];			
				}	
			?>
			<input type="hidden" value="<?php echo $this->loggedinEmpId[0]['emailaddress'];?>" id="employeeemail" name="employeeemail">
			<?php if(isset($this->reportingManagerDetails[0]['emailaddress'])) { ?><input type="hidden" value="<?php echo $this->reportingManagerDetails[0]['emailaddress'];?>" id="repmanageremail" name="repmanageremail"> <?php } ?>
			<input type="hidden" value="<?php echo $weekend_startday;?>" id="wkstrtday" name="wkstrtday">
			<input type="hidden" value="<?php echo $weekend_endday;?>" id="wkendday" name="wkendday">
			<input type="hidden" value="<?php echo $ishalf_day;?>" id="ishalfday" name="ishalfday">
	        <div class="total-form-controller">		      
			
			<div class="new-form-ui textareaheight">
			  <label class="required">Reason</label>
			<div class="division"><?php echo $this->form->reason; ?></div>
			<?php if(isset($this->msgarray['reason'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->reason->getId(); ?>"><?php echo $this->msgarray['reason'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui">
			  <label class="required">From <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->from_date; ?></div>
			  <span class="errors" id="errors-<?php echo $this->form->from_date->getId(); ?>"><?php echo isset($this->msgarray['from_date'])?$this->msgarray['from_date']:'';?></span>
			</div>
			
			<div class="new-form-ui" id="todatediv">
			  <label class="required">To <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
			<div class="division"><?php echo $this->form->to_date; ?></div>
			   <span class="errors" id="errors-<?php echo $this->form->to_date->getId(); ?>"><?php echo isset($this->msgarray['to_date'])?$this->msgarray['to_date']:'' ;?></span>
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Exception For</label>
			<div class="division"><?php echo $this->form->exceptionday; ?></div>
			<?php if(isset($this->msgarray['exceptionday'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->exceptionday->getId(); ?>"><?php echo $this->msgarray['exceptionday'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui">
			  <label>Days</label>
			<div class="division"><?php echo $this->form->appliedexceptioncount; ?></div>
			<?php if(isset($this->msgarray['appliedexceptioncount'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->appliedexceptioncount->getId(); ?>"><?php echo $this->msgarray['exceptionday'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Reporting Manager</label>
			<div class="division"><?php echo $this->form->rep_mang_id; ?></div>
			<?php if(isset($this->msgarray['rep_mang_id'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->rep_mang_id->getId(); ?>"><?php echo $this->msgarray['rep_mang_id'];?></span>
			<?php }?>
			</div>
								
			
        </div>
		
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>	
		<button name="Canceldialog" id="Canceldialog" onclick="closedpopup();" type="button">Cancel</button> 
		</div>
		</form>
	</div>
</div>
<?php echo sapp_Helper::popup_helper('exceptionrequest');?>
