<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<div style='padding: 0; text-align: left; font-size:14px; font-family:Arial, Helvetica, sans-serif;'>				
<span style='color:#3b3b3b;'>Dear <?php echo ucfirst($this->emp_name);?>,</span><br />
<?php
if($this->type == 'Employee')
{
	if($this->raised_by == 'Employee') {
		$employeemsg = "You have provided your appeal statement.";
	}	
	else{
		$employeemsg = "Disciplinary incident has been raised by ".ucfirst($this->raised_name)." against you.";
	}	
?>
        <div style='padding:20px 0 0 0;color:#3b3b3b;'><?php echo $employeemsg;?></div>
        <div style='padding:20px 0 10px 0;color:#3b3b3b;'><a href="<?php echo $this->base_url.'/index/popup';?>" target='_blank' style="color:#208bbd; text-decoration:none;">Click here</a> to check the details.</div>
<?php 
}
else if($this->type == 'HR' || $this->type == 'Manager') 
{
	if($this->raised_by == 'Employee') {
		$hrmanagermsg = "".ucfirst($this->raised_against_employee_id.'<b>'.$this->raised_against)." has provided his appeal statement";
	}	
	else{
		$hrmanagermsg = "Disciplinary incident has been raised by ".$this->raised_name." against ".ucfirst($this->raised_against_employee_id.'<b>'.$this->raised_against)."";
	}
?>
        <div style='padding:20px 0 0 0;color:#3b3b3b;'><?php echo $hrmanagermsg;?></div>
        <div style='padding:20px 0 10px 0;color:#3b3b3b;'>Please <a href="<?php echo $this->base_url.'/index/popup';?>" target='_blank' style="color:#208bbd; text-decoration:none;">click here</a> to check the details.</div>	
<?php     
}
else if($this->type == 'Management') 
{
	if($this->raised_by == 'Employee') {
		$managementmsg = "".ucfirst($this->raised_against_employee_id.'<b>'.$this->raised_against)." has provided his appeal statement";
	}	
	else{
		$managementmsg = "You have raised a disciplinary incident against ".ucfirst($this->raised_against_employee_id.'<b>'.$this->raised_against)."";
	}
?>
        <div style='padding:20px 0 0 0;color:#3b3b3b;'><?php echo $managementmsg;?></div>
        <div style='padding:20px 0 10px 0;color:#3b3b3b;'>Please <a href="<?php echo $this->base_url.'/index/popup';?>" target='_blank' style="color:#208bbd; text-decoration:none;">click here</a> to check the details.</div>	
<?php     
}
    
?>	        
</div>      
    
