<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<div style = "overflow: auto;width:100%;border-radius: 15px;background-color:#eeeeee; ">
								<div style="overflow: auto;margin-top:-4px;width:100%;background-color:#5b5a55;border-radius:15px 15px 0px 0px;display: inline-block;">
                                        <div style='color:#ffffff;height:22px;padding-left:5px;font-family:Verdana;font-size:14px;'>Hi,</div>
                                        <div style='color:#ffffff;padding-left:5px;height:33px;font-family:Verdana;font-size:14px;'>You have been added to <?php echo APPLICATION_NAME; ?>. The login credentials for your XNet account are:</div>
										</div>
										<table width='80%' cellspacing='0' cellpadding='8' border='0' style='border:3px solid #BBBBBB; font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:35px 0 35px 74px;' bgcolor='#ffffff'>
                            			<tr bgcolor='#F5F5F3'>
                        <td width='28%' style='border-right:2px solid #BBBBBB; color:#5b5b5b'>Username: <strong></td>
                        <td width='72%' style='color:#5b5b5b'><?php echo $this->emp_id;?></strong></td>
                      </tr>


                       <tr bgcolor='#D9DCE5'>
                          <td style='border-right:2px solid #BBBBBB; color:#5b5b5b'>Password: <strong></td>
                          <td style='color:#5b5b5b'><?php echo $this->password;?></strong></td>
                       </tr>            
							
							
							
										</table>
                                        <div style='padding:20px 0 10px 5px;font-family:Verdana;font-size:14px;'>Please <a href='" . BASE_URL . "index/popup' target='_blank' style='color:#b3512f;'>click here</a> to login  to your XNet account.</div>
								
                                </div>

 
      
