<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if(empty($this->empdata)){?>
    <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>
					No data found.
				<?php }else{?>
					Employee inactivated.
				<?php }?>
	</div>
<?php
}
else
{
 sapp_Global::generateClientValidations($this->form);?>
<?php if (count($this->messages)) {?>
	<div id="dispemppersonal" class="settingssuccess">
		<?php 
			foreach ($this->messages as $message)
			{
				$flag = array();				
				$flag = array_keys($message);
				echo "<div id='messageData' class='ml-alert-1-$flag[0]'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
				echo $message[$flag[0]];
				echo "</div></div>";
			} 
		?>
	</div>
	
<?php } ?>
<?php 	
if(!empty($this->employeedata))
 {
       echo $this->employeedetails($this->employeedata,'edit',$this->id); 
 } 

?>
<div class="right-block-data">
	<div id="error_message" style="display:none;"></div>
	<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id;
          echo $this->form->user_id; 
		?>
			<div class="total-form-controller">
				<div class="new-form-ui">
				  <label>Personal Email</label>
				<div class="division"><?php echo $this->form->personalemail; ?></div>
				<?php if(isset($this->msgarray['personalemail'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->personalemail->getId(); ?>"><?php echo $this->msgarray['personalemail'];?></span>
				<?php }?>
				</div>
	
    			<div class="separetor-heading">Permanent Address</div>
				
				<div class="new-form-ui">
			  <label>Street Address</label>
				<div class="division"><?php echo $this->form->perm_streetaddress; ?></div>
				<?php if(isset($this->msgarray['perm_streetaddress'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->perm_streetaddress->getId(); ?>"><?php echo $this->msgarray['perm_streetaddress'];?></span>
				<?php }?>
				</div>
				
				<div class="new-form-ui">
				  <label>Country</label>
				<div class="division"><?php echo $this->form->perm_country; ?>
				<?php if(isset($this->msgarray['perm_country'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->perm_country->getId(); ?>"><?php echo $this->msgarray['perm_country'];?></span>
				<?php }?>
				<?php if(in_array('country',$this->popConfigPermission)) { ?>	
						<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'countries/addnewcountry' ?>','Country');"> Add Country</span>			
					<?php } ?>
				</div>
				</div>
												
				<div class="new-form-ui">
				  <label>State</label>
				<div class="division"><?php echo $this->form->perm_state; ?>
                				<?php if(isset($this->msgarray['perm_state'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->perm_state->getId(); ?>"><?php echo $this->msgarray['perm_state'];?></span>
				<?php } else {?>
				   <span class="errors" id="errors-<?php echo $this->form->perm_state->getId(); ?>" style="display:none;"></span>
				<?php }?>

				<?php if(in_array('state',$this->popConfigPermission)) { ?>	
						<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'states/addnewstate' ?>','State');"> Add State</span>			
					<?php } ?>
				</div>
				
				</div>
				
				<div class="new-form-ui">
				  <label>City</label>
				<div class="division"><?php echo $this->form->perm_city; ?>
                				<?php if(isset($this->msgarray['perm_city'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->perm_city->getId(); ?>"><?php echo $this->msgarray['perm_city'];?></span>
				<?php } else {?>
				   <span class="errors" id="errors-<?php echo $this->form->perm_city->getId(); ?>" style="display:none;"></span>
				<?php }?>

				<?php if(in_array('city',$this->popConfigPermission)) { ?>	
						<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'cities/addnewcity' ?>','City');"> Add City</span>			
					<?php } ?>
				</div>
				
				</div>
				
				<div class="new-form-ui">
				  <label>Postal Code</label>
				<div class="division"><?php echo $this->form->perm_pincode; ?></div>
				<?php if(isset($this->msgarray['perm_pincode'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->perm_pincode->getId(); ?>"><?php echo $this->msgarray['perm_pincode'];?></span>
				<?php }?>
				</div>
				
				<div class="new-form-ui-line">
				  	<div class="division"><?php echo $this->form->address_flag; ?>Check if permanent and current address are same.</div>
					<span class="errors" id="errors-<?php echo $this->form->address_flag->getId(); ?>" style="display:none;"><?php echo isset($this->msgarray['address_flag'])?$this->msgarray['address_flag']:"";?></span>
				</div>
				
				<div class="separetor-heading">Current Address</div>				
			
            	<div class="new-form-ui">
				  <label >Street Address</label>
				<div class="division"><?php echo $this->form->current_streetaddress; ?></div>
				<?php if(isset($this->msgarray['current_streetaddress'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->current_streetaddress->getId(); ?>"><?php echo $this->msgarray['current_streetaddress'];?></span>
				<?php }?>
				</div>
				
				<div class="new-form-ui">
				  <label >Country</label>
				<div class="division"><?php echo $this->form->current_country; ?>
                				<?php if(isset($this->msgarray['current_country'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->current_country->getId(); ?>"><?php echo $this->msgarray['current_country'];?></span>
				<?php }?>
				</div>
				</div>
												
				<div class="new-form-ui">
				  <label >State</label>
				<div class="division"><?php echo $this->form->current_state; ?>
                				<?php if(isset($this->msgarray['current_state'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->current_state->getId(); ?>"><?php echo $this->msgarray['current_state'];?></span>
				<?php } else {?>
				   <span class="errors" id="errors-<?php echo $this->form->current_state->getId(); ?>" style="display:none;"></span>
				<?php }?>
				</div>
				
				</div>
				
				<div class="new-form-ui">
				  <label >City</label>
				<div class="division"><?php echo $this->form->current_city; ?>
                				<?php if(isset($this->msgarray['current_city'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->current_city->getId(); ?>"><?php echo $this->msgarray['current_city'];?></span>
				<?php } else {?>
				   <span class="errors" id="errors-<?php echo $this->form->current_city->getId(); ?>" style="display:none;"></span> 
				<?php }?>			
				</div>
				
				</div>
				
				<div class="new-form-ui">
				  <label >Postal Code</label>
				<div class="division"><?php echo $this->form->current_pincode; ?></div>
				<?php if(isset($this->msgarray['current_pincode'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->current_pincode->getId(); ?>"><?php echo $this->msgarray['current_pincode'];?></span>
				<?php }?>
				</div>
				
				<div class="separetor-heading">Emergency Details</div>
				
				<div class="new-form-ui">
				  <label >Name</label>
				<div class="division"><?php echo $this->form->emergency_name; ?></div>
				<?php if(isset($this->msgarray['emergency_name'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->emergency_name->getId(); ?>"><?php echo $this->msgarray['emergency_name'];?></span>
				<?php }?>
				</div>
				
				<div class="new-form-ui">
				  <label >Email</label>
				<div class="division"><?php echo $this->form->emergency_email; ?></div>
				<?php if(isset($this->msgarray['emergency_email'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->emergency_email->getId(); ?>"><?php echo $this->msgarray['emergency_email'];?></span>
				<?php }?>
				</div>
				
				<div class="new-form-ui">
				  <label >Number</label>
				<div class="division"><?php echo $this->form->emergency_number; ?></div>
				<?php if(isset($this->msgarray['emergency_number'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->emergency_number->getId(); ?>"><?php echo $this->msgarray['emergency_number'];?></span>
				<?php }?>
				</div>
									
				<div class="separetor-heading">Work Address</div>
				<div class="work-address">
				<div class="division">
						<?php		
						if(!empty($this->dataArray))
							{
								$address1 = '';
								if(isset($this->dataArray['address1']))
									$address1 = explode(',',$this->dataArray['address1']);
								if(!empty($address1))
								{
									for($i=0;$i<sizeof($address1);$i++)
									{
										echo $address1[$i].',<br>';
									}
								}
								else
								{
									if($address1 !='')
										echo $address1.', ';
								}
								if($this->dataArray['city'] != '')
									echo $this->dataArray['city'].', ';
								if($this->dataArray['state'] != '')
									echo $this->dataArray['state'].', ';
								if($this->dataArray['country'] != '')
									echo $this->dataArray['country'].'.';
							}
						?>
					</div>
				</div>
			</div>
			<div class="new-form-ui-submit">
					<?php echo $this->form->submit; ?>
			</div>  
	</form>
</div>	
</div>

   <div id="countriesContainer"  style="display: none; overflow: auto;">
		<div class="heading">
			<a href="javascript:void(0)">
			<img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right"
				border="0" hspace="3" vspace="5" class="closeAttachPopup"
				style="margin: -24px 8px 0 0;"> </a>
		</div>

			<iframe id="countriesCont" class="business_units_iframe" frameborder="0"></iframe>

	</div>
	
	<div id="statesContainer"  style="display: none; overflow: auto;">
		<div class="heading">
			<a href="javascript:void(0)">
			<img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right" border="0" hspace="3" vspace="5" class="closeAttachPopup" style="margin: -24px 8px 0 0;"> </a>
		</div>

		<iframe id="statesCont" class="business_units_iframe" frameborder="0"></iframe>
	</div>  

	<div id="citiesContainer"  style="display: none; overflow: auto;">
		<div class="heading">
			<a href="javascript:void(0)">
			<img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right" border="0" hspace="3" vspace="5" class="closeAttachPopup" style="margin: -24px 8px 0 0;"> </a>
		</div>

		<iframe id="citiesCont" class="business_units_iframe" frameborder="0"></iframe>
	</div> 

<script type='text/javascript'>
$(document).ready(function(){
<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispmsgempcomm').fadeOut('slow');
		},3000);

<?php } ?>
	$("#empcommunicationdetails").addClass('active');
    $("#empcommunicationdetails").removeAttr("onclick");
})

<?php if(empty($this->data))
{
  if (isset($this->msgarray['personalemail']) || isset($this->msgarray['personalnumber']) || isset($this->msgarray['perm_streetaddress']) || isset($this->msgarray['perm_pincode']))
	 {
?>
		        $('#address_flag').removeAttr('checked');
<?php }
} 
?>
</script>

<?php } ?>
