<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php // Start :Condition to check whether organisation is created or not
    if($this->orgdata !='' && $this->orgdata == 'noorgdata'){?>
    <div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>	
	 Organization information is not added yet.
			
</div>
<?php 
}else
{
	if(empty($this->datarr))
	{
		if($this->configuremsg == 'notconfigurable') { ?>
			<div class="ml-alert-1-info m1-info-set-2"><div class="style-1-icon info"></div>You cannot create a department as the system configuration has not been set.</div>
		<?php } 
	}
	?>
	<?php if($this->ermsg == 'nodata') { ?>
	<div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>No data found.</div>
	<?php } else { ?>

	<?php if(isset($this->messages['msgtype']) && isset($this->messages['message']))
	{ ?>
		<div id="popupmessage" class="settingssuccess">
			<?php 
					$flag = $this->messages['msgtype'];
					echo "<div id='messageData' class='ml-alert-1-$flag'><div style='display:block;'><span class='style-1-icon $flag'></span>";
					echo $this->messages['message'];
					echo "</div></div>";
			?>
		</div>	
		
	<?php } ?>

	<?php if($this->popup == 'close') { ?>
	<div class="ml-alert-1-success">
	<div class="style-1-icon success"></div>
	Department <?php echo $this->eventact; ?> successfully
	</div>

	<?php } else { ?>
	<?php sapp_Global::generateClientValidations($this->form);?>
	<div id="error_message" style="display:none;"></div>

	<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
			<?php echo $this->form->id; ?>
			<input type='hidden' id='unitId' name='unitId' value="<?php echo $this->unitid; ?>" />
			<input type='hidden' name='call1' id='call1' value="<?php echo $this->call; ?>" />
			<input type='hidden' name='popup' id='popup' value="<?php echo $this->popup; ?>" />
			 <div class="total-form-controller">
				<div class="new-form-ui">
				  <label class="required">Department Name</label>
				<div class="division"><?php echo $this->form->deptname; ?></div>
					 <?php if(isset($this->msgarray['deptname'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->deptname->getId(); ?>"><?php echo $this->msgarray['deptname'];?></span>
				  <?php }?>
				</div>		
				
				<div class="new-form-ui">
				   <label class="required">Department Code <img class="tooltip" title="Example : DSTM, DST1, DS" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
					<div class="division"><?php echo $this->form->deptcode; ?></div>				
					<?php if(isset($this->msgarray['deptcode'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->deptcode->getId(); ?>"><?php echo $this->msgarray['deptcode'];?></span>
				  <?php }?>
				</div>
				
				<div class="new-form-ui textareaheight">
				  <label>Description</label>
				<div class="division"><?php echo $this->form->description; ?></div>
				</div>					
				
				<div class="new-form-ui">
				  <label>Department Head</label>
				<div class="division"><?php echo $this->form->depthead; ?></div>
					<?php if(isset($this->msgarray['depthead'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->depthead->getId(); ?>"><?php echo $this->msgarray['depthead'];?></span>
				  <?php }?>	
				</div>


				<div class="new-form-ui">
				  <label>Started On <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"> </label>
				<div class="division"><?php echo $this->form->start_date;?></div>
					<?php if(isset($this->msgarray['start_date'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->start_date->getId(); ?>"><?php echo $this->msgarray['start_date'];?></span>
				  <?php }?>	
				</div>
				
				<div class="new-form-ui">
				  <label class="required">Time Zone</label>
				<div class="division"><?php echo $this->form->timezone; ?></div>
					<?php if(isset($this->msgarray['timezone'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->timezone->getId(); ?>"><?php echo $this->msgarray['timezone'];?></span>
				  <?php }?>	
				</div>
				
				
				<div class="new-form-ui">
				  <label class="required">Country</label>
				<div class="division"><?php echo $this->form->country; ?></div>
					<?php if(isset($this->msgarray['country'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->country->getId(); ?>"><?php echo $this->msgarray['country'];?></span>
				  <?php }?>
				</div>
				
				<div class="new-form-ui">
				  <label class="required">State</label>
				<div class="division"><?php echo $this->form->state; ?></div>
					<?php if(isset($this->msgarray['state'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->state->getId(); ?>"><?php echo $this->msgarray['state'];?></span>
				  <?php }else {?>
					   <span class="errors" id="errors-<?php echo $this->form->state->getId(); ?>" style="display:none;"></span>
				  <?php }?>
				</div>
				
				<div class="new-form-ui">
				  <label class="required">City</label>
				<div class="division"><?php echo $this->form->city; ?></div>
					<?php if(isset($this->msgarray['city'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->city->getId(); ?>"><?php echo $this->msgarray['city'];?></span>
				  <?php }else {?>
				  <span class="errors" id="errors-<?php echo $this->form->city->getId(); ?>" style="display:none;"></span>
				  <?php }?>
				</div>
				
				<div class="new-form-ui textareaheight">
				  <label class="required">Street Address 1</label>
				<div class="division"><?php echo $this->form->address1; ?></div>
					<?php if(isset($this->msgarray['address1'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->address1->getId(); ?>"><?php echo $this->msgarray['address1'];?></span>
				  <?php }?>	
				</div>
				
				<div class="new-form-ui textareaheight">
				  <label>Street Address 2</label>
				<div class="division"><?php echo $this->form->address2; ?></div>
				</div>
				
				<div class="new-form-ui textareaheight">
				  <label>Street Address 3</label>
				<div class="division"><?php echo $this->form->address3; ?></div>
				</div>
			
				
			<div class="new-form-ui-submit">
			<?php echo $this->form->submit; ?>
			<button onclick="closeiframepopup('<?php echo $this->controllername;?>','cancel');" type="button" >Cancel</button>
			</div>
		   </div>
			

	</form>
	<?php }
	}?>
	<script language='javascript'>

	<?php if($this->popup != '') { ?>
			setTimeout(function(){
				closeiframepopup('<?php echo $this->controllername; ?>','refreshgrid');				
			},2000);
	<?php } ?>
	</script>
	<script type='text/javascript'>
	$(document).ready(function(){
			var now = new Date();
			now.setDate(now.getDate()+1);
			//var yearrange = <?php echo "'".date("Y", strtotime("-50 years")).':'.(date('Y')+20)."'"; ?>;
			    var yearrange = <?php echo "'".YEAR.':'.(date('Y')+5)."'"; ?>;
			$('#start_date').datepicker({
							showOn:'both',
							yearRange: yearrange,
							dateFormat: '<?php echo DATEFORMAT_JS;?>',
							buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
							buttonImageOnly: true,
							buttonText: "",
							changeMonth: true,
							changeYear: true,
													showButtonPanel: true ,
							onClose: function(){
								if($("#errors-start_date").length > 0){
									  $("#errors-start_date").remove();
									}
								
							validateorgstartdate(this,'departments',$('#unitId').val());
							}
			});		
				
			<?php if (count($this->messages)) {?>
		  setTimeout(function(){
				$('#popupmessage').fadeOut('slow');
			},3000);

	<?php } ?>
		});
	</script>
<?php } ?>	
