.ui-jqgrid {
	position: relative;
	font-size: 14px;
	font-family: 'PTSansRegular',sans-serif; /*Added by Sapplica */
}

.ui-jqgrid .ui-jqgrid-view {
	position: relative;
	left: 0;
	top: 0;
	padding: .0em;
}

.ui-jqgrid .ui-jqgrid-titlebar {
	padding: 0 10px 7px 10px;
	position: relative;
	border-left: 0 none;
	border-right: 0 none;
	border-top: 0 none;
	border-bottom:1px solid #bbbbbb;
}
/**
**	modified by Sapplica
**  date 5/1/2013
**  ln 28,30
**/
.ui-jqgrid .ui-jqgrid-title {
	float: left;
	margin: .5em 0 0 0;
	color: #3b3b3b !important;
	font-weight: normal;
	text-transform: uppercase !important;  text-shadow: 0 1px 0 #FFFFFF; font-size:15px;
}

.ui-jqgrid .ui-jqgrid-title b{ font-family: 'PTSansCaptionBold'; font-weight: normal; letter-spacing: 0.5px; font-size:14px; }

.ui-jqgrid .ui-jqgrid-titlebar-close {
	/* position: absolute;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;  */
	float: right;
    height: 23px;
    margin: 0 44px 0 0;
    position: absolute;
    top: 8px;
    width: 23px;
    z-index: 1;
}

.ui-jqgrid .ui-jqgrid-titlebar-close span {
	display: -8px;
}

.ui-jqgrid .ui-jqgrid-titlebar-close:hover {
	/*padding: 0;
	margin:-4px 5px 0 -10px;*/
}

.ui-jqgrid .ui-jqgrid-hdiv {
	position: relative;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	border-left: 0 none !important;
	border-top: 0 none !important;
	border-right: 0 none !important;
	/*border-bottom:  0 none !important; */
}

.ui-jqgrid .ui-jqgrid-hbox {
	float: left;
	padding-right: 20px;
}

.ui-jqgrid .ui-jqgrid-htable {
	table-layout: fixed;
	margin: 0;
	color: #3b3b3b; font-size:13px;  font-family: 'PTSansRegular';  text-shadow: 0 1px 0 #ffffff;
}

.ui-jqgrid .ui-jqgrid-htable th {
	min-height: 27px;
	padding: 0 2px 0 2px;
	/*background: none repeat scroll 0 0 #DDDDDD;*/	
}

.ui-jqgrid .ui-jqgrid-htable th div {
	/*overflow: hidden;*/
	position: relative;
	min-height: 27px; color: #3b3b3b !important; font-family: 'PTSansRegular';
	
}

.ui-th-column,.ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	border-top: 0 none;
	border-bottom: 0 none;
	padding:0px 0px 0px 10px;
	
}

.ui-th-ltr,.ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
	/*border-left: 0 none;*/
	border-right: 1px solid #DCDCDC;
}

.ui-th-rtl,.ui-jqgrid .ui-jqgrid-htable th.ui-th-rtl {
	border-right: 0 none;
}

.ui-jqgrid .ui-th-div-ie {
	white-space: nowrap;
	zoom: 1;
	height: 17px;
}

.ui-jqgrid .ui-jqgrid-resize {
	height: 20px !important;
	position: relative;
	cursor: e-resize;
	display: inline;
	overflow: hidden;
}

.ui-jqgrid .ui-grid-ico-sort {
	overflow: hidden;
	position: absolute;
	display: inline;
	cursor: pointer !important;
}

.ui-jqgrid .ui-icon-asc {
	/* margin-top: -3px; */ margin-top: 3px;
	height: 12px;
}

.ui-jqgrid .ui-icon-desc {
	/* margin-top: 3px; */  margin-top:9px;
	height: 12px;
}

.ui-jqgrid .ui-i-asc {
	margin-top: 0;
	height: 16px;
}

.ui-jqgrid .ui-i-desc {
	margin-top: 0;
	margin-left: 13px;
	height: 16px;
}

.ui-jqgrid .ui-jqgrid-sortable {
	cursor: pointer;
}

.ui-jqgrid tr.ui-search-toolbar th {
	border-top-width: 1px !important;
	border-top-color: #c0c0c0 !important;
	border-top-style: ridge !important;
}

tr.ui-search-toolbar input {
	margin: 4px 0 0 0;
}

tr.ui-search-toolbar select {
	margin: 1px 0 0 0;
}

.ui-jqgrid .ui-jqgrid-bdiv {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: auto;
	min-height: 200px !important; /*Custom change to the grid display*/ 
}

.ui-jqgrid .ui-jqgrid-btable {
	table-layout: fixed;
	margin: 0;
}

.ui-jqgrid tr.jqgrow td {
	font-weight: normal;
	overflow: hidden;
	white-space: pre;
	/*height: 22px;*/ height: 26px;
	padding: 0 2px 0 8px;
	border-bottom-width: 1px;
	border-bottom-color: inherit;
	border-bottom-style: solid;
	color: #3b3b3b; font-size:13px;  font-family: 'PTSansRegular';  text-shadow: 0 1px 0 #ffffff; cursor: default;
}
.ui-jqgrid tr.ui-row-ltr td:first-letter {
    text-transform: uppercase;
}
.ui-jqgrid tr.ui-row-ltr td {
	text-align: left;
	/*border-right-width: 1px;
	border-right-color: inherit;
	border-right-style: solid;*/
	border-right: 1px solid #DCDCDC;
	
}
/*
.ui-jqgrid tr.ui-row-ltr td.bvb_action{
	border-right: none;
}*/
.ui-jqgrid tr.ui-row-rtl td {
	text-align: right;
	border-left-width: 1px;
	border-left-color: inherit;
	border-left-style: solid;
}

.ui-jqgrid td.jqgrid-rownum {
	padding: 0 2px 0 2px;
	margin: 0;
	border: 0 none;
}

.ui-jqgrid .ui-jqgrid-resize-mark {
	width: 2px;
	left: 0;
	background-color: #777;
	cursor: e-resize;
	cursor: col-resize;
	position: absolute;
	top: 0;
	height: 100px;
	overflow: hidden;
	display: none;
	border: 0 none;
}

.ui-jqgrid .ui-jqgrid-sdiv {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-left: 0 none !important;
	border-top: 0 none !important;
	border-right: 0 none !important;
}

.ui-jqgrid .ui-jqgrid-ftable {
	table-layout: fixed;
	margin-bottom: 0;
}

.ui-jqgrid tr.footrow td {
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	height: 21px;
	padding: 0 2px 0 2px;
	border-top-width: 1px;
	border-top-color: inherit;
	border-top-style: solid;
}

.ui-jqgrid tr.footrow-ltr td {
	text-align: left;
	border-right-width: 1px;
	border-right-color: inherit;
	border-right-style: solid;
}

.ui-jqgrid tr.footrow-rtl td {
	text-align: right;
	border-left-width: 1px;
	border-left-color: inherit;
	border-left-style: solid;
}

.ui-jqgrid .ui-jqgrid-pager {
	border-left: 0 none !important;
	border-right: 0 none !important;
	border-bottom: 0 none !important;
	margin: 0 !important;
	padding: 3px 0 2px 0 !important;
	position: relative;
	height: 35px;
	white-space: nowrap;
	/*overflow: hidden; */
}

.ui-jqgrid .ui-pager-control {
	position: relative;
}

.ui-jqgrid .ui-pg-table {
	position: relative;
	padding-bottom: 2px;
	width: auto;
	margin: 0;
}

.ui-jqgrid .ui-pg-table td {
	font-weight: normal;
	vertical-align: middle; font-size: 12px;
	/*padding: 1px;*/
}

.ui-jqgrid .ui-pg-button {
	height: 19px !important;
}

.ui-jqgrid .ui-pg-button span {
	display: block;
	margin: 1px;
	float: left;
}

.ui-jqgrid .ui-pg-button:hover {
	padding: 0;
}

.ui-jqgrid .ui-state-disabled:hover {
	/*padding: 1px;*/
}

.ui-jqgrid .ui-pg-input {
	height: 13px;
	font-size: 12px;
	margin: 0;
	/* background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C8C8C8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 3px 0 rgba(18, 16, 11, 0.13) inset;     */
    outline: 0 none;
    /*padding-left: 2px; */
	/*background-color: #FFFFFF;
    border: 1px solid #C6C6C6;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #AFAFAF; width:27px; padding-top: 2px; text-align: center;    */
	border: 1px solid #c6c6c6; background-color: #ffffff; height:28px; -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.10);  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.10); line-height:25px; border-radius: 0px !important; text-align:center; width:35px; font-family: 'PTSansRegular',sans-serif; font-size: 14px; color: #afafaf;
	
}

.ui-jqgrid .ui-pg-selbox {
	font-size: .8em;
	line-height: 18px;
	display: block;
	height: 18px;
	margin: 0;
}

.ui-jqgrid .ui-separator {
	/* height: 18px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 1px;
	float: right; */
	
}

.ui-jqgrid .ui-paging-info {
	font-weight: normal;	
	margin-top: 0px;
	margin-right: 12px; font-size: 12px;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
	/*padding: 1px 0;*/
	cursor: pointer;
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon {
	float: left;
	margin: 0 2px;
}

.ui-jqgrid td input,.ui-jqgrid td select .ui-jqgrid td textarea {
	margin: 0;
}

.ui-jqgrid td textarea {
	width: auto;
	height: auto;
}

.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span {
	display: block;
}

.ui-jqgrid .ui-subgrid {
	margin: 0;
	padding: 0;
	width: 100%;
}

.ui-jqgrid .ui-subgrid table {
	table-layout: fixed;
}

.ui-jqgrid .ui-subgrid tr.ui-subtblcell td {
	height: 18px;
	border-right-width: 1px;
	border-right-color: inherit;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: inherit;
	border-bottom-style: solid;
}

.ui-jqgrid .ui-subgrid td.subgrid-data {
	border-top: 0 none !important;
}

.ui-jqgrid .ui-subgrid td.subgrid-cell {
	border-width: 0 0 1px 0;
}

/* 
.ui-jqgrid .loading {
	position: absolute;
	top: 45%;
	left: 45%;
	width: auto;
	z-index: 101;
	padding: 6px;
	margin: 5px;
	text-align: center;
	font-weight: bold;
	display: none;
	border-width: 2px !important;
}*/

.ui-jqgrid .jqgrid-overlay {
	display: none;
	z-index: 100;
}

* html .jqgrid-overlay {
	width: expression(this.parentNode.offsetWidth + 'px');
	height: expression(this.parentNode.offsetHeight + 'px');
}

* .jqgrid-overlay iframe {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: expression(this.parentNode.offsetWidth + 'px');
	height: expression(this.parentNode.offsetHeight + 'px');
}

.ui-jqgrid .ui-userdata {
	border-left: 0 none;
	border-right: 0 none;
	height: 21px;
	overflow: hidden;
}

.ui-jqdialog {
	display: none;
	/*width: 300px;*/ width:620px;
	position: absolute;
	/*padding: .2em;*/
	font-size: 13px;
	overflow: visible;
	 background: url(popup-bg.png) repeat scroll 0 0 transparent;
    border: 1px solid #141414 !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    overflow: hidden;
    padding: 1.2em;
    position: absolute; 
	top:20%; 
	left:30% ;
}


.ui-jqdialog .ui-jqdialog-titlebar {
	/*padding: .3em .2em;*/ padding: 10px 10px 2px 18px;
	position: relative; border-bottom: 1px solid #bbbbbb;
}

.ui-jqdialog .ui-jqdialog-title {
	/*margin: .1em 0 .2em; */color: #3b3b3b; font-size: 16px; font-family: 'PTSansRegular'; 
}

.ui-jqdialog .ui-jqdialog-titlebar-close {
	height: 24px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 12px;
    top: 10px;
    width: 24px
	/* top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px; */
}

.ui-jqdialog .ui-jqdialog-titlebar-close span {
	display: block;
	margin: 1px;
}

.ui-jqdialog .ui-jqdialog-titlebar-close:hover,.ui-jqdialog .ui-jqdialog-titlebar-close:focus
	{
	padding: 0;
}

.ui-jqdialog-content,.ui-jqdialog .ui-jqdialog-content {
/*	border: 0;
	padding: .3em .2em;
	background: none;
	height: auto;*/
		position: relative;
	border: 0;
	/*padding: .5em 1em;*/ padding: 0;
	background: none;
	overflow: auto;
	zoom: 1; background-color: #ffffff;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 3px 3px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 3px 3px rgba(0, 0, 0, 0.75);

}

.ui-jqdialog .ui-jqconfirm {
	padding: .4em 1em;
	border-width: 3px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	overflow: visible;
	display: none;
	height: 80px;
	width: 220px;
	text-align: center;
}

.ui-jqdialog-content .FormGrid {
	margin: 0;
}

.ui-jqdialog-content .EditTable {
	width: 100%;
	margin-bottom: 0;
}

.ui-jqdialog-content .DelTable {
	width: 100%;
	margin-bottom: 0;
}

.EditTable td input,.EditTable td select,.EditTable td textarea {
	margin: 0;
}

.EditTable td textarea {
	width: auto;
	height: auto;
}

.ui-jqdialog-content td.EditButton {
	text-align: right;
	border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	padding-bottom: 5px;
	padding-top: 5px;
}

.ui-jqdialog-content td.navButton {
	text-align: center;
	border-left: 0 none;
	border-top: 0 none;
	border-right: 0 none;
	padding-bottom: 5px;
	padding-top: 5px;
}

.ui-jqdialog-content .CaptionTD {
	text-align: left;
	vertical-align: top;
	border-left: 0 none;
	border-right: 0 none;
	border-bottom: 0 none;
	/*padding: 1px;*/ padding: 0px 18px; line-height: 41px;
	white-space: nowrap;
}

.ui-jqdialog-content .DataTD {
	/*padding: 1px;*/ padding: 0; line-height: 41px;
	border-left: 0 none;
	border-right: 0 none;
	border-bottom: 0 none;
	vertical-align: top;
}

.ui-jqdialog-content .form-view-data {
	/* white-space: pre; */
}

.fm-button {
	display: inline-block;
	margin: 0 4px 0 0;
	padding: .4em .5em;
	text-decoration: none !important;
	cursor: pointer;
	position: relative;
	text-align: center;
	zoom: 1;
}

.fm-button-icon-left {
	padding-left: 1.9em;
}

.fm-button-icon-right {
	padding-right: 1.9em;
}

.fm-button-icon-left .ui-icon {
	right: auto;
	left: .2em;
	margin-left: 0;
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.fm-button-icon-right .ui-icon {
	left: auto;
	right: .2em;
	margin-left: 0;
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

#nData {
	float: right;
	margin: 3px;
	padding: 0;
	width: 24px;
}
#pData {
	float: left;
	margin: 3px;
	padding: 0;
	width: 24px;
}

.ui-jqgrid .selected-row,div.ui-jqgrid .selected-row td {
	font-style: normal;
	border-left: 0 none;
}

.ui-jqgrid .tree-wrap {
	float: left;
	position: relative;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
}

.ui-jqgrid .tree-minus {
	position: absolute;
	height: 18px;
	width: 18px;
	overflow: hidden;
}

.ui-jqgrid .tree-plus {
	position: absolute;
	height: 18px;
	width: 18px;
	overflow: hidden;
}

.ui-jqgrid .tree-leaf {
	position: absolute;
	height: 18px;
	width: 18px;
	overflow: hidden;
}

.ui-jqgrid .treeclick {
	cursor: pointer;
}

.jqmOverlay {
	background-color: #0A0A0A;
	opacity: 0.6 !important;
}

* iframe.jqm {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: expression(this.parentNode.offsetWidth + 'px');
	height: expression(this.parentNode.offsetHeight + 'px');
}

.ui-jqgrid-dnd tr td {
	border-right-width: 1px;
	border-right-color: inherit;
	border-right-style: solid;
	height: 20px;
}

.ui-jqgrid .ui-jqgrid-title-rtl {
	float: right;
	margin: .1em 0 .2em;
}

.ui-jqgrid .ui-jqgrid-hbox-rtl {
	float: right;
	padding-left: 20px;
}

.ui-jqgrid .ui-jqgrid-resize-ltr {
	float: right;
	margin: -2px -2px -2px 0;
}

.ui-jqgrid .ui-jqgrid-resize-rtl {
	float: left;
	margin: -2px 0 -1px -3px;
}

.ui-jqgrid .ui-sort-rtl {
	left: 0;
}

.ui-jqgrid .tree-wrap-ltr {
	float: left;
}

.ui-jqgrid .tree-wrap-rtl {
	float: right;
}

.ui-jqgrid .ui-ellipsis {
	text-overflow: ellipsis;
	-moz-binding: url('ellipsis-xbl.xml#ellipsis');
}

.ui-searchFilter {
	display: none;
	position: absolute;
	z-index: 770;
	overflow: visible;
}

.ui-searchFilter table {
	position: relative;
	margin: 0;
	width: auto;
}

.ui-searchFilter table td {
	margin: 0;
	padding: 1px;
}

.ui-searchFilter table td input,.ui-searchFilter table td select {
	margin: .1em;
}

.ui-searchFilter .ui-state-default {
	cursor: pointer;
}

.ui-searchFilter .divider {
	height: 1px;
}

.ui-searchFilter .divider div {
	background-color: black;
	height: 1px;
}
.EditTable .ui-widget-content {  border: 0 none !important; }

.oddclass {
	background: #FFFFFF !important; font-family: 'PTSansRegular'; font-size:13px;
	/*border: 1px solid #BBBBBB !important;*/
}

.evenclass { 
	background: #E5E5E5 !important;
	/*border: 1px solid #BBBBBB !important; */   font-family: 'PTSansRegular'; font-size:13px; 
}
#Act_Buttons { background-color: #E5E5E5; width:100%; float: left; height: 41px; }
/*#trv__action  td.CaptionTD  b { font-weight: normal; }*/
.navButton1 {float:right; margin-right: 10px; margin-top: 5px; width: 60px;}
#v__action span{ float: left; padding-top: 6px; position: relative; }

/*.wrapperdivright .blockElement { top: 100px !important;}*/