<?php
/*********************************************************************************

 *  Copyright (C) 2014 Sapplica
 *

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>
<style>
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end{border: medium none; padding: 0 1px;}
.custom_1, .custom_1 div, .custom_1 span {   background-color: #b31b1b;    color: #fff; }
.custom_2, .custom_2 div, .custom_2 span {   background-color: #e32636;    color: #fff; }
.custom_3, .custom_3 div, .custom_3 span {   background-color: #e52b50;    color: #fff; }
.custom_4, .custom_4 div, .custom_4 span {   background-color: #9966cc;    color: #fff; }
.custom_5, .custom_5 div, .custom_5 span {   background-color: #915c83;    color: #fff; }
.custom_6, .custom_6 div, .custom_6 span {   background-color: #4b5320;    color: #fff; }
.custom_7, .custom_7 div, .custom_7 span {   background-color: #a52a2a;    color: #fff; }
.custom_8, .custom_8 div, .custom_8 span {   background-color: #6e7f80;    color: #fff; }
.custom_9, .custom_9 div, .custom_9 span {   background-color: #ff2052;    color: #fff; }
.custom_10, .custom_10 div, .custom_10 span {   background-color: #007fff;    color: #fff; }
.custom_11, .custom_11 div, .custom_11 span {   background-color: #98777b;    color: #fff; }
.custom_12, .custom_12 div, .custom_12 span {   background-color: #3d2b1f;    color: #fff; }
.custom_13, .custom_13 div, .custom_13 span {   background-color: #318ce7;    color: #fff; }
.custom_14, .custom_14 div, .custom_14 span {   background-color: #0d98ba;    color: #fff; }
.custom_15, .custom_15 div, .custom_15 span {   background-color: #8a2be2;    color: #fff; }
.custom_16, .custom_16 div, .custom_16 span {   background-color: #79443b;    color: #fff; }
.custom_17, .custom_17 div, .custom_17 span {   background-color: #0095b6;    color: #fff; }
.custom_18, .custom_18 div, .custom_18 span {   background-color: #006a4e;    color: #fff; }
.custom_19, .custom_19 div, .custom_19 span {   background-color: #873260;    color: #fff; }
.custom_20, .custom_20 div, .custom_20 span {   background-color: #0070ff;    color: #fff; }
.custom_21, .custom_21 div, .custom_21 span {   background-color: #cb4154;    color: #fff; }
.custom_22, .custom_22 div, .custom_22 span {   background-color: #a52a2a;    color: #fff; }
.custom_23, .custom_23 div, .custom_23 span {   background-color: #480607;    color: #fff; }
.custom_24, .custom_24 div, .custom_24 span {   background-color: #800020;    color: #fff; }
.custom_25, .custom_25 div, .custom_25 span {   background-color: #cc5500;    color: #fff; }
.custom_26, .custom_26 div, .custom_26 span {   background-color: #8a3324;    color: #fff; }
.custom_27, .custom_27 div, .custom_27 span {   background-color: #bd33a4;    color: #fff; }
.custom_28, .custom_28 div, .custom_28 span {   background-color: #702963;    color: #fff; }
.custom_29, .custom_29 div, .custom_29 span {   background-color: #007aa5;    color: #fff; }
.custom_30, .custom_30 div, .custom_30 span {   background-color: #e03c31;    color: #fff; }

.apply_leave_div{float: right;}
.apply_button{background: #ea7c2e; color: #fff; border:none; padding:6px 16px; cursor: pointer; font-size:14px;}
.info_div{   background: #fff; border: 1px dashed #ccc; color: #333; padding: 10px; text-align: center;  width: 40%; float:right; margin:0 50px 0 0;}

</style>
<script type='text/javascript'>

		$(document).ready(function(){

			var fileCounter = 0;
			$("a[rel^='prettyPhoto']").prettyPhoto({social_tools : '', deeplinking: false});

			$("#employeedocs").addClass('active');
			$("#employeedocs").removeAttr("onclick");

			$("#fileupload").uploadFile({
				url:base_url+"/uploadpayslip/uploadsave",
				fileName: "myfile",
			    allowedTypes:"*",
			    returnType:"json",
			    formData: {},
			    showFileCounter:false,
			    duplicateStrict:true,
			    showDelete:true,
			    showAbort: false,
			    showDone:false,
			    showCancel: false,
			    uploadButtonClass:'upload-attachment',
			    dragDrop:false,
			   deletelStr:'<i id="crossbutton" class="fa fa-times-circle" onclick = "hideEmpDetails()"></i>',
			    dynamicFormData: function () {
			        return {};
			    },
			    onSelect:function(files)
			    {
			    	$.blockUI({ width:'50px',message: $("#spinner").html() });
					fileCounter = files.length;
					$('tbody').children().remove();

			    },
			    onSuccess:function(files,data,xhr)
			    {
				    fileCounter--;
					$(".ajax-file-upload-statusbar").remove();
					if($("#empAttendance").css('display') == 'none'){
						$("#empAttendance").css('display','block');
					}

					var rowhtml = '<tr class="row1" >';
					if(data['filedata']['empId']!= null){
						if(data['filedata']['status'] == '<?php echo FILE_INVALID?>'){
							rowhtml += '<td ><span><input disabled="true" type="checkbox"/></span></td>';
						}else{
							rowhtml += '<td><span><input id="'+data['filedata']['empId']+'_'+data['filedata']['month']+'_'+data['filedata']['year']+'" class="select_file _@_@_'+data['filedata']['original_name']+'#@#'+data['filedata']['new_name']+'"  type="checkbox"/></span></td>';
						}
						rowhtml += '<td><span>'+data['filedata']['empName']+'</span></td>';
						rowhtml += '<td><span>'+data['filedata']['empId']+'</span></td>';
						rowhtml += '<td><span>'+data['filedata']['month']+'</span></td>';
						rowhtml += '<td><span>'+data['filedata']['year']+'</span></td>';
						if(data['filedata']['status'] == '<?php echo FILE_INVALID?>'){
							rowhtml += '<td><span title="'+data['filedata']['reason']+'"><img class="file_status" src="'+ "<?php echo MEDIA_PATH ?>"+'images/error.png"></span></td>';
						}else{
							rowhtml += '<td><span title="'+data['filedata']['reason']+'"><img class="file_status" src="'+ "<?php echo MEDIA_PATH ?>"+'images/upload_ready.png"></span></td>';
						}
					}else{
						rowhtml += '<td ><span><input disabled="true" type="checkbox"/></span></td>';
						rowhtml += '<td><span>'+files[0]+'</span></td>';
						rowhtml += '<td><span></span></td>';
						rowhtml += '<td><span></span></td>';
						rowhtml += '<td><span></span></td>';
						rowhtml += '<td><span title="'+data['filedata']['reason']+'"><img class="file_status" src="'+ "<?php echo MEDIA_PATH ?>"+'images/error.png"></span></td>';

					}
					rowhtml += '</tr>';
					$('tbody').append(rowhtml);
					if(fileCounter ==0){
	                	$.unblockUI();
	                }
			    },
			    deleteCallback:function(data,pd)
				{
			    	if(data){
			    		$("#loaderimgprofile").show();
				    	$.post(base_url+"/uploadpayslip/uploaddelete",{op: "delete", doc_new_name: data.filedata.new_name},
						        function(resp, textStatus, jqXHR)
						        {
					        		if(textStatus == 'success')
					        		{
							    		var x_original_files = $('#file_original_names').val().split(',');
							    		var x_new_files = $('#file_new_names').val().split(',');

							    		var org_index = x_original_files.indexOf(data.filedata.original_name);
							    		if (org_index !== -1) {
							    			x_original_files.splice(org_index, 1);
							    		    org_data = x_original_files.join(',');
							    		    $('#file_original_names').val(org_data);
							    		}

							    		var new_index = x_new_files.indexOf(data.filedata.new_name);
							    		if (new_index !== -1) {
							    			x_new_files.splice(new_index, 1);
							    		    new_data = x_new_files.join(',');
							    		    $('#file_new_names').val(new_data);
							    		}

										// Remove 'Click to view' button when there are no attachments
										if (x_original_files.length == 0) {
											$(".js_photo_gallery").remove();
										}
					        		}
						        });

				    	// Clear validation message
				    	$("#fileupload_error").remove();

				    	pd.statusbar.hide();
				    	$("#loaderimgprofile").hide();
			    	}
			    }
			});


			$('#empAttendance').on('click','#select_all',function(){
				if($('#select_all').prop('checked')){
					$('.select_file').prop('checked',true);
				}else{
					$('.select_file').prop('checked',false);
				}
			});

		});

		function hideEmpDetails()
		{
			$("#EmpDetails").hide();
		}

		function getTimeTaken(startTime){
			endTime = new Date();
			millisecondsTaken = endTime-startTime;
			var hours = Math.floor(millisecondsTaken / 3600000);
			var minutes = Math.floor(millisecondsTaken / 60000);
			var seconds = ((millisecondsTaken % 60000) / 1000).toFixed(0);
			return (hours < 10 ? '0' : '') +hours + ":" + (minutes < 10 ? '0' : '') +minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
		}

		function validateEmpDoc(overwrite)
		{
			var timeStart = '';
			var timeEnd = '';
			var selectedFiles = 0;
			var uploadedFiles = 0;
			$('tr', 'tbody').each(function(e){
				if($("td:nth-child(1)",this).find('input:checked').length == 1 && !$("td:nth-child(1)",this).find('input:checked').prop('disabled')){
					noFileSelected = false;
					selectedFiles ++
				}
			});

			$(".progress_info").text('');

			if(selectedFiles == 0){

				jAlert('Please select file to upload.');
			}else{
				jConfirm("In case any selected file is already saved, it will be overwritten.Do you wish to continue?",'Attention',function(response){
					if(response){
						timeStart = new Date();
						$('#submit_button').val('Uploading..');
						$('#submit_button').css('background-color','#7b7f81');
						$('#submit_button').css('border-color','#7b7f81');
						$('#submit_button').attr('disabled',true);
						$('tr', 'tbody').each(function(e){
							if($("td:nth-child(1)",this).find('input:checked').length == 1){
								$("td:nth-child(6)",this).find('span').attr('title','Uploading...');
								$("td:nth-child(6)",this).find('img').prop('src',"<?php echo MEDIA_PATH ?>"+'images/loading1.gif');
								var filenames = $("td:nth-child(1)",this).find('input').attr('class').split(" _@_@_")[1];
								var file_original_names = 	filenames[0];
								var file_new_names = filenames[1];
								$.ajax({
									url:base_url+"/uploadpayslip/save",
										type: "POST",
										dataType: 'json',
										async:false,
										data: 'filenames='+filenames,
										success: function(response) {
											$("#select_all").prop('checked',false);
											$("#"+response['id']).prop('disabled',true);
											$("#"+response['id']).prop('checked',false);
											$("#"+response['id']).removeAttr('class');
											var parentrow = $("#"+response['id']).parent().parent().parent();
											if(response['result']=='success'){
												$("td:nth-child(6)",parentrow).find('span').attr('title','Uploaded');
												$("td:nth-child(6)",parentrow).find('img').prop('src',"<?php echo MEDIA_PATH ?>"+'images/upload_successful.png');
												uploadedFiles++;
											}else{
												$("td:nth-child(6)",parentrow).find('img').prop('src',"<?php echo MEDIA_PATH ?>"+'images/upload_error.png');
												$("td:nth-child(6)",parentrow).find('span').attr('title',response['reason']);
											}
										}
								});
							}
						});
						$.ajax({
							url:base_url+"/uploadpayslip/saveuploadlogs",
								type: "POST",
								dataType: 'json',
								success: function(response) {
									console.log('logged successfully.')
								}
						});
						$('#submit_button').val('Upload');
						$('#submit_button').css('background-color','#208bbd');
						$('#submit_button').css('border-color','#208bbd');
						$('#submit_button').removeAttr('disabled');
						$("#total_files").text("Total selected files: " + selectedFiles);
						$("#uploaded_files").text("Total uploaded files: " + uploadedFiles);
						$("#time_taken").text("Total time taken: " + getTimeTaken(timeStart));
					}
				});
			}



		}



</script>

	<script type="text/javascript" src="<?php echo MEDIA_PATH;?>js/jquery.uploadfile.min.js"></script>
   <!-- <link rel="stylesheet" type="text/css" href="<?php echo MEDIA_PATH; ?>css/uploadfile.css" />-->

    <script type="text/javascript" src="<?php echo MEDIA_PATH;?>js/jquery.prettyPhoto.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo MEDIA_PATH; ?>css/prettyPhoto.css" />
		<div id="error_message" style="display:none;"></div>
		<div>Note: Selected file name should be in following format:<br>
		PaySlip-&lt;EMPID&gt;(&lt;EMPNAME&gt;)_&lt;MONTH&gt;_&lt;YEAR&gt; e.g. PaySlip-XOR56(SHUBHANGI SHUKLA)_JAN_2016
		</div>

			<div class="new-form-ui-1" id="doc_attachment">
		        <label>&nbsp;</label>
		        <div class="division">
		        	<span class="upload-attachment uploadbutsel" id="fileupload">
		        		<b class="sprite upload-icon" style="cursor:pointer;">Browse File</b>
		        	</span>
		        </div>
				<div class="division">
		        	<span class="progress_info" id ="total_files"></span>
				</div>
				<div class="division">
		        	<span class="progress_info" id ="uploaded_files"></span>
				</div>
				<div class="division">
		        	<span class="progress_info" id ="time_taken"></span>
				</div>


			</div>
			<div class="new-form-ui-1">
			<div class="new-form-ui-submit " style = "margin-top:25px;">
				<input type="hidden" name="file_original_names" id="file_original_names" value="">
				<input type="hidden" name="file_new_names" id="file_new_names" value="">
				<input type="hidden" name="userid" id="userid" value="<?php echo $this->id;?>">
				<input id ="submit_button" type="button" value="Upload" onclick="validateEmpDoc(false);">
			</div>
			</div>
		<div id="empAttendance" class="slimScrollDiv"
			style="position: relative; overflow: hidden; width: 250px; height: auto; display: none" >
			<div id="attendance" class="details_data_display_block newtablegrid"
				style="overflow: hidden; width: 250px; height: auto; background: rgb(204, 204, 204) none repeat scroll 0% 0%; padding-bottom: 2px;">
				<table id="attendanceTable" class="grid" width="100%" cellspacing="0"
					cellpadding="4" border="0" align="center">
					<thead>
							<th><input type="checkbox" id="select_all"></th>
							<th><a>NAME</a></th>
							<th><a>EMPLOYEE ID</a></th>
							<th><a>MONTH</a></th>
							<th><a>YEAR</a></th>
							<th><a>STATUS</a></th>
					</thead>
					<tbody>
					</tbody>
				</table>
				</div>
				</div>




