<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
<?php 
}else
{
sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		    <div class="new-form-ui">
			  <label class="required">Geography Code <img class="tooltip" title="Ex: USA" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->geographycode; ?></div>
			<?php if(isset($this->msgarray['geographycode'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->geographycode->getId(); ?>"><?php echo $this->msgarray['geographycode'];?></span>
			<?php }?>
			</div>
			<div class="new-form-ui">
			  <label>Default Geography Group <img class="tooltip" title="Ex: Americas" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->defaultGeographyGroup; ?></div>
			<?php if(isset($this->msgarray['defaultGeographyGroup'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->defaultGeographyGroup->getId(); ?>"><?php echo $this->msgarray['defaultGeographyGroup'];?></span>
			<?php }?>
			</div>
			<div class="new-form-ui">
			  <label>Geography Group <img class="tooltip" title="Ex: USA" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->geographygroupname; ?></div>
			<?php if(isset($this->msgarray['geographygroupname'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->geographygroupname->getId(); ?>"><?php echo $this->msgarray['geographygroupname'];?></span>
			<?php }?>
			</div>
			<div class="new-form-ui">
			  <label>Geography Region <img class="tooltip" title="Ex: United States, Brazil, Mexico" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->geographyregion; ?></div>
			<?php if(isset($this->msgarray['geographyregion'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->geographyregion->getId(); ?>"><?php echo $this->msgarray['geographyregion'];?></span>
			<?php }?>
			</div>
			<div class="new-form-ui">
			  <label class="required">Currency</label>
			<div class="division"><?php echo $this->form->currency; ?>
				<?php if(isset($this->msgarray['currency'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->currency->getId(); ?>"><?php echo $this->msgarray['currency'];?></span>
				<?php }?>
				
				<?php if(in_array('currency',$this->popConfigPermission)) { ?>	
						<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'currency/addpopup' ?>','Currency');"> Add Currency </span>			
					<?php } ?>
			</div>
			</div>
			<div class="new-form-ui">
			  <label>Geography City <img class="tooltip" title="Ex: New York" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->geographycityname; ?></div>
			<?php if(isset($this->msgarray['geographycityname'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->geographycityname->getId(); ?>"><?php echo $this->msgarray['geographycityname'];?></span>
			<?php }?>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>geographygroup';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>

<div id="currencyContainer"  style="display: none; overflow: auto;">
	<div class="heading">
		<a href="javascript:void(0)">
	    <img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right" border="0" hspace="3" vspace="5" class="closeAttachPopup" style="margin: -24px 8px 0 0;"> </a>
	</div>

	<iframe id="currencyCont" class="business_units_iframe" frameborder="0"></iframe>
</div>

</form>
<?php } ?>
