<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
		if($this->ermsg !='')
		{
?>
     <div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>No data found.</div>
<?php 
}else
{
sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
		<?php echo $this->form->businessunit_id; ?>
		<?php echo $this->form->department_id; ?>
		<?php echo $this->form->user_id; ?>
        <div class="total-form-controller">
			
			<div class="new-form-ui">
			  <label class="required">Business Unit</label>
			<div class="division">
				<input type="text" disabled value="<?php echo $this->empdetails['businessunit_name'];?>">
			</div>			
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Department</label>
				<div class="division">
					<input type="text" disabled value="<?php echo $this->empdetails['department_name'];?>">
				</div>			
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Employee</label>
				<div class="division">
					<input type="text" disabled value="<?php echo $this->empdetails['userfullname'];?>">
				</div>			
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Add or Remove Leaves <img class="tooltip" title="To remove leaves, append '-' sign before the leave count." src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->leave_limit; ?></div>
			<?php if(isset($this->msgarray['leave_limit'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->leave_limit->getId(); ?>"><?php echo $this->msgarray['leave_limit'];?></span>
			<?php }?>
			</div>
				
			<div class="new-form-ui clearall">
			  <label class="required"><?php echo $this->form->alloted_year->getLabel();?></label>
			<div class="division"><?php echo $this->form->alloted_year; ?></div>
			</div>
			
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>addemployeeleaves';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>
</form>
	
<script type='text/javascript'>
$(document).ready(function(){
});
</script>
<?php } ?>