<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>
<?php
if(($this->editpermission == 'Yes')) { 
	$msgtitle = $this->controllername.'_delete';
	sapp_Helper::editdeleteForView(ADD_EMPLOYEE_LEAVES,$this->controllername,$this->id,$msgtitle); 
}?>
<?php 
		if($this->ermsg !='')
		{
?>
     <div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>No data found.</div>
<?php 
}else
{
sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
		<?php echo $this->form->businessunit_id; ?>
		<?php echo $this->form->department_id; ?>
		<?php echo $this->form->user_id; ?>
		<?php 
sapp_Helper::viewHeader();
sapp_Helper::viewBody('nor','Business Unit',$this->empdetails['businessunit_name'],'Department',$this->empdetails['department_name']);
sapp_Helper::viewBody('alt','Employee',$this->empdetails['userfullname'],$this->form->leave_limit->getLabel(),$this->form->leave_limit->getValue());
sapp_Helper::viewBody('nor',$this->form->alloted_year->getLabel(),$this->form->alloted_year->getValue(),'','');
sapp_Helper::viewFooter();
?>

		<div class="new-form-ui-submit">		
			<?php //if(($this->editpermission == 'Yes')) { ?>
					<!-- <input type="button" onclick="changeeditscreen('<?php //echo $this->controllername;?>',<?php //echo $this->id;?>);" value="Edit" />
					<button onclick="window.location.href='<?php //echo BASE_URL; ?>addemployeeleaves';" id="Cancel" name="Cancel" type="button" >Cancel</button>-->
				

		   <?php //}
		   //else{
			?>
					<!--<input type="button" onclick="window.location.href='<?php// echo BASE_URL; ?>addemployeeleaves';" type="button"  value="Back"  />-->
    	    <?php //} ?>							
		</div>
</div>
</form>
<?php } ?>