<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if(empty($this->empdata)){?>
   <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>
				No data found.
				<?php }else{?>
						Employee deleted
				<?php }?>
	</div>

<?php 
}
else
{	
	if(!empty($this->employeedata))
	 {
			echo $this->employeedetails($this->employeedata,'myemployees',$this->id); 
	 } 
?>

<div class="right-block-data">
	<div id="error_message" style="display:none;"></div>
	<?php if(empty($this->data)){?>
			<div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>Salary details are not configured yet.
			</div>
	<?php }else{?>
			<?php echo $this->form->id;
			echo $this->form->user_id;
			?>
			<div class="total-form-controller cancel-set view-form-detail">
			    <div class="new-form-ui">
				  <label><?php echo $this->form->currencyid->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->currencyid; ?></div>
				</div>
				
				<div class="new-form-ui">
				  <label><?php echo $this->form->bankname->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->bankname; ?></div>
				</div>
		
				<div class="new-form-ui">
			   <label><?php echo $this->form->accountholder_name->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->accountholder_name; ?></div>
				</div>
				
				<div class="new-form-ui">
			   <label><?php echo $this->form->accountholding->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->accountholding; ?></div>
				</div>
				
				<div class="new-form-ui">
				  <label><?php echo $this->form->accountclasstypeid->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->accountclasstypeid; ?></div>
				</div>
												
				<div class="new-form-ui">
				  <label ><?php echo $this->form->bankaccountid->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->bankaccountid; ?></div>
				</div>	
				
				<div class="new-form-ui">
			      <label ><?php echo $this->form->accountnumber->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->accountnumber; ?></div>
				</div>
			</div>
            
	<?php }?>		
			

</div>	
</div>


<script type='text/javascript'>
$(document).ready(function(){

   $("#emp_salary").addClass('active');
   $("#emp_salary").removeAttr("onclick");
})
</script>
<?php } ?>
