<?php
/********************************************************************************* 


 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/


if($this->ermsg == 'invalidUrl')
{
?>
     <div class="ml-alert-1-info"><div class="style-1-icon info"></div>	Invalid URL</div>

<?php
}
else if($this->ermsg =='nodata')
{
?>
     <div class="ml-alert-1-info"><div class="style-1-icon info"></div>	No data found</div>

<?php
}
else if($this->ermsg == 'noprivileges')
{
?>
     <div class="ml-alert-1-info"><div class="style-1-icon info"></div>You are not authorized to access this page</div>

<?php
}
else
{
?>
<?php 
$msgtitle = $this->controllername.'_delete';
sapp_Helper::editdeleteForView(POLICY_DOCS_CATEGORIES,$this->controllername,$this->id,$msgtitle);
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Category',$this->data['category'],'Description',(!sapp_Helper::SappEmpty($this->data['description']))?$this->data['description']:"...");
sapp_Helper::viewFooter();
?>

<!--  <div class="new-form-ui-submit">
	<input type="button" onclick="window.location.href='<?php //echo BASE_URL; ?>categories/edit/id/<?php //echo $this->id; ?>';" value="Edit" />
	<button onclick="window.location.href='<?php //echo BASE_URL; ?>categories';" id="Cancel" name="Cancel" type="button" >Cancel</button>
</div>-->  

<?php	}	?>