<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 	
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
<?php 
}
else
{
$baseUrl = $this->serverUrl().$this->baseUrl();
echo $this->form->id;
$msgtitle = $this->controllername.'_delete';
sapp_Helper::editdeleteForView(REMUNERATIONBASIS,$this->controllername,$this->id,$msgtitle); ?>

<?php 
sapp_Helper::viewHeader();
sapp_Helper::viewBody('nor','Remuneration Type',$this->data['remtype'],'Description',(!empty($this->data['remdesc']))?$this->data['remdesc']:"...",'','');

sapp_Helper::viewFooter(); 
?>
  
	<!--	<div class="new-form-ui-submit">
			<input type="submit" onclick="changeeditscreen('<?php //echo $this->controllername;?>',<?php //echo $this->id;?>);" value="Edit" />
			<button onclick="window.location.href='<?php //echo BASE_URL; ?>remunerationbasis';" type="button" >Cancel</button>
		</div>  -->
      
<?php	}	?>