<?php
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>
<?php 

if($this->ermsg != '')
{
?>
<div class="ml-alert-1-info m1-info-set-2">
    <div class="style-1-icon info"></div>
       No data found.
</div>
<?php 
}
else 
{
$data = $this->data;
$id = $this->id;
$previ_data = $this->previ_data;
//$pa_category_name = $this->category_name;
//echo "cat_ID:".$pa_category_id;
//echo "<pre>"; print_r($data); echo "</pre>";
?>
<?php 
if($this->ermsg == '')  { ?>

<div class="total-form-controller cancel-set data-view-details">
    <div class="position_rel">
       
   </div>
   <?php
    if($previ_data == 'Yes')
    {
    ?>
   <!-- <div class="edit-btn">-->
     <!--   <div class="new-form-ui-submit ">-->
            <!--<input type="button" class="fltright" onclick="window.location.href='<?php //echo BASE_URL; ?>feedforwardquestions';" value="Back" /> -->       
            <?php 
	    if($data['isused'] == 0) 
	    {
	    ?>
		<!--<input type="button" class="fltright" onclick="changeeditscreen('<?php //echo $this->controllername;?>',<?php //echo $this->id;?>);" value="Edit" />-->
		 <?php 
			$msgtitle = $this->controllername.'_delete';
			sapp_Helper::editdeleteForView(FEEDFORWARDQUESTIONS,$this->controllername,$this->id,$msgtitle); 
			?>
		<?php } ?>
       <!-- </div>-->
    <!--</div>-->
    <?php 
    }
    ?>
   <div class="separetor-heading">Questions</div>
   <?php 
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Question',(!empty($this->data['question']))?$this->data['question']:"...",'Description ',(!empty($this->data['description']))?$this->data['description']:"...");
sapp_Helper::viewFooter();
?>
 </div>


<?php } }?>