<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/


if($this->ermsg !='')
		{
?>
     <div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div><?php echo $this->ermsg;?></div>
<?php }else { ?>

<?php if($this->flag == 1) {?>
	<?php if(!empty($this->checkActiveApp)) { ?>
	
	 <?php echo sapp_PerformanceHelper::manager_appraisal_status_dropdown(2,$this->loginuserGroup);?>	
		
	 <input type="hidden" id="appraisalid" name="appraisalid" value="<?php echo $this->checkActiveApp['id'];?>" >
	 <input type="hidden" id="completedmgrids" name="completedmgrids" value="<?php echo $this->checkActiveApp['manager_ids'];?>" >
	<?php } ?> 
<?php } else {?>

			<div class="new-form-ui">
				<label >Business Unit</label>
				<div class="division">
					<select id="bunit_id" name="bunit_id" onchange="checkimp('1',this.value)">
					<option  value="">Select Business Unit</option>
					
					<?php if(!empty($this->bunitdataarr)) { ?>
					<?php 	foreach($this->bunitdataarr as $value) {
					?>
							<option  value="<?php echo $value['id']?>"><?php echo $value['unitname']?></option>
					<?php 	}
						  }
					?>
					</select>
					<span class="errors" id="errors-bunit_id"></span>
				</div>	
			</div>
			
			<div class="new-form-ui" id="deptdiv">
            <label >Department <img class="tooltip" title="Select business unit to populate departments" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
            <div class="division">
					<select id="dept_id" name="dept_id" onchange="checkimp('2',this.value)">
					<option  value="">Select Department</option>
					</select>
					<span class="errors" id="errors-dept_id"></span>
			</div>
        	</div>
        	
        	<?php echo sapp_PerformanceHelper::manager_appraisal_status_dropdown(1);?>
        	
        	<input type="hidden" id="perf_app_flag" name = "perf_app_flag" value="">
        	<?php if(empty($this->bunitdataarr)) { ?> 
	        	<div class="manager_feed_div_block">
	        		<div class="managerresponsediv_msg"> No active Appraisal.</div>
	        	</div>	
        	<?php } ?>	
<?php } ?>

<input type="hidden" id="app_status_val" value="1">	

<div id="managerresponsediv" style="display:none;" class="managerresponsediv">
</div>

<script type="text/javascript">
function displmanagerappstatus(flag,value)
{
	var bunitid = $("#bunit_id").val();
	var deptid = $("#dept_id").val();
	var perf_app_flag = $("#perf_app_flag").val();
	$("#errors-bunit_id").html('');
	$("#errors-dept_id").html('');
	if(value)
	{
		$("#appraisalstatusclear").show();
		if(flag==1)
		{
			if(bunitid == '')
			{
				$("#errors-bunit_id").html("Please select business unit");
				$("#appraisalstatusclear").hide();
				$('#appraisal_status').val('');
				$('#s2id_appraisal_status .select2-choice span').html('Select Appraisal Status');
			}
			else
			{
				if(perf_app_flag == 0)
				{
					if(deptid == '')
					{
						$("#errors-dept_id").html("Please select department");
						$("#appraisalstatusclear").hide();
						$('#appraisal_status').val('');
						$('#s2id_appraisal_status .select2-choice span').html('Select Appraisal Status');
					}
					else
					{
						$('#app_status_val').val(value);
						displaymanagerstatus(2);
					}	
				}
				else
				{
					$('#app_status_val').val(value);
					displaymanagerstatus(2);
				}			
			}
		}
		else
		{
			$('#app_status_val').val(value);
			displaymanagerstatus(1);
		}	
	}
	else
	{
		$('#app_status_val').val(1);
		$("#appraisalstatusclear").hide();
		if(flag==1)
			displaymanagerstatus(2);
		else
			displaymanagerstatus(1);
	}		
}

function displaymanagerstatus(flag)
{
	var appraisalid = $("#appraisalid").val();
	var completedmgrids = $("#completedmgrids").val();
	var bunitid = $("#bunit_id").val();
	var deptid = $("#dept_id").val();
	var perf_app_flag = $("#perf_app_flag").val();
	var app_status_val = $("#app_status_val").val();

	if(flag == 1)
		DATA = 'appraisalid='+appraisalid+'&completedmgrids='+completedmgrids+'&flag='+flag+'&app_status='+app_status_val;
	else
		DATA = 'bunitid='+bunitid+'&deptid='+deptid+'&flag='+flag+'&perf_app_flag='+perf_app_flag+'&app_status='+app_status_val;
		        	$.ajax({
			         	url: base_url+"/appraisalstatus/managerstatus/format/html",
			         	type : 'POST',	
						data : DATA,
						dataType: 'html',
						beforeSend: function () {
							$.blockUI({ width:'50px',message: $("#spinner").html() });
						},
						success : function(response){
							$.unblockUI();	
							$("#managerresponsediv").show();
						    $("#managerresponsediv").html(response);
							
						}
		        	});
		
}

function checkimp(flag,id)
{
	if(flag == 1)
	{
		$("#managerresponsediv").html('');
		$("#appraisalstatusclear").hide();
		$('#s2id_dept_id').find('span').html('Select Department');
		$('select#appraisal_status').select2("val", "");
		$('#app_status_val').val(1);
		if(id)
		{
			$("#errors-bunit_id").html("");
			$("#errors-dept_id").html("");
			$.ajax({
	         	url: base_url+"/appraisalstatus/checkappraisalimplementation/format/json",
	         	type : 'POST',	
				data : 'buid=' + id + '&enable_step=1',
				dataType: 'json',
				beforeSend: function () {
					$.blockUI({ width:'50px',message: $("#spinner").html() });
				},
				success : function(response){
					$.unblockUI();	
					if($.trim(response['flag']) == 'notinitialized')
					{
						$("#errors-bunit_id").html("Performance appraisal is not initialized.");
					}
					if($.trim(response['flag']) == 'deptwise')
					{
						$("#perf_app_flag").val(0);
						
					}
					if($.trim(response['flag']) == 'buwise')
					{
						$("#perf_app_flag").val(1);
						displaymanagerstatus(2);
					}
					
					if($.trim(response['msg']) == 'true')
					{
						
						$("#dept_id").html(response['result']);
					}else
					{
						$("#errors-dept_id").removeClass('errors').addClass('add-coloum');
						$("#errors-dept_id").html("No departments listed as appraisal is configured business unit wise.");
					}
					
					
				}
	    	});
			
		}	
	}else
	{
		$("#managerresponsediv").html('');
		if(id)
		{
			displaymanagerstatus(2);
		}	
	}	
}
function clearappstatus(flag)
{
	$('select#appraisal_status').select2("val", "");
	displmanagerappstatus(flag,'');
}
$(document).ready(function() {
	<?php if($this->flag ==1) { ?>
		displaymanagerstatus('<?php echo $this->flag; ?>');
	<?php }?>

	$('.managerresponsediv').alternateScroll({ 'horizontal-bar-class': 'styled-h-bar'});
});

</script>
<?php }?>