<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php $baseUrl = $this->serverUrl().$this->baseUrl();
sapp_Global::generateClientValidations($this->form);
?>
<?php if($this->successmessage != '') { ?>
<div id="dispmsgncc" class="ml-alert-1-success">
<div class="style-1-icon success"></div>
Employee education details updated successfully.
</div>
<?php }else { ?>
<div id="error_message" style="display:none;"></div>

<div class="poc-ui-data-control">
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		    <div class="new-form-ui ">
			  <label id="injuredDate" class="required"><?php echo $this->form->educationlevel->getLabel(); ?></label>
				<div class="division loca_state_div"><?php echo $this->form->educationlevel; ?></div>
				<?php if(isset($this->msgarray['educationlevel'])){?>
				<span class="errors" id="errors-<?php echo $this->form->educationlevel->getId(); ?>"><?php echo $this->msgarray['educationlevel'];?></span>
				<?php }?>
			</div>
			
		 	<div class="new-form-ui">
			  <label id="injuredDate" class="required">Institution Name</label>
				<div class="division loca_state_div"><?php echo $this->form->institution_name; ?></div>
				<?php if(isset($this->msgarray['institution_name'])){?>
				<span class="errors" id="errors-<?php echo $this->form->institution_name->getId(); ?>"><?php echo $this->msgarray['institution_name'];?></span>
				<?php }?>
			</div>
			
			<div class="new-form-ui ">
				<label class="required">Course</label>
				<div class="division"><?php echo $this->form->course; ?></div>
				 <?php if(isset($this->msgarray['course'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->course->getId(); ?>"><?php echo $this->msgarray['course'];?></span>
				<?php }?>
			</div>
			
			<div class="new-form-ui ">
			    <label class="required">From <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"> </label>
				<div class="division"><?php echo $this->form->from_date; ?></div>
				 <?php if(isset($this->msgarray['from_date'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->from_date->getId(); ?>"><?php echo $this->msgarray['from_date'];?></span>
				<?php }?>
				</div>
															
			<div class="new-form-ui ">
			  <label class="required">To <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"> </label>
			  <div class="division"><?php echo $this->form->to_date; ?></div>
				<?php if(isset($this->msgarray['to_date'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->to_date->getId(); ?>"><?php echo $this->msgarray['to_date'];?></span>
				<?php }?>
			</div>
				
				<div class="new-form-ui ">
			  <label class="required">Percentage</label>
			  <div class="division"><?php echo $this->form->percentage; ?></div>
				<?php if(isset($this->msgarray['percentage'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->percentage->getId(); ?>"><?php echo $this->msgarray['percentage'];?></span>
				<?php }?>
			</div>


        <div class="new-form-ui-submit" id="formSubmit">
        <?php echo $this->form->submit; ?>
        <button onclick="closeiframepopup('educationdetails','cancel');" type="button">Cancel</button>
        </div>
</div>
</form>

<script type='text/javascript'>
$(document).ready(function(){
	//To get the Calender image...
	 var yearrange = <?php echo "'".YEAR.':'.date('Y')."'"; ?>;	
//var yearrange = <?php echo "'".date("Y", strtotime("-30 years")).':'.date('Y')."'"; ?>;
	$('#from_date,#to_date').datepicker({
					showOn:'both',
					maxDate: new Date, 
					yearRange: yearrange,
					dateFormat:"<?php echo DATEFORMAT_JS;?>",
					buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
					buttonImageOnly: true,
					buttonText: "",
					changeMonth: true,
					changeYear: true,
                                        showButtonPanel: true ,
					onClose:function()
					{
						$(this).trigger('blur');
                                                var msg = "";
                if(this.id == 'to_date')
                    msg = "To date should be greater than from date.";
                else 
                    msg = "From date should be less than to date.";       
						from_to_date_validation('from_date','to_date',this,msg);
					}
	});
	
	 });
</script>
<?php } ?>
<script language='javascript'>

<?php if($this->successmessage != '') { ?>
        setTimeout(function(){
		    closeiframepopup('<?php echo $this->controllername; ?>',''); 
		},2000);
<?php } ?>
</script>

