<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if($this->rowexist !=''){?>
<div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>No data found.</div>
<?php
}else
{
 sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		    <div class="new-form-ui clearb">
			  <label class="required">Holiday</label>
			<div class="division"><?php echo $this->form->holidayname; ?></div>
			<?php if(isset($this->msgarray['holidayname'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->holidayname->getId(); ?>"><?php echo $this->msgarray['holidayname'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui clearb">
			  <label>Holiday Group</label>
			<div class="division disabled-input">
						<input type="text" value="<?php echo $this->groupname; ?>" disabled />
						<input type="hidden" name="groupid" id="groupid" value="<?php echo $this->groupval; ?>" />
					</div>			
			</div>
			
			<div class="new-form-ui clearb">
			  <label class="required">Date <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
			<div class="division"><?php echo $this->form->holidaydate; ?></div>
			<?php if(isset($this->msgarray['holidaydate'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->holidaydate->getId(); ?>"><?php echo $this->msgarray['holidaydate'];?></span>
			<?php }?>
			</div>
								
			<div class="new-form-ui clearb textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>holidaydates';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>
</form>

<script type='text/javascript'>
$(document).ready(function(){
var yearrange = <?php echo "'".date("Y", strtotime("-1 years")).':'.(date('Y')+1)."'"; ?>;  

//var yearrange = <?php echo "'".date('Y').':'.date('Y')."'"; ?>;
$('#holidaydate').datepicker({
				showOn:'both',
				yearRange: yearrange,
				dateFormat: '<?php echo DATEFORMAT_JS;?>',
				buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				changeYear: true,
                                showButtonPanel: true ,
				onClose:function(){
                                    $('#holidaydate').trigger('blur');
                                }
				
		});
		
});	

<?php if($this->groupval!='') { ?>
	    	var groupval = '<?php echo $this->groupval; ?>';
			
			var errorMsg = "<?php if(isset($this->msgarray['groupid'])) echo $this->msgarray['groupid'];?>";
			
			var groupData = document.getElementById('groupid');
			
			for(var i = 0 ; i <= groupData.length ; i++)
			{
				if(groupData.options[i] !== undefined)
				{										
					if (groupData.options[i].value == groupval) 
					{
						if(errorMsg != '' && errorMsg != 'undefined')
							groupData.options[i].selected = false;
						else{
							groupData.options[i].selected = true;
						}						
						break;
					}
				}
			}
			
	<?php } ?>
	$('#groupid').removeAttr('selected');
</script>
<?php } ?>