<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if($this->rowexist !=''){?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
						No data found.
	</div>

<?php
}else
{
 sapp_Global::generateClientValidations($this->form);?>
<?php if($this->successmessage != '') { ?>
<div id="dispmsgncc" class="ml-alert-1-success">
<div class="style-1-icon success"></div>
<?php echo $this->successmessage; ?>
</div>
<?php } else { ?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
		<input type='hidden' id='groupid' name='groupid' value="<?php echo $this->groupid; ?>" />
        <div class="total-form-controller">
		    <div class="new-form-ui clearb">
			  <label class="required">Holiday</label>
			<div class="division"><?php echo $this->form->holidayname; ?></div>
			<?php if(isset($this->msgarray['holidayname'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->holidayname->getId(); ?>"><?php echo $this->msgarray['holidayname'];?></span>
			<?php }?>
			</div>
						
			<div class="new-form-ui clearb">
			  <label class="required">Date <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
			<div class="division"><?php echo $this->form->holidaydate; ?></div>
			<?php if(isset($this->msgarray['holidaydate'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->holidaydate->getId(); ?>"><?php echo $this->msgarray['holidaydate'];?></span>
			<?php }?>
			</div>
								
			<div class="new-form-ui clearb textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="closeiframepopup('<?php echo $this->controllername; ?>','cancel');" type="button" id="Cancel" name="Cancel">Cancel</button>
</div>
		</div>
</form>
<?php } ?>

<script type='text/javascript'>
<?php if($this->successmessage != '') { ?>
        setTimeout(function(){
		    closeiframepopup('<?php echo $this->controllername; ?>','refreshgrid'); 
		},2000);
<?php } ?>
</script>

<script type='text/javascript'>
$(document).ready(function(){
var yearrange = <?php echo "'".date("Y", strtotime("-1 years")).':'.(date('Y')+1)."'"; ?>;  

//var yearrange = <?php echo "'".date('Y').':'.date('Y')."'"; ?>;
$('#holidaydate').datepicker({
				showOn:'both',
				yearRange: yearrange,
				dateFormat: '<?php echo DATEFORMAT_JS;?>',
				buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				changeYear: true,
                                showButtonPanel: true ,
				onClose:function(){
                                    $('#holidaydate').trigger('blur');
                                }
				
		});
});	

</script>
<?php } ?>