<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/

if(empty($this->empdata)){?>
   <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>				
						No data found.
				<?php }else{?>
						Employee inactivated.
				<?php }?>
	</div>

<?php	}	else	{
sapp_Global::generateClientValidations($this->form);?>

<?php if(!empty($this->employeedata)) 
{
		echo $this->employeedetails($this->employeedata,'view',$this->id); 
 } ?>

<div class="right-block-data"> 
	<div id="error_message" style="display:none;"></div>
	<?php	if(empty($this->data))
	{?><div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>Corporate Card details are not configured yet.
			</div>
	<?php	}	else	{	?>
			<?php echo $this->form->id; ?>
<?php 
$cardissuedby = $this->form->card_issuedby->getValue();
$expirydate = $this->form->card_expiration->getValue();

sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Card Type',(!empty($this->data[0]['card_type']))?$this->data[0]['card_type']:"...",'Corporate Card Number',(!empty($this->data[0]['card_number']))?$this->data[0]['card_number']:"...");
sapp_Helper::viewBody('nor','Name on Card',(!empty($this->data[0]['nameoncard']))?$this->data[0]['nameoncard']:"...",'Expiry Date',(!empty($expirydate))?$this->form->card_expiration->getValue():"...");
sapp_Helper::viewBody('alt','Card Issued By',(!empty($cardissuedby))?$this->form->card_issuedby->getValue():"...",'Card Code',(!empty($this->data[0]['card_code']))?$this->data[0]['card_code']:"...");
sapp_Helper::viewFooter();
?>
			 
			 
<?php	}	?>
</div>	
</div>	
<script type="text/javascript" language="javascript">
$(document).ready(function() {      
	$("#creditcarddetails").addClass('active');
	$("#creditcarddetails").removeAttr("onclick");

});//end of ready function
</script>
<?php	}	?>