<?php
/*********************************************************************************

 *  Copyright (C) 2014 Sapplica
 *

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
if (count ( $this->messages )) {
	?>
<div id="dispmsgclients">
    <?php
	foreach ( $this->messages as $message ) {
		$flag = array ();
		$flag = array_keys ( $message );
		echo "<div id='messageData' class='ml-alert-1-$flag[0]' style='margin-bottom: 0px;'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
		echo $message [$flag [0]];
		echo "</div></div>";
	}
	?>
   </div>

<?php } ?>
<span id="error_message"></span>
<?php
if ($this->call == 'ajaxcall') {
	$div = '';
	$endDiv = '';
} else {
	$div = '<div id="grid_' . $this->dataArray [0] ['objectname'] . '" class="all-grid-control">';
	$endDiv = '</div>';
}
echo $div . '<div id="msg" style="display:none;font-style: oblique; font-weight: bold; color: green;""></div>' . $this->gridtm ( $this->dataArray [0] ) . $endDiv;
?>
<script type='text/javascript'>
$(document).ready(function(){
<?php if($this->call != 'ajaxcall'){ ?>
	$('.breadcrumbs ul:first-child').append("<li><a>Clients</a></li>");
	<?php } ?>
<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispmsgclients').fadeOut('slow');
		},3000);
<?php } ?>
});
</script>