<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<link rel="stylesheet" href="<?php echo MEDIA_PATH?>css/screen.css">

<?php if($this->popup == 'close') { ?>	
	<div class="ml-alert-1-success">
	<div class="style-1-icon success"></div>
	Balance <?php echo $this->eventact; ?> successfully.
	</div>
	<?php } 
else
{
?>



 <?php if (count($this->messages)) {?>
	<div id="test">
    <?php 
			foreach ($this->messages as $message)
			{
				$flag = array();				
				$flag = array_keys($message);
				echo "<div id='messageData' class='ml-alert-1-$flag[0]' style='margin-bottom: 0px;'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
				echo $message[$flag[0]];
				echo "</div></div>";
			} 
	?>	
   </div> 
	
<?php } ?>

<?php 
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
<?php 
}
else
{
sapp_Global::generateClientValidations($this->form);
if($this->emptyFlag != 0)
	{
?>
<?php	}	?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; 
			echo $this->form->emptyFlag; 
		?>
		
<input type="hidden" name="currencyid" id="currencyid" value="<?php echo $this->currencyid;?>"/>		
        <div class="total-form-controller">
		
		
		<div class="new-form-ui clearb sm_currency">
			  <label class="required">Amount </label> 

			<div class="division"><?php echo $this->form->currency_id; ?>
			<?php if(isset($this->msgarray['currency_id'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->currency_id->getId(); ?>"><?php echo $this->msgarray['currency_id'];?></span>
			<?php }?>

		<?php echo $this->form->amount; ?>
			<?php if(isset($this->msgarray['amount'])){?>
			   <div class="errors" style="width:100%;" id="errors-<?php echo $this->form->amount->getId(); ?>"><?php echo $this->msgarray['amount'];?></div>
			<?php }?>
			
				<input type="hidden" name="cal_amount" id="cal_amount" value="">
				 <span id="currencynamediv" style="display:none">
                     <span class="col s6 text-mute">    
                      <span id="currencyname"></span>   
                          <span class="cxcText">
                                  <span class="cxcEdit" style="display:inline-block;"><?php echo !empty($this->cal_amount)?$this->cal_amount:0?></span>
                                  <input class="cxcInput" min="1" style="display:none;" type="number"  step="any"/> <?php echo $this->currency;?>
                           </span>
                     </span>
                  </span>
			</div>
		</div>
	

			<div class="new-form-ui ">
			    <label class="required" >Payment Mode</label>
				<div class="division"><?php echo $this->form->payment_mode_id; ?>
				<?php if(isset($this->msgarray['payment_mode_id'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->payment_mode_id->getId(); ?>"><?php echo $this->msgarray['payment_mode_id'];?></span>
				<?php }?>
				
				</div>
				
			</div>	
			
			
		<div class="new-form-ui clearb">
			  <label  >Payment Ref # </label>
			<div class="division"><?php echo $this->form->payment_ref_number; ?>
			<?php if(isset($this->msgarray['payment_ref_number'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->payment_ref_number->getId(); ?>"><?php echo $this->msgarray['payment_ref_number'];?></span>
			<?php }?>
			</div>
		</div>
		
		    <div class="new-form-ui">
			  <label class="required">Return To </label>
			<div class="division"><?php echo $this->form->to_id; ?>
			<?php if(isset($this->msgarray['to_id'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->to_id->getId(); ?>"><?php echo $this->msgarray['to_id'];?></span>
			<?php }?>
			</div>
			</div>
			
			
			
			<div class="new-form-ui clearb textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
			
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="closeiframepopup('<?php echo $this->controllername;?>','cancel');" type="button" >Cancel</button>
		</div>
		</div>
</form>

	

<?php } ?>	

	

<?php } ?>	


<script type="text/javascript" language="javascript" src="<?php echo EXPENSES_MEDIA_PATH?>js/scripts.js"></script>	


<script language='javascript' type='text/javascript'>

	<?php if($this->popup != '') { ?>
	setTimeout(function(){
	  closePopup('<?php echo $this->controllername; ?>',''); 	
parent.location.href=parent.location.href	  
},3000);
      

	<?php } ?>
	  
	</script>
<script type='text/javascript'>
	$(document).ready(function() { 
		<?php if (count($this->messages)) {?>
			  setTimeout(function(){
					$('#popupmessage').fadeOut('slow');
				},3000);

		<?php } ?>
		
	});	
 var currencyid=$("#currency_id").val();
		var application_currencyid=$("#currencyid").val();


		var currency='1'+$("#currency_id option:selected").text()+'=';
		$("#currencyname").html(currency);

		
		if(currencyid==application_currencyid)
		{
			$("#currencynamediv").hide();
		}
		else
		{
			
			$("#currencynamediv").show();
		}
		

$(function() {
	  $('#sm_currency').addClass('sm_currency');
	});		
	
</script>