<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
 
?>


 <?php if (count($this->messages)) {?>
	<div id="test">
    <?php 
			foreach ($this->messages as $message)
			{
				$flag = array();				
				$flag = array_keys($message);
				echo "<div id='messageData' class='ml-alert-1-$flag[0]' style='margin-bottom: 0px;'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
				echo $message[$flag[0]];
				echo "</div></div>";
			} 
	?>	
   </div> 
	
<?php } ?>

<?php 
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
<?php 
}
else
{
sapp_Global::generateClientValidations($this->form);
if($this->emptyFlag != 0)
	{
?>
<?php	}	?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; 
			echo $this->form->emptyFlag; 
		?>
		
        <div class="total-form-controller">
		
		    <div class="new-form-ui">
			  <label class="required">Employee </label>
			<div class="division"><?php echo $this->form->to_id; ?>
			<?php if(isset($this->msgarray['to_id'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->to_id->getId(); ?>"><?php echo $this->msgarray['to_id'];?></span>
			<?php }?>
			</div>
			</div>
			
			
			  <div class="new-form-ui">
			  <label >Project</label>
			<div class="division"><?php echo $this->form->project_id; ?></div>
			<?php if(isset($this->msgarray['project_id'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->project_id->getId(); ?>"><?php echo $this->msgarray['project_id'];?></span>
			<?php }else {?>
					   <span class="errors" id="errors-<?php echo $this->form->project_id->getId(); ?>" style="display:none;"></span>
				  <?php }?>
			</div>
	
			<div class="new-form-ui clearb">
			  <label class="required">Amount </label> 

			<div class="division"><?php echo $this->form->currency_id; ?></div>
			<?php if(isset($this->msgarray['currency_id'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->currency_id->getId(); ?>"><?php echo $this->msgarray['currency_id'];?></span>
			<?php }?>
			
			 <div class="new-form-ui">
			  <label ></label>
			<div class="division"><?php echo $this->form->amount; ?></div>
			<?php if(isset($this->msgarray['amount'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->amount->getId(); ?>"><?php echo $this->msgarray['amount'];?></span>
			<?php }?>
			</div>
			</div>
			
		
				<div class="new-form-ui clearb">
			    <label class="required" >Payment Mode</label>
				<div class="division"><?php echo $this->form->payment_mode_id; ?>
				<?php if(isset($this->msgarray['payment_mode_id'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->payment_mode_id->getId(); ?>"><?php echo $this->msgarray['payment_mode_id'];?></span>
				<?php }?>
				</div>
			</div>
			
			 <div class="new-form-ui">
			  <label >Payment Ref # </label>
			<div class="division"><?php echo $this->form->payment_ref_number; ?></div>
			<?php if(isset($this->msgarray['payment_ref_number'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->payment_ref_number->getId(); ?>"><?php echo $this->msgarray['payment_ref_number'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui clearb textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
			
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>expenses/advances';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
		</div>
</form>

	

<?php } ?>	

<script type='text/javascript'>
$(document).ready(function(){

<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispmsgtrips').fadeOut('slow');
		},3000);
<?php } ?>
});
</script>
		
		

 