<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
//echo "coming here"; die;
$data = $this->data;
$feedforwardInitForm = $this->feedforwardInitForm;
foreach ($data as $Deptdata){
	//echo "<pre>"; print_r($data);echo "</pre>"; die;
			$feedforwardInitForm->department_id->addMultiOption($Deptdata['id'],utf8_encode($Deptdata['deptname']));
		 }
 echo $feedforwardInitForm->departmentid;
	
?> 
 