<span id="error_message"></span>
<?php if(empty($this->dataArray)){?>

<div class="ml-alert-1-info m1-info-set" style="margin-top: 22px;">
	<div class="style-1-icon info"></div>
	Work hours are not yet set and will be assumed 8 by default. <a
		href='<?php echo BASE_URL;?>timemanagement/configuration/add'>Click
		here</a> to configure workhours.
</div>
<?php }?>
<div style="margin-left: 3%;">
<form id="worklogreport" method="post" action="<?php echo BASE_URL.'worklogreport/downloadreport';?>">
	<!-- Duration dropdown -->
	<div class="new-form-ui" style="margin-left: -24px; height: 50px;">
		<div class="division">
			<select name="duration" id="duration" class="brdr_none detailed_view">
				<option value="1">Last Week</option>					
				<option value="2">Current Month</option>	
				<option value="3">Previous Month</option>	
				<option value="4">Period</option>	
			</select>
		</div>
	</div>
	<!-- period Start and End Dates -->
    	<div class="new-form-ui" style="height: 40px; margin-left: -24px;">
    		<div class="division">
    			<input name="from_date" id="from_date" value="From*"
    				class="brdr_none detailed_view" readonly="readonly" 
    				type="text">
    		</div>
    	</div>
    
    	<div class="new-form-ui" style="margin-left: -24px; height: 50px;">
    		<div class="division">
    			<input name="to_date" id="to_date" value="To*" class="brdr_none detailed_view"
    				readonly="readonly" type="text">
    		</div>
    	</div>       	
	<!-- Download Button -->
	<div class="new-form-ui" style="margin-left: -23px; height: 50px;" >
		<button id="actbtn_btn" type="button"
			class="actbtn_btn" style="width: 140px; height:29px;">Download</button>
	</div>
	</form>
</div>
<br>
<script type="text/javascript">
	function togglePeriodDates(){
		if($('#duration').val() == 4){
			$('#from_date').parent().parent().css('display','block');
			$('#to_date').parent().parent().css('display','block');
        }else{
			$('#from_date').parent().parent().css('display','none');
			$('#to_date').parent().parent().css('display','none');
        }
	}
//calendar script
    $(document).ready(function(){
    	togglePeriodDates();
    	$('#duration').change(function(){
    		togglePeriodDates();
        	});

        
    var yearrange = <?php echo "'".YEAR.':'.(date('Y')+1)."'"; ?>;
      $('#from_date').datepicker({
				showOn:'both',
				maxDate: new Date, 
				<?php if(isset($this->data)) {?>
				minDate: new Date(<?php echo $this->data; ?>),
				<?php }?>
				yearRange: yearrange,
				dateFormat: '<?php echo DATEFORMAT_JS;?>',
				 buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				changeYear: true, 
                showButtonPanel: true ,
				onClose:function(){
                            validateorgheadjoiningdate();
							$('#from_date').trigger('blur');
	       					 changeTodate();
        					 if($('#to_date').val() == ''){
        							$('#to_date').val('To*')
        						}
                    }
		});

     
    	$('#from_date').blur(function(){
            $('#errors-from_date').remove();
            if($.trim($(this).val()) == '')
             {
    		    $(this).parent().append("<span class='errors' id='errors-from_date'>Please select the date.</span>");

                $(this).val('');
             }
             else
             {
                 $('#errors-from_date').remove();
             }
	        

            });

		$('#to_date').datepicker({
				showOn:'both',
				maxDate: new Date, 
				<?php if(isset($this->data)) {?>
				minDate: new Date(<?php echo $this->data; ?>),
				<?php }?>
				yearRange: yearrange,
				dateFormat: '<?php echo DATEFORMAT_JS;?>',
				buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				changeYear: true, 
                showButtonPanel: true ,
				onClose:function(){
                            validateorgheadjoiningdate();
					$('#to_date').trigger('blur');
					changeFromdate();
					if($('#from_date').val() == ''){
						$('#from_date').val('From*')
					}
                    }
		});

		$('#to_date').blur(function(){
	        $('#errors-to_date').remove();
	        if($.trim($(this).val()) == '')
	         {
			    $(this).parent().append("<span class='errors' id='errors-to_date'>Please select the date.</span>");

	            $(this).val('');
	         }
	         else
	         {
	             $('#errors-to_date').remove();

	         }
	        });

		function changeFromdate(){
			if($('#to_date').val() == '' || $('#to_date').val() == 'To*'){

    	    	var fromDateVal = $('#from_date').val();
				<?php if (isset($this->data)){?>
				    $('#from_date').datepicker( "option", "minDate",new Date(<?php echo $this->data; ?>));
			    <?php }?>
			    $('#from_date').datepicker( "option", "maxDate",new Date());
			    if(fromDateVal == '' || fromDateVal == 'From*'){
   	    		 	$('#from_date').val('');
        	    }
			}else{
    	    	var todate = new Date($('#to_date').val());
    	    	var month = todate.getMonth();
    	    	var year = todate.getFullYear();
    	    	var day = todate.getDate();
    	    	var fromDateVal = $('#from_date').val();
    	    	$('#from_date').datepicker( "option", "maxDate",new Date(year,month,day )); 
    	    	if(fromDateVal == '' || fromDateVal == 'From*'){
   	    		 	$('#from_date').val('');
        	    }
    
    		    if ((new Date(year,month,0)).getDate() == todate.getDate()){
    		    	day = 0;
    		    	month++;	
    			}else if( month == 0 ){
    				month = 12;
    				year--;
    		    }
    		    <?php if (isset($this->data)){?>
    		    if(new Date(year,month - 1  ,day+1 ) < new Date(<?php echo $this->data; ?>)){
    			    $('#from_date').datepicker( "option", "minDate",new Date(<?php echo $this->data; ?>));
    		    }else{
    			    $('#from_date').datepicker( "option", "minDate",new Date(year,month - 1  ,day+1 ));
    			}
    		    <?php }else{?>
    			    $('#from_date').datepicker( "option", "minDate",new Date(year,month - 1  ,day+1 ));
    			    <?php }?>
			}

			
	    }

		function changeTodate(){
			if($("#from_date").val() == '' || $("#from_date").val() == 'From*'){
    	    	var toDateVal = $('#to_date').val();
				<?php if (isset($this->data)){?>
				    $('#to_date').datepicker( "option", "minDate",new Date(<?php echo $this->data; ?>));
			    <?php }?>
			    $('#to_date').datepicker( "option", "maxDate",new Date());
    		    if(toDateVal == '' || toDateVal == 'To*'){
    		    	$('#to_date').val('');
        		}
			}else{
    	    	var fromdate = new Date($('#from_date').val());
    	    	var month = fromdate.getMonth();
    	    	var year = fromdate.getFullYear();
    	    	var day = fromdate.getDate();
    	    	var toDateVal = $('#to_date').val();
    	    	$('#to_date').datepicker( "option", "minDate",new Date(year,month,day ));
    		    if (day == 1){
    		    	day = (new Date(year,month+1,0)).getDate() + 1; 
    		    	month--;	
    			}else if( month == 11 ){
    				month = (-1);
    				year++;
    		    }
    		    if(new Date(year,month + 1  ,day-1 ) > new Date){
    	    		$('#to_date').datepicker( "option", "maxDate",new Date);
    	    		
    		    }
    		    else{
    	    		$('#to_date').datepicker( "option", "maxDate",new Date(year,month + 1  ,day-1 ));
    		    }
    		    if(toDateVal == '' || toDateVal == 'To*'){
    		    	$('#to_date').val('');
        		}
			}

		    
	    }
		
		
	});

    

    $('.actbtn_btn').click(function(){
		$(this).text("Downloading...");
        var duration = $('#duration').val();
        if(duration == 4){
    		var from_date = $('#from_date').val();
    		var to_date = $('#to_date').val();
        }
		$("#errors-from_date").remove();
		$("#errors-to_date").remove();
		if(((from_date != '' && to_date != '') && (from_date != "From*" && to_date != "To*")) || (duration != 4) )
		{   	

	 		$.blockUI({ width:'50px',message: $("#spinner").html() });
    		var params = 'duration='+duration;
    		if(duration == 4)
    			params += '&fromdate='+from_date+'&todate='+to_date;	
			$.ajax({
		        url: base_url+"/worklogreport/preparereport",   				
				type : 'POST',	
				data : params,
				dataType: 'json',
				success : function(data){		
	 				$(".actbtn_btn").text("Download");
	 	 			$('#worklogreport').trigger("submit");
	 	 			 $.unblockUI();
				},
				error: function(xhr,status,error){
					console.log(status);
	 	 			$(".actbtn_btn").text("Download");
	 	 			 $.unblockUI();
				}
			});
    		
		}
		else
		{
    			if(from_date == '' || from_date == "From*")
    			{
    				 $("#from_date").parent().append("<span class='errors' id='errors-to_date'>Please select the date.</span>");	            
    			}
    			if(to_date == '' || to_date == "To*")
    			{
    				 $("#to_date").parent().append("<span class='errors' id='errors-to_date'>Please select the date.</span>");	            
    			}
			
			$(this).text("Download"); 		
		}	

    	
	});
 </script>