<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<div class="logo_medium">

<span>
<img src="<?php echo $this->baseUrl("public/media/images/hrms-logo-new.png");?>" />
</span>

</div>

<div class="white_bg_brs">

<p>
You are using a web browser we don't support. To get the best experience using our website we recommend that you try one of these options.
</p>

<ul class="browsdiv">
<li><a class="brows ie" href="http://www.microsoft.com/india/windows/ie/IE9.aspx" target="_blank" ></a></li>
<li><a class="brows firebox" href="http://www.mozilla.org/en-US/firefox/all.html" target="_blank"></a></li>
<li><a class="brows safari" href="http://support.apple.com/kb/DL1531" target="_blank"></a></li>
<li><a class="brows chrome" href="https://www.google.com/intl/en/chrome/browser/" target="_blank"></a></li>
<li><a class="brows opera" href="http://www.opera.com/browser/download/" target="_blank"></a></li>
</ul>

</div>

<script type='text/javascript'>
	$(document).ready(function() {
		$('.login-header').remove();
		$('#outer').removeClass('demo-bg');
	});
</script>