<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<div class="tabscontainer">
	   
	  <div class="con_side">
	  		<div class="curvedContainer">
	  			<div  id="gridblock" class="activationsuccess">
	  			<div class="activecomplete"><?php echo $this->message;?></div>
	  			<div class="thankstxt">Click here to <a href="<?php echo $this->baseUrl(''); ?>" class="activationsuccesslink">Login</a></div>
	  			</div>
	  		</div>
	  </div>
</div>