<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php
$request = Zend_Controller_Front::getInstance();
$controllerName = $request->getRequest()->getControllerName();
$actionName = $request->getRequest()->getActionName();

$form = $this->form;
?>
<div id="outer">    
<div id="login-page" class="clearfix">
    <header>
        <div style="cursor:pointer;" class="logo" onclick="window.location='<?php echo BASE_URL?>'"></div>
        <nav>
            <ul>
                <li><a href="<?php echo BASE_URL?>">Home</a></li>
                <li><a href="#">Why <?php echo APPLICATION_NAME; ?>?</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About <?php echo APPLICATION_NAME; ?></a></li>
                <li><a href="<?php echo $this->baseUrl("login"); ?>" class="active">Log in</a></li>                                                                                
            </ul>
        </nav>
    </header>
    <section>
        <div class="total-container">
            <div class="login-signup">
                <div class="login-block">
                    <h1>Forgot Password</h1>
                  <form name="<?php echo $form->getName(); ?>" id="<?php echo $form->getId(); ?>" action="javascript: void(0)" method="<?php echo $form->getMethod(); ?>">
				  <div id="error_message" style="display:none;"></div>
                    <div class="fltleft fullwidth">
                        <div class="login-fields">
                            <label>Enter Your Email ID <span>*</span></label>
                             <?php echo $form->emailaddress;?>
                            <b class="please-fill">Please fill in your email address and click on Send.</b>
                        
                            
                        </div>
                         <div class="login-button">
						 <!--<input id="btnSubmit" type="submit" value="Send">-->
						 <?php echo $form->submit;?>
						 </div> 
                        <div class="forgotpassword"><a class="forgot" href="<?php echo BASE_URL;?>login" title="Back to Login ">Back</a></div>                                              
                   
                    </div>
                    </form>
                </div>
               
            </div>    
        </div>

    </section>
</div>
</div>

    
    
	




