<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php
$format2 = $this->format2;  
//echo "<pre>"; print_r($deptBuCnt); echo "</pre>";  ?>

<div class="fltleft"><h4 >Employees</h4>
	<div class="fltleft"><?php echo $total_emp = $format2[0]; ?></div>
	<div class = "clearall"></div>
	<div class="fltleft">
		<div class="fltleft"> <?php echo $activ_emp = $format2[2];?></div>
		<div class = "clearall"></div>
		<div class="fltright"><?php echo $inActive_emp = ($total_emp)-($activ_emp); ?></div>
	</div>
</div>
