<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php
$format4 = $this->format4;  
//echo "<pre>"; print_r($format4); echo "</pre>";
?>
<div class="fltleft">
<div>
<div class="fltleft"> </div>
<div class="fltleft"><h4 >Scheduled Interviews</h4></div>
</div>
<div class="fltleft">
<div> <?php
foreach($format4 as $interview_scheduled ) 
{
	 $candidate_name = $interview_scheduled['candidate_name'];
	 $interview_type = $interview_scheduled['interview_mode'];
	 $interview_time = $interview_scheduled['interview_time'];
	 $contact_number = $interview_scheduled['contact_number'];
	 $emailid = $interview_scheduled['emailid'];
	 $cand_resume = $interview_scheduled['cand_resume'];
	 echo $candidate_name.'('.$interview_type.'),'."At:".$interview_time.','.'Phone:'.$contact_number.','.'Email:'.$emailid.','.'Resume:'.$cand_resume." "; ?>	 
<a title = "<?php echo $cand_resume;?>" href="http://192.168.169.68/hrmsV2/candidatedetails/download/id/70">Resume</a>
</br>
	<?php } 
?>
</div>
</div>
</div>
