<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>
<div id="format1_div" class="fltleft"><h4 >Business Units</h4>
<?php
$deptBuCnt = $this->format1;  
//echo "<pre>"; print_r($deptBuCnt); echo "</pre>";

	 $buCnt = $deptBuCnt['BuCnt'];
	 $deptCnt = $deptBuCnt['DeptCnt'];
?>
<div style="width:200px;height:50px;">
<table style="width:180px;border:1px solid black;">
  <tr>
    <th style="width:50;">Units</th>
    <th style="width:50;">Depts</th>
  </tr>
  <tr>
    <td style="width:50px;height:50px; padding-left:18px;"><?php echo $buCnt; ?></td>
    <td style="width:50px;height:50px; padding-left:18px;"><?php echo $deptCnt; ?></td>
  </tr>
  
</table>
</div>

</div>
