<?php
/*********************************************************************************

 *  Copyright (C) 2014 Sapplica
 *

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if($this->bu_msg == 'no bu' || $this->months_msg == 'no months' || $this->days_msg == 'no weeks')
{
		if($this->bu_msg == 'no bu' && $this->months_msg == 'no months' && $this->days_msg == 'no weeks')
		{
	?>
		<div class="ml-alert-1-info m1-info-set-2">
			<div class="style-1-icon info"></div>You will not be able to configure leave management options as the Business units, Months list and Days list are not created. Please contact your system administrator.
		</div>
	<?php }
	   else if($this->bu_msg == 'no bu') { ?>
		<div class="ml-alert-1-info m1-info-set-2">
		<div class="style-1-icon info"></div>You will not be able to configure leave management options as the Business units are not created. Please contact your system administrator.
		</div>
	<?php } else if($this->months_msg == 'no months') { ?>
	<div class="ml-alert-1-info m1-info-set-2">
	<div class="style-1-icon info"></div>You will not be able to configure leave management options as the Months list is not configured. Please contact your system administrator.
	</div>
	<?php } else if($this->days_msg == 'no weeks') {?>
	<div class="ml-alert-1-info m1-info-set-2"><div class="style-1-icon info"></div>You will not be able to configure leave management options as the Days list is not configured. Please contact your system administrator.</div>
	<?php }
} //else { ?>
<?php sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		    <div class="new-form-ui">
			  <label class="required">Business Unit</label>
			<div class="division loca_state_div"><?php echo $this->form->businessunit; ?></div>
			<?php if(isset($this->msgarray['businessunit'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->businessunit->getId(); ?>"><?php echo $this->msgarray['businessunit'];?></span>
			<?php }?>
			</div>

			<div class="new-form-ui">
			  <label class="required">Configuration Type</label>
			<div class="division loca_state_div"><?php echo $this->form->configuration_type_id; ?></div>

			<?php if(isset($this->msgarray['configuration_type_id'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->configuration_type_id->getId(); ?>"><?php echo $this->msgarray['id'];?></span>
			<?php } else {?>
			   <span class="errors" id="errors-<?php echo $this->form->configuration_type_id->getId(); ?>" style="display:none;"></span>
			<?php }?>
			</div>


			<br>
			<div id="form_config_type"></div>
</div>
</form>
<script type='text/javascript'>
$(document).ready(function(){

		function addConfigForm(){
			if($('#businessunit').prop('selectedIndex') == 0  && $('#configuration_type_id').prop('selectedIndex') != 0){
				$("#form_config_type").html('');
				jAlert("No business unit selected");
			}else if($('#configuration_type_id').prop('selectedIndex') == 0 && $('#businessunit').prop('selectedIndex') == 0){
				$("#form_config_type").html('');
				jAlert("No configuration selected");
			}else if ($('#configuration_type_id').prop('selectedIndex') == 0){
				$("#form_config_type").html('');
			}
			else{
				var confName = $('#configuration_type_id  option:selected').text();
				var params = 'configid='+$('#configuration_type_id option:selected').val() + "&configname="+confName;

				$.ajax({
		        url: base_url+"/attendanceconfiguration/addconfigtype/format/html",
				type : 'POST',
				data : params,
				dataType: 'html',
				success : function(data){
					$("#form_config_type").html(data);

					
					$('#start_time').change(function() {		
			    		var startTime = $("#start_time").val(); 					        	
			    		var newTime = new Date('2018-01-01T' + startTime);						
			    		newTime.setMinutes(newTime.getMinutes() -1);
					
						var hours = newTime.getHours(); 
						var minutes = newTime.getMinutes(); 
						var endTime = hours+':'+minutes;								        	
			    		$("#end_time").val(endTime);			        
			 		});

					$('#work_culture-1').click(function(){
						$('#end_time').parent().parent().css('display','none');
						$('#is_entry_threshold').parent().parent().css('display','none');
						$('#is_exit_threshold').parent().parent().css('display','none');
						$('#threshold').css('display','none');
						$('#entry_time').parent().parent().css('display','none');
						$('#entry_time_action').parent().parent().css('display','none');
						$('#exit_time').parent().parent().css('display','none');
						$('#exit_time_action').parent().parent().css('display','none');

						$("#is_entry_threshold"). prop("checked", false);
						$("#is_exit_threshold"). prop("checked", false);
						
						$('#entry_time').val('');
						$('#exit_time').val('');
							
					});

					
					$('#work_culture-2').click(function(){
						$('#end_time').parent().parent().css('display','block');
						$('#is_entry_threshold').parent().parent().css('display','block');
						$('#is_exit_threshold').parent().parent().css('display','block');
						$('#threshold').css('display','block');
					});
					
					}
				});
			}

		}

		$('#configuration_type_id').change(function (){
			addConfigForm();
		});

		$('#businessunit').change(function (){
			addConfigForm();
		});

});
</script>
<?php //} ?>