<?php
$auth = Zend_Auth::getInstance ();
if ($auth->hasIdentity ()) {
	$loginUserId = $auth->getStorage ()->read ()->id;
}
$baseUrl = $this->serverUrl () . $this->baseUrl ();
$data = $this->data ;
if (count($data) !=null){

	if($data['configid']==1){
		?>

		<div class="new-form-ui">
   <div class="division"><?php echo $this->form->work_culture; ?></div>
   <?php if(isset($this->msgarray['work_culture'])){?>
      <span class="errors" id="errors-<?php echo $this->form->work_culture->getId(); ?>"><?php echo $this->msgarray['work_culture'];?></span>
   <?php }?>
   </div>


			<div class="new-form-ui">
     <label class="required">Start Time</label>
   <div class="division"><?php echo $this->form->start_time; ?></div>
   <?php if(isset($this->msgarray['start_time'])){?>
      <span class="errors" id="errors-<?php echo $this->form->start_time->getId(); ?>"><?php echo $this->msgarray['start_time'];?></span>
   <?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->start_time->getId(); ?>"></span>
   <?php }?>
   </div>

   <div class="new-form-ui">
     <label class="required">End Time</label>
   <div class="division"><?php echo $this->form->end_time; ?></div>
   <?php if(isset($this->msgarray['end_time'])){?>
      <span class="errors" id="errors-<?php echo $this->form->end_time->getId(); ?>"><?php echo $this->msgarray['end_time'];?></span>
   <?php }else{?>
   <span class="errors" id="errors-<?php echo $this->form->end_time->getId(); ?>"></span>
   <?php }?>
   </div>


	<br>
	<div id ="threshold">
	<label style="font-size: 18px">Threshold</label>
	<br><br>
   <div class="new-form-ui">
	<label>
   <?php echo $this->form->is_entry_threshold; ?>
   <?php echo $this->form->is_entry_threshold->getLabel()?></label>
   <?php if(isset($this->msgarray['is_entry_threshold'])){?>
      <span class="errors" id="errors-<?php echo $this->form->is_entry_threshold->getId(); ?>"><?php echo $this->msgarray['is_entry_threshold'];?></span>
   <?php }?>
   </div>

	<div class="new-form-ui">
	<label class="required">Entry Threshold Time</label>
   <div class="division"><?php echo $this->form->entry_time; ?></div>
   <?php if(isset($this->msgarray['entry_time'])){?>
      <span class="errors" id="errors-<?php echo $this->form->entry_time->getId(); ?>"><?php echo $this->msgarray['entry_time'];?></span>
   <?php }else{?>
   <span class="errors" id="errors-<?php echo $this->form->entry_time->getId(); ?>"></span>
   <?php }?>
   </div>

   <div class="new-form-ui">
   <label>Entry Violation Action</label>
   <div class="division"><?php echo $this->form->entry_time_action; ?></div>
   <?php if(isset($this->msgarray['entry_time_action'])){?>
      <span class="errors" id="errors-<?php echo $this->form->entry_time_action->getId(); ?>"><?php echo $this->msgarray['entry_time_action'];?></span>
   <?php }?>
   </div>



		<br>
   <div class="new-form-ui">
	<label>
   <?php echo $this->form->is_exit_threshold; ?>
   <?php echo $this->form->is_exit_threshold->getLabel()?></label>
   <?php if(isset($this->msgarray['is_exit_threshold'])){?>
      <span class="errors" id="errors-<?php echo $this->form->is_exit_threshold->getId(); ?>"><?php echo $this->msgarray['is_exit_threshold'];?></span>
   <?php }?>
   </div>

	<div class="new-form-ui">
	<label class="required">Exit Threshold Time</label>
   <div class="division"><?php echo $this->form->exit_time; ?></div>
   <?php if(isset($this->msgarray['exit_time'])){?>
      <span class="errors" id="errors-<?php echo $this->form->exit_time->getId(); ?>"><?php echo $this->msgarray['exit_time'];?></span>
   <?php }else{?>
   <span class="errors" id="errors-<?php echo $this->form->exit_time->getId(); ?>"></span>
   <?php }?>
   </div>

   <div class="new-form-ui">
   <label>Exit Violation Action</label>
   <div class="division"><?php echo $this->form->exit_time_action; ?></div>
   <?php if(isset($this->msgarray['exit_time_action'])){?>
      <span class="errors" id="errors-<?php echo $this->form->exit_time_action->getId(); ?>"><?php echo $this->msgarray['exit_time_action'];?></span>
   <?php }?>
   </div>
	</div>
	<br>
<div class="new-form-ui-submit mrgetop20">
	<?php echo $this->form->submit;?>
	<button	onclick="window.location.href='<?php echo BASE_URL; ?>attendanceconfiguration';" type="button" id="Cancel" name="Cancel">Cancel</button>
</div>

<script type='text/javascript'>
	$(document).ready(function(){
		if($('#work_culture-1').val()==1){
			$('#end_time').parent().parent().css('display','none');
			$('#threshold').css('display','none');
		}
		$('#work_culture-1').click(function(){
			$('#end_time').parent().parent().css('display','none');
			$('#threshold').css('display','none');
		});
		$('#work_culture-2').click(function(){
			$('#end_time').parent().parent().css('display','block');
			$('#threshold').css('display','block');
		});
		function toggleexitthreshold(){
			if($('#is_exit_threshold:checkbox:checked').length==0){
				$('#exit_time').parent().parent().css('display','none');
				$('#exit_time_action').parent().parent().css('display','none');
			}else{
				$('#exit_time').parent().parent().css('display','block');
				$('#exit_time_action').parent().parent().css('display','block');
			}
		}

		function toggleentrythreshold(){
			if($('#is_entry_threshold:checkbox:checked').length==0){
				$('#entry_time').parent().parent().css('display','none');
				$('#entry_time_action').parent().parent().css('display','none');
			}else{
				$('#entry_time').parent().parent().css('display','block');
				$('#entry_time_action').parent().parent().css('display','block');
			}
		}

		function pickerformat(){
			var formatFlag;
			var MyJSStringVar = "<?php Print(TIME_FORMAT); ?>";
			if (MyJSStringVar== "H:i" || MyJSStringVar =="H:i:s")
				{ $formatFlag = false;}
			else { $formatFlag = true;}
			}
		
		toggleentrythreshold();
		toggleexitthreshold();
		$('#is_exit_threshold').click(function(){
			toggleexitthreshold();
		});
		$('#is_entry_threshold').click(function(){
			toggleentrythreshold();
		});

		pickerformat();
		

		$('.time').focusout(function(){
			if($(this).val() == ''){
				if(($(this).attr('id')).includes('entry') || ($(this).attr('id')).includes('exit')){
					$(this).parent().next().text('Please enter '+($(this).attr('id')).replace('_',' threshold ')+'.');					
				}else
					$(this).parent().next().text('Please enter '+($(this).attr('id')).replace('_',' ')+'.');
			}else{
				$(this).parent().next().text('');
			}
		});


		$('#start_time').timepicker({
            showPeriod: $formatFlag,
            showPeriodLabels : $formatFlag,
            showLeadingZero: true,
             onClose:function(){
                 $('#start_time').trigger('focusout');
             }
        });

		$('#end_time').timepicker({
            showPeriod: $formatFlag,
            showPeriodLabels : $formatFlag,
            showLeadingZero: true,
             onClose:function(){
                 $('#end_time').trigger('focusout');
             }
        });

		$('#entry_time').timepicker({
            showPeriod: $formatFlag,
            showPeriodLabels : $formatFlag,
            showLeadingZero: true,
             onClose:function(){
                 $('#entry_time').trigger('focusout');
             }
        });

		$('#exit_time').timepicker({
            showPeriod: $formatFlag,
            showPeriodLabels : $formatFlag,
            showLeadingZero: true,
             onClose:function(){
                 $('#exit_time').trigger('focusout');
             }
        });

	});
</script>
		<?php
	}
	if($data['configid'] == 2){
		?>
<div class="new-form-ui">
			  <label class="required">Working Hours</label>
			<div id="workingHours" class="division loca_state_div"><?php echo $this->form->duration; ?></div>
			<?php if(isset($this->msgarray['duration'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->duration->getId(); ?>"><?php echo $this->msgarray['duration'];?></span>
			<?php } else {?>
			   <span class="errors" id="errors-<?php echo $this->form->duration->getId(); ?>" style="display:none;"></span>
			<?php }?>
			</div>
			<div class="new-form-ui">
			  <label class="required">Minimum</label>
			<div class="division"><?php echo $this->form->minimum_hours; ?></div>
			<?php if(isset($this->msgarray['minimum_hours'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->minimum_hours->getId(); ?>"><?php echo $this->msgarray['minimum_hours'];?></span>
			<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->minimum_hours->getId(); ?>"></span>
			<?php }?>
			</div>


			<div class="new-form-ui">
			  <label class="required">Violation Action</label>
			<div id="minAction" class="division loca_state_div"><?php echo $this->form->minimum_hours_action; ?></div>
			<?php if(isset($this->msgarray['minimum_hours_action'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->minimum_hours_action->getId(); ?>"><?php echo $this->msgarray['minimum_hours_action'];?></span>
			<?php } else {?>
			   <span class="errors" id="errors-<?php echo $this->form->minimum_hours_action->getId(); ?>" style="display:none;"></span>
			<?php }?>
			</div>

			<br>
			<div class="new-form-ui">
			</div>
			<div class="new-form-ui">
			  <label class="required">Maximum</label>
			<div class="division"><?php echo $this->form->maximum_hours; ?></div>
			<?php if(isset($this->msgarray['maximum_hours'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->maximum_hours->getId(); ?>"><?php echo $this->msgarray['maximum_hours'];?></span>
			<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->maximum_hours->getId(); ?>"></span>
			<?php }?>
			</div>

			<div class="new-form-ui">
			  <label class="required">Violation Action</label>
			<div id="maxAction" class="division loca_state_div"><?php echo $this->form->maximum_hours_action; ?></div>
			<?php if(isset($this->msgarray['maximum_hours_action'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->maximum_hours_action->getId(); ?>"><?php echo $this->msgarray['maximum_hours_action'];?></span>
			<?php } else {?>
			   <span class="errors" id="errors-<?php echo $this->form->maximum_hours_action->getId(); ?>" style="display:none;"></span>
			<?php }?>
			</div>


		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>attendanceconfiguration';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
		
		<script>
		$('#minimum_hours').focusout(function(){
			if(isNaN($(this).val())){
				$(this).parent().next().text('Please enter only numbers.');
			}
			else if($(this).val() == ''){
				$(this).parent().next().text('Please enter number of hours.');
			}else{
				$(this).parent().next().text('');
			}
		});

		$('#maximum_hours').focusout(function(){
			if(isNaN($(this).val())){
				$(this).parent().next().text('Please enter only numbers.');
			}
			else if($(this).val() == ''){
				$(this).parent().next().text('Please enter number of hours.');
			}else{
				$(this).parent().next().text('');
			}
		});
		</script>
		<?php
	}

	if($data['configid'] == 3){
?>
	<div class="new-form-ui">
			  <label class="required">Threshold</label>
			<div class="division"><?php echo $this->form->threshold; ?></div>
			<?php if(isset($this->msgarray['threshold'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->threshold->getId(); ?>"><?php echo $this->msgarray['threshold'];?></span>
			<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->threshold->getId(); ?>"></span>
			<?php }?>
			</div>
	
	
	<div class="new-form-ui">
	<label class="required">Action</label>
	<div class="division"><?php echo $this->form->action ?></div>
	</div>
	<div class="new-form-ui-submit mrgetop20">
		<?php echo $this->form->submit;?>
		<button	onclick="window.location.href='<?php echo BASE_URL; ?>attendanceconfiguration';" type="button" id="Cancel" name="Cancel">Cancel</button>
	</div>


<?php }?>
<script type='text/javascript'>
	$(document).ready(function(){
		apply_select2();

		function saveConfiguration(override){
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			var datastring  ;
			var jsondata = [];
			var url =  base_url+"/attendanceconfiguration/save" ;
			datastring = $("form").find("select:not(:hidden), input:not(:hidden)").serializeArray();
			$.ajax({
				type: "POST",
				url: url,
				contentype:jsondata,
				data: {formdata: JSON.stringify(datastring), override:override},
				dataType: "json",
				success: function(data) {
					if(data.indexOf("success")>0){
						window.location.href='<?php echo BASE_URL?>attendanceconfiguration';
					}else if (data.indexOf("exists")>0){
						jConfirm("Configuration already exists.Do you wish to override?",'Attention',function(response){
							if(response){
								saveConfiguration(true);
							}
						});
					}else{				
						var msgArray =JSON.parse(data);
						$.each(msgArray,function(key,value){
							if($('#'+key).parent().parent().css('display') != 'none'){
								$('#errors-'+key).text(value);
							}
						});								
					}
					$.unblockUI();
				}
			});
		}
		
		$("#submitbutton").click(function (){
			saveConfiguration(false);
		});

		$('#threshold').focusout(function(){
			if(isNaN($(this).val())){
				$(this).parent().next().text('Please enter only numbers.');
			}
			else if($(this).val() == ''){
				$(this).parent().next().text('Please enter number of hours.');
			}else{
				$(this).parent().next().text('');
			}
		});
});
</script>
<?php }
if($data['configid'] == 4){
?>
	<div class="new-form-ui">
			  <label class="required">Half Day (hrs)</label>
			<div class="division"><?php echo $this->form->halfDay; ?></div>
			<?php if(isset($this->msgarray['halfDay'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->halfDay->getId(); ?>"><?php echo $this->msgarray['halfDay'];?></span>
			<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->halfDay->getId(); ?>"></span>
			<?php }?>
			</div>
	
	<div class="new-form-ui">
			  <label class="required">Full Day (hrs)</label>
			<div class="division"><?php echo $this->form->fullDay; ?></div>
			<?php if(isset($this->msgarray['fullDay'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->fullDay->getId(); ?>"><?php echo $this->msgarray['fullDay'];?></span>
			<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->fullDay->getId(); ?>"></span>
			<?php }?>
			</div>
			<br>
	<div class="new-form-ui">
	  <label class="required">Leave Window (months)</label>
	<div class="division"><?php echo $this->form->leaveWindow; ?></div>
	<?php if(isset($this->msgarray['leaveWindow'])){?>
	   <span class="errors" id="errors-<?php echo $this->form->leaveWindow->getId(); ?>"><?php echo $this->msgarray['leaveWindow'];?></span>
	<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->leaveWindow->getId(); ?>"></span>
	<?php }?>
	</div>
	
	<div class="new-form-ui">
	<label class="required">Condsideration Window</label>
	<div class="division"><?php echo $this->form->considerationWindow ?></div>
	</div>
	<div class="new-form-ui-submit mrgetop20">
		<?php echo $this->form->submit;?>
		<button	onclick="window.location.href='<?php echo BASE_URL; ?>attendanceconfiguration';" type="button" id="Cancel" name="Cancel">Cancel</button>
	</div>
	<script>
		$('#halfDay').focusout(function(){
			if(isNaN($(this).val())){
				$(this).parent().next().text('Please enter only numbers.');
			}
			else if($(this).val() == ''){
				$(this).parent().next().text('Please enter hours for Half Day.');
			}else{
				$(this).parent().next().text('');
			}
		});

		$('#fullDay').focusout(function(){
			if(isNaN($(this).val())){
				$(this).parent().next().text('Please enter only numbers.');
			}
			else if($(this).val() == ''){
				$(this).parent().next().text('Please enter hours for Full Day.');
			}else{
				$(this).parent().next().text('');
			}
		});
		$('#leaveWindow').focusout(function(){
			if(isNaN($(this).val())){
				$(this).parent().next().text('Please enter only numbers.');
			}
			else if($(this).val() == ''){
				$(this).parent().next().text('Please enter months for leave window.');
			}else{
				$(this).parent().next().text('');
			}
		});
		</script>
<?php }?>



