<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if($this->rowexist !=''){?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
						No data found.
	</div>

<?php
} 
else
{

sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>


<form name="<?php echo $this->formAttendanceConfig->getName(); ?>" id="<?php echo $this->formAttendanceConfig->getId(); ?>" action="<?php echo $this->formAttendanceConfig->getAction();?>" method="<?php echo $this->formAttendanceConfig->getMethod(); ?>">
		<?php echo $this->formAttendanceConfig->id; ?>
 
   		    <div class="new-form-ui">
			  <label class="required">Business Unit</label>			  
			<div class="division loca_state_div disabledoptions"><?php echo $this->formAttendanceConfig->businessunit; ?></div>
			<?php if(isset($this->msgarray['businessunit'])){?>
			   <span class="errors" id="errors-<?php echo $this->formAttendanceConfig->businessunit->getId(); ?>"><?php echo $this->msgarray['businessunit'];?></span>
			<?php }?>
			</div>			
			<div class="new-form-ui">
			  <label class="required">Configuration Type</label>
			<div class="division loca_state_div disabledoptions"><?php echo $this->formAttendanceConfig->configuration_type_id; ?></div>
			<?php if(isset($this->msgarray['configuration_type_id'])){?>
			   <span class="errors" id="errors-<?php echo $this->formAttendanceConfig->configuration_type_id->getId(); ?>"><?php echo $this->msgarray['id'];?></span>
			<?php } else {?>
			   <span class="errors" id="errors-<?php echo $this->formAttendanceConfig->configuration_type_id->getId(); ?>" style="display:none;"></span>
			<?php }?>
			</div>
	
<?php if(($this->formAttendanceConfig->configuration_type_id->getValue()) == 1){?>
	<br>		
	<div class="new-form-ui">
   <div class="division"><?php echo $this->form->work_culture; ?></div>
   <?php if(isset($this->msgarray['work_culture'])){?>
      <span class="errors" id="errors-<?php echo $this->form->work_culture->getId(); ?>"><?php echo $this->msgarray['work_culture'];?></span>
   <?php }?>
   </div>
	<div class="new-form-ui">
     <label>Start</label>
     
   <div class="division"><?php echo $this->form->start_time; ?></div>
   <?php if(isset($this->msgarray['start_time'])){?>
      <span class="errors" id="errors-<?php echo $this->form->start_time->getId(); ?>"><?php echo $this->msgarray['start_time'];?></span>
   <?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->start_time->getId(); ?>"></span>
   <?php }?>
   </div>
   
   <div class="new-form-ui">
     <label>End</label>
   
   <div class="division"><?php echo $this->form->end_time; ?></div>
   <?php if(isset($this->msgarray['end_time'])){?>
      <span class="errors" id="errors-<?php echo $this->form->end_time->getId(); ?>"><?php echo $this->msgarray['end_time'];?></span>
   <?php }else{?>
   <span class="errors" id="errors-<?php echo $this->form->end_time->getId(); ?>"></span>
   <?php }?>
   </div>  
   
	<br>
   <div class="new-form-ui">
	<label>	
	<?php $this->form->is_entry_threshold->setChecked($this->data['is_entry_threshold']); ?>
   <?php echo $this->form->is_entry_threshold; ?>
   <?php echo $this->form->is_entry_threshold->getLabel()?></label>
   
   
   <?php if(isset($this->msgarray['is_entry_threshold'])){?>
      <span class="errors" id="errors-<?php echo $this->form->is_entry_threshold->getId(); ?>"><?php echo $this->msgarray['is_entry_threshold'];?></span>
   <?php }?>
   </div>
   
	<div class="new-form-ui"> 
	<label>Entry Threshold Time</label>   
	
	
   <div class="division"><?php echo $this->form->entry_time; ?></div>   
   <?php if(isset($this->msgarray['entry_time'])){?>
      <span class="errors" id="errors-<?php echo $this->form->entry_time->getId(); ?>"><?php echo $this->msgarray['entry_time'];?></span>
   <?php }else{?>
   <span class="errors" id="errors-<?php echo $this->form->entry_time->getId(); ?>"></span>
   <?php }?>
   </div>

   <div class="new-form-ui">  
   <label>Entry Violation Action</label>  
   
   
   <div class="division"><?php echo $this->form->entry_time_action; ?></div>
   <?php if(isset($this->msgarray['entry_time_action'])){?>
      <span class="errors" id="errors-<?php echo $this->form->entry_time_action->getId(); ?>"><?php echo $this->msgarray['entry_time_action'];?></span>
   <?php }?>
   </div>		
	
	<br>
   <div class="new-form-ui">
	<label>
   <?php echo $this->form->is_exit_threshold; ?>
   <?php echo $this->form->is_exit_threshold->getLabel()?></label>
   <?php if(isset($this->msgarray['is_exit_threshold'])){?>
      <span class="errors" id="errors-<?php echo $this->form->is_exit_threshold->getId(); ?>"><?php echo $this->msgarray['is_exit_threshold'];?></span>
   <?php }?>
   </div>
   
	<div class="new-form-ui">   
	<label>Exit Threshold Time</label>	
   <div class="division"><?php echo $this->form->exit_time; ?></div>
   <?php if(isset($this->msgarray['exit_time'])){?>
      <span class="errors" id="errors-<?php echo $this->form->exit_time->getId(); ?>"><?php echo $this->msgarray['exit_threshold_time'];?></span>
   <?php }else{?>
   <span class="errors" id="errors-<?php echo $this->form->exit_time->getId(); ?>"></span>
   <?php }?>
   </div>

   <div class="new-form-ui">   
   <label>Exit Violation Action</label>      
   <div class="division"><?php echo $this->form->exit_time_action; ?></div>
   <?php if(isset($this->msgarray['exit_time_action'])){?>
      <span class="errors" id="errors-<?php echo $this->form->exit_time_action->getId(); ?>"><?php echo $this->msgarray['exit_time_action'];?></span>
   <?php }?>
   </div>
   
   <script type='text/javascript'>
	$(document).ready(function(){
		if($('#work_culture-1').attr('checked')){
			$('#end_time').parent().parent().css('display','none');

			$('#is_entry_threshold').parent().parent().css('display','none');
			$('#is_exit_threshold').parent().parent().css('display','none');	
			
		}
		else{
				$('#end_time').parent().parent().css('display','block');				
				$('#is_entry_threshold').parent().parent().css('display','block');
				$('#is_exit_threshold').parent().parent().css('display','block');
			}
		$('#work_culture-1').click(function(){
			$('#end_time').parent().parent().css('display','none');
			$('#is_entry_threshold').parent().parent().css('display','none');
			$('#is_exit_threshold').parent().parent().css('display','none');
			$('#threshold').css('display','none');
			$('#entry_time').parent().parent().css('display','none');
			$('#entry_time_action').parent().parent().css('display','none');
			$('#exit_time').parent().parent().css('display','none');
			$('#exit_time_action').parent().parent().css('display','none');

			$("#is_entry_threshold"). prop("checked", false);
			$("#is_exit_threshold"). prop("checked", false);
			
			$('#entry_time').val('');
			$('#exit_time').val('');
				
		});

		
		$('#work_culture-2').click(function(){
			$('#end_time').parent().parent().css('display','block');
			$('#is_entry_threshold').parent().parent().css('display','block');
			$('#is_exit_threshold').parent().parent().css('display','block');
			$('#threshold').css('display','block');
		});


		function toggleexitthreshold(){
			if($('#is_exit_threshold:checkbox:checked').length==0){
				$('#exit_time').parent().parent().css('display','none');
				$('#exit_time_action').parent().parent().css('display','none');
			}else{
				$('#exit_time').parent().parent().css('display','block');
				$('#exit_time_action').parent().parent().css('display','block');
			}
		}

		function toggleentrythreshold(){
			if($('#is_entry_threshold:checkbox:checked').length==0){
				$('#entry_time').parent().parent().css('display','none');
				$('#entry_time_action').parent().parent().css('display','none');
			}else{
				$('#entry_time').parent().parent().css('display','block');
				$('#entry_time_action').parent().parent().css('display','block');
			}
		}
		function pickerformat(){
			var formatFlag;
			var MyJSStringVar = "<?php Print(TIME_FORMAT); ?>";
			if (MyJSStringVar== "H:i" || MyJSStringVar =="H:i:s")
				{ $formatFlag = false;}
			else { $formatFlag = true;}
			}
		toggleentrythreshold();
		toggleexitthreshold();
		$('#is_exit_threshold').click(function(){
			toggleexitthreshold();
		});
		$('#is_entry_threshold').click(function(){
			toggleentrythreshold();
		});
		pickerformat();

		$('#start_time').timepicker({
			timeFormat: 'hh:mm:ss p',
            showPeriod: $formatFlag,
            showPeriodLabels : $formatFlag,
            showLeadingZero: true,
             onClose:function(){
                 $('#start_time').trigger('focusout');
             }
        });

		$('#end_time').timepicker({
            showPeriod: $formatFlag,
            showPeriodLabels : $formatFlag,
            showLeadingZero: true,
             onClose:function(){
                 $('#end_time').trigger('focusout');
             }
        });

		$('#entry_time').timepicker({
            showPeriod: $formatFlag,
            showPeriodLabels : $formatFlag,
            showLeadingZero: true,
             onClose:function(){
                 $('#entry_time').trigger('focusout');
             }
        });

		$('#exit_time').timepicker({
            showPeriod: $formatFlag,
            showPeriodLabels : $formatFlag,
            showLeadingZero: true,
             onClose:function(){
                 $('#exit_time').trigger('focusout');
             }
        });
		$('#start_time').change(function() {		
    		var startTime = $("#start_time").val(); 					        	
    		var newTime = new Date('2018-01-01T' + startTime);						
    		newTime.setMinutes(newTime.getMinutes() -1);
		
			var hours = newTime.getHours(); 
			var minutes = newTime.getMinutes(); 
			var endTime = hours+':'+minutes;								        	
    		$("#end_time").val(endTime);			        
 		});

	});
</script>
   <?php }?>			



	<?php if(($this->formAttendanceConfig->configuration_type_id->getValue()) == 2){?>
	<br>
	<div class="new-form-ui">
			  <label class="required">Working Hours</label>
			<div id="workingHours" class="division loca_state_div disabledoptions"><?php echo $this->form->duration; ?></div>
			<?php if(isset($this->msgarray['duration'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->duration->getId(); ?>"><?php echo $this->msgarray['duration'];?></span>
			<?php } else {?>
			   <span class="errors" id="errors-<?php echo $this->form->duration->getId(); ?>" style="display:none;"></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Minimum</label>
			<div class="division"><?php echo $this->form->minimum_hours; ?></div>
			<?php if(isset($this->msgarray['minimum_hours'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->minimum_hours->getId(); ?>"><?php echo $this->msgarray['minimum_hours'];?></span>
			<?php } else{?>
   			<span class="errors" id="errors-<?php echo $this->form->minimum_hours->getId(); ?>"></span>
			<?php }?>
			</div>


			<div class="new-form-ui">
			  <label class="required">Violation Action</label>
			<div id="minAction" class="division loca_state_div"><?php echo $this->form->minimum_hours_action; ?></div>
			<?php if(isset($this->msgarray['minimum_hours_action'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->minimum_hours_action->getId(); ?>"><?php echo $this->msgarray['minimum_hours_action'];?></span>
			<?php } else {?>
			   <span class="errors" id="errors-<?php echo $this->form->minimum_hours_action->getId(); ?>" style="display:none;"></span>
			<?php }?>
			</div>

			<br>
			<div class="new-form-ui">
			</div>
			<div class="new-form-ui">
			  <label class="required">Maximum</label>
			<div class="division"><?php echo $this->form->maximum_hours; ?></div>
			<?php if(isset($this->msgarray['maximum_hours'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->maximum_hours->getId(); ?>"><?php echo $this->msgarray['maximum_hours'];?></span>
			<?php } else{?>
   			<span class="errors" id="errors-<?php echo $this->form->maximum_hours->getId(); ?>"></span>
			<?php }?>
			</div>

			<div class="new-form-ui">
			  <label class="required">Violation Action</label>
			<div id="maxAction" class="division loca_state_div"><?php echo $this->form->maximum_hours_action; ?></div>
			<?php if(isset($this->msgarray['maximum_hours_action'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->maximum_hours_action->getId(); ?>"><?php echo $this->msgarray['maximum_hours_action'];?></span>
			<?php } else {?>
			   <span class="errors" id="errors-<?php echo $this->form->maximum_hours_action->getId(); ?>" style="display:none;"></span>
			<?php }?>
			</div>
 <?php }?>
 
 <?php if(($this->formAttendanceConfig->configuration_type_id->getValue()) == 3){?>
 <br>
 
 
	<div class="new-form-ui">
			  <label class="required">Threshold</label>
			<div class="division"><?php echo $this->form->threshold; ?></div>
			<?php if(isset($this->msgarray['threshold'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->threshold->getId(); ?>"><?php echo $this->msgarray['threshold'];?></span>
			<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->threshold->getId(); ?>"></span>
			<?php }?>
			</div>
	<div class="new-form-ui">
	<label class="required">Action</label>
	<div class="division"><?php echo $this->form->action ?></div>
	</div>
 <?php }?>
 
  <?php if(($this->formAttendanceConfig->configuration_type_id->getValue()) == 4){?>
 <br>
 	<div class="new-form-ui">
			  <label class="required">Half Day (hrs)</label>
			<div class="division"><?php echo $this->form->halfDay; ?></div>
			<?php if(isset($this->msgarray['halfDay'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->halfDay->getId(); ?>"><?php echo $this->msgarray['halfDay'];?></span>
			<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->halfDay->getId(); ?>"></span>
			<?php }?>
			</div>
	
	<div class="new-form-ui">
			  <label class="required">Full Day (hrs)</label>
			<div class="division"><?php echo $this->form->fullDay; ?></div>
			<?php if(isset($this->msgarray['fullDay'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->fullDay->getId(); ?>"><?php echo $this->msgarray['fullDay'];?></span>
			<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->fullDay->getId(); ?>"></span>
			<?php }?>
			</div>
			<br>
	<div class="new-form-ui">
	  <label class="required">Leave Window (months)</label>
	<div class="division"><?php echo $this->form->leaveWindow; ?></div>
	<?php if(isset($this->msgarray['leaveWindow'])){?>
	   <span class="errors" id="errors-<?php echo $this->form->leaveWindow->getId(); ?>"><?php echo $this->msgarray['leaveWindow'];?></span>
	<?php } else{?>
   <span class="errors" id="errors-<?php echo $this->form->leaveWindow->getId(); ?>"></span>
	<?php }?>
	</div>
	
	<div class="new-form-ui">
	<label class="required">Condsideration Window</label>
	<div class="division"><?php echo $this->form->considerationWindow ?></div>
	</div>
 <?php }?>		  
 	
	
	<br>	
<div class="new-form-ui-submit">
	<?php echo $this->form->submit;?>
	<button	onclick="window.location.href='<?php echo BASE_URL; ?>attendanceconfiguration';" type="button" id="Cancel" name="Cancel">Cancel</button>
</div>
</form>
<script type="text/javascript">
$('#submitbutton').click(function(){
	$.blockUI({ width:'50px',message: $("#spinner").html() });
	var datastring  ;
	var jsondata = [];
	var url =  base_url+"/attendanceconfiguration/edit" ;
	var urlArray = document.URL.split('/');
	datastring = $("form").find("select:not(:hidden), input:not(:hidden)").serializeArray();
	$.ajax({
		type: "POST",
		url: url,
		contentype:jsondata,
		data: {formdata: JSON.stringify(datastring),id:urlArray[urlArray.length -1 ]},
		dataType: "json",
		success: function(data) {
			if(data.indexOf("success")>0){
				window.location.href= '<?php echo BASE_URL?>attendanceconfiguration';
			}else{				
				var msgArray =JSON.parse(data);
				$.each(msgArray,function(key,value){
					if($('#'+key).parent().parent().css('display') != 'none'){
						$('#errors-'+key).text(value);
					}
				});								
			}
			$.unblockUI();
		}
	});

	$('#minimum_hours').focusout(function(){
		if(isNaN($(this).val())){
			$(this).parent().next().text('Please enter only numbers.');
		}
		else if($(this).val() == ''){
			$(this).parent().next().text('Please enter number of hours.');
		}else{
			$(this).parent().next().text('');
		}
	});

	$('#maximum_hours').focusout(function(){
		if(isNaN($(this).val())){
			$(this).parent().next().text('Please enter only numbers.');
		}
		else if($(this).val() == ''){
			$(this).parent().next().text('Please enter number of hours.');
		}else{
			$(this).parent().next().text('');
		}
	});
	
	$('#threshold').focusout(function(){
		if(isNaN($(this).val())){
			$(this).parent().next().text('Please enter only numbers.');
		}
		else if($(this).val() == ''){
			$(this).parent().next().text('Please enter number of hours.');
		}else{
			$(this).parent().next().text('');
		}
	});
});
</script>
<style>
.disabledoptions {
    pointer-events: none;
}
</style>

<?php } ?>