<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if($this->rowexist !=''){?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
						No data found.
	</div>

<?php
}
else
{
$baseUrl = $this->serverUrl().$this->baseUrl(); ?>
<?php
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Business Unit',(!empty($this->businessUnitData['unitname']))? $this->businessUnitData['unitname']:"...",'Configuration Type',(!empty($this->businessUnitData['configuration_name']))?$this->businessUnitData['configuration_name']:"...");
if($this->businessUnitData['configuration_type_id'] == 1){
	$workCulture = $this->data['work_culture'] == 1 ? 'Open Culture' : 'Clock Time Culture';
	if($this->data['work_culture'] ==1){
		sapp_Helper::viewBody('nor','Work Culture','Open Culture','Start',(!empty($this->data['start_time']))?$this->data['start_time']:"...");

	}else if($this->data['work_culture'] == 2){
		$color = 'nor';
		sapp_Helper::viewBody('nor','Work Culture',(!empty($this->data['work_culture']))? $workCulture:"...",'','');
		sapp_Helper::viewBody('alt','Start',(!empty($this->data['start_time']))?$this->data['start_time']:"...",'End',(!empty($this->data['end_time']))?$this->data['end_time']:"...");
		if($this->data['is_entry_threshold'] == 1){
			$color = 'alt';
			sapp_Helper::viewBody('nor','Entry Threshold Time',(!empty($this->data['entry_time']))?$this->data['entry_time']:"...",'Entry Violation Action',(!empty($this->data['entry_time_action']))?$this->data['entry_time_action']:"...");
		}if($this->data['is_exit_threshold'] == 1){

			sapp_Helper::viewBody($color,'Exit Threshold Time',(!empty($this->data['exit_time']))?$this->data['exit_time']:"...", 'Exit Violation Action',(!empty($this->data['exit_time_action']))?$this->data['exit_time_action']:"...");
		}
	}

}else if($this->businessUnitData['configuration_type_id'] == 2){
	sapp_Helper::viewBody('nor','Duration',(!empty($this->data['duration']))?$this->data['duration']:"...",'','');
	sapp_Helper::viewBody('alt','Minimum',(!empty($this->data['minimum_hours']))?$this->data['minimum_hours']:"...",'Violation Action',(!empty($this->data['minimum_hours_action']))?$this->data['minimum_hours_action']:"...");
	sapp_Helper::viewBody('nor','Maximum',(!empty($this->data['maximum_hours']))?$this->data['maximum_hours']:"...",'Violation Action',(!empty($this->data['maximum_hours_action']))?$this->data['maximum_hours_action']:"...");


}
else if($this->businessUnitData['configuration_type_id'] == 3){
	sapp_Helper::viewBody('alt','Threshold',(!empty($this->data['threshold']))?$this->data['threshold']:"...",'Violation Action',(!empty($this->data['action']))?$this->data['action']:"...");
}
else if($this->businessUnitData['configuration_type_id'] == 4){
	sapp_Helper::viewBody('nor','Half Day',(!empty($this->data['halfDay']))?$this->data['halfDay']:"...",'Full Day',(!empty($this->data['fullDay']))?$this->data['fullDay']:"...");
	sapp_Helper::viewBody('alt','Leave Window',(!empty($this->data['leaveWindow']))?$this->data['leaveWindow']:"...",'Consideration Window',(!empty($this->data['considerationWindow']))?$this->data['considerationWindow']:"...");
}
sapp_Helper::viewFooter();
?>

      
		
<?php } ?>		