<?php
/*********************************************************************************
 
 *  Copyright (C) 2014 Sapplica
 *
 
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *
 
 ********************************************************************************/
?>

<?php
if ($this->ermsg != '') {
	?>
<div class="ml-alert-1-info m1-info-set">
	<div class="style-1-icon info"></div>
	No data found.
</div>
<?php
} else {
	$baseUrl = $this->serverUrl () . $this->baseUrl ();
	echo $this->form->id;
	?>
<div class="total-form-controller view-form-detail">
	<div class="new-form-ui clearb">
		<label>Category</label>
		<div class="division"><?php echo $this->form->expense_amount; ?></div>
	</div>
	<div class="new-form-ui clearb">
		<label>Unit Price</label>
		<div class="division"><?php echo $this->form->unit_price; ?></div>
	</div>
	<div class="new-form-ui-submit">
		<input type="submit"
			onclick="changeeditscreen('<?php echo $this->controllername;?>',<?php echo $this->id;?>);"
			value="Edit" />
		<button
			onclick="window.location.href='<?php echo BASE_URL; ?>timemanagement/expensecategory';"
			type="button">Cancel</button>
	</div>
</div>
<?php	}	?>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
	$('.breadcrumbs ul:first-child').append("<li><a href='<?php echo BASE_URL; ?>timemanagement/expensecategory'>Expense Categories</a></li><li><a>View</a></li>");
});
</script>