<?php
/*********************************************************************************
 
 *  Copyright (C) 2014 Sapplica
 *
 
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *
 
 ********************************************************************************/
?>

<?php if (count($this->messages)) {?>
<div id="dispmsgpendingleaves" class="settingssuccess">
		<?php
	foreach ( $this->messages as $message ) {
		$flag = array ();
		$flag = array_keys ( $message );
		echo "<div id='messageData' class='ml-alert-1-$flag[0]'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
		echo $message [$flag [0]];
		echo "</div></div>";
	}
	?>
	</div>

<?php } ?>


<div id="leavetypecontainer" class="leave_type_container">
<?php if($this->call != 'ajaxcall'){ ?>
<span id="error_message"></span>
<?php }?>
	<!--<div id="arrow_left"></div>-->
<?php
echo sapp_Helper::displayLeaveTypeMenu ( $this->totalLeaveTypes, $this->currentleavetypeid,$this->compoffid, $this->totalcompoffs );
?>
<!--<div id="arrow_right"></div>-->
</div>
<?php
echo sapp_Helper::displayLeaveTypeDiv ( $this->leavesCountArray, $this->currentleavetypeid );
?>
<?php

if ($this->call == 'ajaxcall') {
	$div = '';
	$endDiv = '';
} else {
	$div = '<div id="grid_' . $this->dataArray [0] ['objectname'] . '" class="all-grid-control">';
	$endDiv = '</div>';
}
echo $div . '<div id="msg" style="display:none;font-style: oblique; font-weight: bold; color: green;""></div>' . $this->grid ( $this->dataArray [0] ) . $endDiv;

?>
<script type='text/javascript'>
$(document).ready(function(){
<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispmsgpendingleaves').fadeOut('slow');
		},3000);


<?php } ?>
if($('.leave_type_container').length>1) {
		$('.leave_type_container:first').remove();
		$('#maincontentdiv').prepend($('.leave_type_container'));
	}
	if($('.leave_type_menu').length>1) {
		$('.leave_type_menu:first').remove();
		$('#leavetypecontainer').append($('.leave_type_menu'));
	}
	if($('.count_new_dis_par').length>1) {
		$('.count_new_dis_par:first').remove();
		$('.count_new_dis_par').insertAfter('#leavetypecontainer');
	}

$('.count_new_dis').removeClass('count_new_dis_active');
<?php if(!empty($this->flag)) {?>
	$('#filter_<?php echo $this->flag;?>').addClass('count_new_dis_active');
<?php } else if($this->objName == 'all') { ?>
	$('#filter_total').addClass('count_new_dis_active');
<?php } else { ?>
$('#filter_<?php echo $this->objName;?>').addClass('count_new_dis_active');
<?php } ?>

	$(".leave_type_menu").css("width", ($(".leave_type_container").width()-20) + "px" );
	var leavesTypeCount = $(".leave_type_dis").size();
	if(leavesTypeCount <= 6){
		var avgWidth = availableWidth/leavesTypeCount;
		var availableWidth = $(".leave_type_menu").width();
		var avgWidth = (availableWidth-40)/leavesTypeCount;
		$(".leave_type_dis").css("width", avgWidth + "px" );
		$("#arrow_left").hide();
		$("#arrow_right").hide();
	}

	var clicked = false, clickY;
	$('.leave_type_menu').on({
	    'mousemove': function(e) {
	        clicked && updateScrollPos(e);
	    },
	    'mousedown': function(e) {
	        clicked = true;
	        clickX = e.pageX;
	    },
	    'mouseup': function() {
	        clicked = false;
	        $('html').css('cursor', 'auto');
	    }
	});

	$('#arrow_left').on({
	    'mousedown': function(e) {
		    $('.leave_type_menu').scrollLeft($('.leave_type_menu').scrollLeft() +($(".leave_type_dis").width()- 20));
	    }
	});
	$('#arrow_right').on({
	    'mousedown': function(e) {
		    $('.leave_type_menu').scrollLeft($('.leave_type_menu').scrollLeft() - $(".leave_type_dis").width()+ 20);
	    }
	});

	var updateScrollPos = function(e) {
	    $('html').css('cursor', 'all-scroll');
	    $('.leave_type_menu').scrollLeft($('.leave_type_menu').scrollLeft() + (clickX - e.pageX));
	}

	$('.count_new_dis').css('background-color', $(".current_leavetype").css('background-color'));
	$('.count_new_dis').css('color', $(".current_leavetype").css('color'));


});
</script>

