<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

	<?php if(sizeof($this->ffEmpsStatusData)>0){?>
		<div class="appraisalinfo" id="appraisalinfo"></div>
		
		<?php foreach ($this->ffEmpsStatusData as $emp){?>
		
			<div class="manager_feed_div">
				<img width="44px" height="44px" onerror="this.src='<?php echo DOMAIN; ?>public/media/images/default-profile-pic.jpg'" src="<?php echo DOMAIN; ?>public/uploads/profile/<?php echo $emp['profileimg'];?>">
				<span><?php echo $emp['userfullname'];?></span>
				<?php if($emp['ff_status'] == APP_PENDING_EMP){ ?> 
					<div class="status_div pending"> Pending employee ratings</div>
				<?php } else { ?>
					<div class="status_div completed"> Completed</div>
				<?php }?>
			</div>
		<?php }?>
		
	<?php }
	else { 	?>
	<div class="managerresponsediv_msg"> No data found </div>
	<?php }?>   
	