<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
	if(!empty($this->employeedata))
	 {
			echo $this->employeedetails($this->employeedata,'mydetails',$this->id); 
	 } 
?>
<div class="right-block-data right-over-bottom-border">
	<div id="error_message" style="display:none;"></div>
		<?php echo $this->form->id;
			echo $this->form->user_id;
			?>

			<div class="total-form-controller cancel-set view-form-detail">
			    <div class="new-form-ui">
				  <label><?php echo $this->form->military_status->getLabel(); ?></label>
				    <div class="division"><?php echo $this->form->military_status; ?></div>
				</div>
				
				<div class="new-form-ui">
				  <label><?php echo $this->form->countries_served->getLabel(); ?></label>
				    <div class="division"><?php echo $this->form->countries_served; ?></div>
				</div>
		
				<div class="new-form-ui">
			      <label><?php echo $this->form->branch_service->getLabel(); ?></label>
				   <div class="division"><?php echo $this->form->branch_service; ?></div>
				</div>
				
				<div class="new-form-ui">
			      <label><?php echo $this->form->rank_achieved->getLabel(); ?></label>
				   <div class="division"><?php echo $this->form->rank_achieved; ?></div>
				</div>
				
				<div class="new-form-ui">
				  <label><?php echo $this->form->from_date->getLabel(); ?></label>
				    <div class="division"><?php echo $this->form->from_date; ?></div>
				</div>
												
				<div class="new-form-ui">
				  <label ><?php echo $this->form->to_date->getLabel(); ?></label>
				    <div class="division"><?php echo $this->form->to_date; ?></div>
				</div>	
				
				<div class="new-form-ui">
			    <label ><?php echo $this->form->special_training->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->special_training; ?></div>
				</div>
				
				<div class="new-form-ui">
			    <label ><?php echo $this->form->awards->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->awards; ?></div>
				</div>
				
				
				
				<div class="new-form-ui">
				  <label><?php echo $this->form->discharge_status->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->discharge_status; ?></div>
				</div>
				
												
				<div class="new-form-ui">
				  <label><?php echo $this->form->service_number->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->service_number; ?></div>
				</div>
					
            	<div class="new-form-ui">
				  <label ><?php echo $this->form->rank->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->rank; ?></div>
				</div>
				
				<div class="new-form-ui">
				  <label ><?php echo $this->form->verification_report->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->verification_report; ?></div>
				</div>
				
				
				<div class="new-form-ui">
				  <label ><?php echo $this->form->military_servicetype->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->military_servicetype; ?></div>
				</div>
				
				<div class="new-form-ui">
				  <label ><?php echo $this->form->veteran_status->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->veteran_status; ?></div>
				</div>
			</div>
            
			<div class="new-form-ui-submit">
			<?php	/*	If the login employee has edit privilege then show edit ...		*/
				if($this->editPrivilege == 'Yes')	{	?>
				<input type="button" onclick="redirecttoEditscreen('<?php echo $this->controllername;?>','<?php echo $this->actionname;?>');" value="Edit" />    
			<?php	}	?>
			</div>  
	
			

</div>	
</div>


<script type='text/javascript'>
$(document).ready(function(){

   $("#emp_additional").addClass('active');
   $("#emp_additional").removeAttr("onclick");
})
</script>

