<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if(empty($this->empdata)){?>
   <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>
						No data found.
				<?php }else{?>
						Employee deleted
				<?php }?>
	</div>

<?php	}else{

sapp_Global::generateClientValidations($this->form);
if(!empty($this->employeedata)) 
{
		echo $this->employeedetails($this->employeedata,'mydetails',$this->id); 
 } ?>
<div class="right-block-data"> 
	<div id="error_message" style="display:none;"></div>
    <?php echo $this->form->id; ?>
	<?php	/*	If the login employee has edit privilege then show edit ...		*/
			if($this->editPrivilege == 'Yes')	{	?>
			<div class="new_actions">
			<a class="edit_action_new" onclick="redirecttoEditscreen('<?php echo $this->controllername;?>','<?php echo $this->actionname;?>');"><i class="fa fa-pencil"></i> Edit</a>
			</div>
	<?php	}	?>

<?php 
$cardExpiration = $this->form->card_expiration->getValue();
$cardIssuedBy = $this->form->card_issuedby->getValue();
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Card Type',(!empty($this->data[0]['card_type']))?$this->data[0]['card_type']:"...",'Corporate Card Number',(!empty($this->data[0]['card_number']))?$this->data[0]['card_number']:"...");
sapp_Helper::viewBody('nor','Name on Card',(!empty($this->data[0]['nameoncard']))?$this->data[0]['nameoncard']:"...",'Expiry Date',(!empty($cardExpiration))?$this->form->card_expiration->getValue():"...");
sapp_Helper::viewBody('alt','Card Issued By',(!empty($cardIssuedBy))?$this->form->card_issuedby->getValue():"...",'Card Code',(!empty($this->data[0]['card_code']))?$this->data[0]['card_code']:"...");
sapp_Helper::viewFooter();
?>
		<!--	<div class="new-form-ui-submit">
			<?php	/*	If the login employee has edit privilege then show edit ...		*/
			//if($this->editPrivilege == 'Yes')	{	?>
        	<input type="button" onclick="redirecttoEditscreen('<?php// echo $this->controllername;?>','<?php //echo $this->actionname;?>');" value="Edit" />    
		<?php	//}	?>
			
			 </div>-->
			
        </div>
	 </div>
			 
<script type="text/javascript" language="javascript">
$(document).ready(function() {
  
    $("#creditcarddetails").addClass('active');
	$("#creditcarddetails").removeAttr("onclick");

});//end of ready function

</script>

<?php }?>
