<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if(empty($this->empdata)){?>
   <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>
						No data found.
				<?php }else{?>
						Employee deleted
				<?php }?>
	</div>

<?php	}	else	{
 $baseUrl = $this->serverUrl().$this->baseUrl();
sapp_Global::generateClientValidations($this->form);
?><div id="error_message" style="display:none;"></div>
<?php if (count($this->messages)) {?>
	<div id="dispempdisability" class="settingssuccess">
		<?php 
			foreach ($this->messages as $message)
			{
				$flag = array();				
				$flag = array_keys($message);
				echo "<div id='messageData' class='ml-alert-1-$flag[0]'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
				echo $message[$flag[0]];
				echo "</div></div>";
			} 
		?>
	</div>
	
<?php } ?>
<?php if(!empty($this->empdata))
 {
       	echo $this->employeedetails($this->empdata[0],'mydetails',$this->id); 
 } 
?>

<div class="right-block-data"> 
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		 
			<div class="new-form-ui" id="injuryType">
			    <label>Disability Type</label>
				<div class="division"><?php echo $this->form->disability_type; ?></div>
				 <?php if(isset($this->msgarray['disability_type'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->disability_type->getId(); ?>"><?php echo $this->msgarray['disability_type'];?></span>
				<?php }?>
				</div>
			<div class="new-form-ui clearb">
			  <label id="injuredDate">Disability Name <img class="tooltip" title="Accepts spaces, hyphens, numbers and characters" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
				<div class="division loca_state_div"><?php echo $this->form->disability_name; ?></div>
				<?php if(isset($this->msgarray['disability_name'])){?>
				<span class="errors" id="errors-<?php echo $this->form->disability_name->getId(); ?>"><?php echo $this->msgarray['disability_name'];?></span>
				<?php }?>
			</div>
			
			<div class="new-form-ui textareaheight" id="injuryDesc">
				<label>Description/Reason</label>
				<div class="division"><?php echo $this->form->disability_description; ?></div>
				 <?php if(isset($this->msgarray['disability_description'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->disability_description->getId(); ?>"><?php echo $this->msgarray['disability_description'];?></span>
				<?php }?>
			</div>
			
																	
			<div class="new-form-ui clearb" id="OtherdisabilityType" style="display:none;">
			  <label>Other Disability Type</label>
			  <div class="division"><?php echo $this->form->other_disability_type; ?></div>
				<?php if(isset($this->msgarray['other_disability_type'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->other_disability_type->getId(); ?>"><?php echo $this->msgarray['other_disability_type'];?></span>
				<?php }?>
			</div>

        <div class="new-form-ui-submit" id="formSubmit">
        <?php echo $this->form->submit; ?>
        </div>
  </div>
</form>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispempdisability').fadeOut('slow');
		},3000);

<?php } ?>
	var disabilityType = $("#disability_type").val();
	if(disabilityType !="" && disabilityType == "other impairments")
	{	
		showdisabilityField('disability_type');
	}
	
    $("#disabilitydetails").addClass('active');
	$("#disabilitydetails").removeAttr("onclick");
	});
</script>
<?php	}	?>