<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if(empty($this->empdata)){?>
   <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>
						No data found.
				<?php }else{?>
						Employee deleted
				<?php }?>
	</div>

<?php	}else{
	$baseUrl = $this->serverUrl().$this->baseUrl();
sapp_Global::generateClientValidations($this->form);
if($this->form->emptyFlag->getValue() != 0)
	{
?>	 <div class="ml-alert-1-info m1-info-set">
		<div class="style-1-icon info"></div>
			The employee configurations are not yet set.Please configure them to add employee work eligibility details.
	</div>
<?php	}	?>
<div id="error_message" style="display:none;"></div>
<?php if (count($this->messages)) {?>
	<div id="dispempwork" class="settingssuccess">
		<?php 
			foreach ($this->messages as $message)
			{
				$flag = array();				
				$flag = array_keys($message);
				echo "<div id='messageData' class='ml-alert-1-$flag[0]'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
				echo $message[$flag[0]];
				echo "</div></div>";
			} 
		?>
	</div>
	
<?php } ?>
<?php if(!empty($this->empdata))
 {
       	echo $this->employeedetails($this->empdata[0],'mydetails',$this->id); 
 } 
?>
<div class="right-block-data"> 

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; 
		      echo $this->form->issuingauthflag;
		?>
		<?php	/*	If the login employee has edit privilege then show edit ...		*/
			if($this->editPrivilege == 'Yes')	{	?>
			<div class="new_actions">
			<a class="edit_action_new" onclick="redirecttoEditscreen('<?php echo $this->controllername;?>','<?php echo $this->actionname;?>');"><i class="fa fa-pencil"></i> Edit</a>
			</div>
		<?php	}	?>
<?php 
$docIssueDate = $this->form->doc_issue_date->getValue();
$docExpiryDate = $this->form->doc_expiry_date->getValue();
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Document Type',(!empty($this->data['documenttype_id']))?$this->data['documenttype_id']:"...",'Document Issue Date',(!empty($docIssueDate))?$this->form->doc_issue_date->getValue():"...");
sapp_Helper::viewBody('nor','Document Expiry Date',(!empty($docExpiryDate))?$this->form->doc_expiry_date->getValue():"...",'Issuing Authority Name',(!empty($this->data['issuingauth_name']))?$this->data['issuingauth_name']:"...");
sapp_Helper::viewBody('alt','Issuing Authority Country',(!empty($this->data['issuingauth_country']))?$this->data['issuingauth_country']:"...",'','');
?>
<div id="issuingauth_statediv">
<?php 
sapp_Helper::viewBody('nor','Issuing Authority State',(!empty($this->data['issuingauth_state']))?$this->data['issuingauth_state']:"...",'','');
?>
</div>
<div  id="issuingauth_citydiv">
<?php 
sapp_Helper::viewBody('alt','Issuing Authority City',(!empty($this->data['issuingauth_city']))?$this->data['issuingauth_city']:"...",'','');
?>
</div>
<?php 
sapp_Helper::viewBody('nor','Issuing Authority Postal Code',(!empty($this->data['issuingauth_postalcode']))?$this->data['issuingauth_postalcode']:"...",'','');
sapp_Helper::viewFooter();
?>
		  <!--   <div class="new-form-ui-submit">
		<?php	/*	If the login employee has edit privilege then show edit ...		*/
			//if($this->editPrivilege == 'Yes')	{	?>
        	<input type="button" onclick="redirecttoEditscreen('<?php //echo $this->controllername;?>','<?php// echo $this->actionname;?>');" value="Edit" />    
		<?php	//}	?>   
			</div>-->
     
</form>
</div>
</div>



<script type='text/javascript'>
$(document).ready(function(){
		<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispempwork').fadeOut('slow');
		},3000);

<?php } ?>
		
	$("#workeligibilitydetails").addClass('active');
	$("#workeligibilitydetails").removeAttr("onclick");
	
	<?php if ($this->issuingauthority !='') {
	      if ($this->issuingauthority == 1){
    ?>		  
			$("#issuingauth_statediv").hide();
			$("#issuingauth_citydiv").hide();

    <?php }else if ($this->issuingauthority == 2){
    ?>
		  $("#issuingauth_statediv").show();
		  $("#issuingauth_citydiv").hide();
		  
    <?php } else if ($this->issuingauthority == 3) {?>
	      $("#issuingauth_statediv").show();
		  $("#issuingauth_citydiv").show();
	<?php }?>
        
    <?php }?>
	
	
	});
</script>
<?php }?>