<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>
<?php
$login_user_role = $this->login_user_role;
?>
<div class="profile-tabs">
    <div class="profile-tabs-left">
        <ul>
            <li><a href="<?php echo BASE_URL; ?>dashboard/viewprofile"><div class="profile-icon view-profile"></div><p>View Profile</p></a></li>
            <li><a href="<?php echo BASE_URL; ?>viewsettings/1"><div class="profile-icon view-settings"></div><p>Settings</p></a></li>
            <li><a href="<?php echo BASE_URL; ?>dashboard/changepassword"><div class="profile-icon view-password"></div><p>Change Password</p></a></li>
            <?php 
            if($login_user_role == SUPERADMINROLE)
            {
            ?>
            <li><a href="<?php echo BASE_URL; ?>dashboard/emailsettings"><div class="profile-icon view-emailsettings"></div><p>Mail Settings</p></a></li>
            <?php 
            }
            ?>
            <li class="now"><div class="profile-icon view-aboutxnet-hover"></div><p>About XNet</p><div class="absolute-div"></div></li>
        </ul>

            <input type="hidden" id="userid" value="<?php echo $this->id;?>"/>
    </div>
<style>
    ol{
    	margin-left:25px;
    }
</style>
<div class="profile-tabs-right-password">
	<div class="profile-tabs-right-inside">

    	<div class="total-form-controller" style="margin-left:5px;">
    		<?php echo $this->partial('dashboard/about.phtml');?>
    	</div>
	</div>
</div>