<h2>Xnet release 3.4.6</h2>
<br/>
<b>Defect fixes:</b>
<ol>
<li>XEO-827: Xnet: Time graph is not correct for 27th Dec 2018.</li>
<li>XEO-859: Xnet: Issue with Missed Checkouts in Xnet.</li>
<li>Xnet: The date is wrong in worklog sheet reminder emails.</li>
<br/> 
<br>
<br>
<font color="grey">
<h2><i>Releases History</i></h2>
<br/>
<h2>Xnet release 3.4.5</h2>
<br/>
<b>Defect fixes:</b>
<ol>
<li>XEO-868: Xnet: Employee addition feature not working.</li>
<br/>
<h2>Xnet release 3.4.4</h2><br/>
<b>Changes in this release:</b>
<ol> 
<li>While navigating to Time tab, the worklog page should get open by default, instead of timesheet page</li>
<li>Search functionality on Employees and My Team Members pages should work on enter also.</li>
</ol>
<br/>
<b>Defect fixes:</b>
<ol>
<li>Hours can be entered more than 24 and even special character can be entered</li>
<li>Worklog emails are being sent out for weekends also.</li>
<li>View Task Resources screen is cutting at the bottom and not visible completely</li>
<li>Cron isn't sending worklog email reminders correctly</li>
<li>[Production] Worklog reminder emails are not being sent out</li>
<li>Add overlay on Exit Procedure > Overall status update screen</li>
<li>Available Leaves in Leave detail view shows incorrect number</li>
<li>Month selection on worklog page is not working.</li>
<li>Make an employee active\inactive.</li>
<li>WFH rule implementation for probation employees.</li>
<li>Check-in button functionality for WFH.</li>
<li>While changing reporting manager of an employee, the list of only concerned departments is available, instead, it must contain all employees of the organisation\business unit.</li>
<li>On my exceptions page, after cancelling the exception , the mail delivered is not in correct format.</li>
<li>Issues and improvements in leave emails</li>
<li>Comp-off cancelled (probably all) email - small text correction</li>
<li>No space between Exception and Request in header</li>
<li>Exception can be created for any future date even outside of the attendance audit window as well</li>
<li>XEO-810: Xnet: Incorrect number of days for applied comp off is showing.</li>
<li>XEO-818: Xnet: Approval/Rejection email should show approval/rejection reason</li>
<li>Navigating from Worklog to Self Service menu is not working as expected</li></ol> 
<br/> 
<h2>Xnet release 3.4.3</h2><br/>
<b>Changes in this release:</b>
<ol> 
<li>Work From Home - Check-in/check-out validation updated to honor office clock time configuration</li>
<li>Work From Home - Rule implementation specific to probationary employees</li>
</ol>
<br/>
<br/>
<br>
<h2>Xnet release 3.4.2</h2><br/>
<b>Changes in this release:</b>
<ol> 
<li>Whenever user submits worklog, he/she will receive an email with a summarised view of the worklog entries.</li>
<li>Added "Status" field in Exceptions summary.</li>
<li>Employee and HR will be able to cancel Leave request raised in respect to comp-off.</li>
</ol>
<br/>
<b>Defect fixes:</b>
<ol>
<li>XEO-798 Popup message showing on date change while applying leave.</li>
<li>Exception cancellation doesn't work.</li>	
<li>Employee Exceptions -> Actioning on multiple items doesn't refresh: Fixed.</li>
<li>Cancel button not working in leaves and exceptions: Fixed.</li>
</ol> 
<br/>
<h2>Xnet release 3.4.1</h2><br/>
<b>Changes in this release:</b>
<ol> 
<li>Multiple Exceptions and Comp-offs action feature.</li>	
<li>Change the default page for "Self Service" from "My leaves" to "My Attendance".</li> 
<li>Allow WFH to be applicable on weekends and holidays.</li>
<li>Attendance Report: The individual tab should show the comp-off details too.</li>
<li>Add a check for working weekends/holidays (punch in or WFH) for worklog enablement.</li>
<li>Added email notifications to Exit Procedure.</li>
<li>My Leave grid: If the reason is long, it is truncated instead of being wrapped.</li>
</ol>
<br/>
<b>Defect fixes:</b>
<ol>
<li>XEO-781 Incorrect comp-off details showing in XNet after applied for approval.</li>
<li>XEO-776 I punched in and punched out correctly and the same is showing while I hover to the working hrs but still the status is shown as missed punch.</li>
</ol>
<br/>
<h2>Xnet release 3.4.0</h2><br/>
<b>Changes in this release:</b>
<ol> 
<li>New .Net application introduced to sync Biometric device to Xnet database. This completely removes dependency from Ewitt.</li>	
<li>Option to view consolidated or scattered punch ins and outs in the attendance bar</li> 
<li>XEO-739 LWP to be mentioned as absent</li>
</ol>
<br/>
<b>Defect fixes:</b>
<ol>
<li>XEO-743 Policy not visible</li>
<li>XEO-755 Question in exit procedure is cropped</li>
<li>XEO-729 Issue in submitting worklog in XNET</li>
<li>XEO-714 Work Log summary text validations are breaking the save call. Unable to save work log if summary have ","</li>
</ol> 
<br/>
<h2>Xnet release 3.3.9</h2><br/>
<b>Defect fixes:</b>
<ol>
<li>XEO-735 Not able to update work-log sheet</li>
<li>XEO-734 [XNet] Worklog filling notification coming for Saturday's</li>
<li>XEO-736 Why is XNET prompting to fill Worklog for non working days</li>
<li>XEO-559 Issues with data- EL count</li>
<li>Some internally identified defects in Worklog feature</li>
	<ul>
		<li>Removed ability to submit worklog for locked days</li>
		<li>Weekends and holidays causing invalid unlocking of days</li>
		<li>One remaining row cannot be deleted or cleared</li>
	</ul>
</ol> 
<br/>
<h2>Xnet release 3.3.8</h2><br/>
<b>Changes in this release:</b>
<ol> 
<li>Comp-off leaves as well as encashments are now visible in the My leave grid</li>
<li>Changed the menu bar logo to match the 3D effect as on login page</li>
<li>[HR] Auto reminder on employee probation completion date so that HR and manager can get notice to confirm or extend the probation timely</li>
<li>Added a spinner while the attendance data bars are being loaded</li>
</ol>
<br/>
<br/>
<b>Defect fixes:</b>
<ol>
<li>XEO-719 Showing incorrect time</li>
<li>From the Enter Worklog view, clicking on parent menu items makes the left menu disappear</li>
<li>Day attendance bar detail goes below the viewable page area</li>
<li>Some minor defect fixes on My Leave grid</li>
<li>Sorting and breadcrumb related fixes on Employee Requests page</li>
</ol> 
<br/>
<h2>Xnet release 3.3.7</h2><br/>
<b>[URGENT] Defect fixes:</b>
<ol>
<li>XEO-717 Facing issues while adding worklog</li>
<li>XEO-718 Please explain this View</li>
<li>Internally identified issue with duplicate entries</li>
</ol> 
<br/>
<h2>Xnet release 3.3.6</h2><br/>
<b>Changes in this release:</b>
<ol> 
<li>Attendance report now includes WFH hours</li>
<li>Added Xnet release notes icon</li>
<li>[HR] Track and reimburse Compensatory offs</li>
<li>[HR] Added automatic probation handling</li>
<li>[PMG] A worklog report is now available for PMG to download</li>
</ol>
<br/> 
<b>Defect fixes:</b>
<ol>
<li>Safari browser defect fixes</li>
<li>XEO-693 - Approved CompOff view does not show date of leave</li>
<li>Today's birthdays name cropping fixed</li>
<li>Menu bar items moving to new row fixed</li>
<li>Upcoming Birthdays widget missed some employees occasionally</q></li>
<li>XEO-664, XEO-689 - Error message in day status bar fixed</li>	
<li>Minor tweaks and fixes</li>
</ol> 
<br/>
<br/>
<h2>Xnet release 3.3.5</h2><br/>
<b>Changes in this release:</b>
<ol> 
<li>Modified the application version number to follow database upgrader scheme</li>
<li>Xnet now allows actioning on multiple leaves</li>
<li>[HR] Roles & Privileges option is now available in HR ID</li>
<li>[HR] Fixed columns in Employee Leave Summary report</li>
<li>SL is now available for employees in Probation</li>
<li>New Dashboard shortcuts</li>
<li>Added a basic and detailed view for managers to view team attendance, under <q>Self Service > My Team > My Team Attendance</q></li>
<li>Parent menu is now added to <q>Time</q></li>
<li>Email accounts for Xnet notifications are updated to identify test and production</li>
<li>Sick leaves and Leave without pay are now allowed in probation</li>
<li>Xnet now support Half/Full day compensatory off</li>
</ol>
<br/>
<b>Defect fixes:</b>
<ol>
<li>XEO-691 - XNET is showing incorrect attendance details for today</li>
<li>XEO-673 - Exit procedure is not visible</li>
<li>XEO-615 - XNET : Work hours are not being displayed correctly</li>
<li>Missed worklog reminder used to appear late upon fresh login</li>
<li>Upcoming Birthdays widget missed some employees occasionally</q></li>
<li>Minor tweaks and fixes to My Leave page grid</li>
</ol>
</font> 