<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if($this->rowexist == 'norows'){?>
	No data found.
<?php } else {?>

<div class="poc-ui-data-control">
<div id="empleavesummaryform" style="display:none;">


<?php if($this->approve_flag=='true' || $this->reject_flag=='true' || $this->cancel_flag=='true') { ?>

<div class="leaves_rq_new_pop">
	
   <div class="leaves_rq_new_pop_left">
    	 <!--	<label>Status</label>
            <ul id="leaves_request_ul">
          <?php //if($this->user_logged_in=='true' && $this->manager_logged_in!='true') 
          		//{ 
          			//if($this->cancel_flag=='true') {				
          ?>
          		<li>
          			<a><span class="fa fa-times-circle"></span><span>Cancel</span></a>
          		</li>
          <?php //}} 
          ?> 
          



</div>
</div>
<?php } ?>

<!--</form>-->
</div>
</div>
<div style="clear:both;">


 <form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">

			<div class="new-form-ui">
			  <label class="required">Change Leave Type</label>
			<div class="division"><?php echo $this->form->leavetypeid; ?></div>

			<?php echo $this->form->userid ?>
			<?php echo $this->form->id ?>


			<?php if(isset($this->msgarray['leavetypeid'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->leavetypeid->getId(); ?>"><?php echo isset($this->msgarray['leavetypeid'])?$this->msgarray['leavetypeid']:'';?></span>
			   
			<?php }?>		
			
			</div>
			<div class="new-form-ui">
			  <label class="required">From <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			 <div class="division"><?php echo $this->form->from_date; ?></div> 		
			<span class="errors" id="errors-<?php echo $this->form->from_date->getId(); ?>"><?php echo isset($this->msgarray['from_date'])?$this->msgarray['from_date']:'';?></span>
						 
			</div>
						
				<div class="new-form-ui" id="todatediv">
			  <label class="required">To <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
			<div class="division"><?php echo $this->form->to_date; ?></div>
			   <span class="errors" id="errors-<?php echo $this->form->to_date->getId(); ?>"><?php echo isset($this->msgarray['to_date'])?$this->msgarray['to_date']:'' ;?></span>
			</div>

			<div class="new-form-ui">
			  <label class="required">Leave For</label>
			<div class="division"><?php echo $this->form->leaveday; ?></div>
			<?php if(isset($this->msgarray['leaveday'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->leaveday->getId(); ?>"><?php echo $this->msgarray['leaveday'];?></span>
			<?php }?>
			</div>
			
				<div class="new-form-ui">
			  <label>Days</label>
			<div class="division"><?php echo $this->form->appliedleavesdaycount; ?></div>
			<?php if(isset($this->msgarray['appliedleavesdaycount'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->appliedleavesdaycount->getId(); ?>"><?php echo $this->msgarray['leaveday'];?></span>
			<?php }?>
			</div>

			<div class="new-form-ui">
			  <label  class="required">Reason</label>
			<div class="division" ><?php echo $this->form->reason; ?></div>
			<?php if(isset($this->msgarray['reason'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->reason->getId(); ?>"><?php echo $this->msgarray['reason'];?></span>
			<?php }?>
			</div>

		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button name="Cancel" id="Cancel" onclick="closedialog();" type="button">Cancel</button>
		</div>

</form>

</div>
<?php } ?>

<script type="text/javascript">

function validate_fromdate()
{
    $('#errors-from_date').remove();
    if($.trim($('#from_date').val()) == '')
    {
        $('#from_date').parent().append("<span class='errors' id='errors-from_date'>Please select date.</span>");
    }
    else
    {
        $('#errors-from_date').remove();
    } 
}

function validate_todate()
{
    $('#errors-to_date').remove();
    if($.trim($('#to_date').val()) == '')
    {
        $('#to_date').parent().append("<span class='errors' id='errors-to_date'>Please select date.</span>");
    }
    else
    {
        $('#errors-to_date').remove();
    } 
}

function closedialog()
{
	$('#s2id_leaveday .select2-choice span').html('Full Day');
    $('#leaveday').val(1);
    $('#leavetypeid').val('');
    $('#s2id_leavetypeid .select2-choice span').html('Select Leave Type');
	$("#todatediv").show();
    $('#reason').val('');
    $('#errors-no_of_days').remove();
    $('#errors-reason').remove();
    $('#errors-leavetypeid').remove();
	$('#errors-leaveday').remove();
	$('#errors-from_date').remove();
	$('#errors-to_date').remove();
	$('#errors-rep_mang_id').remove();
	window.parent.$("#empleavesummaryContainer").dialog('close');
}



function datepickerappend()
{

	<?php if(!empty($this->weekendDatailsArr)) { ?>
		//var yearrange = <?php echo "'".date('Y').':'.date('Y')."'"; ?>;
		var yearrange = <?php echo "'".date("Y", strtotime("-30 years")).':'.(date('Y')+20)."'"; ?>;
		var weekend_strtday = <?php echo $this->weekendDatailsArr[0]['weekendstartday']; ?>;
		var weekend_endday = <?php echo $this->weekendDatailsArr[0]['weekendday']; ?>;
		<?php if(!empty($this->dateofjoiningArr)) {?>
			  var year = <?php echo $this->dateofjoiningArr['year']; ?>;
			  var month = <?php echo $this->dateofjoiningArr['month']; ?>;
			  var day = <?php echo $this->dateofjoiningArr['day']; ?>;

		<?php }?>


		$('#from_date').datepicker({
						showOn:'both',
						yearRange: yearrange,
						dateFormat:"<?php echo DATEFORMAT_JS;?>",
						buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
						buttonImageOnly: true,
						minDate: new Date(year, month - 1, day),
						buttonText: "",
						showButtonPanel: true ,
						changeMonth: true,
						changeYear: true,

						beforeShowDay: function(date) {
							var day1 = date.getDay();
							return [(day1 != weekend_strtday && day1 != weekend_endday)];
						},
						onClose:function(){
										$('#from_date').trigger('blur');
										emptytodate(this,'');
										validateselecteddate(this,'');
									}

				});

		$('#to_date').datepicker({
						showOn:'both',
						yearRange: yearrange,
						dateFormat:"<?php echo DATEFORMAT_JS;?>",
						buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
						buttonImageOnly: true,
						minDate: new Date(year, month - 1, day),
						buttonText: "",
						changeMonth: true,
						changeYear: true,
						showButtonPanel: true ,
						beforeShowDay: function(date) {
							var day2 = date.getDay();
							return [(day2 != weekend_strtday && day2 != weekend_endday)];
						},
						onClose:function(){
										$('#to_date').trigger('blur');
										validateselecteddate(this,'');
						}
				});
		<?php }?>
}

function onEditSuccess(response){
	closedialog();
	parent.successmessage(response['message']);
	parent.$('.refresh-grid').trigger('click');
	parent.sendLeaveRequestEmailAsync(response['leaverequest']);
}

$(document).ready(function() {
	
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	var dojtime = '';
	<?php if(!empty($this->dateofjoiningArr)) {?>
		
      var year = <?php echo $this->dateofjoiningArr['year']; ?>;
      var month = <?php echo $this->dateofjoiningArr['month']; ?>;
	  var day = <?php echo $this->dateofjoiningArr['day']; ?>;
	  var datetimestamp = <?php echo $this->dateofjoiningArr['datetimestamp']; ?>;
	  
	  // Creting date object of date of joining of employee and fetching the timestamp in milliseconds 
      var dojobj = new Date(year,month-1,day);	
      var dojtime = dojobj.getTime();		
	
      datepickerappend();
      if($("#leaveday").val() == 2){
    	hidetodatecalender(this);
      }

      $(document).on("change", '#leavetypeid', function (e) {
          if($('#from_date').val() != '' || $('to_date').val() != ''){
  			validateallocationperiod(this);
  		}
  });

		
		  
<?php }?>	

});


</script>

