<script type="text/javascript"
	src="<?php echo SCRIPTS_PATH;?>/jquery.fileDownload-master/src/Scripts/jquery.fileDownload.js"></script>

<?php
if ($this->call != 'ajaxcall') {
	?>
<span id="error_message"></span>

<?php
}
?>

<div id="leavetypecontainer" class="leave_type_container">
	<!--<div id="arrow_left"></div>-->
	<ul class="leave_type_menu" style="width: 100%">
		<li class=" leave_type_dis leave" style="width: 270px"
			onclick="window.location.href='<?php

			echo BASE_URL . 'empleavesummary'?>';">Employee Leaves <br> <label><?php

			echo $this->leavesCountArray ['total']?></label>
		</li>
		<li class=" leave_type_dis" style="width: 270px"
			onclick="window.location.href='<?php

			echo BASE_URL . 'empleavesummary/exception'?>';">Employee Exceptions<br>
			<label><?php

			echo $this->exceptionCountArray ['total']?></label>
		</li>
		<li class=" leave_type_dis" style="width: 270px"
			onclick="window.location.href='<?php

			echo BASE_URL . 'empleavesummary/compoff'?>';">Employee Comp-off <br>
			<label><?php

			echo $this->compoffCountArray ['total']?></label></li>



	</ul>
</div>

<?php

if ($this->call == 'ajaxcall') {
	$div = '';
	$endDiv = '';
} else {
	echo sapp_Helper::displayEmployeeLeaveExceptionTypeDiv ( $this->exceptionCountArray );?>
		<div class="fltright">
	<div style="margin-top: 25px" class="sprite export-xls"
		id="export_excel" onclick="ExportToExcel();">Export to Excel</div>
	<div style="margin-top: 25px" class="sprite export-pdf" id="pdf"
		onclick="ExportToPDF();">Export to PDF</div>
</div>
		<?php
	$div = '<div id="grid_empleavesummary" class="all-grid-control">';
	$endDiv = '</div>';
}
echo $div . '<div id="msg" style="display:none;font-style: oblique; font-weight: bold; color: green;""></div>' . $this->grid ( $this->dataArray [0] ) . $endDiv;
?>

<script type='text/javascript'>
$(document).ready(function(){
<?php

if (count ( $this->messages )) {
	?>
      setTimeout(function(){
			$('#dispmsgpendingleaves').fadeOut('slow');
		},3000);


<?php
}
?>
if($('.leave_type_container').length>1) {
		$('.leave_type_container:first').remove();
		$('#maincontentdiv').prepend($('.leave_type_container'));
	}
$('.count_new_dis').removeClass('count_new_dis_active');
<?php

if (! empty ( $this->flag )) {
	?>
	$('#filter_<?php

	echo $this->flag;
	?>').addClass('count_new_dis_active');
<?php
} else if ($this->objName == 'all') {
	?>
	$('#filter_total').addClass('count_new_dis_active');
<?php
} else {
	?>
	$('#filter_<?php

	echo $this->objName;
	?>').addClass('count_new_dis_active');
<?php
}
?>
	if($('.count_new_dis_par').length>1) {
		$('.count_new_dis_par:first').remove();
		//$('.count_new_dis_par').not(':eq(0)').remove();
		$('.count_new_dis_par').insertAfter('#error_message');
	}
	$('.count_new_dis').css('background-color', $(".leave_type_dis:nth-child(2)").css('background-color'));
	$('.count_new_dis').css('color', $(".leave_type_dis:nth-child(2)").css('color'));
});
</script>