<?php
/*********************************************************************************

 *  Copyright (C) 2014 Sapplica
 *

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>
<style>
.apply_leave_div{float: right; margin-top: 25px; padding-right: 15px;}
.apply_button{background: #ea7c2e; color: #fff; border:none; padding:6px 16px; cursor: pointer; font-size:14px;}
</style>
	 <div id="empleaverequestform" style="display:none;">
		 	<div class="newframe-div">
		 		<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		 			<?php echo $this->form->id; ?>
		 			<?php 
            			$weekend_startday = '';
            			$weekend_endday = '';
            			$ishalf_day = '';
            			
            			if(!empty($this->weekendDatailsArr))
            			{
            				$weekend_startday = $this->weekendDatailsArr[0]['weekendstartday'];
            				$weekend_endday = $this->weekendDatailsArr[0]['weekendday'];	
            				$ishalf_day = $this->weekendDatailsArr[0]['is_halfday'];			
            			}	
            		?>
            	    <input type="hidden" value="<?php echo $this->loggedinEmpId[0]['emailaddress'];?>" id="employeeemail" name="employeeemail">
            		<?php if(isset($this->reportingManagerDetails[0]['emailaddress'])) { ?><input type="hidden" value="<?php echo $this->reportingManagerDetails[0]['emailaddress'];?>" id="repmanageremail" name="repmanageremail"> <?php } ?>
            		<input type="hidden" value="<?php echo $weekend_startday;?>" id="wkstrtday" name="wkstrtday">
            		<input type="hidden" value="<?php echo $weekend_endday;?>" id="wkendday" name="wkendday">
            		<input type="hidden" value="<?php echo $ishalf_day;?>" id="ishalfday" name="ishalfday">
		 			<div class="total-form-controller">
		 				<div class="new-form-ui">
			  				<label class="required">Employee Name</label>
							<div class="division"><?php echo $this->form->employeename; ?></div>
							<?php if(isset($this->msgarray['employeename'])){?>
			   				<span class="errors" id="errors-<?php echo $this->form->employeename->getId(); ?>"><?php echo $this->msgarray['employeename'];?></span>
							<?php }?>
						</div>
		 				<div class="new-form-ui">
			  				<label class="required">Leave Type</label>
							<div class="division"><?php echo $this->form->leavetypeid; ?></div>
							<?php if(isset($this->msgarray['leavetypeid'])){?>
			   				<span class="errors" id="errors-<?php echo $this->form->leavetypeid->getId(); ?>"><?php echo $this->msgarray['leavetypeid'];?></span>
							<?php }?>
						</div>
						<div class="new-form-ui">
            			  <label class="required">From <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
            			  <div class="division"><?php echo $this->form->from_date; ?></div>
			  			  <span class="errors" id="errors-<?php echo $this->form->from_date->getId(); ?>"><?php echo isset($this->msgarray['from_date'])?$this->msgarray['from_date']:'';?></span>
						</div>
					    <div class="new-form-ui" id="todatediv">
            			  <label class="required">To <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
            			  <div class="division"><?php echo $this->form->to_date; ?></div>
            			  <span class="errors" id="errors-<?php echo $this->form->to_date->getId(); ?>"><?php echo isset($this->msgarray['to_date'])?$this->msgarray['to_date']:'' ;?></span>
            			</div>
            			<div class="new-form-ui">
            			  <label class="required">Leave For</label>
            			  <div class="division"><?php echo $this->form->leaveday; ?></div>
            			  <?php if(isset($this->msgarray['leaveday'])){?>
            			   <span class="errors" id="errors-<?php echo $this->form->leaveday->getId(); ?>"><?php echo $this->msgarray['leaveday'];?></span>
            			  <?php }?>
            			</div>
            			<div class="new-form-ui">
            			  <label>Days</label>
            			  <div class="division"><?php echo $this->form->appliedleavesdaycount; ?></div>
            			  <?php if(isset($this->msgarray['appliedleavesdaycount'])){?>
            			   <span class="errors" id="errors-<?php echo $this->form->appliedleavesdaycount->getId(); ?>"><?php echo $this->msgarray['leaveday'];?></span>
            			  <?php }?>
            			</div>
            			<div class="new-form-ui">
            			  <label class="required">Reporting Manager</label>
            			  <div class="division"><?php echo $this->form->rep_mang_id; ?></div>
            			  <?php if(isset($this->msgarray['rep_mang_id'])){?>
            			   <span class="errors" id="errors-<?php echo $this->form->rep_mang_id->getId(); ?>"><?php echo $this->msgarray['rep_mang_id'];?></span>
            			  <?php }?>
            			</div>
            			<div class="new-form-ui textareaheight">
        			      <label class="required">Reason</label>
        				  <div class="division"><?php echo $this->form->reason; ?></div>
        				  <?php if(isset($this->msgarray['reason'])){?>
        			   		<span class="errors" id="errors-<?php echo $this->form->reason->getId(); ?>"><?php echo $this->msgarray['reason'];?></span>
        				  <?php }?>
        			    </div>
					</div>
				   <div class="new-form-ui-submit">
            	   <?php echo $this->form->submit; ?>	
            	   <button name="Canceldialog" id="Canceldialog" onclick="closedialog('cancel');" type="button">Cancel</button>
            	   </div>
		 		</form>
		 	</div>
		 </div>
<script type="text/javascript"
	src="<?php echo SCRIPTS_PATH;?>/jquery.fileDownload-master/src/Scripts/jquery.fileDownload.js"></script>

<?php if($this->errorstring !=''){?>
<div class="ml-alert-1-info m1-info-set">
	<div class="style-1-icon info"></div>
	Unauthorized access
</div>

<?php
} else {

	if (count ( $this->messages )) {
		?>
<div id="dispmsgempleaves" class="settingssuccess">
		<?php foreach ($this->messages as $message){?>
		 <?php echo $this->escape($message); ?>
		<?php } ?>
	</div>

<?php } ?>

<span id="error_message"></span>
<?php
	if ($this->call != 'ajaxcall') {
		?>
<!-- <div class="new-form-ui inputheight"  id="respformitems"> -->
<!-- <label>Status</label> -->
<!-- <div class="division"> -->


<!--     </select> -->
<!-- </div> -->
<!-- </div> -->
<div id="leavetypecontainer" class="leave_type_container">
	<!--<div id="arrow_left"></div>-->
	<ul class="leave_type_menu " style="width: 100%">
		<li class=" leave_type_dis leave" style="width: 270px"
			onclick="window.location.href='<?php

			echo BASE_URL . 'empleavesummary'?>';">Employee Leaves <br> <label><?php

echo $this->leavesCountArray ['total']?></label>
		</li>
		<li class=" leave_type_dis" style="width: 270px"
			onclick="window.location.href='<?php

			echo BASE_URL . 'empleavesummary/exception'?>';">Employee Exceptions <br>
			<label><?php
			echo $this->exceptionCountArray ['total']?></label>
		</li>
		<li class=" leave_type_dis" style="width: 270px"
			onclick="window.location.href='<?php

			echo BASE_URL . 'empleavesummary/compoff'?>';">Employee Comp-off <br> <label><?php
echo $this->compoffCountArray ['total']?></label></li>
	</ul>
</div>
<?php echo sapp_Helper::popup_helper('empleavesummary');?>

<?php
	}

	if ($this->call == 'ajaxcall') {
		$div = '';
		$endDiv = '';
	} else {
		echo sapp_Helper::displayEmployeeLeaveExceptionTypeDiv ( $this->leavesCountArray );?>
		<div class="fltright">
	<div style="margin-top: 25px" class="sprite export-xls"
		id="export_excel" onclick="ExportToExcel();">Export to Excel</div>
	<div style="margin-top: 25px" class="sprite export-pdf" id="pdf"
		onclick="ExportToPDF();">Export to PDF</div>
    <!-- <div class="apply_leave_div">
		<input class="apply_button" type="button" value="Apply Leave" onclick="applyleave()" >
	</div> -->
    </div>
		<?php $div = '<div id="grid_' . $this->dataArray [0] ['objectname'] . '" class="all-grid-control">';
		$endDiv = '</div>';
	}
	echo $div . '<div id="msg" style="display:none;font-style: oblique; font-weight: bold; color: green;""></div>' . $this->grid ( $this->dataArray [0] ) . $endDiv;

	?>

<link rel="stylesheet"
	href="<?php echo $this->baseUrl("public/media/css/jquery.multiselect.css"); ?>" />
<link rel="stylesheet"
	href="<?php echo $this->baseUrl("public/media/css/jquery.multiselect.filter.css"); ?>" />
<script
	src="<?php echo $this->baseUrl("public/media/js/jquery.multiselect.filter.min.js"); ?>"></script>
<script
	src="<?php echo $this->baseUrl("public/media/js/jquery.multiselect.js"); ?>"></script>

<script type='text/javascript'>
function validate_todate()
{
    $('#errors-to_date').remove();
    if($.trim($('#to_date').val()) == '')
    {
        $('#to_date').parent().append("<span class='errors' id='errors-to_date'>Please select date.</span>");
    }
    else
    {
        $('#errors-to_date').remove();
    }
}

function closedialog(flag)
{
	$('#s2id_leaveday .select2-choice span').html('Full Day');
    $('#leaveday').val(1);
    $('#leavetypeid').val('');
    $('#s2id_leavetypeid .select2-choice span').html('Select Leave Type');
	$("#todatediv").show();
    $('#reason').val('');
    $('#errors-no_of_days').remove();
    $('#errors-reason').remove();
    $('#errors-leavetypeid').remove();
	$('#errors-leaveday').remove();
	$('#errors-from_date').remove();
	$('#errors-to_date').remove();
	$('#errors-rep_mang_id').remove();
	if(flag == "cancel")
	 $("#leaverequestform").dialog('close');
}

/* 
*This function calculates the number of days on dragging calender event
  It also checks whether applied number of days doesnot fall on weekends.
  If it comes on weekends then it destroys the Dialog box.
*/
	
	function checkerrorvalidation()
	{
	  
			   <?php if(empty($this->weekendDatailsArr)){?>
					if($('#errors-from_date').length == 0)
						$('#from_date').parent().append("<span class='errors' id='errors-from_date'>Leave management options are not configured yet.</span>");
					if($('#errors-to_date').length == 0)	
						$('#to_date').parent().append("<span class='errors' id='errors-to_date'>Leave management options are not configured yet.</span>");
			   <?php }  if(empty($this->reportingManagerDetails)){?>
					if($('#errors-rep_mang_id').length == 0)
						$('#rep_mang_id').parent().append("<span class='errors' id='errors-rep_mang_id'>Reporting manager is not assigned yet. Please contact your HR.</span>");	
			   <?php } if(empty($this->leavetype)){?>
					if($('#errors-leavetypeid').length == 0)	
						$('#leavetypeid').parent().append("<span class='errors' id='errors-leavetypeid'>Leave types are not configured yet.</span>");
			   <?php } if(empty($this->getavailbaleleaves)){?>
					if($('#errors-no_of_days').length == 0)
						$('#no_of_days').parent().append("<span class='errors' id='errors-no_of_days'>You have not been allotted leaves for this financial year. Please contact your HR.</span>");
	    <?php }?>
	}

function applyleave()
{
	var date = new Date();
	var startdate = $.datepicker.formatDate( $("#dateformatjs").val(), date );	
	var enddate = $.datepicker.formatDate( $("#dateformatjs").val(), date );	
	validatefullcalenderdate(startdate,enddate);
}

function validatefullcalenderdate(fromdateval,todateval)
{

    if(fromdateval != '' && todateval != '')
	{
		$.ajax({
			url: base_url+"/index/calculatecalendardays/format/json",   
			type : 'POST',	
			data : 'fromDate='+fromdateval+'&toDate='+todateval,
			dataType: 'json',
			success : function(response){
			    var superadminid = <?php echo SUPERADMIN;?>;
			        if(response['days'] == 0 && response['loginUserId'] != superadminid)
					{
					    jAlert("You cannot apply leave on Weekend/Holidays.");
					}else
                    {
					   	$("#appliedleavesdaycount").val(response['days']);
						$("#from_date").val(fromdateval);
						$("#to_date").val(todateval);
					    $("#empleaverequestform").dialog({
							open: function(event, ui) {
												
								 checkerrorvalidation();
								 datepickerappend();
								  
								 },
							draggable:false, 
							resizable: false,
							height:'auto',
							title: "Create: Employee Leave Request",
							modal: true, 
							close: function( event, ui ) {
							      closedialog('');
							}
						});


                    }
			}
		});
	}	

}

/*
This function integrates the calender picker to dialogue box
This function is based on leave management options.
*/
function datepickerappend()
{
 <?php if(!empty($this->weekendDatailsArr)) { ?>

	//var yearrange = <?php echo "'".date('Y').':'.date('Y')."'"; ?>;
	var yearrange = <?php echo "'".date("Y", strtotime("-30 years")).':'.(date('Y')+20)."'"; ?>;
	var weekend_strtday = <?php echo $this->weekendDatailsArr[0]['weekendstartday']; ?>;
	var weekend_endday = <?php echo $this->weekendDatailsArr[0]['weekendday']; ?>;
	<?php if(!empty($this->dateofjoiningArr)) {?>
		  var year = <?php echo $this->dateofjoiningArr['year']; ?>;
		  var month = <?php echo $this->dateofjoiningArr['month']; ?>;
		  var day = <?php echo $this->dateofjoiningArr['day']; ?>;
		  
	<?php }?>

	$('#from_date').datepicker({
					showOn:'both',
					yearRange: yearrange,
					dateFormat:"<?php echo DATEFORMAT_JS;?>",
					buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
					buttonImageOnly: true,
					minDate: new Date(year, month - 1, day),
					buttonText: "",
					showButtonPanel: true ,
					changeMonth: true,
					changeYear: true,
					beforeShowDay: function(date) {
						var day1 = date.getDay();
						return [(day1 != weekend_strtday && day1 != weekend_endday)];
					},
					onClose:function(){
									$('#from_date').trigger('blur');
									emptytodate(this,'');
									validateselecteddate(this,'');
								}
				});
			
	$('#to_date').datepicker({
					showOn:'both',
					yearRange: yearrange,
					dateFormat:"<?php echo DATEFORMAT_JS;?>",
					buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
					buttonImageOnly: true,
					minDate: new Date(year, month - 1, day),
					buttonText: "",
					changeMonth: true,
					changeYear: true,
					showButtonPanel: true ,
					beforeShowDay: function(date) {
						var day2 = date.getDay();
						return [(day2 != weekend_strtday && day2 != weekend_endday)];
					},
					onClose:function(){
									$('#to_date').trigger('blur');
									validateselecteddate(this,'');
					} 					
			});	
		
<?php }?>
}

$(document).ready(function(){
	var isDirty = false;
	$(".multiSelectClass").multiselect({
		// shows header
		header: false,
		// height
		height: 175,
		// min width
		minWidth: 150,
		// additional classes
		classes: '',
		// custom text
		checkAllText: 'Check all',
		uncheckAllText: 'Uncheck all',
		noneSelectedText: 'Select options',
		// shows check/uncheck all links
		showCheckAll: false,
		showUncheckAll: false,
		// text for selected options
		selectedText: '# selected',
		selectedList: 0,
		// clise icon
		closeIcon: 'ui-icon-circle-close',
		// show/hide animations
		show: null,
		hide: null,
		// auto open
		autoOpen: false,
		// allows to select multiple options
		multiple: true,
		// position options
		position: {},
		// where to append the multiple select to
		appendTo: null,
		// menu width
		menuWidth:null,
		// list separator
		selectedListSeparator: ', ',
		// disables input on toggle
		disableInputsOnToggle: true,
		// grouped columns
		groupColumns: false,
		click: function(event, ui){
			isDirty = true;
		},
		beforeclose: function(){
			if(this.selectedOptions != null && isDirty) {
				var setValue = '';
		 		$.each(this.selectedOptions, function (index, value){
			 		if(index != 0) {
			 			setValue += '#$$#';
			 		}
				  setValue += value.text;
				});

				$('#' + this.name).val(setValue);
			}
			if(isDirty) {
				isDirty = false;
				var e = $.Event('keydown');
			    e.which = 13; // 'Enter'
				$('#' + this.name).trigger(e);
			}
	   },
	   close: function(){
	   }
	});

<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispmsgempleaves').fadeOut('slow');
		},3000);
<?php } ?>
});

<?php if($this->statusidstring !=''){ ?>
       $('#statusid').val('<?php echo $this->statusidstring; ?>');
<?php }?>
if($('.leave_type_container').length>1) {
		$('.leave_type_container:first').remove();
		$('#maincontentdiv').prepend($('.leave_type_container'));
	}
$('.count_new_dis').removeClass('count_new_dis_active');
<?php
if (! empty ( $this->flag )) {
	?>
	$('#filter_<?php
	echo $this->flag;
	?>').addClass('count_new_dis_active');
<?php
} else if ($this->objName == 'all') {
	?>
	$('#filter_total').addClass('count_new_dis_active');
<?php
} else {
	?>
	$('#filter_<?php
	echo $this->objName;
	?>').addClass('count_new_dis_active');
<?php
}
?>
	if($('.count_new_dis_par').length>1) {
		$('.count_new_dis_par:first').remove();
		//$('.count_new_dis_par').not(':eq(0)').remove();
		$('.count_new_dis_par').insertAfter('#error_message');
	}
$('.count_new_dis').css('background-color', $(".leave_type_dis").css('background-color'));
$('.count_new_dis').css('color', $(".leave_type_dis").css('color'));
</script>
<?php
}
?>
