<?php
/*********************************************************************************

 *  Copyright (C) 2014 Sapplica
 *

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

    <?php if($this->rowexist !=''){?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
						Unauthorized access
	</div>


<?php
}
else
{
	$type =$this->type;
	if($type != 'exception' && $type != 'compoff'){
	?>
<?php if($this->reportingmanagerStatus != 1) { 
	?>
    <div class="ml-alert-1-info">
	<div class="style-1-icon info"></div>
    <?php
				if($this->reportingmanagerStatus == 0)
					echo "The Reporting manager of this employee is made inactive.";
				else if($this->reportingmanagerStatus == 2)
					echo "The Reporting manager of this employee has resigned the job.";
				else if($this->reportingmanagerStatus == 3)
					echo "The Reporting manager of this employee has left the organization.";
				else if($this->reportingmanagerStatus == 4)
					echo "The Reporting manager of this employee has been suspended.";
				else
					echo "The Reporting manager of this employee deleted.";
	?>
    	</div>
	<?php } ?>
<?php

if(isset($_SESSION['emp_leaves']))
 {
	$back_str = '/'.$_SESSION['emp_leaves'];
	unset($_SESSION['emp_leaves']);
 }
 else
 {
	$back_str = '';
	unset($_SESSION['emp_leaves']);
 }

$baseUrl = $this->serverUrl().$this->baseUrl();
echo $this->form->id; ?>
<?php

sapp_Helper::viewHeader();
sapp_Helper::viewBody('nor','Available Leaves',$this->data['no_of_days'],'Reason',$this->data['reason']);
sapp_Helper::viewBody('alt','Leave Type',$this->data['leavetypeid'],'Leave',$this->form->leaveday->getValue());
sapp_Helper::viewBody('nor','From Date',$this->form->from_date->getValue(),'To Date',$this->form->to_date->getValue());
sapp_Helper::viewBody('alt','Status',$this->data['leavestatus'],'Number of Days',$this->form->appliedleavesdaycount->getValue());
sapp_Helper::viewBody('nor','Reporting Manager',$this->data['rep_mang_id'],'Applied On',$this->form->createddate->getValue());
sapp_Helper::viewFooter();
?>
		<!--	<div class="new-form-ui-submit">
				<input onclick="window.location.href='<?php echo BASE_URL; ?>empleavesummary<?php echo $back_str;?>';" type="button"  value="back"  />
			</div> -->
<?php }
if($type == 'exception'){
	sapp_Global::generateClientValidations($this->form);?>
				<?php
	sapp_Helper::viewHeader();
	sapp_Helper::viewBody('alt','Employee Name',$this->form->employeename->getValue(),'Exception For',$this->data['exceptionday']);
	sapp_Helper::viewBody('nor','From Date',$this->form->from_date->getValue(),'To Date',$this->form->to_date->getValue());
	sapp_Helper::viewBody('alt','Reason',$this->data['reason'],'Days',$this->form->appliedexceptioncount->getValue());
	if($this->data['exceptionstatus']=='Approved') {
			sapp_Helper::viewBody('alt','Approved On',sapp_Global::change_date($this->data['modifieddate'],'view'),'Comments',$this->data['approver_comments']);
		}
		else if($this->data['exceptionstatus']=='Pending'){
			sapp_Helper::viewBody('alt','Applied On',sapp_Global::change_date($this->data['modifieddate'],'view'),'Status',$this->data['exceptionstatus']);
		}
		else if($this->data['exceptionstatus']=='Cancelled') {
			sapp_Helper::viewBody('alt','Cancelled On',sapp_Global::change_date($this->data['modifieddate'],'view'),'Comments',$this->data['approver_comments']);
		}
		else if($this->data['exceptionstatus']=='Rejected') {
			sapp_Helper::viewBody('alt','Rejected On',sapp_Global::change_date($this->data['modifieddate'],'view'),'Comments',$this->data['approver_comments']);
		}
	sapp_Helper::viewFooter();
}
else if($type == 'compoff'){
	sapp_Global::generateClientValidations($this->form);?>
					<?php
	sapp_Helper::viewHeader();
 	sapp_Helper::viewBody('alt','Employee Name',$this->form->employeename->getValue(),'Type',$this->data['option']);
	sapp_Helper::viewBody('nor','Avail Date',$this->form->avail_date->getValue(),'Applied on',$this->form->createddate->getValue());
	if($this->data['status']=='Approved') {
		sapp_Helper::viewBody('alt','Approved On',sapp_Global::change_date($this->data['modifieddate'],'view'),'Comments',$this->data['approver_comments']);
	}
	 if($this->data['option']=='Leave') {
		sapp_Helper::viewBody('alt','Leave Date',$this->form->leave_date->getValue(),'Reason',$this->data['user_comments']);
	}
	else
		sapp_Helper::viewBody('nor','Reason',$this->data['user_comments'],'','');
	sapp_Helper::viewFooter();
}
	?>
<?php } ?>		