<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 	
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
<?php 
}
else
{	 sapp_Global::generateClientValidations($this->form);?>
<?php if (count($this->messages)) {?>
	<div id="dispempwork" class="settingssuccess">
		<?php 
			foreach ($this->messages as $message)
			{
				$flag = array();				
				$flag = array_keys($message);
				echo "<div id='messageData' class='ml-alert-1-$flag[0]'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
				echo $message[$flag[0]];
				echo "</div></div>";
			} 
		?>
	</div>
	
<?php } ?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		    <div class="new-form-ui clearb">
			  <label class="required">Document Type <img class="tooltip" title="Ex: U.S.Passport, Permanent Resident Card" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->documenttype; ?></div>
			<?php if(isset($this->msgarray['documenttype'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->documenttype->getId(); ?>"><?php echo $this->msgarray['documenttype'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui clearb">
			  <label class="required">Issuing Authority</label>
			<div class="division"><?php echo $this->form->issuingauthority; ?></div>
			<?php if(isset($this->msgarray['issuingauthority'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->issuingauthority->getId(); ?>"><?php echo $this->msgarray['issuingauthority'];?></span>
			<?php }?>
			</div>
					
			<div class="new-form-ui clearb textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>workeligibilitydoctypes';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>        
</form>
<?php	}	?>
<script type='text/javascript'>
$(document).ready(function(){

<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispempwork').fadeOut('slow');
		},3000);

<?php } ?>
});

</script>