<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
		if($this->ermsg !='')
		{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>

<?php 
}else
{
sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		    <div class="new-form-ui clearb">
			  <label class="required">Country</label>
			<div class="division"><?php echo $this->form->countryid; ?>
			<?php if(isset($this->msgarray['countryid'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->countryid->getId(); ?>"><?php echo $this->msgarray['countryid'];?></span>
			<?php }?>
			<?php if(in_array('country',$this->popConfigPermission)) { ?>	
				<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'countries/addpopup' ?>','Country');"> Add Country</span>			
			<?php } ?>
			</div>
			</div>
			<div class="new-form-ui-multi">
			  <label class="required">State</label>
			<div class="division loca_state_div"><?php echo $this->form->state; ?></div>
			   <span class="errors" id="errors-<?php echo $this->form->state->getId(); ?>"><?php echo isset($this->msgarray['state'])?$this->msgarray['state']:'';?></span>
			</div>
			
			<div class="new-form-ui clearb" id="otherstatediv" style="display:none;">
			  <label class="required">Other State</label>
				<div class="division">
				  <?php echo $this->form->otherstatename; ?>
				</div>
				<?php if(isset($this->msgarray['otherstatename'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->otherstatename->getId(); ?>"><?php echo $this->msgarray['otherstatename'];?></span>
			   <?php }?>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>states';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>
</form>
<div id="countriesContainer"  style="display: none; overflow: auto;">
		<div class="heading">
			<a href="javascript:void(0)">
			<img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right"
				border="0" hspace="3" vspace="5" class="closeAttachPopup"
				style="margin: -24px 8px 0 0;"> </a>
		</div>

			<iframe id="countriesCont" class="business_units_iframe" frameborder="0"></iframe>

	</div>
<script type='text/javascript'>
$(document).ready(function(){
		
        <?php if (isset($this->msgarray['otherstatename'])) {?>
		setTimeout(function(){
      		$('#otherstatediv').show();
		 <?php if (isset($this->msgarray['dupstatename'])) {?>	
			  $('#otherstatename').val('<?php echo $this->msgarray['dupstatename'];?>');
			<?php } ?>
		},0300);	
		<?php } ?>
});
 

	 <?php if($this->stateValue!='' && !isset($this->msgarray['otherstatename']) ) { ?>
	    	var stateval = '<?php echo $this->stateValue; ?>';
			
			var errorMsg = "<?php if(isset($this->msgarray['state'])) echo $this->msgarray['state'];?>";
			
			var stateData = document.getElementById('state');
			for(var i = 0 ; i <= stateData.length ; i++)
			{
				if(stateData.options[i] !== undefined)
				{
					if (stateData.options[i].value == stateval) 
					{
						if(errorMsg != '' && errorMsg != 'undefined')
							stateData.options[i].selected = false;
						else{
							stateData.options[i].selected = true;
						}
						break;
					}
				}
			}
			
	<?php } ?>	
</script>

		
		



<?php } ?>
