<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
<?php 
$passportExpiryDate = $this->form->passport_expiry_date->getValue();
$visaIssuedDate = $this->form->visa_issue_date->getValue();
$visaExpiryDate = $this->form->visa_expiry_date->getValue();
$I9reviewDate = $this->form->inine_review_date->getValue();
$IninetyfourExpiryDate = $this->form->ininetyfour_expiry_date->getValue();
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Passport Number',(!empty($this->data[0]['passport_number']))?$this->data[0]['passport_number']:"...",'Passport Issued Date',(!empty($this->data[0]['passport_issue_date']))?$this->data[0]['passport_issue_date']:"...");
sapp_Helper::viewBody('nor','Passport Expiry Date ',(!empty($passportExpiryDate))?$this->form->passport_expiry_date->getValue():"...",'Visa Type Code',(!empty($this->data[0]['visa_type']))?$this->data[0]['visa_type']:"...");
sapp_Helper::viewBody('alt','Visa Number',(!empty($this->data[0]['visa_number']))?$this->data[0]['visa_number']:"...",'Visa Issued Date',(!empty($visaIssuedDate))?$this->form->visa_issue_date->getValue():"...");
sapp_Helper::viewBody('nor','Visa Expiry Date',(!empty($visaExpiryDate))?$this->form->visa_expiry_date->getValue():"...",'I-9 Status',(!empty($this->data[0]['inine_status']))?$this->data[0]['inine_status']:"...");
sapp_Helper::viewBody('alt','I-9 Review Date',(!empty($I9reviewDate))?$this->form->inine_review_date->getValue():"...",'Issuing Authority',(!empty($this->data[0]['issuing_authority']))?$this->data[0]['issuing_authority']:"...");
sapp_Helper::viewBody('nor','I-94 Status',(!empty($this->data[0]['ininetyfour_status']))?$this->data[0]['ininetyfour_status']:"...",'I-94 Expiry Date ',(!empty($IninetyfourExpiryDate))?$this->form->ininetyfour_expiry_date->getValue():"...");
sapp_Helper::viewFooter();
?>
        <div class="new-form-ui-submit" id="formSubmit">
          <input onclick="closeiframepopup('visaandimmigrationdetails','cancel');" type="button" value="Close"  />
        </div>
   		</div>  
</form>


