<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
 if($this->popup == 'close') { ?>	
	<div class="ml-alert-1-success">
	<div class="style-1-icon success"></div>
	Currency <?php echo $this->eventact; ?> successfully
	</div>

	<?php } 
else
{
sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		    <div class="new-form-ui clearb">
			  <label class="required">Currency <img class="tooltip" title="Ex: Dollars" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->currencyname; ?></div>
			<?php if(isset($this->msgarray['currencyname'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->currencyname->getId(); ?>"><?php echo $this->msgarray['currencyname'];?></span>
			<?php }?>
			</div>
			<div class="new-form-ui clearb">
			  <label class="required">Currency Code <img class="tooltip" title="Ex: USD" src="<?php echo MEDIA_PATH;?>images/help.png" /></label>
			<div class="division"><?php echo $this->form->currencycode; ?></div>
			<?php if(isset($this->msgarray['currencycode'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->currencycode->getId(); ?>"><?php echo $this->msgarray['currencycode'];?></span>
			<?php }?>
			</div>
								
			<div class="new-form-ui clearb textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="closeiframepopup('<?php echo $this->controllername;?>','cancel');" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>
</form>
<?php }?>
<script language='javascript' type='text/javascript'>
	<?php if($this->popup != '') { ?>
				closeiframeAddPopup("<?php echo $this->currencyData ;?>",'<?php echo $this->controllername; ?>','currencyid','Salary Currency');	
				closeiframeAddPopup("<?php echo $this->currencyData ;?>",'<?php echo $this->controllername; ?>','basecurrency','Base Currency');	
				closeiframeAddPopup("<?php echo $this->currencyData ;?>",'<?php echo $this->controllername; ?>','targetcurrency','Target Currency');
				closeiframeAddPopup("<?php echo $this->currencyData ;?>",'<?php echo $this->controllername; ?>','currency','Currency');
				closeiframeAddPopup("<?php echo $this->currencyData ;?>",'<?php echo $this->controllername; ?>','currency_id','Currency');  
	<?php } ?>	
	$(document).ready(function() { 
		<?php if (count($this->messages)) {?>
			  setTimeout(function(){
					$('#popupmessage').fadeOut('slow');
				},3000);
		<?php } ?>
	});
</script>