<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
if($this->nodata != '')
{
?>
<div class="ml-alert-1-info m1-info-set-2">
    <div class="style-1-icon info"></div>
       No data found.
</div>
<?php 
}
else 
{
	$msgtitle = $this->controllername.'_delete';
	sapp_Helper::editdeleteForView(EMAILCONTACTS,$this->controllername,$this->id,$msgtitle);
if($this->emailContactsData == '' || empty($this->emailContactsData)) { ?>
			No Data Found
<?php }else { ?>
<?php 
$group_email = $this->form->groupEmail->getValue();
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Business Unit',(!empty($this->data['unitname']))?$this->data['unitname']:"...",'Group',(!empty($this->data['group_name']))?$this->data['group_name']:"...");
sapp_Helper::viewBody('nor','Group Email ',(!empty($group_email))?$this->form->groupEmail->getValue():"...",'','');
sapp_Helper::viewFooter();
?>
   

	
	<!-- 	<div class="new-form-ui-submit">
        <input type="submit" onclick="changeeditscreen('<?php //echo $this->controllername;?>',<?php //echo $this->id;?>);" value="Edit" />
        
        <button onclick="window.location.href='<?php //echo BASE_URL; ?><?php //echo $this->controllername;?>';" type="button" id="Cancel" name="Cancel">Cancel</button>
        </div> -->


<?php }} ?>
