<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<script type='text/javascript'>
	function getholidaydetails(flag)
	{
		if(flag == 'holidayperpage')
		{
		   $('#holidaypageno').val('1');
		} 
		var perpage = $('#holidayperPagetext').val();
		if(perpage != '')
		$('#holidayperpage').val(perpage);
		
		var perpage = $('#holidayperpage').val();
		var pageno = $('#holidaypageno').val();
		var groupid = $('#groupid').val();
		url = base_url+"/holidaygroups/getholidaynames/format/html";
		$.ajax({		
			type: "POST",
			url: url,
			data: 'groupid='+groupid+'&perpage='+perpage+'&pageno='+pageno,
			dataType: 'html',
			success: function(response) 
			{
				$("#holidaynamesinfo").css('display','block');
				$("#holidaynamesinfo").html(response);				
			}
		});
	}
</script>
<div id="reportgrid" class="newpop-div">
<div class="all-grid-control">

<div id="slimscrldiv" class="details_data_display_block newtablegrid">	
	<table class='grid' align='center'  width='100%' cellspacing='0' cellpadding='4' border='0'>
		<thead>
			<tr>		
				<th class="cellDivHeader sort">Holiday</th>
				<th>Date</th>
				<th>Year</th>
				<th>Group Name</th>
										
			</tr>
		</thead>
		<tbody>
			<?php 
			if(!empty($this->holidaydetailsArr)) 
			{ 
				
				foreach($this->holidaydetailsArr as $key => $record)
				{
					if($key%2 == 0){
						$classColor = 'row1';
					}else{
						$classColor = 'row2';
					}	?>
						<tr class="<?php echo $classColor;?>"  onclick="selectrow('userlogpreview',this);">	
							<td title="<?php echo $record['holidayname']; ?>"><?php echo $record['holidayname']; ?></td>        
							<td title="<?php echo $record['holidaydate']; ?>"><?php echo $record['holidaydate']; ?></td>
							<td title="<?php echo $record['holidayyear']; ?>"><?php echo $record['holidayyear']; ?></td>
							<td title="<?php echo $record['groupname']; ?>"><?php echo $record['groupname']; ?></td>
						</tr>
	<?php		}
			}
			else
			{	?>
				<tr class="row1">
					<td class="no-data-td" colspan="8"><p class="no-data">No data found</p></td>
				</tr>
			<?php 
			} ?>
		</tbody>
	</table>
</div>
<div class="table-btm">
	<div class="pagination_block">
		<div class="records_block">
			<?php if(count($this->holidaydetailsArr) > 0) { ?>
			<div class="page_txt">
				<span>Records per page</span>
				<div class="records_number-drop-down">
					<select id="holidayperPagetext" name="holidayperPagetext" onchange="getholidaydetails('holidayperpage');">
					    	<option value="20" <?php echo ($this->perpage == 20)?"selected":"" ;?>>20</option>
							<option value="50" <?php echo ($this->perpage == 50)?"selected":"" ;?>>50</option>
							<option value="100" <?php echo ($this->perpage == 100)?"selected":"" ;?>>100</option>
							<option value="150" <?php echo ($this->perpage == 150)?"selected":"" ;?>>150</option>
							<option value="200" <?php echo ($this->perpage == 200)?"selected":"" ;?>>200</option>
					</select>
				</div>
			</div>
			<?php } ?>
			</div>
			<?php if($this->lastpage > 1) { ?>
			<div class="pagination_view">
				<?php sapp_Global::pagination_html(); ?>
			</div>
			<?php } ?>
	</div>
</div>	
</div>

<input type="hidden" name="holidaypageno" id="holidaypageno" value="<?php echo $this->pageno;?>" />
<input type="hidden" name="holidayperpage" id="holidayperpage" value="<?php echo $this->perpage;?>" />
<input type="hidden" name="groupid" id="groupid" value="<?php echo $this->groupid;?>" />
</div>
<script type="text/javascript">
<?php if($this->lastpage > 1) { ?>
	$('.pagination').jqPagination({
		link_string	: '/?page={page_number}',
		current_page    : parseInt(<?php echo $this->pageno;?>),
		max_page	: parseInt(<?php echo $this->lastpage?>),
		paged		: function(page) {
			   $('#holidaypageno').val(page);
			   getholidaydetails('');
		}
	});
<?php } ?>
$(document).ready(function() {
	$('#holidayperpage').val('<?php echo $this->perpage; ?>');
	$('#slimscrldiv').slimScrollHorizontal({
		  alwaysVisible: false,
		  start: 'left',
		  position: 'bottom',
		}).css({ background: '#ccc', paddingBottom: '10px' }); 
});
</script>