<?php
$auth = Zend_Auth::getInstance ();
if ($auth->hasIdentity ()) {
	$loginUserId = $auth->getStorage ()->read ()->id;
}
$baseUrl = $this->serverUrl () . $this->baseUrl ();
?>
<div id="empPayslip" class="slimScrollDiv"
	style="position: relative; overflow: hidden; width: 250px; height: auto;">

	<div id="pagination">Pages &nbsp;&nbsp;</div>
</div>
<!-- End  Attendance Form -->

<script>

//Chechin Checkout Disable button 

</script>