<div id="dispmsgempleave" style="display: none">  
	<div class="ml-alert-1-error">
	<div class="style-1-icon error"></div>
		Requested payslip has not been uploaded yet. Please try again later.
	</div>		
</div>
<div class="total-form-controller">
	<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction();?>">
		<?php echo $this->form->id; ?>
		<div class="new-form-ui">
			<label >Year</label>
			<div class="division"><?php echo $this->form->year; ?></div>
		</div>
		<div class="new-form-ui">
			<label >Month</label>
			<div class="division"><?php echo $this->form->month; ?></div>
		</div>
		
		<div class="new-form-ui-submit">
			<input type="button" name="download" id="download" value="Download">
		</div>
	</form>
</div>
<script>
var removedMonths = [];
$('document').ready(function(){
	toggleMonths();
	$('#year').change(function(){
		toggleMonths();
		});

	function toggleMonths(){
		var year = $('#year option:selected').val();
		var currentYear = (new Date).getFullYear();
		if (parseInt($('#month option').eq(0).val()) > 1 ){
			for(var i = (removedMonths.length - 1) ; i >= 0  ; i--){
				 var option = document.createElement("option");
				 option.text = removedMonths[i][0]['label'];
				 option.label = removedMonths[i][0]['label'];
				 option.value = removedMonths[i][0]['value'];
				 $('#month').prepend(option);
				}
		}else{
			for(var i= 0; i < removedMonths.length  ; i++){
				 var option = document.createElement("option");
				 option.text = removedMonths[i][0]['label'];
				 option.label = removedMonths[i][0]['label'];
				 option.value = removedMonths[i][0]['value'];
				 $('#month').append(option);
				}
		}
		removedMonths.splice(0,removedMonths.length);
		if( year == (new Date).getFullYear()){

			var lastSelectedMonth = $('#month option:selected').val();
			$('#month > option').each(function(){
				if($(this).val() > (new Date).getMonth()){
					removedMonths.push($(this));
					$(this).remove();
					}
				});
			if(parseInt($('#month option[value="'+lastSelectedMonth+'"]').length) == 0){

				$('#month option:selected').attr("selected",false);
				$('#month').change();
			}
		}else{
			if($('#year option:selected').index() == 0){
			var Monthclass = ($('#month').attr('class')).split(' ')[0];
			var lastSelectedMonth = $('#month option:selected').val();
			console.log(parseInt($('#month option[value="'+lastSelectedMonth+'"]').length));
				$('#month > option').each(function(){
					if(parseInt($(this).val()) <  parseInt(Monthclass.split('_')[1])){
						removedMonths.push($(this));
						$(this).remove();
						}
					});
				if(parseInt($('#month option[value="'+lastSelectedMonth+'"]').length) == 0){
					$('#month option:last-child').attr("selected",true);
					$('#month').change();
					}
				}
			}
	}
});


$('#download').click(function ()
{
	var year = $('#year option:selected').val();
	var month = $('#month option:selected').val();

	var params = 'year='+year+'&month='+month;
	$("#download").val("Downloading..");
	$("#download").prop('disabled', true);	
	$.ajax({
 	        url: base_url+"/mypayslip/check",   				
 			type : 'POST',	
 			data : params,
 			dataType : 'json',
 			success: function(){
 				$("#download").val("Download");
 	 			$('#payslipformdw').trigger("submit"); 	 
 	 			$("#download").prop('disabled', false);			 
 	 		},
 	 		error: function(){
 	 			$('#dispmsgempleave').fadeIn('fast').fadeOut(4000);
 	 			$("#download").val("Download");
 	 			$("#download").prop('disabled', false);
 	 	 	}
 	});   
});
</script>
