<?php
$auth = Zend_Auth::getInstance ();
if ($auth->hasIdentity ()) {
	$loginUserId = $auth->getStorage ()->read ()->id;
}
$baseUrl = $this->serverUrl () . $this->baseUrl ();
$constraintdetail = $this->data ['constraint'];
if (count($constraintdetail) !=null){
?>
	
	<div  class="header"><?php echo $this->data ['constraintname']?> Constraint
	<a style="color:red;float:right;margin-top:-6px;cursor:pointer;" class="removeconstraint">x</a>
	</div>	
	<div class="panel" >
	<form class="<?php echo $this->data ['constraintclass'] ?>" >
	<?php   foreach ($constraintdetail as $element){
	?>	 
	
	<div class="new-form-ui">
	<div class="division"><?php echo $element; ?></div>
	</div>
	<?php }?>
	
	</form>
	</div>
	
<?php }?>


