<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 	
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
<?php 
}
else
{	sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>
<div class="total-form-controller">
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        
		    <div class="new-form-ui">
			  <label class="required">Leave Type <img class="tooltip" title="Ex: Sick Leave, Pregnancy-Disability and Child Care Leave" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->leavetype; ?></div>
			<?php if(isset($this->msgarray['leavetype'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->leavetype->getId(); ?>"><?php echo $this->msgarray['leavetype'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Number of Days (Annually)</label>
			<div class="division"><?php echo $this->form->numberofdays; ?></div>
			<?php if(isset($this->msgarray['numberofdays'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->numberofdays->getId(); ?>"><?php echo $this->msgarray['numberofdays'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Leave Short Code</label>
			<div class="division"><?php echo $this->form->leavecode; ?></div>
			<?php if(isset($this->msgarray['leavecode'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->leavecode->getId(); ?>"><?php echo $this->msgarray['leavecode'];?></span>
			<?php }?>
			</div>
			<div class="new-form-ui">
			  <label >Is Pre Allocated</label>
			<div class="division"><?php echo $this->form->leavepreallocated; ?></div>
			</div>
			<div class="new-form-ui">
			  <label >Is Deductible</label>
			<div class="division"><?php echo $this->form->leavepredeductable; ?></div>
			</div>
			<div class="new-form-ui">
			  <label >Can be carry forward?</label>
			<div class="division"><?php echo $this->form->cancarryforward; ?></div>
			</div>
			<div class="new-form-ui">
			  <label >Carry forward limit</label>
			<div class="division"><?php echo $this->form->max_limit; ?></div>
			</div>
			<div class="new-form-ui textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
			<div class="new-form-ui">
			  <label >Allotment mode</label>
			<div class="division"><?php echo $this->form->allotmentmode; ?></div>
			</div>
			<div class="new-form-ui">
			  <label >Minimum duration to allocate</label>
			<div class="division"><?php echo $this->form->minimumduration;?></div>
			</div>
			<div class="new-form-ui">
			  <label >Is Donatable</label>
			<div class="division"><?php echo $this->form->isdonatable; ?></div>
			</div>
			
			<!-- XN-277 label for clubbable -->
			<div class="new-form-ui">
				<label >Is Clubbable</label>
			<div class="division"><?php echo $this->form->isclubbable;?></div>
			</div>	
			<div class="new-form-ui">
			  <label >Is allocated in probation</label>
			<div class="division"><?php echo $this->form->isallocatedinprobation; ?></div>
			</div>
			<br>
			<div class="new-form-ui" >
				<label >Constraint Type</label>
				<div class="division"><?php echo sapp_Helper::getConstraintTypeDropdown();?></div>
				
			</div>

			<!-- Add Button -->
			<div class="new-form-ui" style="margin-left: -24px; height: 50px;">
				<button style = "margin-top:22px;" id="addcons_btn"  type="button" class="actbtn_btn" style="width: 140px;">Add constraint
				</button>
			</div>
			</form>
			<div class="new-form-ui" id ="acc" >
				<?php 
					if ($this->data !=null ){
					 	$forms = $this->data;
						foreach ($forms as $form){
							?>
							<div  class="header"><?php echo $form ['constraintname']?> Constraint
								<a style="color:red;float:right;margin-top:-6px;cursor:pointer;" class="removeconstraint">x</a>
							</div>	
							<div class="panel" >
							<form class="<?php echo $form ['constraintclass'] ?>" >
							<?php   foreach ($form['constraint'] as $element){
							?>	 
							
							<div class="new-form-ui">
							<div class="division"><?php echo $element; ?></div>
							</div>
							<?php }?>
							
							</form>
							</div>
							<?php 
						}
					}
				?>	
			</div>
			
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>employeeleavetypes';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>


<script type='text/javascript'>
$(document).ready(function(){
	
		hideMaxLimit();
		hideMinDuration();
		$("#cancarryforward").change(hideMaxLimit);
		$("#allotmentmode").change(hideMinDuration);
		$("#leavepreallocated").change(hideMinDuration);
		$( "#acc" ).accordion({
			animate: 200,
			collapsible: true,
			icons: { "header": "ui-icon-plus"}
		});
		
		function hideMaxLimit(){
			var x = $("#cancarryforward option:selected").text();
			if (x == 'No'){
				$('#max_limit').parent().parent().hide();
			}else
			{
				$('#max_limit').parent().parent().show();
			}
			
		}

		function hideMinDuration(){
			var isPreallocated = $("#leavepreallocated option:selected").text();
			var allotmentmode = $("#allotmentmode option:selected").text();
			if (isPreallocated == 'No' && allotmentmode == 'Pro-rata'){
				$('#minimumduration').parent().parent().show();
			}else
			{
				$('#minimumduration').parent().parent().hide();
			}
			
		} 
		changePosition();
		function changePosition(){
			$accodionHeight = $("#acc").outerHeight(true);
			$accodionNewHeight = $(".panel").outerHeight(true) + $(".header").outerHeight(true)+5;
			if($accodionNewHeight>$accodionHeight){
				$diff = $accodionNewHeight - $accodionHeight;
				$newTop = $(".new-form-ui-submit").position().top+$diff;
				$(".new-form-ui-submit").css('top',$newTop);
				$(".new-form-ui-submit").css('position','absolute');
			}
		
		}
		
		function rePositionSubmit(){
			$accodionHeight = $("#acc").outerHeight(true);			
			$accodionNewHeight = $(".panel").outerHeight(true) + $(".header").outerHeight(true);
			if($accodionNewHeight<$accodionHeight){
				$newTop = $accodionHeight +$("#acc").position().top;
				$(".new-form-ui-submit").css('top',$newTop);
			}
		
		}
		
		$('#addcons_btn').click(function (){
			var consName = $('#constrainttype  option:selected').text();
			var params = 'constraintclass='+$('#constrainttype option:selected').val() + "&constraintname="+consName;
			$("#addcons_btn").attr('disabled',"");
			if($('#acc:contains('+consName+')').length>0){
				return;
			}
			$.ajax({
	        url: base_url+"/employeeleavetypes/addconstraint/format/html",   				
			type : 'POST',	
			data : params,
			dataType: 'html',
			success : function(data){	
				$("#acc").append(data);
				$("#acc").accordion("refresh");
				$("#addcons_btn").text("Add Constraint"); 
				$asd = $("#constrainttype").text();
				$("#constrainttype").find(":selected").hide();
				changePosition();	
				$("#addcons_btn").removeAttr('disabled');				
				}
				
			});
		});
		
		$( "#acc" ).on( "click",".removeconstraint", function() {
			$(this).parent().next().remove();
			$(this).parent().remove();
			rePositionSubmit();
		});
		
		$("#submitbutton").click(function (){
			var datastring  ;
			var jsondata = [];
			var url =  window.location.href;
			$("form").each(function(e){
				
				if(! $(this).attr("action")){	
					datastring = $(this).serializeArray();
					datastring.push({name:"classname",value:$(this).attr("class")});
					jsondata.push({"constraint":datastring});
				}else{
					datastring = $(this).serializeArray();
					datastring.push({name:"submit",value:$(this).val()});
					
					jsondata.push({"form":datastring});
				}
			});
			
			$.ajax({
				type: "POST",
				url: url,
				contentype:jsondata,
				data: {formdata: JSON.stringify(jsondata) },
				dataType: "html",
				success: function(data) {
					if(data.indexOf("success")>0){
						window.location.href='<?php echo BASE_URL; ?>employeeleavetypes'
					}else{
						
						var arr =JSON.parse(data).replace(/\"/g,"").split(',');						
						arr.forEach(function(messageArray){
							var message = messageArray.split(':')
							var error = '<span class ="errors" id="error-'+message[0].replace(/{/g,"")+'">'+message[1].replace(/}/g,"")+'<span>';
							if($('#error-'+message[0].replace(/{/g,"")).length == 0){
								if(message[0].replace(/{/g,"") == "max_limit"){
									if(!$("#max_limit").attr('disabled')){
										$('#'+message[0].replace(/{/g,"")).parent().append(error);
										}
								}else{
								$('#'+message[0].replace(/{/g,"")).parent().append(error);
								}
							}
							
						});
					}
				}
		});
		});
		
});
</script>
<?php	}	?>