<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 	
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
<?php 
}
else
{ 
$baseUrl = $this->serverUrl().$this->baseUrl();
echo $this->form->id;
$msgtitle = $this->controllername.'_delete';
sapp_Helper::editdeleteForView(EMPLOYEELEAVETYPES,$this->controllername,$this->id,$msgtitle); ?>

 <?php 
sapp_Helper::viewHeader();
sapp_Helper::viewBody('nor','Leave Type',$this->data['leavetype'],'Number of Days',$this->data['numberofdays']);
sapp_Helper::viewBody('alt','Leave Short Code',(!empty($this->data['leavecode']))?$this->data['leavecode']:"...",'Is Pre Allocated',(!empty($this->data['leavepreallocated']))?$this->data['leavepreallocated']:"...");
sapp_Helper::viewBody('nor','Is Deductible',(!empty($this->data['leavepredeductable']))?$this->data['leavepredeductable']:"...",'Description',(!empty($this->data['description']))?$this->data['description']:"...");
sapp_Helper::viewBody('alt','Can Carry Forward',(!empty($this->data['cancarryforward']))?$this->data['cancarryforward']:"...",'Carry Forward Limit',(!empty($this->data['max_limit']))?$this->data['max_limit']:"...");
sapp_Helper::viewBody('nor','Allotment Mode',(!empty($this->data['allotmentmode']))?$this->data['allotmentmode']:"...",'Is Donatable',(!empty($this->data['isdonatable']))?$this->data['isdonatable']:"...",'Is clubbable',(!empty($this->data['isclubbable']))?$this->data['isclubbable']:"...");
sapp_Helper::viewBody('alt','Is Allocated In Probation',(!empty($this->data['cancarryforward']))?$this->data['isallocatedinprobation']:"...",'','');

sapp_Helper::viewFooter();
?>





      <!--   <div class="total-form-controller view-form-detail">
			<div class="new-form-ui">
			  <label>Leave Type</label>
			<div class="division"><?php //echo $this->form->leavetype; ?></div>
			</div>	
			<div class="new-form-ui">
			  <label>Number of Days</label>
			<div class="division"><?php //echo $this->form->numberofdays; ?></div>
			</div>
			<div class="new-form-ui">
			  <label >Leave Short Code</label>
			<div class="division"><?php //echo $this->form->leavecode; ?></div>
			</div>
			<div class="new-form-ui">
			  <label >Is Pre Allocated</label>
			<div class="division"><?php //echo $this->form->leavepreallocated; ?></div>
			</div>
			<div class="new-form-ui">
			  <label >Is Deductible</label>
			<div class="division"><?php //echo $this->form->leavepredeductable; ?></div>
			</div>
			<div class="new-form-ui textareaheight">
			  <label>Description</label>
			<div class="division"><?php //echo $this->form->description; ?></div>
			</div> -->
	<!--	<div class="new-form-ui-submit">
			<input type="submit" onclick="changeeditscreen('<?php //echo $this->controllername;?>',<?php //echo $this->id;?>);" value="Edit" />
			<button onclick="window.location.href='<?php //echo BASE_URL; ?>employeeleavetypes';" type="button" >Cancel</button>
		</div> -->
</div>      
<?php	}	?>  