<?php



	$storage = new Zend_Auth_Storage_Session();
	$data = $storage->read();
	$request = Zend_Controller_Front::getInstance();
	$controllerName = $request->getRequest()->getControllerName();
    $module = $request->getRequest()->getModuleName();


	if($data != "") {
		if($controllerName == 'wizard' || $controllerName == 'hrwizard')
			include "wizardheader.phtml";
		elseif ($module == 'timemanagement' && $controllerName != "reports")
			include "timemanagementheader.phtml";
		else

			include "hrmsheader.phtml";
	}
	else {
		include "defaultheader.phtml";
	}
?>

<?php echo $this->layout()->content; ?>
<?php
if($data != "") {
	if($controllerName == 'wizard' || $controllerName == 'hrwizard')
		include "wizardfooter.phtml";
	elseif ($module == 'timemanagement' && $controllerName != "reports")
		include "timemanagementfooter.phtml";
	else
		include "hrmsfooter.phtml";
}
else
{
	include "defaultfooter.phtml";
}
?>
<?php
$auth = Zend_Auth::getInstance ();
			$loginUserId = $auth->getStorage ()->read ()->id;
			$date = new Zend_Date ();
			$currentdate = $date->get ( 'MMM dd YYYY' );
			$datebeforecurrentday = $_SESSION['worklogdate'];
			$orgLogoImg = MEDIA_PATH . 'images/alert-icon.png';
			if($loginUserId){
				echo "<div id='worklogreminder' style='display: none;'>
				<div> <img style='margin-bottom:-15px' src='$orgLogoImg'/>Hi! Work-log sheet was not updated for <label id = 'lblworklogdate'></label>.</div>
				<div style='margin-left:53px;margin-top:20px;'>You are requested to update it at the earliest.</div>
				<div> </div>
				<div class='new-form-ui-submit' style='margin-left:380px;margin-top:25px;'>
				<input id='snooze' type='button' onclick = snooze();
				value='Snooze'>
				<input type='button' onclick = dismiss();
				value='Dismiss'>
				</div>";
			}
			?>
<script type="text/javascript"
	src="<?php  echo MEDIA_PATH; ?>js/worklogreminder.js"></script>