<?php if($actionName !='browserfailure'){ ?>
</div>
</div>
</div>
</div>
<div style="clear: both;"></div>
</div>
</div>
</div>
</div>
</div>
<div style="height: 20px;">&nbsp;</div>
</div>
<div class="copytxt">
	<div class="copy-center">
		<span class="copy_left">&copy; Xorlabs LLC, <?php echo date('Y');?></span>
	</div>
</div>
<div id="footer">
	<div id="quickview" style="display: none"></div>
	<div id="dialog" title="Confirmation Required"
		style="display: none; box-shadow: 0 3px 3px rgba(0, 0, 0, 0); min-height: 20px !important; padding-top: 15px;">
		<div id="dialogText"></div>
	</div>
</div>
</div>
</div>

<!-- website tour html START -->
<div id="tourcontrols" class="tourcontrols" style="display: none;">

	<p>Welcome to <?php echo APPLICATION_NAME; ?> !!<br />Here for the
		first time?
	</p>
	<span class="button" id="activatetour">Start the tour<b
		class="start-tour-icon"></b></span>
	<div class="nav">
		<span class="button" id="prevstep" style="display: none;"><b>&lsaquo;</b>
			Previous</span> <span class="button" id="nextstep"
			style="display: none;">Next <b>&rsaquo;</b></span>
	</div>
	<div class="fltleft">
		<a id="restarttour" style="display: none;">Restart the tour</a> <b
			id="separator-tour">|</b> <a id="endtour" style="display: none;">End
			the tour</a>
	</div>
	<span class="close" id="canceltour"></span>
</div>
<!-- website tour html END -->

<script type="text/javascript"
	src="<?php echo MEDIA_PATH; ?>jquery/js/jquery.form_3.39.js"></script>
<!-- added on 07-aug-2013 by rama krishna -->
<script type="text/javascript"
	src="<?php echo MEDIA_PATH; ?>jquery/js/jquery.blockUI_2.64.js"></script>
	<script type="text/javascript"
	src="<?php echo MEDIA_PATH;?>jquery/js/flexmenu.min.js"></script>
<!-- added on 07-aug-2013 by rama krishna -->
<script type="text/javascript" language="javascript">
$(document).ready(function() {
 /* Making window responsive*/
 	var complete_empwidth = $('.emp-screen-view').width();
	$('#displayimg').css("width", "150");
	$('#personalDetailsDiv').css("width", (complete_empwidth-(152)));

	 function checkempWidth() {
        var complete_empwidth = $('.emp-screen-view').width();
		$('#displayimg').css("width", "150");
		$('#personalDetailsDiv').css("width", (complete_empwidth-(152)));
    }

	/* Making window responsive*/
 	var complete_width = $('.poc-ui-data-control').width();
	$('.left-block-ui-data').css("width", "230");
	$('.right-block-data').css("width", (complete_width-(263)));

	 function checkWidth() {
        var complete_width = $('.poc-ui-data-control').width();
		$('.left-block-ui-data').css("width", "230");
		$('.right-block-data').css("width", (complete_width-(263)));
    }


	function checknew1Width() {
        var complete_width = $('.short-ui-full-1').width();
		$('.short-ui-full-1 label').css("width", "160");
		$('.short-ui-full-1 .division1').css("width", (complete_width-(190)));
    }

	/* Making window responsive*/
 	var complete_width = $('.short-ui-full-1').width();
	$('.short-ui-full-1 label').css("width", "160");
	$('.short-ui-full-1 .division1').css("width", (complete_width-(190)));


	$(window).resize(function() {
		checkWidth();
		checkempWidth();
		checknew1Width();
	});


	/*	Start
		Code to redirect directly to leave request page
		If action name is not viewsettings.
	*/
	<?php if($actionName !='viewsettings') { ?>
	<?php
		$auth = Zend_Auth::getInstance ();
		if ($auth->hasIdentity ()) {
			$loginuserRole = $auth->getStorage ()->read ()->emprole;
			$loginuserGroup = $auth->getStorage ()->read ()->group_id;
		}
		?>
		$( "#main_parent_"+<?php echo EMPLOYEESELFSERVICE ; ?> ).click(function() {
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/myattendance/';
		});
		$( "#main_parent_"+<?php echo HUMANRESOURCE ; ?> ).click(function() {
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/employee/';
		});
		$( "#main_parent_"+<?php echo ORGANIZATION ; ?> ).click(function() {
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/organisationinfo/';
		});
		$( "#main_parent_"+<?php echo SITECONFIGURATION ; ?> ).click(function() {
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/sitepreference/';
		});
		$( "#main_parent_logs").click(function() {
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/userloginlog/';
		});
		$( "#main_parent_"+<?php echo BGCHECKS ; ?> ).click(function() {
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/empscreening/';
		});
		$( "#main_parent_"+<?php echo RESOURCEREQUISITION ; ?> ).click(function() {
			var method = '<?php echo ($loginuserGroup == EMPLOYEE_GROUP || $loginuserGroup == SYSTEMADMIN_GROUP)?'scheduleinterviews':'requisition';?>';
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/'+method+'/';
		});
		$( "#main_parent_"+<?php echo EXPENSES ; ?> ).click(function() {
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/expenses/expenses';
		});

		$( "#main_parent_"+<?php echo ASSETS ; ?> ).click(function() {
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/assets/assets';
		});

		$( "#main_parent_"+<?php echo SERVICEDESK ; ?> ).click(function() {
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			<?php if($loginuserRole!=SUPERADMINROLE && $loginuserGroup!=MANAGEMENT_GROUP) { ?>
				window.location.href = base_url+'/servicerequests/index/t/<?php echo sapp_Global::_encrypt("1"); ?>';
			<?php } else { ?>
				window.location.href = base_url+'/servicedeskconf';
			<?php } ?>
		});

		$( "#main_parent_"+<?php echo DISCIPLINARY ; ?> ).click(function() {
			var dismethod = '<?php echo ($loginuserGroup == MANAGEMENT_GROUP || $loginuserRole==SUPERADMINROLE)?'disciplinaryincident':'disciplinarymyincidents';?>';
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/'+dismethod+'/';
		});

		$( "#main_parent_"+<?php echo PERFORMANCEAPPRAISAL ; ?> ).click(function() {
			var appmethod = '<?php echo ($loginuserGroup == MANAGEMENT_GROUP || $loginuserGroup == HR_GROUP || $loginuserRole==SUPERADMINROLE)?'appraisalinit':'appraisalself';?>';
			$('.wrapperdivright').html('');
			$.blockUI({ width:'50px',message: $("#spinner").html() });
			window.location.href = base_url+'/'+appmethod+'/';
		});

	<?php }?>

	<?php if($actionName =='viewsettings') { ?>
		$('.wrapperdivright').height($('#sidebar-wrapper').height());
	<?php }?>
	/*
		End
	*/
	$('ul.menu.flex').flexMenu();
	$(".flexMenu-viewMore").hover(
			  function() {
				  $("a[title='View More']").click();
			  }, function() {
				  $("a[title='View More']").click();
			  }
			);	
	
	
});

</script>
<?php
	/**
	 * *
	 * *** check if the user has logged in for the first time and enable the script
	 * **
	 */
	?>
<!-- The JavaScript for website tour START -->
<script type="text/javascript"
	src="<?php echo MEDIA_PATH; ?>js/jquery.visible.min.js"></script>
<script type="text/javascript"
	src="<?php echo MEDIA_PATH; ?>js/joyride.js"></script>
<!-- The JavaScript for website tour END -->

<?php
/**
 * *
 * *** end of the first time user login check
 * **
 */
} else {
	?>
<link rel="stylesheet" type="text/css"
	href="<?php echo MEDIA_PATH; ?>css/loginstyle.css" />
<footer>
	<div class="copytxt">
		<div class="copy-center">
			<span class="fltleft">&copy; Xorlabs LLC, <?php echo date('Y');?></span>
		</div>
	</div>
</footer>
<?php } ?>

</body>
</html>