<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
$data = $this->data;
$form = $this->form;
$round_count = $this->round_count;
?>
<form name="<?php echo $form->getName();?>" id="<?php echo $form->getId();?>" method="POST" action="<?php echo $form->getAction();?>">
    <?php echo $form->id;
          echo $form->req_id;  
    ?>
<div class="total-form-controller">
<div class="separetor-heading">Interview Details</div>
    <div class="new-form-ui">
        <label class="">Requisition ID</label>
        <div class="division"><?php echo $data['requisition_code'];?></div>
    </div>
    <div class="new-form-ui">
        <label class="">Candidate Name</label>
        <div class="division"><?php echo $data['candidate_name'];?></div>
    </div>    
    <div class="new-form-ui">
        <label class="required">Interview Status</label>
        <div class="division">
            <select name="sel_inter_status" id="idsel_inter_status">
                <option value="In process">In process</option>
                <option value="Completed">Completed</option>
                <option value="On hold">On hold</option>
            </select>
        </div>
    </div>
<?php
    if($round_count == 0)
    {
?>
    <div class="new-form-ui">
            <label class="required">Interviewer</label>
            <div class="division"><?php echo $form->interviewer_id;?></div>
    </div>
        <div class="new-form-ui">
            <label class="required">Location</label>
            <div class="division"><?php echo $form->int_location;?></div>
    </div>
       <div class="new-form-ui">
            <label class="required">Interview Type</label>
              <div class="division"><?php echo $form->interview_mode;?></div>
    </div>
        <div class="new-form-ui">
            <label class="required">Interview Time</label>
            <div class="division"><?php echo $form->interview_time;?></div>
    </div>
    <div class="new-form-ui">
            <label class="required">Interview Date</label>
            <div class="division"><?php echo $form->interview_date;?></div>
    </div>
<?php 
    }
    else
    {
        if($this->call == 'ajaxcall'){
	$div = ''; $endDiv = ''; 
} else { 
	$div = '<div id="grid_'.$this->dataArray['objectname'].'" class="all-grid-control">'; $endDiv = '</div>';
}
	echo $div.'<div id="msg" style="display:none;font-style: oblique; font-weight: bold; color: green;""></div>'.$this->requisitiongrid($this->dataArray).$endDiv;

    }
?>
    <div class="new-form-ui-submit">
        <?php echo $form->submit;?>
        <button type="button" id="Cancel" name="Cancel">Cancel</button>
    </div>  


</div>
</form>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
     $( "#interview_date" ).datepicker({
        showOn: "both",
        buttonImage: "<?php echo MEDIA_PATH;?>images/cal.png",
        buttonImageOnly: true,
		buttonText: "",
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true ,
        dateFormat:"<?php echo DATEFORMAT_JS;?>"
        });
    $('#interview_time').timepicker({ 'scrollDefaultNow': true,'timeFormat': 'H:i' });
});
</script>