<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>
<?php if(empty($this->empdata)){?>
    <div class="ml-alert-1-info">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>
					No data found.
				<?php }else{?>
						Employee inactivated.
				<?php }?>
	</div>
<?php
} else {
?>
<?php	
$baseUrl = $this->serverUrl().$this->baseUrl();

if(!empty($this->employeedata))
 {
 	echo $this->employeedetails($this->employeedata,'view',$this->id); 
 } 
?>

<div class="right-block-data right-over-bottom-border"> 
	<div id="error_message" style="display:none;"></div>
		<div class="ml-alert-1-info m1-info-set">
			<div class="style-1-icon info"></div>Feature will be available soon.
		</div>	
</div>	
</div>
<?php 
}
?>
<script type='text/javascript'>
$(document).ready(function(){
    $("#emp_security").addClass('active');
    $("#emp_security").removeAttr("onclick");

});
</script>
