<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
		if($this->ermsg !='')
		{
?>
     <div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>No data found.</div>
<?php 
}else
{
sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		
		     <div class="new-form-ui clearb">
			  <label class="required">Country</label>
			<div class="division"><?php echo $this->form->countryid; ?>
			<?php if(isset($this->msgarray['countryid'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->countryid->getId(); ?>"><?php echo $this->msgarray['countryid'];?></span>
			<?php }?>
			<?php if(in_array('country',$this->popConfigPermission)) { ?>	
						<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'countries/addpopup' ?>','Country');"> Add Country</span>			
					<?php } ?>
			</div>
			</div>
		    <div class="new-form-ui clearb">
			  <label class="required">State</label>
			<div class="division loca_state_div"><?php echo $this->form->state; ?>
			<?php if(isset($this->msgarray['state'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->state->getId(); ?>"><?php echo $this->msgarray['state'];?></span>
			<?php } else {?>
			   <span class="errors" id="errors-<?php echo $this->form->state->getId(); ?>" style="display:none;"></span>
			<?php }?>
			<?php if(in_array('state',$this->popConfigPermission)) { ?>	
						<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'states/addpopup' ?>','State');"> Add State</span>			
					<?php } ?>
			</div>
			</div>
			
			<div class="new-form-ui-multi">
			  <label class="required">City</label>
			<div class="division loca_state_div"><?php echo $this->form->city; ?></div>			
			   <span class="errors" id="errors-<?php echo $this->form->city->getId(); ?>"><?php echo isset($this->msgarray['city'])?$this->msgarray['city']:'' ;?></span>			
			</div>
			
			<div class="new-form-ui clearb" id="othercitydiv" style="display:none;">
			  <label class="required">Other City</label>
				<div class="division">				  
				  <?php echo $this->form->othercityname; ?>
				</div>
				<?php if(isset($this->msgarray['othercityname'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->othercityname->getId(); ?>"><?php echo $this->msgarray['othercityname'];?></span>
			   <?php }?>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>cities';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>
</form>
	<div id="countriesContainer"  style="display: none; overflow: auto;">
		<div class="heading">
			<a href="javascript:void(0)">
			<img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right"
				border="0" hspace="3" vspace="5" class="closeAttachPopup"
				style="margin: -24px 8px 0 0;"> </a>
		</div>
			<iframe id="countriesCont" class="business_units_iframe" frameborder="0"></iframe>
	</div>
	
	<div id="statesContainer"  style="display: none; overflow: auto;">
		<div class="heading">
			<a href="javascript:void(0)">
			<img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right" border="0" hspace="3" vspace="5" class="closeAttachPopup" style="margin: -24px 8px 0 0;"> </a>
		</div>
		<iframe id="statesCont" class="business_units_iframe" frameborder="0"></iframe>
	</div>
<script type='text/javascript'>
$(document).ready(function(){
        <?php if (isset($this->msgarray['othercityname'])) {?>		        
      			setTimeout(function(){
      			$('#othercitydiv').show();
				 <?php if (isset($this->msgarray['dupcityname'])) {?>
				   $('#othercityname').val('<?php echo $this->msgarray['dupcityname'];?>');
				 <?php } ?>  
				},0100);
		<?php } ?>			
});
      <?php if($this->cityValue!='') { ?>	
			var cityVal = '<?php echo $this->cityValue; ?>';			
			var errorMsg = "<?php if(isset($this->msgarray['city'])) echo $this->msgarray['city'];?>";			
			var cityData = document.getElementById('city');
												
			for(var i = 0 ; i <= cityData.length ; i++)
			{
				if(cityData.options[i] !== undefined)
				{										
					if (cityData.options[i].value === cityVal) 
					{					  
						if(errorMsg != '' && errorMsg != 'undefined')
						cityData.options[i].selected = false;
						else
						cityData.options[i].selected = true;
						break;
					}
				}
			}
			
	<?php } ?>		
</script>
<?php } ?>