<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
<?php 
}
else
{
sapp_Global::generateClientValidations($this->form);
if($this->emptyFlag != 0)
	{
?>
<?php	}	?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; 
			echo $this->form->emptyFlag; 
		?>
        <div class="total-form-controller">
		    <div class="new-form-ui">
			  <label class="required">Payment Mode</label>
			<div class="division"><?php echo $this->form->payment_method_name; ?>
			<?php if(isset($this->msgarray['payment_method_name'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->payment_method_name->getId(); ?>"><?php echo $this->msgarray['payment_method_name'];?></span>
			<?php }?>
			</div>
			</div>
			
			
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>expenses/paymentmode';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
		</div>
</form>


<?php	}	?>
