<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if($this->ermsg == 'nodata') { ?>
<div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>No data found.</div>
<?php }else { ?>
<?php sapp_Global::generateClientValidations($this->form);?>

<div class="total-form-controller">
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction(); ?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
		<div class="new-form-ui">
		  <label class="required">Screening Type </label>
		<div class="division"><?php echo $this->form->type; ?></div>
		  <?php if(isset($this->msgarray['type'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->type->getId(); ?>"><?php echo $this->msgarray['type'];?></span>
		  <?php }?>
		</div>
		
		<div class="new-form-ui clearb textareaheight">
		  <label> Description </label>
		<div class="division"><?php echo $this->form->description; ?></div>
		  <?php if(isset($this->msgarray['description'])){?>
		  <span class="errors" id="errors-<?php echo $this->form->description->getId(); ?>"><?php echo $this->msgarray['description'];?></span>
		  <?php }?>
		</div>		
		
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>bgscreeningtype';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</form>
</div>
<script type='text/javascript'>
$(document).ready(function(){
<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispscreeningtype').fadeOut('slow');
		},3000);

<?php } ?>

})
</script>
<?php } ?>