<?php
$auth = Zend_Auth::getInstance ();
if ($auth->hasIdentity ()) {
    $loginUserId = $auth->getStorage ()->read ()->id;
}
$baseUrl = $this->serverUrl () . $this->baseUrl ();
?>
<div id="empAttendance" class="slimScrollDiv"
	style="position: relative; overflow: hidden; width: 250px; height: auto;">
	<div id="attendance" class="details_data_display_block newtablegrid"
		style="overflow: hidden; width: 250px; height: auto; background: rgb(204, 204, 204) none repeat scroll 0% 0%; padding-bottom: 2px;">
		<table id="attendanceTable" class="grid" width="100%" cellspacing="0"
			cellpadding="4" border="0" align="center">
			<thead>
				<th style="width: 100px;"><a>DATE</a></th>
				<th style="text-align: center;"><a>TIMELINE</a></th>
				<th style="width: 130px;"><a>WORK HOURS</a></th>
				<th style="width: 130px;"><a>STATUS</a></th>
			</thead>
			<tbody>
			<?php
			 $days = $this->data ['empAttendance'];
			 $count = 1;
			 if (empty($days)) {
			?>												
				<tbody>
					<tr>
						<td colspan="14" class="no-data-td"><p class="no-data">No data found.</p></td>
					</tr>
				</tbody>
			<?php
			}
			foreach($days as $day) {
			    $punchDate = $day ['punch_date'];
			    $overallstatus = $day ['overall_status'];
			    $status = $day ['status'];
				?>
				<tr class="row1" id=<?php echo "'" . $count . "'"; ?> style="width: 95%; height: 30px;" > 
    				<td style="width: 100px;" id="date"><span class="date"><?php echo $punchDate; ?></span></td>
    				<td style="height: 100%; padding-bottom: 0px;" id="timeline"><span
    					class="timeline"></span></td>
    				<td id="workhours" style="width: 130px;"><span class="workhours"><?php echo checkformat($day['working_hours']); ?></span></td>
    				<td id="daystatus" style="width: 130px;"><span class="daystatus"> <?php echo $overallstatus; ?> </span></td>
				</tr>
				<?php
				$count++;
			}
			?>
			</tbody>
		</table>
	</div>
	<div id="pagination">Pages &nbsp;&nbsp;</div>
</div>
<!-- conversion functions -->
<?php
function formatHM($input) {
	$parts = explode ( '.', $input );
	
	if ($parts [0] == '')
		$parts [0] = 0;
	if ($parts [1] == '' || $parts [1] == '0' || $parts [1] == '00') {
		echo $parts [0] . 'h';
	} else {
		echo $parts [0] . 'h' . ' ' . $parts [1] . 'm';
	}
}
function formatHMS($input) {
	$parts = explode ( '.', $input );
	if ($parts [0] == '') {
		$parts [0] = 0;
	}
	if (($parts [1] == '0' || $parts [1] == '00' || $parts [1] == '') && ($parts [2] == '0' || $parts [2] == '00' || $parts [2] == '')) {
		echo $parts [0] . 'h';
	} elseif ($parts [1] == '0' || $parts [1] == '00' || $parts [1] == '') {
		echo $parts [0] . 'h' . ' ' . $parts [2] . 's';
	} elseif ($parts [2] == '0' || $parts [2] == '00' || $parts [2] == '') {
		echo $parts [0] . 'h' . ' ' . $parts [1] . 'm';
	} else
		echo $parts [0] . 'h ' . $parts [1] . 'm ' . $parts [2] . 's';
}
function checkformat($data) {
	if (DURATION_FORMAT == 'NNh NNm') {
		formatHM ( $data );
	}
	if (DURATION_FORMAT == 'NNh NNm NNs') {
		formatHMS ( $data );
	}
	if (DURATION_FORMAT == 'NN.NN') {
		echo $data;
	}
}
?>
<!-- till here -->

<script>
$('document').ready(function(){
	pagination();
});
</script>