
<div class="teamattendanceheader">
	<ul class="ulteamatten">
		<li class="selected liteamattendance">Basic View</li>
		<li class="liteamattendance">Detailed View</li>
	</ul>
	<div class="hr"></div>
</div>

<br>
<div style="margin-left: 3%;">
	<!-- Attendance Start and End Dates -->
	<label
		style="float: left; margin-right: 15px; font-size: 13px; font-family: 'Roboto Regular', sans-serif; padding: 3px;">
		<input type="checkbox" name="showbreakdown" value="showbreakdown"
		id="showbreakdown" onchange="ShowActivityBreakdown();">Show Activity
		Breakdown
	</label>
	<div class="new-form-ui" style="height: 40px;">
		<div class="division">
			<input name="date" id="date" class="brdr_none basic_view"
				readonly="readonly" type="text">
		</div>
	</div>
	<div class="new-form-ui" style="height: 40px;">
		<div class="division">
			<input name="from_date" id="from_date" value="From*"
				class="brdr_none detailed_view" readonly="readonly" type="text">
		</div>
	</div>

	<div class="new-form-ui" style="margin-left: -24px; height: 50px;">
		<div class="division">
			<input name="to_date" id="to_date" value="To*"
				class="brdr_none detailed_view" readonly="readonly" type="text">
		</div>
	</div>

	<!-- Dropdown -->
	<div class="new-form-ui" style="margin-left: -24px; height: 50px;">
		<div class="division">
			<select name="members" id="members"
				class="formDataElement detailed_view">
    				<?php
								$members = $this->data;
								
								foreach ( $members as $member ) {
									?>
    					<option value="<?php echo $member['user_id']?>"><?php echo $member['userfullname'] ?></option>
    					<?php
								}
								?>
    			</select>
		</div>
	</div>
	<!-- Search Button -->
	<div class="new-form-ui" style="margin-left: -23px; height: 50px;">
		<button id="actbtn_btn_detailed" type="button" class="actbtn_btn"
			style="width: 140px; height: 29px;">Show Attendance</button>
	</div>
	<div class="new-form-ui" style="margin-left: -23px; height: 50px;">
		<button id="actbtn_btn_basic" type="button" class="actbtn_btn"
			style="width: 140px; height: 29px;">Show Attendance</button>
	</div>
</div>
<br>


<div id="empDetailedAttendance" class="slimScrollDiv"
	style="position: relative; overflow: hidden; width: 250px; height: auto;">

</div>


<div id="empBasicAttendance" class="slimScrollDiv"
	style="position: relative;"></div>
<script type="text/javascript">

var currentMousePos = { x: -1, y: -1 };
$(document).mousemove(function(event) {
    currentMousePos.x = event.pageX;
    currentMousePos.y = event.clientY;
    currentMousePos.z = event.pageY;
});

//Attendance pagination script
function pagination(){
		var req_num_row=10;
		var $tr = $("#empAttendance").find("tbody>tr");
		var total_num_row=$tr.length;
		var num_pages=0;
		if(total_num_row % req_num_row ==0){
			num_pages=total_num_row / req_num_row;
		}
		if(total_num_row % req_num_row >=1){
			num_pages=total_num_row / req_num_row;
			num_pages++;
			num_pages=Math.floor(num_pages++);
		}
		for(var i=1; i<=num_pages; i++){
			jQuery('#pagination').append("<a> "+i+" </a>");
		}
		$tr.each(function(i){
			jQuery(this).hide();
			if(i+1 <= req_num_row){
				$tr.eq(i).show();
			}
		});

		$('#pagination a').click(function(e){
			e.preventDefault();
			$tr.hide();
			var page=jQuery(this).text();
			var temp=page-1;
			var start=temp*req_num_row;
			for(var i=0; i< req_num_row; i++){
				$tr.eq(start+i).show();
			}
		});
	}

function drawChart(data) {
	$.each(data,function(date,info){
		var row = $("span:contains('"+date+"')").parents().eq(1);
		var columns = row.find('td');
		if(info.activities != null && info.activities.length > 0 && info.activities[0] != null && columns != null && columns.length > 0) {
			var chart = new google.visualization.Timeline(columns[1]);
			var dataTable = new google.visualization.DataTable();
			dataTable.addColumn({ type: 'string', id: 'RowLabel' });
		    dataTable.addColumn({ type: 'string', id: 'BlockLabel' });
		    dataTable.addColumn({ type: 'date', id: 'Start' });
		    dataTable.addColumn({ type: 'date', id: 'End' });
			$.each(info.activities,function(index,activity){
				if(activity != null) {
					dataTable.addRows([
					   				[date, activity.status, new Date(activity.punchin), new Date(activity.punchout)],
				           	    ]);
				}
			});
			var formatter = new google.visualization.DateFormat({ pattern: 'yyyy/DDD-HH:mm:ss' });
		    formatter.format(dataTable, 2);
		    formatter.format(dataTable, 3);

		    var colors = [];
		    var colorMap = {
		        // should contain a map of category -> color for every category
		        'Work From Home': '#4285f4',
		        'Office Hours': '#19c362',
		        'OFFICE': '#19c362',
		        'Break': '#db4437',
		        'Inactivity': '#C6C6C6',
		        'Missed Punch': '#db4437'
		    }
		    for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
		    	if(!colors.includes(colorMap[dataTable.getValue(i, 1)])) {
		        	colors.push(colorMap[dataTable.getValue(i, 1)]);
		    	}
		    }

		   	var curDate = new Date(date);
			var minTime = curDate.setHours(9);
		    var options = {
		        timeline: { colorByBarLabel: true ,
		        			showRowLabels: false,
		        			showBarLabels: false,
		        			height: 30,
		        			width: 700,
		        			barLabelStyle: {
		                        fontName: 'Roboto Condensed',
		                        fontSize: 8
		                    }
		        },
		        hAxis: {
		            minValue: new Date(date + ' 08:00:00'),
		            maxValue: new Date(date + ' 23:59:59')
				},
		        colors: colors
		    };

			chart.draw(dataTable, options);
		    google.visualization.events.addListener(chart, 'onmouseover', function(e) {
		    	$('.google-visualization-tooltip').css('height','250px');
		       setTooltipContent(dataTable,e.row);
		    });
	    }
		row.find(".workhours").text(info.workhours);
	});

	$("#attendanceTable tbody tr td:nth-child(2)").each(function() {
		var firstRemoved = false;
		$(this).find("svg").each(function() {
			if(firstRemoved) {
				$(this).find("g").each(function() {
					$(this).remove();
					return false;
				});
			}
			if(!firstRemoved) {
				$(this).remove();
				firstRemoved = true;
			}
		});
	});

	$("#timeline > div:first-child > div:first-child").each(function() {
		$(this).css('height', '20px');
	});
}


function setTooltipContent(dataTable,row) {
    if (row != null) {
        var min = ((dataTable.getValue(row, 3)).getTime() - (dataTable.getValue(row, 2)).getTime())/60000;
        var data1 = dataTable.getValue(row, 2);
        var data2 = dataTable.getValue(row, 3);
        var date1 = addZero(data1.getFullYear()) +'-'+addZero(data1.getMonth() + 1)+'-'+addZero(data1.getDate());
        var time1 = addZero(data1.getHours())+':'+addZero(data1.getMinutes())+':'+addZero(data1.getSeconds());
        var date2 = addZero(data2.getFullYear()) +'-'+addZero(data2.getMonth() + 1)+'-'+addZero(data2.getDate());
        var time2 = addZero(data2.getHours())+':'+addZero(data2.getMinutes())+':'+addZero(data2.getSeconds());
        var workHoursTemp = Math.round((Math.floor ( min / 60 ) + ((min % 60) / 100))*100)/100;
		var workHours =workHoursTemp.toFixed(2);
		if ($(window.top).height()-currentMousePos.y >250)
    	$('.google-visualization-tooltip').offset({ left: currentMousePos.x, top: currentMousePos.z});
		else
		$('.google-visualization-tooltip').offset({ left: currentMousePos.x, top: currentMousePos.z-250});
    	$('.google-visualization-tooltip span').last().text(' '+ checkFormat(workHours.toString()));
    	$('.google-visualization-tooltip-action').first().html('<b>'+date1 +': </b>'+time1+'<br>To<br><b>'+date2+': </b>'+ time2);
    }
}

function addZero(value){
	if(value<10)
		return '0'+value;
	return value;
}


function formatHM(durationArray) {
	if (durationArray [0] == '')
		durationArray [0] = 0;
	if (durationArray [1] == '' || durationArray [1] == '0' || durationArray [1] == '00') {
		return durationArray [0] + 'h';
	} else {
		return durationArray [0] + 'h' + ' ' + durationArray[1] + 'm';
	}
}
function formatHMS(durationArray) {
	if (durationArray [0] == '') {
		durationArray [0] = 0;
	}
	if ((durationArray [1] == '0' || durationArray [1] == '00' || durationArray [1] == '') && (durationArray [2] == '0' || durationArray [2] == '00' || durationArray [2] == '')) {
		return durationArray [0] + 'h';
	} else if (durationArray [1] == '0' || durationArray [1] == '00' || durationArray [1] == '') {
		return durationArray [0] + 'h' + ' ' + durationArray [2] + 's';
	} else if (durationArray [2] == '0' || durationArray [2] == '00' || durationArray [2] == '') {
		return durationArray [0] + 'h' + ' ' + durationArray [1] + 'm';
	} else
		return durationArray [0] + 'h ' + durationArray [1] + 'm ' + durationArray [2] + 's';
}

function checkFormat(workHours){
	var durationArray = workHours.split('.');
	if ('<?php echo DURATION_FORMAT;?>' == 'NNh NNm') {
		return formatHM ( durationArray );
	}
	if ('<?php echo DURATION_FORMAT;?>' == 'NNh NNm NNs') {
		return formatHMS ( durationArray );
	}
	if ('<?php echo DURATION_FORMAT;?>' == "NN.NN") {
		return workHours;
	}
}

function drawBasicChart(data)
{
	if(data != null && Object.keys(data).length > 0) {
		var chart = new google.visualization.Timeline($('#empBasicAttendance')[0]);
		var dataTable = new google.visualization.DataTable();
		dataTable.addColumn({ type: 'string', id: 'RowLabel' });
	    dataTable.addColumn({ type: 'string', id: 'BlockLabel' });
	    dataTable.addColumn({ type: 'date', id: 'Start' });
	    dataTable.addColumn({ type: 'date', id: 'End' });
	    $.each(data,function(name,info){
	    	$.each(info,function(index,activity){
				if(activity != null) {
					dataTable.addRows([
					   				[name, activity.status, new Date(activity.punchin), new Date(activity.punchout)],
				           	    ]);
				}
			});
		});

	    var formatter = new google.visualization.DateFormat({ pattern: 'yyyy/DDD-HH:mm:ss' });
	    formatter.format(dataTable, 2);
	    formatter.format(dataTable, 3);

	    var colors = [];
	    var colorMap = {
	        // should contain a map of category -> color for every category
	        'Work From Home': '#4285f4',
	        'Office Hours': '#19c362',
	        'OFFICE': '#19c362',
	        'Break': '#db4437',
	        'Inactivity': '#C6C6C6',
	        'Missed Punch': '#db4437'
	    }
	    for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
	    	if(!colors.includes(colorMap[dataTable.getValue(i, 1)])) {
	        	colors.push(colorMap[dataTable.getValue(i, 1)]);
	    	}
	    }

		 // set a padding value to cover the height of title and axis values
	    var paddingHeight = 40;
	    // set the height to be covered by the rows
	    var rowHeight = dataTable.getNumberOfRows() * 15;
	    // set the total chart height
	    var chartHeight = rowHeight + paddingHeight;
	    var options = {

	        timeline: { colorByBarLabel: true       },
	        colors: colors,
	        height:chartHeight
	    };
		chart.draw(dataTable, options);
	    google.visualization.events.addListener(chart, 'onmouseover', function(e) {
	       setTooltipContent(dataTable,e.row);
	    });

	}else{
		$('#empBasicAttendance').html('<p class="no-data">No data found.</p>')
	}


}
//calendar script
    $(document).ready(function(){
		toggleView();
        $(".liteamattendance").click(function(){
        	$(".liteamattendance").attr('class','liteamattendance');
        	$(this).attr('class','selected liteamattendance');
        	toggleView();
        });

    	var yearrange = <?php echo "'".YEAR.':'.(date('Y')+1)."'"; ?>;
      $('#from_date').datepicker({
				showOn:'both',
				maxDate: new Date,
				<?php if(isset($this->data['org_start_date'])) {?>
				minDate: new Date(<?php echo $this->data['org_start_date']; ?>),
				<?php }?>
				yearRange: yearrange,
				dateFormat: '<?php echo DATEFORMAT_JS;?>',
				 buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				changeYear: true,
                showButtonPanel: true ,
				onClose:function(){
                            validateorgheadjoiningdate();
					$('#from_date').trigger('blur');
                    }
		});

      $('#date').datepicker({

			<?php if(isset($this->data['org_start_date'])) {?>
				minDate: new Date(<?php echo $this->data['org_start_date']; ?>),
			<?php }?>
			showOn:'both',
			maxDate: new Date,
			yearRange: yearrange,
			dateFormat: '<?php echo DATEFORMAT_JS;?>',
			 buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
			buttonImageOnly: true,
			buttonText: "",
			changeMonth: true,
			changeYear: true,
        showButtonPanel: true ,
			onClose:function(){
                    validateorgheadjoiningdate();
				$('#date').trigger('blur');
            }
	});

   	$('#date').datepicker("setDate",new Date);
    $('#actbtn_btn_basic').click();


      $('#date').blur(function(){
          $('#errors-date').remove();
          if($.trim($(this).val()) == '')
           {
  		    $(this).parent().append("<span class='errors' id='errors-date'>Please select the date.</span>");

              $(this).val('');
           }
           else
           {
               $('#errors-date').remove();

              $('#date').trigger('change');
           }

          });
    	$('#from_date').blur(function(){
            $('#errors-from_date').remove();
            if($.trim($(this).val()) == '')
             {
    		    $(this).parent().append("<span class='errors' id='errors-from_date'>Please select the date.</span>");

                $(this).val('');
             }
             else
             {
                 $('#errors-from_date').remove();

                $('#from_date').trigger('change');
             }

            });

		$('#to_date').datepicker({
				showOn:'both',
				maxDate: new Date,
				<?php if(isset($this->data['org_start_date'])) {?>
				minDate: new Date(<?php echo $this->data['org_start_date']; ?>),
				<?php }?>
				yearRange: yearrange,
				dateFormat: '<?php echo DATEFORMAT_JS;?>',
				buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				changeYear: true,
                showButtonPanel: true ,
				onClose:function(){
                            validateorgheadjoiningdate();
					$('#to_date').trigger('blur');
                    }
		});

		$('#to_date').blur(function(){
	        $('#errors-to_date').remove();
	        if($.trim($(this).val()) == '')
	         {
			    $(this).parent().append("<span class='errors' id='errors-to_date'>Please select the date.</span>");

	            $(this).val('');
	         }
	         else
	         {
	             $('#errors-to_date').remove();

	            $('#to_date').trigger('change');
	         }

	        });


	});

    function ShowActivityBreakdown() {
        if($(".selected").text() == 'Detailed View'){
    		$('#actbtn_btn_detailed').click();
        } else {
        	$('#actbtn_btn_basic').click();
        }
    }

    $('.actbtn_btn').click(function(){
		$(this).text("Loading...");
		$.blockUI({ width:'50px',message: $("#spinner").html() });
		var showbreakdown = document.getElementById("showbreakdown").checked;
    	if($(".selected").text() == 'Detailed View'){
            var memberId = $('#members').val();
    		var from_date = $('#from_date').val();
    		var to_date = $('#to_date').val();
    		$("#errors-from_date").remove();
    		$("#errors-to_date").remove();
    		$("#errors-member_id").remove();
    		if((from_date != '' && to_date != '') && (from_date != "From*" && to_date != "To*") &&(memberId != -1) )
    		{

        		var params = 'from_date='+from_date+'&to_date='+to_date+'&id='+memberId+'&showbreakdown='+showbreakdown;
    			$.ajax({
    		        url: base_url+"/myteamattendance/getempattendance/format/html",
    				type : 'POST',
    				data : params,
    				dataType: 'html',
    				success : function(data){
    					$("#empDetailedAttendance").html(data);
    					$('#attendanceTable tr').show();
    					$.ajax({
    				        url: base_url+"/myteamattendance/getdailyactivity/format/json",
    						type : 'POST',
    						data : params,
    						dataType: 'json',
    						success : function(data){
    			 				drawChart(JSON.parse(data));
                                $("#actbtn_btn_detailed").text("Show Attendance");
    			 				$.unblockUI();
    						}
    					});
    				}
    			});

    		}
    		else
    		{
        			if(from_date == '' || from_date == "From*")
        			{
        				 $("#from_date").parent().append("<span class='errors' id='errors-from_date'>Please select the date.</span>");
        			}
        			if(to_date == '' || to_date == "To*")
        			{
        				 $("#to_date").parent().append("<span class='errors' id='errors-to_date'>Please select the date.</span>");
        			}

        			if(memberId == -1)
        			{
        				 $("#members").parent().append("<span class='errors' id='errors-member_id'>Please select the a member.</span>");
        			}

    			$(this).text("Show Attendance");
                $.unblockUI();
    		}

    	}else if($(".selected").text() == 'Basic View')	{
    		var date = $('#date').val();
    		$("#errors-date").remove();
    		var params = 'date='+date+'&showbreakdown='+showbreakdown;
    		if(date != '')
    		{
    			$.ajax({
    		        url: base_url+"/myteamattendance/getbasicempattendance/format/json",
    				type : 'POST',
    				data : params,
    				dataType: 'json',
    				success : function(data){
    					$('#actbtn_btn_basic').text("Show Attendance");
		 				drawBasicChart(JSON.parse(data));
    				}
    			});
    		}else{
    			$("#date").parent().append("<span class='errors' id='errors-date'>Please select the date.</span>");
    			$(this).text("Show Attendance");
        	}
        }
	});
    function toggleView(){
		if($(".selected").text() == 'Basic View'){
			$('#empDetailedAttendance').css('display','none');
			$('#empBasicAttendance').css('display','block');
			$('#actbtn_btn_detailed').parent().css('display','none');
			$('#actbtn_btn_basic').parent().css('display','block');
			$('.detailed_view').attr('disabled','disabled');
			$('.detailed_view').parent().parent().css('display','none');
			$('.basic_view').removeAttr('disabled');
			$('.basic_view').parent().parent().css('display','block');
		}else{
			$('#empDetailedAttendance').css('display','block');
			$('#empBasicAttendance').css('display','none');
			$('#actbtn_btn_detailed').parent().css('display','block');
			$('#actbtn_btn_basic').parent().css('display','none');
			$('.detailed_view').removeAttr('disabled');
			$('.detailed_view').parent().parent().css('display','block');
			$('.basic_view').attr('disabled','disabled');
			$('.basic_view').parent().parent().css('display','none');
			}
   	}
 </script>