<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php $baseUrl = $this->serverUrl().$this->baseUrl();
$addcomp = $this->addcomp;
sapp_Global::generateClientValidations($this->form);
?>
<?php if($this->successmessage != '') { ?>
<div id="dispmsgnempskills" class="ml-alert-1-success">
<div class="style-1-icon success"></div>
<?php echo $this->successmessage; ?>
</div>

<?php } else { ?>
<div id="error_message" style="display:none;"></div>
<?php		
if($this->emptyFlag != 0)
	{
?>	 <div class="ml-alert-1-info m1-info-set">
		<div class="style-1-icon info"></div>
			The employee configurations are not yet set.
	</div>	
<?php	}	?>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; 
		echo $this->form->user_id;
		?>
        <div class="total-form-controller">
		 	<div class="new-form-ui ">
			  <label id="injuredDate" class="required">Skill</label>
				<div class="division loca_state_div"><?php echo $this->form->skillname; ?></div>
				<?php if(isset($this->msgarray['skillname'])){?>
				<span class="errors" id="errors-<?php echo $this->form->skillname->getId(); ?>"><?php echo $this->msgarray['skillname'];?></span>
				<?php }?>
			</div>
			
			<div class="new-form-ui ">
				<label class="required">Years of Experience </label>
				<div class="division"><?php echo $this->form->yearsofexp; ?></div>
				 <?php if(isset($this->msgarray['yearsofexp'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->yearsofexp->getId(); ?>"><?php echo $this->msgarray['yearsofexp'];?></span>
				<?php }?>
			</div>
			
			<div class="new-form-ui ">
			    <label class="required">Competency Level</label>
				<div class="division"><?php echo $this->form->competencylevelid; ?>
                                <?php //if($addcomp == 'Yes') { ?>	
                                        <!--<span class="add-coloum" onclick="displaydeptform_frame('<?php //echo BASE_URL.'competencylevel/addpopup/previname/empskillsCont' ?>','Competency Level');"> Add competency level </span>-->			
                                    <?php //} ?>
				</div>
				 <?php if(isset($this->msgarray['competencylevelid'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->competencylevelid->getId(); ?>"><?php echo $this->msgarray['competencylevelid'];?></span>
				<?php }?>
			</div>
															
		
				
				<div class="new-form-ui ">
			  <label >Skill Last Used Year  <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			  <div class="division"><?php echo $this->form->year_skill_last_used; ?></div>
				<?php if(isset($this->msgarray['year_skill_last_used'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->year_skill_last_used->getId(); ?>"><?php echo $this->msgarray['year_skill_last_used'];?></span>
				<?php }?>
			</div>


        <div class="new-form-ui-submit" id="formSubmit">
        <?php echo $this->form->submit; ?>
        <button onclick="closeiframepopup('empskills','cancel');" type="button">Cancel</button>
        </div>
   		</div>     
</form>
<?php } ?>
<script type='text/javascript'>
<?php if($this->successmessage != '') { ?>
        setTimeout(function(){
		    closeiframepopup('<?php echo $this->controllername; ?>',''); 
		},2000);
<?php } ?>
</script>

<script type='text/javascript'>
$(document).ready(function(){
	
//var yearrange = <?php echo "'".date("Y", strtotime("-30 years")).':'.date('Y')."'"; ?>;
     var yearrange = <?php echo "'".YEAR.':'.date('Y')."'"; ?>;
	$('#year_skill_last_used').datepicker({
					showOn:'both',
					maxDate: new Date, 
				    yearRange: yearrange,
					dateFormat:"<?php echo DATEFORMAT_JS;?>",
					buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
					buttonImageOnly: true,
					buttonText: "",
					changeMonth: true,
					changeYear: true,
                                        showButtonPanel: true ,
                    onClose:function(){
                                    $('#year_skill_last_used').trigger('blur');
                                } 					
	});
	
	 });
</script>