<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php echo $this->form->id; 
		echo $this->form->user_id;
		?>
<?php 
$skill_last_used = $this->form->year_skill_last_used->getValue();
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Skill',(!empty($this->data['skillname']))?$this->data['skillname']:"...",'Years of Experience',(!empty($this->data['yearsofexp']))?$this->data['yearsofexp']:"...");
sapp_Helper::viewBody('nor','Competency Level',(!empty($this->data['competencylevelid']))?$this->data['competencylevelid']:"...",'Skill Last Used Year',(!empty($skill_last_used))?$this->form->year_skill_last_used->getValue():"...");
sapp_Helper::viewFooter();
?>
		 <div class="new-form-ui-submit" id="formSubmit">
         <input onclick="closeiframepopup('empskills','cancel');" type="button" value="Close"  />
        </div>
     
        