<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php 
		if($this->ermsg !='')
		{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>

<?php 
}
else
{
sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>
<?php if(isset($this->monthArr) && empty($this->monthArr)){ ?>
      	<div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>All Months have been added.
				<a href='<?php echo BASE_URL;?>monthslist'>Click here</a>  to view all months
		</div>
<?php } else {?>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
			<div class="new-form-ui clearb">
			  <label class="required">Month Name</label>
			<div class="division"><?php echo $this->form->month_id; ?></div>
			<?php if(isset($this->msgarray['month_id'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->month_id->getId(); ?>"><?php echo $this->msgarray['month_id'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui clearb">
			  <label >Month Code</label>
			<div class="division"><?php echo $this->form->monthcode; ?></div>
			<?php if(isset($this->msgarray['monthcode'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->monthcode->getId(); ?>"><?php echo $this->msgarray['monthcode'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui clearb textareaheight">
			 <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>monthslist';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
    </div>
</form>
<?php } }?>