<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php $baseUrl = $this->serverUrl().$this->baseUrl();
sapp_Global::generateClientValidations($this->form);
?>
<?php 
$doj = $this->doj;
?>
<?php if($this->successmessage != '') { ?>
<div id="dispmsgncc" class="ml-alert-1-success">
<div class="style-1-icon success"></div>
Employee experience details updated successfully.
</div>
<?php } 	else	{	?>
<div id="error_message" style="display:none;"></div>

<div class="poc-ui-data-control">
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
        <div class="new-form-ui">
                                <label><?php echo $this->form->employeeName->getLabel(); ?></label>
                                <div class="division loca_state_div"><?php echo $this->form->employeeName; ?></div>
            </div>
			
			<div class="new-form-ui">
                                <label><?php echo $this->form->employeeId->getLabel(); ?></label>
                                <div class="division loca_state_div"><?php echo $this->form->employeeId; ?></div>
            </div>
<div class="new-form-ui ">
			    <label class="required">Start Date</label>
				<div class="division"><?php echo $this->form->start_date; ?></div>
				 <?php if(isset($this->msgarray['start_date'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->start_date->getId(); ?>"><?php echo $this->msgarray['start_date'];?></span>
				<?php }?>
				</div>
															
			<div class="new-form-ui ">
			  <label class="required">End Date</label>
			  <div class="division"><?php echo $this->form->end_date; ?></div>
				<?php if(isset($this->msgarray['end_date'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->end_date->getId(); ?>"><?php echo $this->msgarray['end_date'];?></span>
				<?php }?>
			</div>
			
				<div class="new-form-ui">
             <label><?php echo $this->form->duration->getLabel(); ?></label>
             <div class="division loca_state_div"><?php echo $this->form->duration; ?></div>
            </div>
            
				<div class="new-form-ui">
	<label>Status</label>
	<div class="division"><?php echo $this->form->status;?></div>
	<?php if(isset($this->msgarray['status'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->status->getId(); ?>"><?php echo $this->msgarray['status'];?></span>
				<?php }?>
	</div>
	
			<div class="new-form-ui textareaheight">
					  <label>Comments</label>
					<div class="division"><?php echo $this->form->comments; ?></div>
					 <?php if(isset($this->msgarray['comments'])){?>
					   <span class="errors" id="errors-<?php echo $this->form->comments->getId(); ?>"><?php echo $this->msgarray['comments'];?></span>
					<?php }?>
					</div>
			<div class="new-form-ui ">
			    <label >Notify On</label>
				<div id = "notifyOn" class="division" ><?php echo $this->form->notify_on; ?></div>
				 <?php if(isset($this->msgarray['notify_on'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->notify_on->getId(); ?>"><?php echo $this->msgarray['notify_on'];?></span>
				<?php }?>
				</div>
            <div class="new-form-ui-submit" id="formSubmit">
                <?php echo $this->form->submit; ?>
                <button onclick="closeiframepopup('probationdetails','cancel');" type="button">Cancel</button>
            </div>
            
		</div>


</form>
</div>
<script type='text/javascript'>
$(document).ready(function(){
	//To get the Calender image...
	  var yearrange = <?php echo "'".YEAR.':'.date('Y')."'"; ?>;
 	 var doj = '<?php echo $this->doj; ?>'
 	 $('#start_date,#end_date').datepicker({
            showOn:'both',
            minDate: doj,
            dateFormat:"<?php echo DATEFORMAT_JS;?>",
            buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
            buttonImageOnly: true,
            buttonText: "",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true ,
            onClose:function()
            {
                $(this).trigger('blur');
                var msg = "";
                var startDate = $('#start_date').val();
            	var endDate = $('#end_date').val();
            	var a = new Date(startDate);
            	var b = new Date(endDate);
            	var duration = Math.floor((b - a)/(1000 * 3600 * 24 * 30));
            	if (!isNaN(duration))
            	{
            		document.getElementById("duration").value = duration; 
                	$('#duration').setVal(duration);
                }
            }
	});

  	$('#notify_on').datepicker({
        showOn:'both',
        minDate: doj , 
        dateFormat:"<?php echo DATEFORMAT_JS;?>",
        buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true 
 	 });
});
</script>
<?php	}	?>
<script language='javascript' type='text/javascript'>

<?php if($this->successmessage != '') { ?>
        setTimeout(function(){
		    closeiframepopup('<?php echo $this->controllername; ?>',''); 
		},2000);
<?php } ?>


</script>