<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php $baseUrl = $this->serverUrl().$this->baseUrl();
?>
<div id="error_message" style="display:none;"></div>
<div class="poc-ui-data-control">
<?php echo $this->form->id; ?>
<?php 
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Employee Name',(!empty($this->form->employeeName->getValue()))?$this->form->employeeName->getValue():"...",'Employee Id',(!empty($this->form->employeeId->getValue()))?$this->form->employeeId->getValue():"...");
sapp_Helper::viewBody('nor','Start Date',(!empty($this->data[0]['start_date']))?$this->data[0]['start_date']:"...",'End Date',(!empty($this->data[0]['end_date']))?$this->data[0]['end_date']:"...");
sapp_Helper::viewBody('alt','Duration',(!empty($this->data[0]['duration']))?($this->data[0]['duration'].' months'):"...",'Status',(!empty($this->data[0]['status']))?$this->form->status->getValue():"...");
sapp_Helper::viewBody('nor','Comments',(!empty($this->data[0]['comments']))?$this->data[0]['comments']:"...",'Notify On',(!empty($this->data[0]['notify_on']))?$this->data[0]['notify_on']:"...");
sapp_Helper::viewFooter();
?>
        <div class="new-form-ui-submit" id="formSubmit">
             <input onclick="closeiframepopup('probationdetails','cancel');" type="button" value="Close"  />
        </div>
			
		</div>

</div>

<script type='text/javascript'>
$(document).ready(function(){	
if($("#division").find('img'))
{ 
	$("img").remove();
	}

});

if($("#division").find('img'))
{ 
	$("img").remove();
	}

</script>

