<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
 	
$previname = $this->previname;
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>No data found.</div>
<?php 
}
else
{
    if($this->popup == 'close')
    {
         ?>	
	<div class="ml-alert-1-success">
	<div class="style-1-icon success"></div>
	Competency level <?php echo $this->eventact; ?> successfully
	</div>

	<?php
    }
    else
    {
        
    sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
    <input type="hidden" name="previname" value="<?php echo $previname ;?>" />
        <div class="total-form-controller">
		    <div class="new-form-ui clearb">
			  <label class="required">Competency Level <img class="tooltip" title="Ex: Basic, Intermediately" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			<div class="division"><?php echo $this->form->competencylevel; ?></div>
			<?php if(isset($this->msgarray['competencylevel'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->competencylevel->getId(); ?>"><?php echo $this->msgarray['competencylevel'];?></span>
			<?php }?>
			</div>
					
			<div class="new-form-ui clearb textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
        </div>
		
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="closeiframepopup('<?php echo $this->controllername;?>','cancel');"  type="button" >Cancel</button>
		</div>
</form>
<?php	

}
                        }	?>

<script type="text/javascript" language="javascript">
<?php if($this->popup != '') { ?>
	setTimeout(function(){
	  closeiframeAddPopup_frame("<?php echo $this->compdata ;?>",'<?php echo $this->controllername; ?>','competencylevelid',' competency level','<?php echo $previname;?>'); 					
},2000);

	<?php } ?>
</script>