<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php sapp_Global::generateClientValidations($this->form);
if($this->emptyFlag != 0)
{
?>	 <div class="ml-alert-1-info m1-info-set">
		<div class="style-1-icon info"></div>
			Job titles are not configured yet.
	</div>
<?php	}	?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; 
			echo $this->form->emptyFlag; 
		?>
        <div class="total-form-controller">
			<div class="new-form-ui clearb">
			  <label class="required">Job Title</label>
			<div class="division"><?php echo $this->form->jobtitleid; ?>
				<?php if(isset($this->msgarray['jobtitleid'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->jobtitleid->getId(); ?>"><?php echo $this->msgarray['jobtitleid'];?></span>
				<?php }?>
				
				 <?php if($this->popConfigPermission == 'Yes') { ?>	
					<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'jobtitles/addpopup' ?>','Job Titles');"> Add Job Title</span>			
		   		<?php } ?>
			
			</div>
			</div>
								
			<div class="new-form-ui clearb">
			  <label class="required">Position</label>
			<div class="division"><?php echo $this->form->positionname; ?></div>
			<?php if(isset($this->msgarray['positionname'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->positionname->getId(); ?>"><?php echo $this->msgarray['positionname'];?></span>
			<?php }?>
			</div>
		
			<div class="new-form-ui clearb textareaheight">
			  <label>Description</label>
			<div class="division"><?php echo $this->form->description; ?></div>
			</div>
	
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="window.location.href='<?php echo BASE_URL; ?>positions';" type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>
</form>

<div id="jobtitlesContainer"  style="display: none; overflow: auto;">
	<div class="heading">
		<a href="javascript:void(0)">
	    <img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right" border="0" hspace="3" vspace="5" class="closeAttachPopup" style="margin: -24px 8px 0 0;"> </a>
	</div>

	<iframe id="jobtitlesCont" class="business_units_iframe" frameborder="0"></iframe>
</div>
