<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
if($this->ermsg !='')
		{
?>
     <div class="ml-alert-1-info m1-info-set"><div class="style-1-icon info"></div>No data found.</div>
<?php }else
	{
		 if($this->popup == 'close') { ?> 	
			<div class="ml-alert-1-success">
			<div class="style-1-icon success"></div>
			Category <?php echo $this->eventact; ?> successfully
			</div>
		
		<?php 	 }else{ 	
		 sapp_Global::generateClientValidations($this->form);
		 $request = Zend_Controller_Front::getInstance();
		 $actionName = $request->getRequest()->getActionName();
		 	if($actionName == 'view')
		 	  $viewclass = 'view-form-detail';
		 	else
		 	  $viewclass = '';  
		 ?>
		 
			<!--<div id="error_message" style="display:none;"></div>
			this div is commented as it is responsible for displaying error message two times while deleting from view-->
			
			<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
					<?php echo $this->form->id; ?>
					
			        <div class="total-form-controller <?php echo $viewclass;?>">
			               <?php  if($this->flag!='view'){?>
						<?php echo sapp_Helper::sd_form_helper($this->msgarray, $this->form, 'service_desk_name', '','','required',array());?>
						<?php echo sapp_Helper::sd_form_helper($this->msgarray, $this->form, 'description','', 'textareaheight','',array());?>
							<?php }else{?>
							
							<?php
								$msgtitle = $this->controllername.'_delete';
								sapp_Helper::editdeleteForView(SERVICEDESKDEPARTMENT,$this->controllername,$this->id,$msgtitle);							
								sapp_Helper::viewHeader();
                                sapp_Helper::viewBody('alt','Category',(!empty($this->data['service_desk_name']))?$this->data['service_desk_name']:"...",'Description',(!empty($this->data['description']))?$this->data['description']:"...");
                                sapp_Helper::viewFooter();
								}
							 ?>	
					<div class="new-form-ui-submit">
					<?php echo $this->form->submit; ?>
					<?php if($actionName == 'addpopup') { ?>
					    <button onclick="closeiframepopup('<?php echo $this->controllername;?>','cancel');"  type="button" >Cancel</button>
					<?php }else{?>
						<?php if($actionName == 'view'){?>
							<!--<input type="button" onclick="changeeditscreen('<?php //echo $this->controllername;?>',<?php //echo $this->id;?>);" value="Edit" />-->
						<?php }else{?>
						<button onclick="window.location.href='<?php echo BASE_URL; ?>servicedeskdepartment';" type="button" id="Cancel" name="Cancel">Cancel</button>
						<?php }?>
					<?php }?>	
					</div>
				</div>
				
			</form>
<?php }?>
<script language='javascript' type='text/javascript'>

	<?php if($this->popup != '') { ?>
	  closeiframeAddPopup("<?php echo $this->departmentData ;?>",'<?php echo $this->controllername; ?>','service_desk_id','category'); 					
	<?php } ?>
</script>

<?php }?>