<?php 
/********************************************************************************* 
 *  This file is part of Sentrifugo.
 *  Copyright (C) 2014 Sapplica
 *   
 *  Sentrifugo is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Sentrifugo is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Sentrifugo.  If not, see <http://www.gnu.org/licenses/>.
 *
 *  Sentrifugo Support <support@sentrifugo.com>
 ********************************************************************************/
?>

<?php sapp_Global::generateClientValidations($this->form);?>
<form name="<?php echo $this->form->getName(); ?>">
<div>
	<!-- Start and End Dates -->
	<div class="new-form-ui" style="height: 40px;">
	<label class="required">Start Date </label>
		<div class="division">
			<input name="start_date" id="start_date" value="From"
				class="brdr_none" readonly="readonly" onfocus="this.blur()"
				type="text"><img id="startDateImage" class="ui-datepicker-trigger"
				src="/public/media/images/cal.jpg" alt="" title="">
		</div>
	</div>

	<div class="new-form-ui" style="margin-left:20px; height: 50px;">
		<label class="required">End Date </label>
		<div class="division">
			<input name="end_date" id="end_date" value="To" class="brdr_none"
				readonly="readonly" onfocus="this.blur()" type="text"><img id="endDateImage"
				class="ui-datepicker-trigger" src="/public/media/images/cal.jpg"
				alt="" title="">
		</div>
	</div>
		<div class="new-form-ui-submit" style="margin-top: 7px">
		<?php echo $this->form->download; ?>
	</div>
</div>	
</form>
<script type='text/javascript'>
$(document).ready(function(){
var yearrange = <?php echo "'".date("Y", strtotime("-8 years")).':'.(date('Y')+1)."'"; ?>;  

//var yearrange = <?php echo "'".date('Y').':'.date('Y')."'"; ?>;
$('#start_date').datepicker({
				showOn:'both',
				yearRange: yearrange,
				dateFormat: '<?php echo DATEFORMAT_JS;?>',
				buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				onSelect: 
					function(){
					$('#end_date').datepicker("destroy");
					$('#end_date').datepicker({
						showOn:'both',
						yearRange: yearrange,
						dateFormat: '<?php echo DATEFORMAT_JS;?>',
						buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
						buttonImageOnly: true,
						buttonText: "",
						minDate : $('#start_date').datepicker("getDate"),
						changeMonth: true,
						changeYear: true,
					                    showButtonPanel: true ,
						onClose:function(){
					                        $('#end_date').trigger('blur');
					                    }	
					});
				}
					,
				changeYear: true,
                                showButtonPanel: true ,
				onClose:function(){
                                    $('#start_date').trigger('blur');
                					$('#end_date').datepicker("setDate", null); 
                                    $('#end_date').datepicker("show");                                    
                                }
				
		});
		

$(function() {

	    $('#startDateImage').on("click", function(e){
		            $('#start_date').datepicker("show");
	    });
});

$('#end_date').datepicker({
	showOn:'both',
	yearRange: yearrange,
	dateFormat: '<?php echo DATEFORMAT_JS;?>',
	buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
	buttonImageOnly: true,
	buttonText: "",
	minDate : $('#start_date').datepicker("getDate"),
	changeMonth: true,
	changeYear: true,
                    showButtonPanel: true ,
	onClose:function(){
                        $('#end_date').trigger('blur');
                    }	
});


$(function() {
$('#endDateImage').on("click", function(e){
        $('#end_date').datepicker("show");
});
});




});	

function showattenddetailed()
{
	var attendancetype = $('#attendancetype').val();
	var start_date = $('#start_date').val();
	var end_date = $('#end_date').val();
	alert('1');
	$("#errors-from_date").remove();
	$("#errors-to_date").remove();
	alert('2');
	var params = '&start_date='+start_date+'&end_date='+end_date;
	$("#downloadbutton").text("Loading..");
	if((start_date != '' && end_date != '') && (start_date != "From" && end_date != "To"))
	{
		$.ajax({
	        url: base_url+"/detailedattendsummary/getAttendDetailed/format/html",   				
			type : 'POST',	
			data : params,
			dataType: 'html',
			success : function(data){				
				$("#downloadbutton").text("Download");   
			}
		});
	}		
}
</script>