<?php
if ($this->call != 'ajaxcall') {
	?>
<span id="error_message"></span>

<?php
}
?>
<div id="approverequestform" style="display:none;">
<div class="newframe-div">
<form method="post">
		<div class="new-form-ui textareaheight">
		  <label class="required">Comments</label>
          <textarea maxlength="50" cols="50" rows="10" id="comments" name="comments"></textarea>		  
		<div class="division"></div>
		</div>
		<div>
			<span class="errors" id="errors-comments" style="display:none">Please enter comments.</span>
		</div>
		<div class="new-form-ui-submit">
		<input type="submit" name="submit" id="submitApproveButton" value="Approve" onclick="if(validateComment()== true){updateexceptions();}else{return false;}">
		<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" aria-disabled="false" title="close" style="background-color: white !important; color: #000000 !important; border: none !important;height: auto; margin: 5px; width: auto; top: auto; left: auto;	">Cancel</button>
		</div>

</form>
</div>
</div>
<div id="leavetypecontainer" class="leave_type_container">
	<!--<div id="arrow_left"></div>-->
	<ul class="leave_type_menu" style="width: 100%">
		<li class=" leave_type_dis leave" style="width: 270px"
			onclick="window.location.href='<?php
			
			echo BASE_URL . 'employeerequests/leave'?>';">Employee Leaves <br> <label><?php
			
			echo $this->leavesCountArray ['total']?></label>
		</li>
		<li class=" leave_type_dis" style="width: 270px"
			onclick="window.location.href='<?php
			
			echo BASE_URL . 'employeerequests/exception'?>';">Employee Exceptions<br>
			<label><?php
			
			echo $this->exceptionCountArray ['total']?></label>
		</li>
		<li class=" leave_type_dis" style="width: 270px"
			onclick="window.location.href='<?php
			
			echo BASE_URL . 'employeerequests/compoff'?>';">Employee Comp-off <br>
			<label><?php
			
			echo $this->compoffCountArray ['total']?></label></li>



	</ul>
</div>
<div id="spinnerpopup" class="ajax-loader" style="display:none;" >
					<img id="img-spinner"
						src="<?php echo MEDIA_PATH;?>images/loader2.gif" alt="Loading" />
</div>
<?php

if ($this->call == 'ajaxcall') {
	$div = '';
	$endDiv = '';
} else {
	echo sapp_Helper::displayEmployeeLeaveTypeDiv ( $this->exceptionCountArray );
	$div = '<div id="grid_employeerequests" class="all-grid-control">';
	$endDiv = '</div>';
}
echo $div . '<div id="msg" style="display:none;font-style: oblique; font-weight: bold; color: green;""></div>' . $this->grid ( $this->dataArray [0] ) . $endDiv;
?>

<script type='text/javascript'>
var values = new Array();
var exceptionids = new Array();
var status = '';
function validateComment()
{
	if (!$("#comments").val()) {
        $("#errors-comments").show();
        return false;
    }else{
    	$("#errors-comments").hide();
    }
    return true;
}
<?php 
		if($this->dataArray [0]['objectname'] == 'employeerequests')
		{    
		?>
		 
		function enableDisableActionButtons(){
			var isPendingSelected = false;
			var isApprovedSelected = false;
			var isCancelledSelected = false;
			var isRejectedSelected = false;	
			var noOfCheckboxSelected = 0;
			$("input:checkbox[name='checkboxSelect']:checked").each(function(){
				noOfCheckboxSelected++;
				var tableRow = $(this).closest("tr");
				tableRow.find($("td")).each(function(){
					 if($(this).text() == "Pending"){
						 isPendingSelected = true;
					 }			
					 if($(this).text() == "Approved"){
						 isApprovedSelected = true;
					 }			
					 if($(this).text() == "Rejected"){
						 isRejectedSelected = true;
					 }			
					 if($(this).text() == "Cancelled"){
						 isCancelledSelected = true;
					 }			
				});
			});

			if(noOfCheckboxSelected > 0){
				console.log('checkboxes selected');
		    	$('#approveButton').attr('disabled',false);
		    	$('#approveButton').css('background-color','#208bbd');  
		    	$('#approveButton').css('border-color','#208bbd');    	    	
		    	$('#rejectButton').attr('disabled',false);
		    	$('#rejectButton').css('background-color','#208bbd'); 
		    	$('#rejectButton').css('border-color','#208bbd');  
		    	$('#cancelButton').attr('disabled',false);
		    	$('#cancelButton').css('background-color','#208bbd'); 
		    	$('#cancelButton').css('border-color','#208bbd'); 
		    	
		    	if(isApprovedSelected){
		    		console.log('approved selected');
		    		$('#approveButton').attr('disabled',true);
		        	$('#approveButton').css('background-color','#747a7d');  
		        	$('#approveButton').css('border-color','#747a7d');   	    		
		    		$('#rejectButton').attr('disabled',true);
		    		$('#rejectButton').css('background-color','#747a7d'); 
		    		$('#rejectButton').css('border-color','#747a7d');  
		    	}
		    	if(isCancelledSelected){
		    		console.log('cancelled selected');
		    		$('#approveButton').attr('disabled',true);
		        	$('#approveButton').css('background-color','#747a7d'); 
		        	$('#approveButton').css('border-color','#747a7d');    
		    		$('#rejectButton').attr('disabled',true);
		        	$('#rejectButton').css('background-color','#747a7d');   
		        	$('#rejectButton').css('border-color','#747a7d'); 
		    		$('#cancelButton').attr('disabled',true);
		        	$('#cancelButton').css('background-color','#747a7d');    
		        	$('#cancelButton').css('border-color','#747a7d');  
		    	}
		    	if(isRejectedSelected){
		    		console.log('rejected selected');
		    		$('#approveButton').attr('disabled',true);
		        	$('#approveButton').css('background-color','#747a7d');  
		        	$('#approveButton').css('border-color','#747a7d'); 
		    		$('#rejectButton').attr('disabled',true);
		        	$('#rejectButton').css('background-color','#747a7d');    
		        	$('#rejectButton').css('border-color','#747a7d'); 
		    	}
			}else{
		    	$('#approveButton').attr('disabled',true);
		    	$('#approveButton').css('background-color','#747a7d');   
		    	$('#approveButton').css('border-color','#747a7d');  
		    	$('#rejectButton').attr('disabled',true);
		    	$('#rejectButton').css('background-color','#747a7d'); 
		    	$('#rejectButton').css('border-color','#747a7d');    
		    	$('#cancelButton').attr('disabled',true);
		    	$('#cancelButton').css('background-color','#747a7d');    
		    	$('#cancelButton').css('border-color','#747a7d');    
			}
			
		}
		<?php 
		}
		?>

		function approveMultiple(){
			$("#approverequestform").dialog({
		    	open: function(event, ui) {
		    									  
		    		 },
		    	draggable:false, 
		    	resizable: false,
		    	height:'auto',
		    	title: "Approve Exception Request",
		    	modal: true, 
		    	close: function( event, ui ) {
		    		  closedialog('');
		    	}
			});

			$.each($("input[name='checkboxSelect']:checked").closest("td").siblings("td"),
		       function () {
		            values.push($(this).text());
		       });
			exceptionids = new Array();
			$("input:checkbox[name='checkboxSelect']:checked").each(function(){
			exceptionids.push($(this).val());
		   });
		   $("#submitApproveButton").prop('value', 'Approve');
		   status = $("#submitApproveButton").prop('value'); 
		}

		function rejectMultiple(){
			$("#approverequestform").dialog({
		    	open: function(event, ui) {
		    									  
		    		 },
		    	draggable:false, 
		    	resizable: false,
		    	height:'auto',
		    	title: "Reject Exception Request",
		    	modal: true, 
		    	close: function( event, ui ) {
		    		  closedialog('');
		    	}
			});

			$.each($("input[name='checkboxSelect']:checked").closest("td").siblings("td"),
		       function () {
		            values.push($(this).text());
		       });
		    
		   exceptionids = new Array();
		   $("input:checkbox[name='checkboxSelect']:checked").each(function(){
		   exceptionids.push($(this).val());
		   });
		   $("#submitApproveButton").prop('value', 'Reject');
		   status = $("#submitApproveButton").prop('value'); 
		}

		function cancelMultiple(){
			$("#approverequestform").dialog({
		    	open: function(event, ui) {
		    									  
		    		 },
		    	draggable:false, 
		    	resizable: false,
		    	height:'auto',
		    	title: "Cancel Exception Request",
		    	modal: true, 
		    	close: function( event, ui ) {
		    		  closedialog('');
		    	}
			});

			$.each($("input[name='checkboxSelect']:checked").closest("td").siblings("td"),
		       function () {
		            values.push($(this).text());
		       });

			exceptionids = new Array();
		   $("input:checkbox[name='checkboxSelect']:checked").each(function(){
			exceptionids.push($(this).val());
		   });
		   $("#submitApproveButton").prop('value', 'Cancel Request');
		   status = $("#submitApproveButton").prop('value');
		}
function updateexceptions(){
	   $.ajax({
	        url: base_url+"/employeerequests/selectedexceptions",   				
			type : 'POST',	
			data : {ids:exceptionids,comments: $("#comments").val(),status: status},
			dataType: 'json',
			success : function(response){	
				window.location.href = base_url+'/employeerequests/exception';	
			},
			error : function(){
				$('#empreqerror').css('display','block');
				$('#empreqerror').fadeIn('fast').fadeOut(50000);
			}
		});	
	   $.blockUI({ width:'50px',message: $("#spinnerpopup").html() });
	   window.location.href = base_url+'/employeerequests/exception';
}
<?php

		if ($this->call != 'ajaxcall') {
			?>
$(document).ready(function(){
<?php if($_GET["success"] == 'true'){ ?>
$('#empreqsuccess').css('display','block');
$('#empreqmsg').html('Action has been successfully completed.');
$('#empreqsuccess').fadeIn('fast').fadeOut(50000);
<?php
}
if($this->dataArray [0]['objectname'] == 'employeerequests')
{
?>
enableDisableActionButtons();
<?php 
}
else {
?>	
$("#multiActionHeader").hide();
<?php
}
?>

$("input:checkbox").change(function() {
	enableDisableActionButtons();
});
	
<?php
}

if (count ( $this->messages )) {
	?>
      setTimeout(function(){
			$('#dispmsgpendingleaves').fadeOut('slow');
		},3000);


<?php
}
?>
if($('.leave_type_container').length>1) {
		$('.leave_type_container:first').remove();
		$('#maincontentdiv').prepend($('.leave_type_container'));
	}
$('.count_new_dis').removeClass('count_new_dis_active');
<?php

if (! empty ( $this->flag )) {
	?>
	$('#filter_<?php
	
	echo $this->flag;
	?>').addClass('count_new_dis_active');
<?php
} else if ($this->objName == 'all') {
	?>
	$('#filter_total').addClass('count_new_dis_active');
<?php
} else {
	?>
	$('#filter_<?php
	
	echo $this->objName;
	?>').addClass('count_new_dis_active');
<?php
}
?>
	if($('.count_new_dis_par').length>1) {
		$('.count_new_dis_par:first').remove();
		//$('.count_new_dis_par').not(':eq(0)').remove();
		$('.count_new_dis_par').insertAfter('#error_message');
	}
	$('.count_new_dis').css('background-color', $(".leave_type_dis:nth-child(2)").css('background-color'));
	$('.count_new_dis').css('color', $(".leave_type_dis:nth-child(2)").css('color'));
});
</script>