<?php
/*********************************************************************************

*  Copyright (C) 2014 Sapplica
*

*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
\*  is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with  If not, see <http://www.gnu.org/licenses/>.
*

********************************************************************************/
?>
<?php
$baseUrl = $this->serverUrl().$this->baseUrl();
if($this->rowexist !=''){?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
						No data found.
	</div>

<?php
}else
{
	$type =$this->type;
	if($type == 'leave'){

sapp_Global::generateClientValidations($this->form);?>
<div id="error_message" style="display:none;"></div>
<?php if($this->data['leavestatus']=='Approved' || $this->data['leavestatus']=='Pending'){?>
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>

		    <div class="new-form-ui">
			  <label class="required"><?php echo $this->form->managerstatus->getLabel(); ?></label>
			<div class="division" id="managerstatus"><?php echo $this->form->managerstatus; ?></div>
			<?php if(isset($this->msgarray['managerstatus'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->managerstatus->getId(); ?>"><?php echo $this->msgarray['managerstatus'];?></span>
			<?php }?>
			</div>
			<div class="new-form-ui textareaheight">
			  <label class="required">Comments</label>
			<div class="division"><?php echo $this->form->comments; ?>
			</div>
			<?php if(isset($this->msgarray['comments'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->reason->getId(); ?>"><?php echo $this->msgarray['comments'];?></span>
			<?php }?>
			</div>
			<?php if($this->data['leavestatus']=='Pending') {?>
			<div class="new-form-ui textareaheight" id="notify_div">
		<label>Notify me on</label>
		<div class="division">
			<input name="notify_me_on" id="notify_me_on"
				class="brdr_none" readonly="readonly" onfocus="this.blur()"
				type="text">
		</div>
		</div>
		<?php }?>
			<?php
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Employee Name',$this->form->employeename->getValue(),'Leave Type',$this->data['leavetype']);
sapp_Helper::viewBody('nor','From Date',$this->form->from_date->getValue(),'To Date',$this->form->to_date->getValue());
sapp_Helper::viewBody('alt','Leave For',$this->data['leaveday'],'Days',$this->form->appliedleavesdaycount->getValue());
if($this->data['leavestatus']=='Approved') {
sapp_Helper::viewBody('alt','Approved On',sapp_Global::change_date($this->data['modifieddate'],'edit'),'Comments',$this->data['approver_comments']);
	}

sapp_Helper::viewBody('alt','Reason',$this->data['reason'],'','');
sapp_Helper::viewFooter();
?>

			<div class="new-form-ui-submit">
			<?php echo $this->form->submit; ?>
			<button onclick="window.history.back()" type="button" id="Cancel" name="Cancel">Cancel</button>
			</div>

       </div>
</form>
<?php
 if(count($this->leave_history)>0) {?>
<div class="history-info-div">
    <div class="history-div">
    	<h2>Leave Request History</h2>
<?php

    foreach($this->leave_history as $history)
    {
?>
        <div class="history-flow">
            <div class="history-img"><img width="28" height="28" border="0" src="<?php echo $baseUrl; ?>/public/uploads/profile/<?php echo $history['emp_profile_img'];?>" onerror="this.src='<?php echo MEDIA_PATH; ?>images/profile_pic.png'" /></div>
            <div class="history-text"><span><?php echo trim($history['history']);?></span><b><?php echo sapp_Global::change_date($history['hdate'], 'edit');?>  <?php echo sapp_Global::getDisplaySDTime($history['htime']);?></b></div>
        </div>
<?php
    }
?>
    </div>
 </div>
 <?php
    }
	}
	else{?>
	<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>">
	<?php echo $this->form->id; ?>
	<?php
					sapp_Helper::viewHeader();
				sapp_Helper::viewBody('alt','Employee Name',$this->form->employeename->getValue(),'Leave Type',$this->data['leavetype']);
				sapp_Helper::viewBody('nor','From Date',$this->form->from_date->getValue(),'To Date',$this->form->to_date->getValue());
				sapp_Helper::viewBody('alt','Leave For',$this->data['leaveday'],'Days',$this->form->appliedleavesdaycount->getValue());
				if($this->data['leavestatus']=='Approved') {
				sapp_Helper::viewBody('alt','Approved On',sapp_Global::change_date($this->data['modifieddate'],'edit'),'Comments',$this->data['approver_comments']);
					}

sapp_Helper::viewBody('alt','Reason',$this->data['reason'],'','');
sapp_Helper::viewFooter();
?>
	</form>
	<?php if(count($this->leave_history)>0) {?>
<div class="history-info-div">
    <div class="history-div">
    	<h2>Leave Request History</h2>
<?php

    foreach($this->leave_history as $history)
    {
?>
        <div class="history-flow">
            <div class="history-img"><img width="28" height="28" border="0" src="<?php echo $baseUrl; ?>/public/uploads/profile/<?php echo $history['emp_profile_img'];?>" onerror="this.src='<?php echo MEDIA_PATH; ?>images/profile_pic.png'" /></div>
            <div class="history-text"><span><?php echo trim($history['history']);?></span><b><?php echo sapp_Global::change_date($history['hdate'], 'view');?>  <?php echo sapp_Global::getDisplaySDTime($history['htime']);?></b></div>
        </div>
<?php
    }
?>
    </div>
 </div>
 <?php
    }?>
<?php }
}
else if($type == 'exception'){
	sapp_Global::generateClientValidations($this->form);?>
	<div id="error_message" style="display:none;"></div>
<?php if($this->data['exceptionstatus']=='Approved' || $this->data['exceptionstatus']=='Pending'){?>
	<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
			<?php echo $this->form->id; ?>

			    <div class="new-form-ui">
				  <label class="required"><?php echo $this->form->managerstatus->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->managerstatus; ?></div>
				<?php if(isset($this->msgarray['managerstatus'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->managerstatus->getId(); ?>"><?php echo $this->msgarray['managerstatus'];?></span>
				<?php }?>
				</div>
				<div class="new-form-ui textareaheight">
				  <label>Comments</label>
				<div class="division"><?php echo $this->form->comments; ?>
				<span id = "textarea_feedback" class="maxlength-feedback"> </span>
				</div>
				<?php if(isset($this->msgarray['comments'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->reason->getId(); ?>"><?php echo $this->msgarray['comments'];?></span>
				<?php }?>
				</div>
				<?php
	sapp_Helper::viewHeader();
	sapp_Helper::viewBody('alt','Employee Name',$this->form->employeename->getValue(),'Exception For',$this->data['exceptionday']);
	sapp_Helper::viewBody('nor','From Date',$this->form->from_date->getValue(),'To Date',$this->form->to_date->getValue());
	sapp_Helper::viewBody('alt','Reason',$this->data['reason'],'Days',$this->form->appliedexceptioncount->getValue());
	if($this->data['exceptionstatus']=='Approved') {
			sapp_Helper::viewBody('alt','Approved On',sapp_Global::change_date($this->data['modifieddate'],'view'),'Comments',$this->data['approver_comments']);
		}

	sapp_Helper::viewFooter();
	?>

				<div class="new-form-ui-submit">
				<?php echo $this->form->submit; ?>
				<button onclick="window.history.back()" type="button" id="Cancel" name="Cancel">Cancel</button>
				</div>

	       </div>
	</form>
	<?php if(count($this->exception_history)>0) {?>
<div class="history-info-div">
    <div class="history-div">
    	<h2>Leave Request History</h2>
<?php

    foreach($this->exception_history as $history)
    {
?>
        <div class="history-flow">
            <div class="history-img"><img width="28" height="28" border="0" src="<?php echo $baseUrl; ?>/public/uploads/profile/<?php echo $history['emp_profile_img'];?>" onerror="this.src='<?php echo MEDIA_PATH; ?>images/profile_pic.png'" /></div>
            <div class="history-text"><span><?php echo trim($history['history']);?></span><b><?php echo sapp_Global::change_date($history['hdate'], 'view');?>  <?php echo sapp_Global::getDisplaySDTime($history['htime']);?></b></div>
        </div>
<?php
    }
?>
    </div>
 </div>
 <?php
    }
	}
	else{?>
	<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>">
	<?php echo $this->form->id; ?>
					<?php
		sapp_Helper::viewHeader();
	sapp_Helper::viewBody('alt','Employee Name',$this->form->employeename->getValue(),'Exception For',$this->data['exceptionday']);
	sapp_Helper::viewBody('nor','From Date',$this->form->from_date->getValue(),'To Date',$this->form->to_date->getValue());
	sapp_Helper::viewBody('alt','Reason',$this->data['reason'],'Days',$this->form->appliedexceptioncount->getValue());
	if($this->data['exceptionstatus']=='Approved') {
			sapp_Helper::viewBody('alt','Approved On',sapp_Global::change_date($this->data['modifieddate'],'view'),'Comments',$this->data['approver_comments']);
		}

	sapp_Helper::viewFooter();
	?>
	</form>
	<?php if(count($this->exception_history)>0) {?>
<div class="history-info-div">
    <div class="history-div">
    	<h2>Exception Request History</h2>
<?php

    foreach($this->exception_history as $history)
    {
?>
        <div class="history-flow">
            <div class="history-img"><img width="28" height="28" border="0" src="<?php echo $baseUrl; ?>/public/uploads/profile/<?php echo $history['emp_profile_img'];?>" onerror="this.src='<?php echo MEDIA_PATH; ?>images/profile_pic.png'" /></div>
            <div class="history-text"><span><?php echo trim($history['history']);?></span><b><?php echo sapp_Global::change_date($history['hdate'], 'view');?>  <?php echo sapp_Global::getDisplaySDTime($history['htime']);?></b></div>
        </div>
<?php
    }
?>
    </div>
 </div>
 <?php
    }?>
<?php }
}
 else if($type == 'compoff'){

	sapp_Global::generateClientValidations($this->form);?>
	<div id="error_message" style="display:none;"></div>
 <?php if($this->data['status']=='Approved' || $this->data['status']=='Pending'){?>
	<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>">
			<?php echo $this->form->id; ?>

			    <div class="new-form-ui">
				  <label class="required"><?php echo $this->form->managerstatus->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->managerstatus; ?></div>
				<?php if(isset($this->msgarray['managerstatus'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->managerstatus->getId(); ?>"><?php echo $this->msgarray['managerstatus'];?></span>
				<?php }?>
				</div>
				<div class="new-form-ui textareaheight">
				  <label>Comments</label>
				<div class="division"><?php echo $this->form->comments; ?></div>
				<?php if(isset($this->msgarray['comments'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->reason->getId(); ?>"><?php echo $this->msgarray['comments'];?></span>
				<?php }?>
				</div>
				<?php
	sapp_Helper::viewHeader();
 	sapp_Helper::viewBody('alt','Employee Name',$this->form->employeename->getValue(),'Type',$this->data['option']);
	sapp_Helper::viewBody('nor','Avail Date',$this->form->avail_date->getValue(),'Applied on',$this->form->createddate->getValue());
	if($this->data['status']=='Approved') {
		sapp_Helper::viewBody('alt','Approved On',sapp_Global::change_date($this->data['modifieddate'],'view'),'Comments',$this->data['approver_comments']);
	}
	 if($this->data['option']=='Leave') {
		sapp_Helper::viewBody('alt','Leave Date',$this->form->leave_date->getValue(),'Reason',$this->data['user_comments']);
	}
	else
		sapp_Helper::viewBody('nor','Reason',$this->data['user_comments'],'','');

	sapp_Helper::viewFooter();
	?>

				<div class="new-form-ui-submit">
				<?php echo $this->form->submit; ?>
				<button onclick="window.history.back()" type="button" id="Cancel" name="Cancel">Cancel</button>
				</div>

	       </div>
	</form>
<?php
}
else{?>
	<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>">
	<?php echo $this->form->id; ?>
					<?php
		sapp_Helper::viewHeader();
	 	sapp_Helper::viewBody('alt','Employee Name',$this->form->employeename->getValue(),'Type',$this->data['option']);
		sapp_Helper::viewBody('nor','Avail Date',$this->form->avail_date->getValue(),'Applied on',$this->form->createddate->getValue());
		 if($this->data['option']='Leave') {
			sapp_Helper::viewBody('alt','Leave Date',$this->form->leave_date->getValue(),'','');
		}
		if($this->data['status']=='Approved') {
				sapp_Helper::viewBody('alt','Approved On',sapp_Global::change_date($this->data['modifieddate'],'view'),'Comments',$this->data['approver_comments']);
			}

		sapp_Helper::viewFooter();
		?>
	</form>
<?php }
}
}?>
<script type='text/javascript'>
$(document).ready(function(){
   <?php if($this->data['leaveday'] == 2){?>
           $("#todate_employeeedit").hide();
   <?php }?>
   var yearrange = <?php echo "'".YEAR.':'.(date('Y')+1)."'"; ?>;
   //  var yearrange = <?php echo "'".date("Y", strtotime("-30 years")).':'.date('Y')."'"; ?>;
   <?php if($this->type == 'leave'){?>
 		$('#notify_me_on').datepicker({
 			showOn:'both',
 			//maxDate: new Date,
 			yearRange: yearrange,
 			dateFormat: '<?php echo DATEFORMAT_JS;?>',
 			buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
 			buttonImageOnly: true,
 			buttonText: "",
 			minDate: '0d',
 			maxDate: '<?php echo $this->form->from_date->getValue()?>',
 			changeMonth: true,
 			changeYear: true,
            showButtonPanel: true ,
 			onClose:function(){
                         validateorgheadjoiningdate();
 				$('#notify_me_on').trigger('blur');
                 }
 		});
	<?php }?>
 	$( "#managerstatus" ).change(function() {
 		 if($( "#managerstatus option:selected" ).text() === "Reject" || $( "#managerstatus option:selected" ).text() === "Cancel"){
 			$("#notify_div").css("display","none");
 			$( "#notify_me_on" ).datepicker('setDate','');
 		 }else if($( "#managerstatus option:selected" ).text() === "Approve"){
 			$("#notify_div").css("display","block");
 		 }
 		});
});

function onEmpRequestUpdateSuccess(request){
	$.ajax({
		url: base_url + '/employeerequests/sendemailconfirmation',
		type : 'POST',
		data : request
	});
}
</script>

