<?php
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
 $auth = Zend_Auth::getInstance();
if($auth->hasIdentity())
{
	$loginUserId = $auth->getStorage()->read()->id;
	$loginuserGroup = $auth->getStorage()->read()->group_id;
	$loginuserRole = $auth->getStorage()->read()->emprole;
}
if (count($this->messages)) 
 {
 ?>
	<div id="dispmsgepsettings" class="settingssuccess">
 <?php 
	foreach ($this->messages as $message)
	{
		if(!empty($message))
		{
			$flag = array_keys($message);
			echo "<div id='messageData' class='ml-alert-1-$flag[0]'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
			echo $message[$flag[0]];
			echo "</div></div>";
		}
	} 
?>   
	</div>	
<?php 
} 
?>
<?php echo sapp_Helper::popup_helper('allexitproc');?>
<span id="error_message"></span>

<?php 
if($this->call != 'ajaxcall'){
if($loginuserRole == SUPERADMINROLE || $loginuserGroup == HR_GROUP || $loginuserGroup == MANAGEMENT_GROUP)
{
?>
<div class="count_new_dis_par"  title="Overall Status Count">
<div  class="count_new_dis" id="all_rec" onClick="displayallexitdata('<?php echo sapp_Global::_encrypt(1);?>','allexitproc');"><span>All</span><br><label><?php echo $this->allcount;?></label></div>
<div  class="count_new_dis" id="pending_rec" onClick="displayallexitdata('<?php echo sapp_Global::_encrypt(4);?>','allexitproc');"><span>Pending</span><br><label><?php echo $this->pendingexitcount;?></label></div>
<div  class="count_new_dis" id="approved_rec" onClick="displayallexitdata('<?php echo sapp_Global::_encrypt(2);?>','allexitproc');"><span>Approved</span><br><label><?php echo $this->approvedcount;?></label></div>
<div  class="count_new_dis" id="rejected_rec" onClick="displayallexitdata('<?php echo sapp_Global::_encrypt(3);?>','allexitproc');"><span>Rejected</span><br><label><?php echo $this->rejectedexitcount;?></label></div>
</div>
<div class="new-form-ui-submit " style = "margin-top:10px;width: 160px;float: right;">
<img style= "float: left !important;" src = "<?php echo DOMAIN; ?>public/media/images/download-file.png">
			<a style="color :#208bbd; float: right !important; font-size: larger;" target="_blank" href="<?php echo DOMAIN; ?>public/downloads/Leaver Form.docx">Download Template</a>
			
			</div>
<?php 
}
}
?>
<?php

if($this->call == 'ajaxcall'){
	$div = ''; $endDiv = ''; 
} else { 
	$div = '<div id="grid_'.$this->dataArray[0]['objectname'].'" class="all-grid-control">'; $endDiv = '</div>';
}
	echo $div.'<div id="msg" style="display:none;font-style: oblique; font-weight: bold; color: green;""></div>'.$this->grid($this->dataArray[0]).$endDiv;
?>
<script type='text/javascript'>
$(document).ready(function(){
<?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispmsgepsettings').fadeOut('slow');
		},3000);
<?php } 
?>
});
<?php 
if($this->status == sapp_Global::_encrypt(1)){ ?>

        $('#all_rec').addClass('count_new_dis_active');
   
<?php }?>
<?php if($this->status == sapp_Global::_encrypt(2)){ ?>

        $('#approved_rec').addClass('count_new_dis_active');
   
<?php }?>
<?php if($this->status == sapp_Global::_encrypt(3)){ ?>

        $('#rejected_rec').addClass('count_new_dis_active');
   
<?php }?>
<?php if($this->status == sapp_Global::_encrypt(4)){ ?>

        $('#pending_rec').addClass('count_new_dis_active');
   
<?php }?>
function displayallexitdata(id,controllername)
{
	if(id)
	{
	 window.location.href = base_url+'/exit/'+controllername+'/index/con/'+id;
	}
}

</script>