<?php
/********************************************************************************* 


 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/

if($this->ermsg == 'noprivileges')
{
?>
     <div class="ml-alert-1-info"><div class="style-1-icon info"></div>You are not authorized to access this page</div>

<?php
}
else if($this->ermsg == 'nodata')
{
?>
     <div class="ml-alert-1-info"><div class="style-1-icon info"></div>No data found</div>

<?php
}
else if($this->ermsg == 'invalidURL')
{
?>
     <div class="ml-alert-1-info"><div class="style-1-icon info"></div>Invalid URL</div>

<?php
}
else
{
?>
<input type="hidden" name="employee_id" id="employee_id" value="<?php echo $this->historyObj[0]['createdby'];?>">
<div class="new-form-ui-submit " style = "width : 160px;float:right !important;">
			<input type="button" style = "float:left !important; margin-bottom: -25px;" name="download" id="download" value="Download">
			</div>
	<?php if($this->loggedInUserRole!=SUPERADMINROLE && $this->exitProcDetails['overall_status']=='Pending'){ ?>
		<div class="new-form-ui-submit "  style="margin-top: 0px; float: right; width: auto; margin-left: 0px; ">
		   
				<?php             	
					$msgtitle = $this->controllername.'_delete';
					sapp_Helper::editdeleteForView(ALL_EXIT_PROCS,$this->controllername,$this->id,$msgtitle); 
				 ?>		
			
		</div>
	<?php } ?>
		

<div class="separetor-heading">Employee Details</div>
<?php 
sapp_Helper::viewHeader();

sapp_Helper::viewBody('alt','Business Unit',(isset($this->exitProcDetails['businessunit_name']) && $this->exitProcDetails['businessunit_name'] != 'No Business Unit')? $this->exitProcDetails['businessunit_name']: "...",'Department',(isset($this->exitProcDetails['department_name']))? $this->exitProcDetails['department_name']: "...");

sapp_Helper::viewBody('nor','Employee ID',(isset($this->exitProcDetails['employeeId']))? $this->exitProcDetails['employeeId']: "...",'Joining Date',(isset($this->exitProcDetails['date_of_joining']))? sapp_Global::change_date($this->exitProcDetails['date_of_joining'],'view'): "...");
sapp_Helper::viewBody('alt','Job Title',(isset($this->exitProcDetails['jobtitle_name']))? $this->exitProcDetails['jobtitle_name']: "...",'Position',isset($this->exitProcDetails['position_name'])? $this->exitProcDetails['position_name']: "...");
sapp_Helper::viewFooter();
?>
<div class="separetor-heading mrgetop10">Exit Procedure Details</div>
<?php 
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Exit Type',(isset($this->exitProcDetails['exit_type']))?$this->exitProcDetails['exit_type']: "...",'Raised on',isset($this->exitProcDetails['createddate'])? sapp_Global::change_date($this->exitProcDetails['createddate'],"view") : "...");

sapp_Helper::viewBody('nor','Comments',isset($this->exitProcDetails['overall_comments'])? $this->exitProcDetails['overall_comments'] : "...",'Process Status',isset($this->exitProcDetails['overall_status'])? $this->exitProcDetails['overall_status'] : "...");

sapp_Helper::viewBody('alt','Relieving Date',isset($this->exitProcDetails['relieving_date'])? sapp_Global::change_date($this->exitProcDetails['relieving_date'],'view') : "...",'','');

sapp_Helper::viewFooter();
?>
<?php
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','L1 Manager',isset($this->exitProcDetails['reporting_manager_name'])? $this->exitProcDetails['reporting_manager_name']: "...",'Status',isset($this->exitProcDetails['l1_status'])? $this->exitProcDetails['l1_status']: "...");
sapp_Helper::viewBody('nor','Comments',!empty($this->exitProcDetails['l1_comments'])?$this->exitProcDetails['l1_comments']:"...",'','');
if(!empty($this->exitProcDetails['l2_manager'])){
	
sapp_Helper::viewBody('alt','L2 Manager',isset($this->managersDataObj[$this->exitProcDetails['l2_manager']])? $this->managersDataObj[$this->exitProcDetails['l2_manager']]['userfullname']: "...",'Status',isset($this->exitProcDetails['l2_status'])?$this->exitProcDetails['l2_status']:"...");
sapp_Helper::viewBody('nor','Comments',!empty($this->exitProcDetails['l2_comments'])?$this->exitProcDetails['l2_comments']:"...",'','');

}
sapp_Helper::viewBody('alt','HR Manager',isset($this->managersDataObj[$this->exitProcDetails['hr_manager']])? $this->managersDataObj[$this->exitProcDetails['hr_manager']]['userfullname']: "...",'Status',isset($this->exitProcDetails['hr_manager_status'])?$this->exitProcDetails['hr_manager_status']:"...");
sapp_Helper::viewBody('nor','Comments',!empty($this->exitProcDetails['hr_manager_comments'])?$this->exitProcDetails['hr_manager_comments']:"...",'','');

if(!empty($this->exitProcDetails['sys_admin'])){
sapp_Helper::viewBody('alt','System Admin',isset($this->managersDataObj[$this->exitProcDetails['sys_admin']])? $this->managersDataObj[$this->exitProcDetails['sys_admin']]['userfullname']: "...",'Status',isset($this->exitProcDetails['sys_admin_status'])?$this->exitProcDetails['sys_admin_status']:"...");
sapp_Helper::viewBody('nor','Comments',!empty($this->exitProcDetails['sys_admin_comments'])?$this->exitProcDetails['sys_admin_comments']:"...",'','');
}
if(!empty($this->exitProcDetails['general_admin'])){
sapp_Helper::viewBody('alt','General Admin',isset($this->managersDataObj[$this->exitProcDetails['general_admin']])? $this->managersDataObj[$this->exitProcDetails['general_admin']]['userfullname']: "...",'Status',isset($this->exitProcDetails['gen_admin_status'])?$this->exitProcDetails['gen_admin_status']:"...");
sapp_Helper::viewBody('nor','Comments',!empty($this->exitProcDetails['gen_admin_comments'])?$this->exitProcDetails['gen_admin_comments']:"...",'','');
}
if(!empty($this->exitProcDetails['finance_manager'])){
sapp_Helper::viewBody('alt','Finance Manager',isset($this->managersDataObj[$this->exitProcDetails['finance_manager']])? $this->managersDataObj[$this->exitProcDetails['finance_manager']]['userfullname']: "...",'Status',isset($this->exitProcDetails['fin_admin_status'])?$this->exitProcDetails['fin_admin_status']:"...");
sapp_Helper::viewBody('nor','Comments',!empty($this->exitProcDetails['fin_admin_comments'])?$this->exitProcDetails['fin_admin_comments']:"...",'','');
}
sapp_Helper::viewFooter();
?>
<div class="cofig_title" style="margin-left: 0px; padding-top: 10px;padding-bottom: 10px;">Process History</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="requisition-table view-table-data">
	<?php 
	for($h=0;$h < sizeof($this->historyObj); $h++)
	{
	?>
		<tr class="req-no-form">
			<td>
				<img width="28" height="28" border="0" src="<?php echo DOMAIN; ?>public/uploads/profile/<?php echo $this->historyObj[$h]['profileimg'];?>" onerror="this.src='<?php echo MEDIA_PATH; ?>images/profile_pic.png';" />
		<?php 
			
			$tmpHistoryStr1 = str_replace('<name>',$this->historyObj[$h]['userfullname'],$this->historyObj[$h]['description']);
			$tmpCreatedDateStr = sapp_Global::getDisplayDate($this->historyObj[$h]['createddate']);
			$tmpHistoryStr2 = str_replace('<createddate>',$tmpCreatedDateStr, $tmpHistoryStr1);
			echo $tmpHistoryStr2;
		?>
			</td>
		</tr>
	<?php
	}
	?>
</table>
<br/>
<!--<div class="new-form-ui-submit">
	<input type="button" onclick="window.location.href='<?php //echo BASE_URL; ?>exit/allexitproc/edit/id/<?php //echo $this->id; ?>';" value="Edit" />
	<button onclick="window.location.href='<?php//echo BASE_URL; ?>exit/allexitproc';" id="Cancel" name="Cancel" type="button" >Cancel</button>
</div>-->
<?php 
}//end of else
?>
<script>
$(document).ready(function(){
$('#download').click(function(){
	$.ajax({
		url: base_url+"/exit/allexitproc/download",
		type : 'POST',
		data: '&employee_id='+$('#employee_id').val(),
		success: function(){
				$("#download").val("Download");
	 			$("#download").prop('disabled', false);			 
	 		},
});
	});
});
</script>
