<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php $baseUrl = $this->serverUrl().$this->baseUrl();
sapp_Global::generateClientValidations($this->form);

?>
<?php if($this->successmessage != '') { ?>
<div id="dispmsgncc" class="ml-alert-1-success">
<div class="style-1-icon success"></div>
Employee dependency details added successfully.
</div>

<?php } else	{	 ?>

<div id="error_message" style="display:none;"></div>
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
        <div class="total-form-controller">
		 	<div class="new-form-ui">
			  <label id="injuredDate" class="required">Dependent Name</label>
				<div class="division loca_state_div"><?php echo $this->form->dependent_name; ?></div>
				<?php if(isset($this->msgarray['dependent_name'])){?>
				<span class="errors" id="errors-<?php echo $this->form->dependent_name->getId(); ?>"><?php echo $this->msgarray['dependent_name'];?></span>
				<?php }?>
			</div>
			
			<div class="new-form-ui">
				<label class="required">Dependent Relation</label>
				<div class="division"><?php echo $this->form->dependent_relation; ?></div>
				 <?php if(isset($this->msgarray['dependent_relation'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->dependent_relation->getId(); ?>"><?php echo $this->msgarray['dependent_relation'];?></span>
				<?php }?>
			</div>
			
			<div class="new-form-ui">
			    <label class="required">Dependent Custody Code</label>
				<div class="division"><?php echo $this->form->dependent_custody; ?></div>
				 <?php if(isset($this->msgarray['dependent_custody'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->dependent_custody->getId(); ?>"><?php echo $this->msgarray['dependent_custody'];?></span>
				<?php }?>
				</div>
															
			<div class="new-form-ui">
			  <label class="required">Dependent DOB <img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo MEDIA_PATH;?>images/help.png"></label>
			  <div class="division"><?php echo $this->form->dependent_dob; ?></div>
				<?php if(isset($this->msgarray['dependent_dob'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->dependent_dob->getId(); ?>"><?php echo $this->msgarray['dependent_dob'];?></span>
				<?php }?>
			</div>
				
				<div class="new-form-ui">
			  <label>Dependent Age</label>
			  <div class="division"><?php echo $this->form->dependent_age; ?></div>
				<?php if(isset($this->msgarray['dependent_age'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->dependent_age->getId(); ?>"><?php echo $this->msgarray['dependent_age'];?></span>
				<?php }?>
			</div>
        <div class="new-form-ui-submit" id="formSubmit">
        <?php echo $this->form->submit; ?>
        <button onclick="closeiframepopup('dependencydetails','cancel');" type="button">Cancel</button>
        </div>
</div>        
</form>
<script type='text/javascript'>
$(document).ready(function(){
	//To get the Calender image...
	var currentDate = new Date;
//var yearrange = <?php echo "'".date("Y", strtotime("-30 years")).':'.date('Y')."'"; ?>;
     var yearrange = <?php echo "'".YEAR.':'.date('Y')."'"; ?>;
	$('#dependent_dob').datepicker({
					showOn:'both',
					maxDate: new Date, 
					yearRange: yearrange,
					dateFormat:"<?php echo DATEFORMAT_JS;?>",
					buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
					buttonImageOnly: true,
					buttonText: "",
					changeMonth: true,
					changeYear: true,
                                        showButtonPanel: true ,
					onClose:function()
					{
						$('#dependent_dob').trigger('blur');
					}  
	});
	
	$("#disabilitydetails").addClass('active');
	});
</script>
<?php	}	?>
<script language='javascript'>

<?php if($this->successmessage != '') { ?>
        setTimeout(function(){
		    closeiframepopup('<?php echo $this->controllername; ?>',''); 
		},2000);
<?php } ?>
</script>