<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if(empty($this->empdata)){?>
   <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>
						No data found.
				<?php }else{?>
						Employee inactivated.
				<?php }?>
	</div>

<?php	}	else	{
$baseUrl = $this->serverUrl().$this->baseUrl();

?>
<div id="error_message" style="display:none;"></div>

<?php if($this->call != 'ajaxcall'){ ?>
<?php if(!empty($this->employeedata)) {
	echo $this->employeedetails($this->employeedata,'view',$this->id);
 } ?>

<div class="right-block-data"> 
	<?php }
if($this->call == 'ajaxcall'){
	$div = ''; $endDiv = ''; 
} else { 
	$div = '<div id="grid_'.$this->dataArray[0]['objectname'].'" class="all-grid-control">'; $endDiv = '</div>';
}
	echo $div.'<div id="msg" style="display:none; font-style: oblique; font-family:PTSansbold,sans-serif; font-size: color: green;""></div>'.$this->employeegrid($this->dataArray[0]).$endDiv;
if($this->call != 'ajaxcall'){?>

</div>	
</div>

<div id="dependencydetailsContainer"  style="display: none; overflow: auto;">
	<div class="heading">
		<a href="javascript:void(0)">
		<img src="<?php echo MEDIA_PATH; ?>images/close.png" name="" align="right"
			border="0" hspace="3" vspace="5" class="closeAttachPopup"
			style="margin: -24px 8px 0 0;"> </a>
	</div>

		<iframe id="dependencydetailsCont" class="business_units_iframe" frameborder="0"></iframe>

</div>
<?php }?>
<script type='text/javascript'>
$(document).ready(function(){
	$("#dependency_details").addClass('active');
	$("#dependency_details").removeAttr("onclick");
});
</script>
<?php	}	?>
