<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php $baseUrl = $this->serverUrl().$this->baseUrl();
sapp_Global::generateClientValidations($this->form);
?>
<div id="error_message" style="display:none;"></div>
		<?php echo $this->form->id; ?>
<?php 
$dependentDob = $this->form->dependent_dob->getValue();
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Dependent Name',(!empty($this->data[0]['dependent_name']))?$this->data[0]['dependent_name']:"...",'Dependent Relation',(!empty($this->data[0]['dependent_relation']))?$this->data[0]['dependent_relation']:"...");
sapp_Helper::viewBody('nor','Dependent Custody Code',(!empty($this->data[0]['dependent_custody']))?$this->data[0]['dependent_custody']:"...",'Dependent DOB ',(!empty($dependentDob))?$this->form->dependent_dob->getValue():"...");
sapp_Helper::viewBody('alt','Dependent Age',(!empty($this->data[0]['dependent_age']))?$this->data[0]['dependent_age']:"...",'','');
sapp_Helper::viewFooter();
?>
       
        <div class="new-form-ui-submit" id="formSubmit">
        <input onclick="closeiframepopup('dependencydetails','cancel');" type="button" value="Close"  />
        </div>
