<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
	<?php echo $this->form->id; 
	?>
	<div style="margin-left: 20%;">
		<input name="custom_date" id="custom_date" value="1" type="checkbox"> Enable custom dates </input>
	</div>
	<div class="new-form-ui" style="margin-right: 0px; margin-left: 0px;">
		<div class="division" >
		<?php echo $this->form->month; ?>
		</div>
	</div>
	
	<!-- Attendance Start and End Dates -->
	<div class="new-form-ui"  style="margin-right: 0px; margin-left: 0px;">
		<div class="division">
		<?php echo $this->form->from_date; 
				echo $this->form->fromdate;
		?>	
		</div>
		<span class="errors" id="errors-from_date"></span>
	</div>

	<div class="new-form-ui"  style="margin-right: 0px; margin-left: 0px;">
		<div class="division">
			<?php echo $this->form->to_date;
			echo $this->form->todate;
			?>
			
		
		</div>
		<span class="errors" id="errors-to_date"></span>
	</div>
	<div class="new-form-ui"  style="margin-right: 0px; margin-left: 0px;">
		<div class="division">
		<?php	echo $this->form->download;?>
		</div>	
	</div>
</form>

<script>
//calendar script
$(document).ready(function(){
	var yearrange = <?php echo "'".YEAR.':'.(date('Y')+1)."'"; ?>;
	var start_month = $('#month').val() == 01 ? 12 : $('#month').val();
	$('#from_date').datepicker({
			showOn:'both',
			maxDate: new Date( new Date(<?php echo (date('Y')) ?>, $('#month').val()) -1), 
			minDate: new Date(<?php echo (date('Y')) ?>, $('#month').val()-2),
			defaultDate: new Date(<?php echo (date('Y')); ?>, $('#month').val()-1, <?php echo AUDIT_START_DAY;?>) ,
			yearRange: yearrange,
			dateFormat: '<?php echo DATEFORMAT_JS;?>',
			buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
			buttonImageOnly: true,
			buttonText: "",
			changeMonth: true,
			changeYear: true, 
            showButtonPanel: true ,
           	onClose:function(){
                       validateorgheadjoiningdate();                        
                        $('#fromdate').val($('#from_date').val());
						$('#from_date').trigger('blur');
                }
	});
	$('#from_date').next().css('margin-top','20px');
	$('#from_date').datepicker("setDate",new Date(( $('#month').val()  == 01 ? <?php echo date('Y') -1?> : <?php echo date('Y')?> ), $('#month').val() == 01 ? start_month - 1  : start_month - 2, <?php echo AUDIT_START_DAY;?>));
	$('#fromdate').val($('#from_date').val());
	$('#to_date').datepicker({
			showOn:'both',
			maxDate: new Date( new Date(<?php echo (date('Y')) ;?>, $('#month').val()) -1), 
			minDate: new Date(<?php echo (date('Y')); ?>, $('#month').val()-1) , 
			defaultDate: new Date(<?php echo (date('Y')); ?>, $('#month').val()-1, <?php echo AUDIT_END_DAY;?>) ,
			yearRange: yearrange,
			dateFormat: '<?php echo DATEFORMAT_JS;?>',
			buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
			buttonImageOnly: true,
			buttonText: "",
			changeMonth: true,
			changeYear: true, 
            showButtonPanel: true ,
			onClose:function(){
                        validateorgheadjoiningdate();
                        $('#todate').val($('#to_date').val());
						$('#to_date').trigger('blur');
                }
	});
	$('#to_date').next().css('margin-top','20px');
	$('#to_date').datepicker("setDate",new Date(<?php echo (date('Y')); ?>, $('#month').val()-1, <?php echo AUDIT_END_DAY;?>));
	$('#todate').val($('#to_date').val());

	toggleCustomDate();
});	

$('#custom_date').change(function(){toggleCustomDate()});
$('#month').change(function(){
	var start_month = $(this).val() == 01 ? 12 : $(this).val();
		
	$('#from_date').datepicker( "option", "maxDate",new Date( new Date(<?php echo (date('Y')) ?>, $('#month').val()) -1));
	$('#from_date').datepicker( "option", "minDate",new Date(( start_month == 01 ? <?php echo date('Y') -1?> : <?php echo date('Y')?> ), $('#month').val()-2));
	$('#from_date').datepicker("setDate",new Date(( $(this).val()  == 01 ? <?php echo date('Y') -1?> : <?php echo date('Y')?> ), $(this).val() == 01 ? start_month -1 : start_month -2 , <?php echo AUDIT_START_DAY;?>));
	$('#from_date').next().css('margin-top','20px');
	$('#fromdate').val($('#from_date').val());
	$('#to_date').datepicker( "option", "maxDate",new Date( new Date(<?php echo (date('Y')) ?>, $('#month').val()) -1));
	$('#to_date').datepicker( "option", "minDate",new Date(( start_month == 01 ? <?php echo date('Y') -1?> : <?php echo date('Y')?> ), $('#month').val()-1));
	$('#to_date').datepicker("setDate",new Date(<?php echo (date('Y')); ?>, $('#month').val()-1, <?php echo AUDIT_END_DAY;?>));
	$('#to_date').next().css('margin-top','20px');
	$('#todate').val($('#to_date').val());
	toggleCustomDate();
	$('#errors-from_date').text('');
	$('#errors-to_date').text('');
	});
$('#from_date').blur(function(){  

	
    if($.trim($(this).val()) == '')
     { 
    	$('#errors-from_date').text("Please select the date.");
        
        $(this).val('');								
     }
     else 
     {
    	var startdate = new Date($(this).val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
    	var enddate = new Date($('#todate').val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
    	if(startdate.getTime() > enddate.getTime()){		
    		$('#errors-from_date').text("Start date cannot be greater than end date.");
    	}else{
    		$('#errors-from_date').text('');
        	}
     }
     
    });	

function toggleCustomDate(){
	var start_month = $('#month').val() == 01 ? 12 : $('#month').val();
	if($('#custom_date').is(':checked')){
		$('#to_date').removeAttr('disabled');
		$('#to_date').next().attr('src','<?php echo $this->baseUrl("public/media/images/cal.jpg");?>');
		$('#from_date').removeAttr('disabled');
		$('#from_date').next().attr('src','<?php echo $this->baseUrl("public/media/images/cal.jpg");?>');
	}else{
		$('#to_date').attr('disabled','true');
		$('#to_date').next().attr('src','#');
		$('#from_date').attr('disabled','true');
		$('#from_date').next().attr('src','#');
		$('#from_date').datepicker("setDate",new Date(( $('#month').val()  == 01 ? <?php echo date('Y') -1?> : <?php echo date('Y')?> ), $('#month').val() == 01 ? start_month -1 : start_month -2 , <?php echo AUDIT_START_DAY;?>));
		$('#fromdate').val($('#from_date').val());
		$('#to_date').datepicker("setDate",new Date(<?php echo (date('Y')); ?>, $('#month').val()-1, <?php echo AUDIT_END_DAY;?>));
		$('#todate').val($('#to_date').val());
		$('#errors-from_date').text('');
 		$('#errors-to_date').text('');
	}
}
$('#to_date').blur(function(){                                         
    if($.trim($(this).val()) == '')
     { 
    	$('#errors-to_date').text("Please select the date");
        
        $(this).val('');								
     }
     else 
     {
    	var startdate = new Date($('#from_date').val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
     	var enddate = new Date($(this).val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
     	if(startdate.getTime() > enddate.getTime()){		
     		$('#errors-to_date').text("End date cannot be less than start date.");
     	}else{
     		$('#errors-to_date').text('');
         }
     }
     
    });	
$('#downloadbutton').click(function ()
		{
			var startdate = new Date($('#from_date').val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
		 	var enddate = new Date($('#to_date').val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
		 	if(startdate.getTime() > enddate.getTime()){		
		 		jAlert("Start date cannot be greater than end date.");
		 	}else{
		 		$('#errors-from_date').text('');
		 		$('#errors-to_date').text('');
		 		 $.blockUI({ width:'50px',message: $("#spinner").html() });
				var params = 'fromdate='+$('#fromdate').val()+'&todate='+$('#todate').val();
				$("#submitbutton").val("Downloading..");
				$.ajax({
			 	        url: base_url+"/attendancereport/preparereport",   				
			 			type : 'POST',	
			 			data : params,
			 			dataType : 'json',
			 			success: function(){
			 				$("#submitbutton").val("Download");
			 	 			$('#attendancereportfrm').trigger("submit");
			 	 			 $.unblockUI();
			 	 		},
			 	 		error: function(){
			 	 			$("#submitbutton").val("Download");
			 	 			 $.unblockUI();
			 	 	 	}
			 	});  
		 	} 
		});

</script>