<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if($this->popup == 'close') { ?>	
	<div class="ml-alert-1-success">
	<div class="style-1-icon success"></div>
	Job Title <?php echo $this->eventact; ?> successfully
	</div>

	<?php } 
else
{
sapp_Global::generateClientValidations($this->form);
if($this->emptyFlag != 0)
	{
?>	 <div class="ml-alert-1-info m1-info-set">
		<div class="style-1-icon info"></div>
			Pay frequency is not configured yet.
	</div>
<?php	}	?>
<div id="error_message" style="display:none;"></div>

<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; 
			echo $this->form->emptyFlag; 
		?>
        <div class="total-form-controller">
		    <div class="new-form-ui">
			  <label class="required">Job Title Code</label>
			<div class="division"><?php echo $this->form->jobtitlecode; ?></div>
			<?php if(isset($this->msgarray['jobtitlecode'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->jobtitlecode->getId(); ?>"><?php echo $this->msgarray['jobtitlecode'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Job Title</label>
			<div class="division"><?php echo $this->form->jobtitlename; ?></div>
			<?php if(isset($this->msgarray['jobtitlename'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->jobtitlename->getId(); ?>"><?php echo $this->msgarray['jobtitlename'];?></span>
			<?php }?>
			</div>
					
			<div class="new-form-ui textareaheight">
			  <label>Job Description</label>
			<div class="division"><?php echo $this->form->jobdescription; ?></div>
			</div>
			
			<div class="new-form-ui">
				<label>Min Experience Required <img class="tooltip" title="In years Ex: 1,2.5" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
				<div class="division"><?php echo $this->form->minexperiencerequired; ?></div>
			<?php if(isset($this->msgarray['minexperiencerequired'])){?>
			   	<span class="errors" id="errors-<?php echo $this->form->minexperiencerequired->getId(); ?>"><?php echo $this->msgarray['minexperiencerequired'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Job Pay Grade Code <img class="tooltip" title="Ex: A, B, C" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
			<div class="division"><?php echo $this->form->jobpaygradecode; ?></div>
			<?php if(isset($this->msgarray['jobpaygradecode'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->jobpaygradecode->getId(); ?>"><?php echo $this->msgarray['jobpaygradecode'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui">
			  <label class="required">Job Pay Frequency</label>
			<div class="division"><?php echo $this->form->jobpayfrequency; ?></div>
			<?php if(isset($this->msgarray['jobpayfrequency'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->jobpayfrequency->getId(); ?>"><?php echo $this->msgarray['jobpayfrequency'];?></span>
			<?php }?>
			</div>
			
			<div class="new-form-ui textareaheight">
			  <label>Comments</label>
			<div class="division"><?php echo $this->form->comments; ?></div>
			</div>
	
		<div class="new-form-ui-submit">
		<?php echo $this->form->submit; ?>
		<button onclick="closeiframepopup('<?php echo $this->controllername;?>','cancel');"  type="button" id="Cancel" name="Cancel">Cancel</button>
		</div>
</div>
</form>
<?php	}	?>

<script language='javascript' type='text/javascript'>

	<?php if($this->popup != '') { ?>
		 closeiframeAddPopup("<?php echo $this->jobtitlesData ;?>",'<?php echo $this->controllername; ?>','jobtitle_id','a Job Title');	
		 closeiframeAddPopup("<?php echo $this->jobtitlesData ;?>",'<?php echo $this->controllername; ?>','jobtitle','a Job Title');	
		 closeiframeAddPopup("<?php echo $this->jobtitlesData ;?>",'<?php echo $this->controllername; ?>','jobtitleid','Job Title');
	<?php } ?>
	</script>
<script type='text/javascript'>
	$(document).ready(function() { 
		<?php if (count($this->messages)) {?>
			  setTimeout(function(){
					$('#popupmessage').fadeOut('slow');
				},3000);

		<?php } ?>
	});
</script>