<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/

?>



<?php 
if($this->ermsg !='')
{
?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
<?php
}
else
{ 
$baseUrl = $this->serverUrl().$this->baseUrl();
echo $this->form->id;
$msgtitle = $this->controllername.'_delete';
sapp_Helper::editdeleteForView(JOBTITLES,$this->controllername,$this->id,$msgtitle); ?>

<!--<div class="new_actions">
    	<a class="edit_action_new"><i class="fa fa-remove"></i> Cancel</a>
	    <span class="divider_new"></span>
    	<a class="edit_action_new" ><i class="fa fa-trash"></i> Delete</a>
	    <span class="divider_new"></span>
    	<a class="edit_action_new" onclick="changeeditscreen('<?php //echo $this->controllername;?>',<?php// echo $this->id;?>);"><i class="fa fa-pencil"></i> Edit</a>
</div>-->

<?php 
sapp_Helper::viewHeader();
sapp_Helper::viewBody('nor','Job Title Code',$this->data['jobtitlecode'],'Job Title',$this->data['jobtitlename']);
sapp_Helper::viewBody('alt','Job Description',(!empty($this->data['jobdescription']))?$this->data['jobdescription']:"...",'Min Experience Required',(!empty($this->data['minexperiencerequired']))?$this->data['minexperiencerequired']:"...");
sapp_Helper::viewBody('nor','Job Pay Grade Code',$this->data['jobpaygradecode'],'Job Pay Frequency',$this->data['jobpayfrequency']);
sapp_Helper::viewBody('alt','Comments',(!empty($this->data['comments']))?$this->data['comments']:"...",'','');
sapp_Helper::viewFooter();
?>
        <!--<div class="new-form-ui-submit">
			<input type="submit" onclick="changeeditscreen('<?php //echo $this->controllername;?>',<?php //echo $this->id;?>);" value="Edit" />
			<button onclick="window.location.href='<?php //echo BASE_URL; ?>jobtitles';" type="button" >Cancel</button>
		</div>-->
    
<?php	}	?>   