
<!-- Start  Attendance Form-->
<!-- Hours progress bar -->
<div id="error_message" style="display: none;"></div>
<div id="progressbar" style="height: 25px;">
	<div class="progress-label"><?php echo checkformat($this->data['nowValue']) . ' Burned.';?></div>
</div>

<div class="count_new_dis_par">
	<div class="count_new_dis_att" style="cursor: default;">
		<span>Attendance Week Start Date</span><br> <label><?php echo $this->data['auditStartDate'] === date("m/d/y") ? 'Today' : $this->data['auditStartDate']; ?></label>
	</div>

	<div class="count_new_dis_att" style="cursor: default;">
		<span>Time To Burn Per Day</span><br> <label><?php echo checkformat(getHoursToBurnPerDay($this->data));?> </label>
	</div>

	<div class="count_new_dis_att" style="cursor: default;">
		<span>Current Audit Finishes In</span><br> <label><?php echo $this->data['remainingDays'] . " day(s)"; ?></label>
	</div>

	<div class="count_new_dis_att"
		style="cursor: default; background: #f1f9dd;">
		<span>Attendance Week End Date</span><br> <label><?php echo $this->data['auditEndDate'] === date("m/d/y") ? 'Today' : $this->data['auditEndDate']; ?></label>
	</div>

</div>
<div>
	<div class="style-1-icon info" style="margin-top: 0px;"></div>
	<p>Time spent on Saturday and Sunday is not being calculated.</p>
</div>

<div id="progresscolour" style="display: none;"><?php echo getColour($this->data);?></div>

<?php echo sapp_Helper::popup_helper('compoffrequest');?>

<?php
function getColour($data) {
	$avg = getHoursToBurnPerDay ( $data );
	if ($avg > HOURSPERDAY) {
		return "red";
	}
	return "limegreen";
}
function getHoursToBurnPerDay($data) {
	if ($data ['remainingDays'] == 0) {
		return $data ['remainingHours'];
	} else {
		$avgTimeToBurn = hoursToSeconds ( $data ['remainingHours'] ) / $data ['remainingDays'];
	}
	
	return secondsToHours ( $avgTimeToBurn );
}
function hoursToSeconds($hours) {
	$parsed = explode ( ".", $hours, 2 );
	$seconds = $parsed ['0'] * 3600 + $parsed ['1'] * 60;
	return $seconds;
}
function secondsToHours($seconds) {
	$hours = floor ( $seconds / 3600 );
	$minutes = floor ( ($seconds / 60) % 60 );
	$minutes = sprintf ( "%02d", $minutes );
	return "$hours.$minutes";
}
function formatHM($input) {
	$parts = explode ( '.', $input );
	
	if ($parts [0] == '')
		$parts [0] = 0;
	if ($parts [1] == '' || $parts [1] == '0' || $parts [1] == '00') {
		echo $parts [0] . 'h';
	} else {
		echo $parts [0] . 'h' . ' ' . $parts [1] . 'm';
	}
}
function formatHMS($input) {
	$parts = explode ( '.', $input );
	if ($parts [0] == '') {
		$parts [0] = 0;
	}
	if (($parts [1] == '0' || $parts [1] == '00' || $parts [1] == '') && ($parts [2] == '0' || $parts [2] == '00' || $parts [2] == '')) {
		echo $parts [0] . 'h';
	} elseif ($parts [1] == '0' || $parts [1] == '00' || $parts [1] == '') {
		echo $parts [0] . 'h' . ' ' . $parts [2] . 's';
	} elseif ($parts [2] == '0' || $parts [2] == '00' || $parts [2] == '') {
		echo $parts [0] . 'h' . ' ' . $parts [1] . 'm';
	} else
		echo $parts [0] . 'h ' . $parts [1] . 'm ' . $parts [2] . 's';
}
function checkformat($data) {
	if (DURATION_FORMAT == 'NNh NNm') {
		formatHM ( $data );
	}
	if (DURATION_FORMAT == 'NNh NNm NNs') {
		formatHMS ( $data );
	}
	if (DURATION_FORMAT == 'NN.NN') {
		echo $data;
	}
}

?>
<br>

<!-- Search Panel -->
<?php if ($this->data['isWorkingFromHome']){?>
<div style="margin-left: 5%;">
<?php }else{?>
	<div style="margin-left: 3%;">
<?php }?>
	<!-- Attendance Start and End Dates -->
		<label
			style="float: left; margin-right: 15px; font-size: 13px; font-family: 'Roboto Regular', sans-serif; padding: 3px;">
			<input type="checkbox" name="showbreakdown" value="showbreakdown"
			id="showbreakdown" onchange="ShowActivityBreakdown();">Show Activity
			Breakdown
		</label>
		<div class="new-form-ui" style="height: 50px;">
			<div class="division">
				<input name="from_date" id="from_date" value="From*"
					class="brdr_none" readonly="readonly" onfocus="this.blur()"
					type="text">
			</div>
		</div>

		<div class="new-form-ui" style="margin-left: -24px; height: 50px;">
			<div class="division">
				<input name="to_date" id="to_date" value="To*" class="brdr_none"
					readonly="readonly" onfocus="this.blur()" type="text">
			</div>
		</div>

		<!-- Dropdown -->
		<div class="new-form-ui" style="margin-left: -24px; height: 50px;">
			<div class="division">
				<select name="attendancetype" id="attendancetype"
					class="formDataElement">
					<option value="showall">SHOW ALL</option>
					<option value="halfday">HALF DAY</option>
					<option value="fullday">FULL DAY</option>
					<option value="leave">LEAVE</option>
					<option value="wfh">WORK FROM HOME</option>
					<option value="mispunch">MISSED PUNCH</option>
					<option value="absent">ABSENT</option>
				</select>
			</div>
		</div>

		<!-- Search Button -->
	<?php if ($this->data['isWorkingFromHome']){?>
		<div class="new-form-ui"
			style="margin-left: -23px; height: 50px; width: 150px;">
			<button id="actbtn_btn" class="actbtn_btn"
				style="width: 140px; height: 29px;">Show Attendance</button>
		</div>
		<div class="new-form-ui" style="height: 50px; width: 150px;">
		<?php if ($this->data['isCheckin']){?>
			<button id="checkin_btn" class="actbtn_btn"
				style="width: 140px; height: 29px;" onclick="check_in()">Check In</button>
		<?php } else {?>

			<button id="checkin_btn" class="actbtn_btn"
				style="width: 140px; height: 29px;" onclick="check_in()">Check Out</button>
		<?php }?>
		</div>
	<?php }else{?>
		<div class="new-form-ui" style="margin-left: -23px; height: 50px;">
			<button id="actbtn_btn" class="actbtn_btn"
				style="width: 140px; height: 29px;">Show Attendance</button>
		</div>
	<?php }?>
</div>
	<br>


	<div id="empAttendance" class="slimScrollDiv"
		style="position: relative; overflow: hidden; width: 250px; height: auto;">
		<div id="attendance" class="details_data_display_block newtablegrid"
			style="overflow: hidden; width: 250px; height: auto; background: rgb(204, 204, 204) none repeat scroll 0% 0%; padding-bottom: 2px;">
			<table id="attendanceTable" class="grid" width="100%" cellspacing="0"
				cellpadding="4" border="0" align="center">
			</table>
		</div>
		<div id="pagination">Pages &nbsp;&nbsp;</div>
	</div>

	<!-- End  Attendance Form -->

	<script>
	var currentMousePos = { x: -1, y: -1 };
	$(document).mousemove(function(event) {
        currentMousePos.x = event.pageX;
        currentMousePos.y = event.clientY;
        currentMousePos.z = event.pageY;
    });
	function current_time(){
		var dt = new Date(Date.now());
		var time = ("0" + dt.getHours()).slice(-2) + ":" + ("0" + dt.getMinutes()).slice(-2) + ":" + ("0" + dt.getSeconds()).slice(-2);
		return time;
	}

    function check_in(){
        var row = $('#in').parent().parent().parent();
		var buttonText = $('#checkin_btn').text();
        $('#checkin_btn').text("Updating..");
    	$.ajax({
	        url: base_url+"/myattendance/checkin",
			type : 'POST',
			dataType: 'json',
			success : function(data){
				if(buttonText == 'Check In'){
					 $('#checkin_btn').text("Check Out");
				}else{
					 $('#checkin_btn').text("Check In");
				}
			},
			error: function(jqXHR){
				$('#in').text('Oops! Unable to check-in right now.');
			}
		});

    };

    function check_out(){
        var row = $('#out').parent().parent().parent();
        row.find('.punch_out').text("Updating..");

        var punchOutTime = current_time();
        var punchInTime = row.find('.punchin').text();
    	var params = 'punchInTime='+punchInTime+'&punchOutTime='+punchOutTime;

        $.ajax({
	        url: base_url+"/myattendance/checkout",
			type : 'POST',
			data : params,
			dataType: 'json',
			success : function(data){
				var json = $.parseJSON(data);
				$('#out').remove();
				row.find('.status').text(json.status);
				row.find('.daystatus').text(json.overall_status);
				row.find('.workhours').text(json.working_hours);
				row.find('.punchout').html(punchOutTime);
			},
			error: function(jqXHR){
				$('#out').text('Oops! Unable to check-out right now.');
			}
		});
    };
//Attendance pagination script
function pagination(){
		var req_num_row=10;
		var $tr = $("#empAttendance").find("tbody>tr");
		var total_num_row=$tr.length;
		var num_pages=0;
		if(total_num_row % req_num_row ==0){
			num_pages=total_num_row / req_num_row;
		}
		if(total_num_row % req_num_row >=1){
			num_pages=total_num_row / req_num_row;
			num_pages++;
			num_pages=Math.floor(num_pages++);
		}
		for(var i=1; i<=num_pages; i++){
			jQuery('#pagination').append("<a> "+i+" </a>");
		}
		$tr.each(function(i){
			jQuery(this).hide();
			if(i+1 <= req_num_row){
				$tr.eq(i).show();
			}
		});

		$('#pagination a').click(function(e){
			e.preventDefault();
			$tr.hide();
			var page=jQuery(this).text();
			var temp=page-1;
			var start=temp*req_num_row;
			for(var i=0; i< req_num_row; i++){
				$tr.eq(start+i).show();
			}
		});
}

function drawChart(data) {
	$.each(data,function(date,info){
		var row = $("span:contains('"+date+"')").parents().eq(1);
		var columns = row.find('td');
		if(info.activities != null && info.activities.length > 0 && info.activities[0] != null && columns != null && columns.length > 0) {
			var chart = new google.visualization.Timeline(columns[2]);
			var dataTable = new google.visualization.DataTable();
			dataTable.addColumn({ type: 'string', id: 'RowLabel' });
		    dataTable.addColumn({ type: 'string', id: 'BlockLabel' });
		    dataTable.addColumn({ type: 'date', id: 'Start' });
		    dataTable.addColumn({ type: 'date', id: 'End' });
			$.each(info.activities,function(index,activity){
				if(activity != null) {
					dataTable.addRows([
					   				[date.replace(/ /g,"T"), activity.status, new Date(activity.punchin.replace(/ /g,"T") + '+05:30'), new Date(activity.punchout.replace(/ /g,"T") + '+05:30')],
				           	    ]);
				}
			});
			var formatter = new google.visualization.DateFormat({ pattern: 'yyyy/DDD-HH:mm:ss' });
		    formatter.format(dataTable, 2);
		    formatter.format(dataTable, 3);

		    var colors = [];
		    var colorMap = {
		        // should contain a map of category -> color for every category
		        'Work From Home': '#4285f4',
		        'Office Hours': '#19c362',
		        'OFFICE': '#19c362',
		        'Break': '#db4437',
		        'Inactivity': '#C6C6C6',
		        'Missed Punch': '#db4437'
		    }
		    for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
		    	if(!colors.includes(colorMap[dataTable.getValue(i, 1)])) {
		        	colors.push(colorMap[dataTable.getValue(i, 1)]);
		    	}
		    }

		   	var curDate = new Date(date.replace(/ /g,"T"));
			var minTime = curDate.setHours(9);
		    var options = {
		        timeline: { colorByBarLabel: true ,
		        			showRowLabels: false,
		        			showBarLabels: false,
		        			height: 30,
		        			width: 700,
		        			barLabelStyle: {
		                        fontName: 'Roboto Condensed',
		                        fontSize: 8
		                    }
		        },
		        hAxis: {
		            minValue: new Date((date + ' 08:00:00+05:30').replace(/ /g,"T")),
		            maxValue: new Date((date + ' 23:59:59+05:30').replace(/ /g,"T"))
				},
		        colors: colors
		    };

			chart.draw(dataTable, options);
		    google.visualization.events.addListener(chart, 'onmouseover', function(e) {

		    	$('.google-visualization-tooltip').css('height','250px');
		       setTooltipContent(dataTable,e.row);
		    });
	    }
		row.find(".workhours").text(info.workhours);
	});

	$("#attendanceTable tbody tr td:nth-child(3)").each(function() {
		var firstRemoved = false;
		$(this).find("svg").each(function() {
			if(firstRemoved) {
				$(this).find("g").each(function() {
					$(this).remove();
					return false;
				});
			}
			if(!firstRemoved) {
				$(this).remove();
				firstRemoved = true;
			}
		});
	});

	$("#timeline > div:first-child > div:first-child").each(function() {
		$(this).css('height', '20px');
	});
}

function setTooltipContent(dataTable,row) {
    if (row != null) {
        var min = ((dataTable.getValue(row, 3)).getTime() - (dataTable.getValue(row, 2)).getTime())/60000;
        var data1 = dataTable.getValue(row, 2);
        var data2 = dataTable.getValue(row, 3);
        var date1 = addZero(data1.getFullYear()) +'-'+addZero(data1.getMonth() + 1)+'-'+addZero(data1.getDate());
        var time1 = addZero(data1.getHours())+':'+addZero(data1.getMinutes())+':'+addZero(data1.getSeconds());
        var date2 = addZero(data2.getFullYear()) +'-'+addZero(data2.getMonth() + 1)+'-'+addZero(data2.getDate());
        var time2 = addZero(data2.getHours())+':'+addZero(data2.getMinutes())+':'+addZero(data2.getSeconds());
        var workHoursTemp = Math.round((Math.floor ( min / 60 ) + ((min % 60) / 100))*100)/100;
		var workHours =workHoursTemp.toFixed(2);
		if ($(window.top).height()-currentMousePos.y  > 250)
			$('.google-visualization-tooltip').offset({ left: currentMousePos.x, top: currentMousePos.z});
		else
			$('.google-visualization-tooltip').offset({ left: currentMousePos.x , top: currentMousePos.z-250 });
    	$('.google-visualization-tooltip span').last().text(' '+ checkFormat(workHours.toString()));
    	$('.google-visualization-tooltip-action').first().html('<b>'+date1 +': </b>'+time1+'<br>To<br><b>'+date2+': </b>'+ time2);
    }
}

function addZero(value){
	if(value<10)
		return '0'+value;
	return value;
}

function formatHM(durationArray) {
	if (durationArray [0] == '')
		durationArray [0] = 0;
	if (durationArray [1] == '' || durationArray [1] == '0' || durationArray [1] == '00') {
		return durationArray [0] + 'h';
	} else {
		return durationArray [0] + 'h' + ' ' + durationArray[1] + 'm';
	}
}
function formatHMS(durationArray) {
	if (durationArray [0] == '') {
		durationArray [0] = 0;
	}
	if ((durationArray [1] == '0' || durationArray [1] == '00' || durationArray [1] == '') && (durationArray [2] == '0' || durationArray [2] == '00' || durationArray [2] == '')) {
		return durationArray [0] + 'h';
	} else if (durationArray [1] == '0' || durationArray [1] == '00' || durationArray [1] == '') {
		return durationArray [0] + 'h' + ' ' + durationArray [2] + 's';
	} else if (durationArray [2] == '0' || durationArray [2] == '00' || durationArray [2] == '') {
		return durationArray [0] + 'h' + ' ' + durationArray [1] + 'm';
	} else
		return durationArray [0] + 'h ' + durationArray [1] + 'm ' + durationArray [2] + 's';
}

function checkFormat(workHours){
	var durationArray = workHours.split('.');
	if ('<?php echo DURATION_FORMAT;?>' == 'NNh NNm') {
		return formatHM ( durationArray );
	}
	if ('<?php echo DURATION_FORMAT;?>' == 'NNh NNm NNs') {
		return formatHMS ( durationArray );
	}
	if ('<?php echo DURATION_FORMAT;?>' == "NN.NN") {
		return workHours;
	}
}
$('document').ready(function(){
	$('#from_date').val(<?php echo "'" . date("Y/m/d", strtotime($this->data['auditStartDate'])) . "'" ?>);
	$('#to_date').val(<?php echo "'" . date("Y/m/d", strtotime($this->data['auditEndDate'])) . "'" ?>);
	$('#actbtn_btn').click();
	pagination();
});

//calendar script
    $(document).ready(function(){
    	var yearrange = <?php echo "'".YEAR.':'.(date('Y')+1)."'"; ?>;
      //  var yearrange = <?php echo "'".date("Y", strtotime("-30 years")).':'.date('Y')."'"; ?>;
		$('#from_date').datepicker({
				showOn:'both',
				//maxDate: new Date,
				yearRange: yearrange,
				dateFormat: '<?php echo DATEFORMAT_JS;?>',
				buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				changeYear: true,
                showButtonPanel: true ,
				onClose:function(){
                            validateorgheadjoiningdate();
					$('#from_date').trigger('blur');
                    }
		});
	});

	$('#from_date').blur(function(){
        $('#errors-from_date').remove();
        if($.trim($(this).val()) == '')
         {
		    $(this).parent().append("<span class='errors' id='errors-from_date'>Please select the date.</span>");

            $(this).val('');
         }
         else
         {
             $('#errors-from_date').remove();

            $('#from_date').trigger('change');
         }

        });

    $(document).ready(function(){
    	var yearrange = <?php echo "'".YEAR.':'.(date('Y')+1)."'"; ?>;
		$('#to_date').datepicker({
				showOn:'both',
				//maxDate: new Date,
				yearRange: yearrange,
				dateFormat: '<?php echo DATEFORMAT_JS;?>',
				buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				changeYear: true,
                showButtonPanel: true ,
				onClose:function(){
                            validateorgheadjoiningdate();
					$('#to_date').trigger('blur');
                    }
		});
	});//

	$('#to_date').blur(function(){
        $('#errors-to_date').remove();
        if($.trim($(this).val()) == '')
         {
		    $(this).parent().append("<span class='errors' id='errors-to_date'>Please select the date.</span>");

            $(this).val('');
         }
         else
         {
             $('#errors-to_date').remove();

            $('#to_date').trigger('change');
         }

        });


//Progressbar script
  $(function(){
	var interval = 60000;// 1 min
	var progressbar = $("#progressbar");
	var progressbarlabel = $(".progress-label");
	progressbar.progressbar(
		{
			value: <?php echo $this->data['nowValue']; ?>,
			max: <?php echo $this->data['maxValue']; ?>
		});
	$(".ui-progressbar-value").css("background", $("#progresscolour").text());
	<?php if($this->data['isUserWorking']) {  ?>
		var intervalId = setInterval(function(){
			var val = progressbar.progressbar('option', 'value');
			var max = progressbar.progressbar('option', 'max');
			val = val + 0.01;
			val = Math.round(val*100)/100
        	if (val > max) {
        	    clearInterval(intervalId);
        	} else {
        		progressbar.progressbar({value: val});
        		progressbarlabel.text(val + ' hours burned.');
        	}
		},interval);
	<?php }?>
  });

function ShowActivityBreakdown() {
	$('#actbtn_btn').click();
}

//Attendance search script
$('#actbtn_btn').click(function(){
	var attendancetype = $('#attendancetype').val();
	var from_date = $('#from_date').val();
	var showbreakdown = document.getElementById("showbreakdown").checked;
	var to_date = $('#to_date').val();
	$("#errors-from_date").remove();
	$("#errors-to_date").remove();
	var params = 'attendancetype='+attendancetype+'&from_date='+from_date+'&to_date='+to_date+'&showbreakdown='+showbreakdown;
	$("#actbtn_btn").text("Loading..");
	 $.blockUI({ width:'50px',message: $("#spinner").html() });
	if((from_date != '' && to_date != '') && (from_date != "From*" && to_date != "To*"))
	{
		$.ajax({
	        url: base_url+"/myattendance/getempattendance/format/html",
			type : 'POST',
			data : params,
			dataType: 'html',
			success : function(data){
				$("#empAttendance").html(data);
                $('#attendancetype').trigger("change");
				$.ajax({
			        url: base_url+"/myattendance/getdailyactivity/format/json",
					type : 'POST',
					data : params,
					dataType: 'json',
					success : function(data){
		 				drawChart(JSON.parse(data));
		 				$("#actbtn_btn").text("Show Attendance");
		 				$.unblockUI();
					}
				});
			}
		});
	}
	else
	{

		if(from_date == '' || from_date == "From*")
		{
			 $("#from_date").parent().append("<span class='errors' id='errors-to_date'>Please select the date.</span>");
	            $("#from_date").val('');
		}
		if(to_date == '' || to_date == "To*")
		{
			 $("#to_date").parent().append("<span class='errors' id='errors-to_date'>Please select the date.</span>");
	            $("#to_date").val('');
		}
		$("#actbtn_btn").text("Show Attendance");
	}
});

//Attendance filter script
$(document).ready(function() {
	  $('#attendancetype').change(function() {
	    var selection = $(this).val();
	    var rows = $('#attendanceTable tr');
	    if (this.value == "showall"){
	    	rows.show();
        }else if (this.value == "wfh"){
        	rows.each(function(){
		    	if($(this).find('.daystatus').text().trim() == 'WFH' || $(this).find('.status').text().trim() == 'WFH'){
		    		$(this).show();
			    }else{
			    	$(this).hide();
				}
		   	});
        }
        else if (this.value == "halfday"){
        	rows.each(function(){
		    	if($(this).find('.daystatus').text().trim() == 'HALF DAY'){
		    		$(this).show();
			    }else{
			    	$(this).hide();
				}
		   	});
        }
        else if (this.value == "fullday"){
        	rows.each(function(){
		    	if($(this).find('.daystatus').text().trim() == 'FULL DAY'){
		    		$(this).show();
			    }else{
			    	$(this).hide();
				}
		   	});
        }
        else if (this.value == "leave"){
        	rows.each(function(){
		    	if($(this).find('.daystatus').text().trim() == 'LEAVE'){
		    		$(this).show();
			    }else{
			    	$(this).hide();
				}
		   	});
        }
        else if (this.value == "mispunch") {
	    	rows.each(function(){
		    	if($(this).find('.daystatus').text().trim() == 'MISSED PUNCH'){
		    		$(this).show();
			    }else{
			    	$(this).hide();
				}
		   	});
        }
        else if (this.value == "absent"){
        	rows.each(function(){
		    	if($(this).find('.daystatus').text().trim() == 'ABSENT'){
		    		$(this).show();
			    }else{
			    	$(this).hide();
				}
		   	});
        }
	  });
	});
</script>