<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php $baseUrl = $this->serverUrl().$this->baseUrl();
?>
<div id="error_message" style="display:none;"></div>
<div class="poc-ui-data-control">
<?php echo $this->form->id; ?>
<?php 
$from_date = $this->form->from_date->getValue();
$to_date = $this->form->to_date->getValue();
sapp_Helper::viewHeader();
sapp_Helper::viewBody('alt','Company Name',(!empty($this->data[0]['comp_name']))?$this->data[0]['comp_name']:"...",'Company Website',(!empty($this->data[0]['comp_website']))?$this->data[0]['comp_website']:"...");
sapp_Helper::viewBody('nor','Designation',(!empty($this->data[0]['designation']))?$this->data[0]['designation']:"...",'From',(!empty($from_date))?$this->form->from_date->getValue():"...");
sapp_Helper::viewBody('alt','To',(!empty($to_date))?$this->form->to_date->getValue():"...",'Reason for Leaving',(!empty($this->data[0]['reason_for_leaving']))?$this->data[0]['reason_for_leaving']:"...");
sapp_Helper::viewBody('nor','Referrer Name',(!empty($this->data[0]['reference_name']))?$this->data[0]['reference_name']:"...",'Referrer Contact',(!empty($this->data[0]['reference_contact']))?$this->data[0]['reference_contact']:"...");
sapp_Helper::viewBody('alt','Referrer Email',(!empty($this->data[0]['reference_email']))?$this->data[0]['reference_email']:"...",'','');
sapp_Helper::viewFooter();
?>
        <div class="new-form-ui-submit" id="formSubmit">
             <input onclick="closeiframepopup('experiencedetails','cancel');" type="button" value="Close"  />
        </div>
			
		</div>

</div>

<script type='text/javascript'>
$(document).ready(function(){	
if($("#division").find('img'))
{ 
	$("img").remove();
	}

});

if($("#division").find('img'))
{ 
	$("img").remove();
	}

</script>

