<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<div class="table-header">
		<div class="config-choose config-up" id="selectfields"></div>
		<span>Activity Log</span>
		
		<div id="multifield" style="display: none;">
        <i>Columns :</i>
		<?php
		foreach($this->totalselectfields as $column_key => $column_name)
		{
		      if($this->tabkeys != '')
			  {
			  	$tabkeys = explode(',',$this->tabkeys); 
				 if(in_array($column_key,$tabkeys))
					$checked = 'checked';
				 else $checked = '';
			  }
			?>
			<p><input type="checkbox" class="cls_clmchk" id="check_<?php echo $column_key ;?>" name="cols_arr[<?php echo $column_key ;?>]" value="<?php echo $column_key ;?>" <?php echo $checked;?> />
				<b><?php echo $column_name;?></b>
			</p>
			<?php
		}
		?>
			<div class="new-form-ui-submit mrgetop10">
				<input type="button" value="Apply" onclick="setactivitylogtab()">
				<button name="Cancel" id="Cancel" type="button" onclick="cancellogtab()">Cancel</button>
			</div>
		</div>
	</div>
	<div class="details_data_display_block newtablegrid" id="reportgrid">
	<table class='grid' align='center' width='100%' cellspacing='0' cellpadding='4' border='0'>
	    <thead>
	        <tr>
				<?php 				
				$keys = explode(',',$this->tabkeys);
                if(in_array('menuname',$keys)){?>
                <th id = "menuname" class="cellDivHeader sort" ><a href="javascript:void(0);">Menu Item</a></th>
               <?php }if(in_array('username',$keys)){?> 
                <th id = "userfullname" class="sort"><a href="javascript:void(0);">User Name</a></th>
                <?php }if(in_array('empId',$keys)){?>        
                <th id = "employeeId" class="sort"><a href="javascript:void(0);">Employee ID</a></th>
                <?php }if(in_array('useraction',$keys)){?>
                <th id = "user_action" class="sort"><a href="javascript:void(0);">Action</a></th>
                <?php }if(in_array('modifieddate',$keys)){?>    
                <th id = "last_modifieddate" class="sort"><a href="javascript:void(0);">Modified Date</a></th>
                <?php }
                ?>
	        </tr>
	    </thead>
	    <tbody>
	    	<?php 
	    	if(count($this->activitylogData) >0){
	    	foreach($this->activitylogData as $key => $log){ 
	        	
		    	    if($key%2 == 0){
		        		$classColor = 'row1';
		        	}else{
		        		$classColor = 'row2';
		        	}
		        
			 ?>
	        <tr class="<?php echo $classColor;?>" onclick="selectrow(activitylogpreview,this);">
				<?php if(in_array('menuname',$keys)){?>
                <td><span title="<?php echo $log['menuname']; ?>"><?php echo (strlen($log['menuname'])>25)?substr($log['menuname'],0,22).'...':$log['menuname']; ?></span></td>
                <?php }if(in_array('username',$keys)){?>        
                <td title="<?php echo $log['username']; ?>"><?php echo (strlen($log['username'])>25)?substr($log['username'],0,22).'...':$log['username']; ?></td>
                <?php }if(in_array('empId',$keys)){?>
                <td><span title="<?php echo $log['empId']; ?>"><?php echo $log['empId']; ?></span></td>
                <?php }if(in_array('useraction',$keys)){?>
                <td><span title="<?php echo $log['useraction']; ?>"><?php echo $log['useraction']; ?></span></td>
                <?php }if(in_array('modifieddate',$keys)){?>
                <td><span title="<?php echo $log['modifieddate']; ?>"><?php echo $log['modifieddate']; ?></span></td>
                <?php }?>
	        </tr>
	        <?php  } }else{?>
	             <tr><td class="no-data-td" colspan="10"><p class="no-data">No data found</p></td></tr>
	        <?php }?>	        
	    </tbody>
	</table>
	</div>
	<div class="table-btm">
		<div class="table-buttons"></div>
		<div class="pagination_block">
		<?php if(count($this->activitylogData) >0){?>
			<div class="records_block">
				<div class="page_txt">
					<span>Records per page</span>
					<div class="records_number-drop-down">
						<select id="sel_per_page">
						    <option value="20" <?php echo ($this->perPage == 20)?"selected":"" ;?>>20</option>
						    <option value="50" <?php echo ($this->perPage == 50)?"selected":"" ;?>>50</option>
						    <option value="100" <?php echo ($this->perPage == 100)?"selected":"" ;?>>100</option>
						    <option value="150" <?php echo ($this->perPage == 150)?"selected":"" ;?>>150</option>
						    <option value="200" <?php echo ($this->perPage == 200)?"selected":"" ;?>>200</option>
						</select>
					</div>					
		       </div>
			</div>
                    <?php 
if($this->lastPageNo > 1)
{
?>
             <div class="pagination_view">
				<?php sapp_Global::pagination_html(); ?>	
			</div>
<?php }}?>
		</div>
	</div>
<input type="hidden" value="<?php echo $this->tabkeys;?>" id="selectedColumns"/>



<script type="text/javascript">
$(document).ready(function(){
	
<?php 
if($this->lastPageNo > 1)
{
?>
$('.pagination').jqPagination({
    link_string	: '/?page={page_number}',
    current_page    : parseInt(<?php echo $this->pageNo;?>),
    max_page	: parseInt(<?php echo $this->lastPageNo;?>),
    paged		: function(page) {
                    
           $('#pageNo').val(page);
           ajaxcall();

    }
});
<?php 
}
?>
	var column = $('#sortby').val();		
	var order = $('#order').val();
	if(column !='')
	{
		if(order == 'Desc' || order == 'desc')
		{
			$('#'+column).append('<span class="s-ico"><span class="ui-icon-asc  ui-icon ui-icon-triangle-1-s"></span></span>');
		}			
		else
		{ 
			$('#'+column).append('<span class="s-ico"><span class="ui-icon-desc ui-icon ui-icon-triangle-1-n"></span></span>');
		}
	}	

	 $('#sel_per_page').change(function(){
        var val = $(this).val();
        $('#per_page').val(val);
        $('#pageno').val('1');
        ajaxcall();
	  });
	    
	 $("#selectfields").click(function(){ 

		 if($(this).hasClass("config-up"))		
		   {
		      $( this).removeClass("config-up");
		      $( this).addClass("config-down");
		      $('#multifield').show();	
		    
		      var $overlay	= '<div id="reportgridoverlay" class="overlayreport"></div>';
		  	  $('#reportgrid').prepend($overlay);      
			  
		   }else{
			   $( this).removeClass("config-down");
			   $( this).addClass("config-up");
			   $('#multifield').hide();
			   $('#reportgridoverlay').remove();
		   }
	});

    $('#reportgrid').slimScrollHorizontal({
		  alwaysVisible: false,
		  start: 'left',
		  position: 'bottom',
	}).css({ background: '#ccc', paddingBottom: '10px' }); 
	
        set_all_params();

        <?php 
        		if(count($this->activitylogData)== 0)
        		{
        		?>
        		        $('#xcel,#pdf').hide();
        		<?php         
        		}
        		else 
        		{
        		?>
        		        $('#xcel,#pdf').show();
        		<?php             
        		}
        		?>
});//end of ready function

function setactivitylogtab()
{
	
   	var chkArray = [];   
   	if($("#multifield input:checked").length > 0){  	  
   	$("#multifield input:checked").each(function() {
   		chkArray.push($(this).val());
   	});   

   	var checkedheaders;
   	checkedheaders = chkArray.join(',');
   	$('#fields').val(checkedheaders);
   	ajaxcall();
   	}else{
   		jAlert("Please check atleast one column");
        return false;
	}
}

function cancellogtab(){
  var selectedColumns = $('#selectedColumns').val();
  selectedColumns = selectedColumns.split(','); 
  if(selectedColumns.length > 0){ 	 
   	 $("#multifield input").each(function() {
   	   	var val = jQuery.trim($(this).val()); 
   	   	if(jQuery.inArray(val, selectedColumns) != -1){
   	     	$('#check_'+val).prop('checked', true);
   	   	}else{
   	   	$('#check_'+val).prop('checked', false);
   	   	}   		
   	});
  }
  
   $('#selectfields').removeClass("config-down");
   $('#selectfields').addClass("config-up");
   $('#multifield').hide();
   $('#reportgridoverlay').remove();
}
</script>

