<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
?>

<?php if(empty($this->empdata)){?>
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				<?php if($this->rowexist == 'norows'){?>
				No data found.
				<?php }else{?>
				Employee inactivated.
				<?php }?>
	</div>

<?php
}else
{

   if($this->emptyFlag != 0)
	{
?>	 <div class="ml-alert-1-info m1-info-set">
		<div class="style-1-icon info"></div>
			Site configuration is not yet set.Please configure them to add employee salary details.	
	</div>	
<?php
	}
	sapp_Global::generateClientValidations($this->form);
	if (count($this->messages)) {?>
		<div id="dispempsalary" class="settingssuccess">
			<?php 
				foreach ($this->messages as $message)
				{
					$flag = array();				
					$flag = array_keys($message);
					echo "<div id='messageData' class='ml-alert-1-$flag[0]'><div style='display:block;'><span class='style-1-icon $flag[0]'></span>";
					echo $message[$flag[0]];
					echo "</div></div>";
				} 
			?>
		</div>
	
<?php } 

		if(!empty($this->employeedata))
		 {
			echo $this->employeedetails($this->employeedata,'edit',$this->id); 
		 } 
		 //echo 2;exit;
?>
   <div class="right-block-data">
	<div id="error_message" style="display:none;"></div>
	<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id;
          echo $this->form->user_id; 
		?>
			<div class="total-form-controller">
				<div class="new-form-ui">
				  <label><?php echo $this->form->currencyid->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->currencyid; ?>
				<?php if(isset($this->msgarray['currencyid'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->currencyid->getId(); ?>"><?php echo $this->msgarray['currencyid'];?></span>
				<?php }?>
				
				  <?php if(in_array('currency',$this->popConfigPermission)) { ?>	
					<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'currency/addpopup' ?>','Currency');"> Add Currency </span>			
				<?php } ?>
                </div>
				
				</div>
				
				<div class="new-form-ui">
				  <label><?php echo $this->form->salarytype->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->salarytype; ?>
				<?php if(isset($this->msgarray['salarytype'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->salarytype->getId(); ?>"><?php echo $this->msgarray['salarytype'];?></span>
				<?php }?>
				
					<?php if(in_array('payfrequency',$this->popConfigPermission)) { ?>	
					<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'payfrequency/addpopup' ?>','Pay Frequency');"> Add Pay Frequency</span>			
			   		<?php } ?>
			   	</div>	
				</div>
				
				<div class="new-form-ui">
				  <label><?php echo $this->form->salary->getLabel(); ?> <span id='salarytext'></span></label>
				<div class="division"><?php echo $this->form->salary; ?></div>
				<?php if(isset($this->msgarray['salary'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->salary->getId(); ?>"><?php echo $this->msgarray['salary'];?></span>
				<?php }?>
				</div>
				
				<div class="new-form-ui">
				  <label><?php echo $this->form->bankname->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->bankname; ?></div>
				<?php if(isset($this->msgarray['bankname'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->bankname->getId(); ?>"><?php echo $this->msgarray['bankname'];?></span>
				<?php }?>
				</div>
		
				<div class="new-form-ui">
			   <label><?php echo $this->form->accountholder_name->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->accountholder_name; ?></div>
				<?php if(isset($this->msgarray['accountholder_name'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->accountholder_name->getId(); ?>"><?php echo $this->msgarray['accountholder_name'];?></span>
				<?php }?>
				</div>
				
				<div class="new-form-ui">
			   <label><?php echo $this->form->accountholding->getLabel(); ?><img class="tooltip" title="<?php echo DATE_DESCRIPTION;?>" src="<?php echo $this->baseUrl().'/public/media/';?>images/help.png"></label>
				<div class="division"><?php echo $this->form->accountholding; ?></div>
				<?php if(isset($this->msgarray['accountholding'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->accountholding->getId(); ?>"><?php echo $this->msgarray['accountholding'];?></span>
				<?php }?>
				</div>
				
				<div class="new-form-ui">
				  <label><?php echo $this->form->accountclasstypeid->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->accountclasstypeid; ?>
				<?php if(isset($this->msgarray['accountclasstypeid'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->accountclasstypeid->getId(); ?>"><?php echo $this->msgarray['accountclasstypeid'];?></span>
				<?php }?>
				
			   <?php if(in_array('accountclasstype',$this->popConfigPermission)) { ?>	
					<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'accountclasstype/addpopup' ?>','Account Class Type');"> Add Account Class Type </span>			
				<?php } ?>
                </div>
				
				</div>
												
				<div class="new-form-ui">
				  <label><?php echo $this->form->bankaccountid->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->bankaccountid; ?>
				
				<?php if(isset($this->msgarray['bankaccountid'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->bankaccountid->getId(); ?>"><?php echo $this->msgarray['bankaccountid'];?></span>
				<?php }?>

				  <?php if(in_array('bankaccounttype',$this->popConfigPermission)) { ?>	
					<span class="add-coloum" onclick="displaydeptform('<?php echo BASE_URL.'bankaccounttype/addpopup' ?>','Account Type');"> Add Account Type</span>			
				<?php } ?>
	
                </div>
				</div>	
				
				<div class="new-form-ui">
			   <label><?php echo $this->form->accountnumber->getLabel(); ?></label>
				<div class="division"><?php echo $this->form->accountnumber; ?></div>
				<?php if(isset($this->msgarray['accountnumber'])){?>
				   <span class="errors" id="errors-<?php echo $this->form->accountnumber->getId(); ?>"><?php echo $this->msgarray['accountnumber'];?></span>
				<?php }?>
				</div>
				
							
				<div class="new-form-ui-submit" style="margin: 15px 0;">
					<?php echo $this->form->submit; ?>
			    </div>  
			</div>
			
	</form>
</div>
</div>

<div id="currencyContainer"  style="display: none; overflow: auto;">
	<div class="heading">
		<a href="javascript:void(0)">
	    <img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right" border="0" hspace="3" vspace="5" class="closeAttachPopup" style="margin: -24px 8px 0 0;"> </a>
	</div>

	<iframe id="currencyCont" class="business_units_iframe" frameborder="0"></iframe>
</div>

<div id="accountclasstypeContainer"  style="display: none; overflow: auto;">
	<div class="heading">
		<a href="javascript:void(0)">
	    <img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right" border="0" hspace="3" vspace="5" class="closeAttachPopup" style="margin: -24px 8px 0 0;"> </a>
	</div>

	<iframe id="accountclasstypeCont" class="business_units_iframe" frameborder="0"></iframe>
</div>

<div id="bankaccounttypeContainer"  style="display: none; overflow: auto;">
	<div class="heading">
		<a href="javascript:void(0)">
	    <img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right" border="0" hspace="3" vspace="5" class="closeAttachPopup" style="margin: -24px 8px 0 0;"> </a>
	</div>

	<iframe id="bankaccounttypeCont" class="business_units_iframe" frameborder="0"></iframe>
</div>

<div id="payfrequencyContainer"  style="display: none; overflow: auto;">
	<div class="heading">
		<a href="javascript:void(0)">
	    <img src="<?php echo $this->baseUrl().'/public/media/';?>images/close.png" name="" align="right" border="0" hspace="3" vspace="5" class="closeAttachPopup" style="margin: -24px 8px 0 0;"> </a>
	</div>

	<iframe id="payfrequencyCont" class="business_units_iframe" frameborder="0"></iframe>
</div>
   
<script type='text/javascript'>
$(document).ready(function(){
     <?php if (count($this->messages)) {?>
      setTimeout(function(){
			$('#dispempsalary').fadeOut('slow');
		},3000);

<?php } ?>
     //var yearrange = <?php echo "'".date("Y", strtotime("-50 years")).':'.date('Y')."'"; ?>;
      var yearrange = <?php echo "'".YEAR.':'.date('Y')."'"; ?>;
            $('#accountholding').datepicker({
				showOn:'both',
				maxDate: new Date, 
				yearRange: yearrange,
				dateFormat:"<?php echo DATEFORMAT_JS;?>",
				buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
				buttonImageOnly: true,
				buttonText: "",
				changeMonth: true,
				changeYear: true,
                                showButtonPanel: true ,
                onClose:function(){
                                    $('#accountholding').trigger('blur');
								  }				
			});
			
    $("#emp_salary").addClass('active');
    $("#emp_salary").removeAttr("onclick");

    <?php /*if($this->form->salarytype->getValue() !=''){ 
			if($this->form->salarytype->getValue() == 1){
	?>
			$('#salarytext').html('Per Annum');
	<?php } else {?>
			$('#salarytext').html('Per Hour');
	<?php } }else{?>
			$('#salarytext').html('Per Annum');
	<?php }*/ ?>


});
</script>
<?php } ?>