<?php 
/********************************************************************************* 

 *  Copyright (C) 2014 Sapplica
 *   

 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 \*  is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with  If not, see <http://www.gnu.org/licenses/>.
 *

 ********************************************************************************/
 	
if($this->ermsg !='')
{
?><div class="full_container cwrap">
     <div class="ml-alert-1-info m1-info-set">
				<div class="style-1-icon info"></div>
				No data found.
	</div>
    </div>
<?php 
}
else
{	
sapp_Global::generateClientValidations($this->form);
?>
<div id="error_message" style="display:none;"></div>
<form name="<?php echo $this->form->getName(); ?>" id="<?php echo $this->form->getId(); ?>" action="<?php echo $this->form->getAction();?>" method="<?php echo $this->form->getMethod(); ?>">
		<?php echo $this->form->id; ?>
  <div class="total-form-controller">
	    <div class="new-form-ui ">
		    <label class="required"><?php echo $this->form->trip_name->getLabel(); ?> </label>
			<div class="division"><?php echo $this->form->trip_name; ?>
			<?php if(isset($this->msgarray['trip_name'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->trip_name->getId(); ?>"><?php echo $this->msgarray['trip_name'];?></span>
			<?php }?>
			</div>
		</div>		
		
		<div class="new-form-ui ">
		    <label><?php echo $this->form->from_date->getLabel(); ?> </label>
			<div class="division"><?php echo $this->form->from_date; ?>
			<?php if(isset($this->msgarray['from_date'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->from_date->getId(); ?>"><?php echo $this->msgarray['from_date'];?></span>
			<?php }?>
			</div>
		</div>
		
		<div class="new-form-ui ">
		    <label><?php echo $this->form->to_date->getLabel(); ?> </label>
			<div class="division"><?php echo $this->form->to_date; ?>
			<?php if(isset($this->msgarray['to_date'])){?>
			   <span class="errors" id="errors-<?php echo $this->form->to_date->getId(); ?>"><?php echo $this->msgarray['to_date'];?></span>
			<?php }?>
			</div>
		</div>
		
		<div class="new-form-ui textareaheight">
		    <label><?php echo $this->form->description->getLabel(); ?> </label>
			<div class="division"><?php echo $this->form->description; ?></div>
		</div>
		
		
				
			<input type="hidden" name="isfrompopup" id="isfrompopup" value="<?php echo !(empty($this->isfrompopup))?$this->isfrompopup:''?>">
									   
			<div class="new-form-ui-submit">
			<?php echo $this->form->submit; ?>
			<?php
			$url = BASE_URL.'expenses/trips';
			if(!empty($this->isfromview) && $this->isfromview=='yes') 
				$url = BASE_URL.'expenses/trips/view/id/'.$this->id;
				?>
				<?php if(!empty($this->isfrompopup) && $this->isfrompopup=='yes') {?>
				
				<button onclick="closePopup('<?php echo 'expenses';?>','cancel');" type="button" >Cancel</button>
					
				<?php }	else { ?>
					<button onclick="window.location.href='<?php echo $url;?>'" type="button" >Cancel</button>
				<?php }?>
			
		</div>
 </div>
</form>

<?php }?>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
	 var yearrange = <?php echo "'".YEAR.':'.date('Y')."'"; ?>;
	$('#from_date,#to_date').datepicker({
        showOn:'both',
		//minDate: 0,
	    //yearRange: yearrange,
        dateFormat: '<?php echo DATEFORMAT_JS;?>',
        buttonImage: "<?php echo $this->baseUrl("public/media/images/cal.jpg");?>",
        buttonImageOnly: true,
        buttonText: "",
        changeMonth: true,
        changeYear: true ,
        showButtonPanel: true ,
        onClose:function(){
        	 $(this).trigger('blur');
             var msg = "";
             if(this.id == 'to_date')
                 msg = "To date should be greater than From date.";
             else 
                 msg = "From date should be less than To date.";
             from_to_date_validation('from_date','to_date',this,msg);
        }
		
    });	
	
	
});
</script>  
 